[2022-11-10 17:39] tamarahenson commented on #7982
@pungorandras

I have an update.  The reason it is taking more time, is that Portainer is transforming the raw JSON to prettified output.  The same happens with mongo.

We have more logging improvements scheduled for upcoming releases.

Thanks!

[2022-11-10 19:36] tamarahenson commented on #7903
@1xtr

This is a known issue that has not yet been resolved.  You will need to downgrade to 2.14.2 and then upgrade back to 2.16.1.

Thanks!

[2022-11-10 20:09] mdwekat commented on #6927
Still, the solution above will not work if you remove the environment when trying to do you will get an error:
[code]

[2022-11-10 21:34] mx2k commented on #6237
Hello, I had the same issue with Portainer managing Docker on my Synology NAS. I did run `docker network prune`. I was expecting new stacks to get their networks starting at `172.17.0.0/16`, as the original poster also expected.

However, new networks created from running stacks are now getting their default IPAM IPs like this:
`subnet: 192.168.16.0/20	 gateway: 192.168.16.1`

Is this ok too or ha

[2022-11-10 21:49] mx2k opened #8034 "Subnet incrementing (docker broken after docker prune?)"
I have posted this to a closed issue, not sure if anyone reads there, so I have created a new issue.

Hello, I had the same issue with Portainer managing Docker on my Synology NAS. I did run `docker network prune`. I was expecting new stacks to get their networks starting at `172.17.0.0/16`, as the original poster also expected.

However, new networks created from running stacks are now getting th

[2022-11-10 22:05] luisfavila opened #8035 "Portainer agent on only a few nodes"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using portainer for self-hosting in a 18-server cross-country and cross-continent docker swarm cluster.

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
I'm running a docker swarm with 18 servers (11 managers, 7 workers) which are unconventionally placed over mu

[2022-11-10 22:47] kngharv opened #8036 "how to undo kubectl apply ... portainer.yaml"
I was playing with portainer in my local k3d cluster.

by follow the document, I installed portainer by applying the following command:
`kubectl apply -n portainer -f https://downloads.portainer.io/ce2-16/portainer-lb.yaml`

I am new to kubernetes, thus, I am a bit overwhelmed by the yaml file.

silly question is:  how to undo this?  I want to remove portainer from my cluster completely.

And... s

[2022-11-10 23:24] tamarahenson commented on #8036
@kngharv

Upon running `kubectl apply -n portainer -f https://downloads.portainer.io/ce2-16/portainer-lb.yaml` installs Portainer in a namespace called `portainer`.  All you have to do is `kubectl delete -n portainer` to delete Portainer from the cluster.

https://kubernetes.io/docs/tasks/administer-cluster/namespaces/

Thanks!

[2022-11-11 00:22] jamescarppe commented on #8035
If the agent is not running on a node you will unable to reliably deploy to that node or fully interact with it. If the nodes are all part of the same cluster you should be able to deploy the agent across the whole system without issue, and if there are communication issues between the agents on the nodes this points to a larger node networking issue which is likely to cause you problems for your

[2022-11-11 00:28] jamescarppe commented on #8031
Because Portainer runs in a container, the "local path" relative to Portainer is in the container itself, rather than the host the container is running on. This gets even more complicated when you're running a multiple node or multiple environment setup using the Portainer Agent, where if deploying to a node that isn't where the Portainer Server is running then the expectation of the "local path"

[2022-11-11 00:43] #8031 closed, assigned to nobody

[2022-11-11 00:58] alexrudd2 commented on #3977
This affected me today; is there any plan to fix it?

[2022-11-11 01:07] tamarahenson commented on #8021
@moniika21

I wanted to follow up on this request.  This is a result of ongoing work as part of the transition from Angular to React, and is not fully functional at this stage.

Thanks!

[2022-11-11 02:14] jamescarppe commented on #8013
I have answered this in the Slack thread, but for anyone that comes across this here:

[2022-11-11 02:14] #8013 closed, assigned to nobody

[2022-11-11 02:24] jamescarppe commented on #7981
This isn't something we support doing through Portainer at this stage, but I've raised this with the team for potential future consideration.

In the meantime, you can create a CIFS volume with a non-standard port via the CLI through the `port=` sub-option in the `o=` option:

[code]

or alternatively, via the [Docker API](https://docs.docker.com/engine/api/v1.41/#tag/Volume/operation/VolumeCreate

[2022-11-11 03:07] ghost commented on #8031
Thanks for the reply! I have closed this issue, as I no longer believe that this feature is an improvement.

[2022-11-11 10:24] jakob30061 opened #8037 "Add grouping for containers by stacks in /containers"
## Optional displaying containers in a tree component grouped by stacks.

Currently all containers are shown in the /containers route. If you have multiple Stacks with a lot containers it can get messy. While you could sort by "stack name", you still end up with a long list of containers. Stacks are shown grouped in the /stacks route, but docker container which are _not_ in a stack are missing in

[2022-11-11 17:24] leifnel opened #8038 "Handle update of stacks with both local and remote images"
If a stack contains both containers with images from e.g. dockerhub and local images, the reload and pull new version fail, because it cannot pull a local image.

Either
Ignore failure of non-pullabiliy for local images

OR
As portainer can determine if an image is a local or a remote in order to check if it is the newest version, then use the same logic to determine which images should be renewed

[2022-11-11 17:28] leifnel opened #8039 "Batch update of stacks"
It would be convenient to be able from the listing of stacks to mark many (for instance the ones with red status for newer image available) stacks, then with a single click submit all to pull new images and redeploy all stacks.

[2022-11-11 18:41] pyunramura commented on #7989
Does this feature need to be removed from the edge agent UI?

I've been using webhooks for CD in a docker swarm instance as well as a docker standalone instance, where they work well when synced to corresponding git repo.

I recently added a few remote docker standalone instances via edge-agents in sync mode and it seems the webhook functionality in 'stacks' is not picking up changes properly, whi

[2022-11-11 20:50] #8036 closed, assigned to tamarahenson

[2022-11-11 21:21] tamarahenson commented on #8008
@t347s

Can you review my steps here?  I tried using an image version that does not exist.  And, I also tried using an image name that does not exist.  I am unable to reproduce.

![update-stack-containers-delete](https://user-images.githubusercontent.com/20426210/201432349-97570910-0643-43ae-8005-bcecb41fd5c1.gif)

![update-stack-containers-delete-2](https://user-images.githubusercontent.com/20426

[2022-11-11 22:08] tamarahenson commented on #7989
@pyunramura

Can you open a separate issue and I can investigate?

Thanks!

[2022-11-11 22:18] tamarahenson commented on #7960
@TDCroPower

Is this issue related?  https://github.com/portainer/portainer/issues/7434

Thanks!

[2022-11-12 07:09] Phizicks commented on #8037
I was just looking to see if this was raise already, lol. I think this makes the layout a lot smoother if they can be collapsed as well. hopefully cookie to remember which are collapsed or opened too for those with long list of stacks.

[2022-11-12 11:23] mghahari opened #8041 "Error while getting stack data"
**Bug description**
empty response while getting stack data

**Expected behavior**
stack data provided

**Portainer Logs**

[code]

**Steps to reproduce the issue:**

Probably not repoducable.

**Technical details:**

- Portainer version: 2.16.1
- Docker version (managed by Portainer): 20.10.21
- Platform (windows/linux): linux
- Command used to start Portainer (`docker run -p 9443:9443 portainer/

[2022-11-12 21:03] brummbaer commented on #5405
Would be awesome!

[2022-11-13 09:36] jgc9527 opened #8043 "On Portainer deployment using docker"
I completely follow official website's tutorial.

[code]
But it was 2.11.0when it was finished....
![Screenshot_20221113_173627_com.huawei.browser.jpg](https://user-images.githubusercontent.com/94273329/201515311-53c0b602-7c18-4993-bf4b-b689f9bc5183.jpg)

[2022-11-13 09:52] surfingbytes opened #8044 "Portained doesn't redirect to requested url after login"
**Bug description**
When you go to direct link to any Portainer page, Portainer displays home page after login, instead of your requested page.

**Expected behavior**
After login, Portainer should display the page you requested, NOT home page.
In point 4, you should be redirected to page requested in 1/ (see steps to reproduce bellow).
Most softwares use &redirectUrl parameter to achieve that.

**

[2022-11-13 12:06] #7044 closed, assigned to samdulam

[2022-11-13 15:40] jclsn opened #8045 "Be able to add files to a stack definition"
**Is your feature request related to a problem? Please describe.**
I am trying to set up a docker-compose configuration with Portainer that includes additional Dockerfiles and config files. I have searched the documentation and this doesn't seem to be possible. I am talking in particular about this Nextcloud configuration https://github.com/nextcloud/docker/tree/master/.examples/docker-compose/ins

[2022-11-14 00:44] jamescarppe commented on #8043
The installation documentation assumes you have not previously had Portainer installed or downloaded. If you previously had the Portainer image downloaded to your local Docker installation and a version of the image is in the local Docker image cache, you may need to first pull the latest image (refer to our [upgrade instructions](https://docs.portainer.io/start/upgrade/docker)):

[code]

Also be

[2022-11-14 01:26] jamescarppe commented on #8044
Closing as a duplicate of #724

[2022-11-14 01:26] #8044 closed, assigned to nobody

[2022-11-14 01:28] jamescarppe commented on #8039
Closed as duplicate of #7557

[2022-11-14 01:28] #8039 closed, assigned to nobody

[2022-11-14 01:36] jamescarppe commented on #8037
This would be kind of a merge between the current Containers and Stacks pages. On the Containers page, you can sort by the Stack by clicking the column name, and while this doesn't give the full expandable/collapsible view you're suggesting it might be helpful as an intermediary step.

A clickable stack name has been raised before (#7617) and is with our UX team for consideration in future release

[2022-11-14 07:19] 1thorsten commented on #4925
Hi, is there any news here?

[2022-11-14 10:35] elisimpson opened #8047 "Javascript validation of new image names is broken, prevents legal names"
**Bug description**
The "Build new image" UI has javascript validation that prevents adding valid names. Specifically the one I encountered was it preventing the period character (.) in the image name. The "." character should be legal as you can add a name with in from the command line successfully. The error states that only alphanumeric characters plus - and _ are allowed, but this doesn't agre

[2022-11-14 11:35] Klionheart commented on #6701
Hello, just a couple more, hopefully useful, use cases :)

Using "stack.env" **does not** currently work when:

- Using Portainer CE 2.16.1
- Using a Docker Standalone environment
- Trying to deploy a stack through a git repository.

It **does** work, however, by using "../stack.env" as path instead.

-------------------

Using "stack.env" on the other hand, works just fine when:
- Using Portainer

[2022-11-14 11:56] jgc9527 commented on #8043
Well, it's no use. It's still the same. Or 2.11.0?

[2022-11-14 11:57] jgc9527 commented on #8043
I even reinstalled the docker environment. But it's still useless.

[2022-11-14 13:08] #8043 closed, assigned to nobody

[2022-11-14 13:09] jgc9527 commented on #8043
OK, I think I know what the problem is.

[2022-11-14 18:44] valentinp72 commented on #6866
Any news on this ? It seems to be such a simple thing to implement, as #2815 already implemented most of it.

[2022-11-14 19:56] tamarahenson commented on #8041
@mojighahar

Please provide the following so I can further investigate:

[1] Portainer Version
[2] Stack Code:  So I can build and try to reproduce.
[3] Steps:  Is this navigating to the Stack >> Stack Details?
[4] Screenshots:  Did you receive an error toast in the UI?
[5] Resources:  How much RAM, CPU, Disk you have on your node?

Thanks!

[2022-11-14 20:06] tamarahenson commented on #4925
@1thorsten

I am going to revisit this issue with our Product team.  I will update as I learn more.

Thanks!

[2022-11-14 20:47] rdwebdesign opened #8049 "Some notifications are not very informative"
**Bug description**
There is no container information/identification/description on some notifications:

![image](https://user-images.githubusercontent.com/1385443/201760854-517fe434-c8a3-439e-89c5-190e510283c4.png)

_"Container successfully created"_ - Which container was started?
_"Unable to retrieve container logs"_ - Logs from which container?

**Expected behavior**
_"Container `<container_nam

[2022-11-14 21:49] tamarahenson commented on #8049
@rdwebdesign

I am going to close as this is a duplicate of https://github.com/portainer/portainer/issues/8025

Thanks!

[2022-11-14 21:49] #8049 closed, assigned to nobody

[2022-11-14 23:54] anoureldin opened #8050 "compose folder number after upgrade"
hello
i was using portainer ce and i have 15 stack
after i upgrade to business i have an issue
if i make new stack it's count from compose 1 again
i was have 15 folder under compose file
/data/compose/1
/data/compose/2
/data/compose/15

now if i make new stack it's take 1 then 2 and those folder already taken
how can i solve this issue ?

https://prnt.sc/k9_gzHnR_Aro
https://prnt.sc/zzq6jrP466_X
h

[2022-11-14 23:56] tamarahenson commented on #8047
@elisimpson

Changes to the Image name were implemented in 2.15 and looks like the "." was removed from characters:  https://github.com/portainer/portainer/issues/7463

I confirmed that you could create an image `my.nginx:1.23.0` and create a container using that image without issue or error in 2.14.2:

<img width="861" alt="Screen Shot 2022-11-14 at 3 51 35 PM" src="https://user-images.githubuser

[2022-11-15 00:04] tamarahenson commented on #8050
@anoureldin

What version of CE were you running and what version of BE did you upgrade to?

Thanks!

[2022-11-15 00:34] anoureldin commented on #8050
i was running version 2.13 i think
and here how i installed and how i upgrade

docker run -d -p 9000:9000 -p 8000:8000 --name portainer --restart always -v /var/run/docker.sock:/var/run/docker.sock -v /srv/portainer:/data portainer/portainer-ce

docker stop portainer
docker rm portainer
  docker run -d -p 8000:8000 -p 9000:9000 -p 9443:9443 --name=portainer --restart=always --pull=always -v /var/r

[2022-11-15 01:33] anoureldin commented on #8050
i just reinstalled it with

docker run -d -p 8000:8000 -p 9000:9000 -p 9443:9443 --name=portainer --restart=always --pull=always -v /var/run/docker.sock:/var/run/docker.sock -v /srv/portainer:/data portainer/portainer-ee:lat

every thing ok thanks

[2022-11-15 03:43] ozdeadmeat commented on #2566
Any solution for someone using NginX Proxy Manager? I am just using a standard reverse proxy to a single docker host. Nothing special like swarms or whatever. Just looking for a solution.

Enabling HTTP2 & websockets didn't fix the issue.

The below image doesnt work either.
![image](https://user-images.githubusercontent.com/11052863/201822108-f62a79ff-3fe7-472d-a71f-0d8f68fccfaa.png)

[2022-11-15 09:35] zs-dima opened #8054 "[BUG] Extra 'Compose Limited' stack created on deploying Swarm stack"
When you creating simple Swarm stack in the Portainer it creates extra 'Compose Limited' stack.
![image](https://user-images.githubusercontent.com/25195453/201883789-e7c77d68-8608-471a-9ed4-813e3154c92d.png)

[code]

[2022-11-15 10:46] #8050 closed, assigned to tamarahenson

[2022-11-15 13:12] Buckler89 commented on #6390
I'm trying the `portainerci/portainer-ee:pr1810`.
To do that i run on the server:
`docker run -d -p 8000:8000 -p 9000:9000 --name=portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainerci/portainer-ee:pr1810`

When i configure an edge_agent portainer show me the command to run on the edge (I run the following in another device):

[code]

As you can

[2022-11-15 13:15] dlsmlss commented on #7044
@huib-portainer, tested with 2.16.1. Still same error.

[2022-11-15 18:31] tamarahenson commented on #8054
@zs-dima

Can you provide the following:

[1] What version of Portainer?
[2] Is Portainer running on Docker Swarm or Docker Standalone?

Thanks!

[2022-11-15 18:37] zs-dima commented on #8054
@tamarahenson thanks a lot for looking into.

portainer/portainer-ce:2.16.1-alpine
portainer/portainer-ce:2.15.1-alpine

Docker Swarm

[2022-11-15 19:17] tamarahenson commented on #8054
@zs-dima

I am unable to deploy your code and reproduce due to the following errors:

[1] Docker Swarm Agent:

Stack >> Create >>

[code]

[2] Docker Swarm Server:

Stack >> Create

[code]

Thanks!

[2022-11-15 19:29] zs-dima commented on #8054
@tamarahenson sure it is not all Swarm stack, lets I will add related details as well

You could create networks with this commands:

[code]

Portainer container and networks

[code]

[2022-11-15 21:33] tamarahenson commented on #8054
@zs-dima

I created 2 new Stacks here.  I am unable to reproduce:

<img width="1591" alt="Screen Shot 2022-11-15 at 1 30 37 PM" src="https://user-images.githubusercontent.com/20426210/202029663-8e05930c-9379-49f9-8060-0da24b06bb7b.png">

Thanks!

[2022-11-15 22:42] jtraxy commented on #4779
We are aiming to introduce editing of YAML (and applying of the changes) in EE-2.17 (under ticket EE-2855).

[2022-11-16 09:49] rijnhard opened #8060 "Support docker secrets on Plain docker (not swarm)"
Since Docker secrets are now supported in `compose` outside of swarm (albeit in a slightly funny way)
you should be able to support them in a standard docker runtime.

reference https://github.com/docker/compose/pull/4368

[2022-11-16 09:54] rijnhard commented on #8060
nvm closing this:
https://github.com/docker/compose/issues/8707

reason: specifically only for local development. has issues with permission mapping into containers.

[2022-11-16 09:54] #8060 closed, assigned to nobody

[2022-11-16 15:06] zs-dima commented on #8054
@tamarahenson some stacks working well for me too, I don't know why some don't.

I provided certain example above based on .Net Core gRPC service container that doesn't work well.

[2022-11-16 16:26] Spotterday opened #8062 "Unable to register a own gitlab container registry in portainer with self signed cert - x509: certificate signed by unknown authority"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home
Have you reviewed our technical documentation and knowledge base? Yes

Hi team,

i´m running currently Portainer Business Edition 2.16.1 on an raspberry 4b

[code]

with an additional gitlab container in a macvlan. Both portainer and gitlab are in the same subnet 192.168.10.

[2022-11-16 20:26] zs-dima commented on #8054
@tamarahenson I could share access to the portainer so you could investigate issue right in place.

[2022-11-16 21:59] tamarahenson commented on #8034
@mx2k

I ran `docker network prune` and my existing nor new containers are not in the 192.168.xx.xx on my Docker Standalone VM.

I am seeing here that my stack networks are in the 172.2x.xx range:

<img width="1037" alt="Screen Shot 2022-11-16 at 1 50 31 PM" src="https://user-images.githubusercontent.com/20426210/202303254-baf5863e-5472-4f02-ad70-6432d97796b3.png">

My containers are in the 172.17

[2022-11-16 22:22] tamarahenson commented on #8054
@zs-dima

Can you join our Community Slack here:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

And, send me a backup of your Portainer in an instant message?  I can further investigate.

Thanks!

[2022-11-16 23:01] tamarahenson commented on #8034
I manually created a `wordpress` Stack via `docker compose up` and my network is in 172.28.xx.xx.  This is appearing to be Docker behavior and not Portainer.

<img width="1030" alt="Screen Shot 2022-11-16 at 2 59 41 PM" src="https://user-images.githubusercontent.com/20426210/202313128-59c9d89e-7515-4e3e-9a33-51cb0cd58211.png">

Thanks!

[2022-11-17 09:21] axute commented on #913
I also added tzdata, now the time is right.
Have trouble with oauth and expired jwt token.

[2022-11-17 09:53] himonster1 opened #8066 "Height discrepancy between registry name display and image name field"
2px less

![ui](https://pic1.58cdn.com.cn/nowater/webim/big/n_v2aafd9206de0644b2af0aa7fc9fabb527.png)

![SCR-20221117-ouj](https://user-images.githubusercontent.com/77065609/202414545-91f924bd-97dc-43a7-ad4d-623fff464068.png)

[2022-11-17 10:38] janosrusiczki opened #8067 "How to run a container as a specific user? (Equivalent of docker run --user)"
I wish to run a container as a specific user on my system. In the command line I can do:

`docker container run --user 1000:2000`

Where 1000 is the user id and 2000 is the group id.

How do I accomplish this with the Portainer GUI?

PS. I have searched for this, but I'm afraid that my search terms are too broad and nothing relevant came up.

[2022-11-17 13:57] rijnhard opened #8068 "[BUG] UI - Unable to edit Env Vars on docker-standalone"
**Bug description**
when changing env vars in stacks, save button stays greyed out.

**Expected behavior**
When changing env var, save settings button should activate

**Portainer Logs**
nothing of significance

**Steps to reproduce the issue:**
1. Have stack working and deployed
2. Edit stack
3. Change env var
4. "Save Settings" button remains greyed out.

**Technical details:**

- Portainer vers

[2022-11-17 14:18] kevingostomski commented on #6737
I got the same problem. Everything works expected but the network analysis tool shows two 404 errors if calling the Portainer Webpage.

In my case, i am using https://webpage.com/portainerservice/ as subdirectory for my reverse proxy.

Technical details:
- Portainer version: 2.16.1 CE
- Docker version: 20.10.21, build baeda1f
- Platform: Ubuntu 20.04.5 LTS
- Browser: Firefox Developer Edition 108.

[2022-11-17 14:24] rijnhard opened #8069 "[BUG] Relative bind-mount mapping"
**Bug description**

When portainers `/data` directory is bind mounted to the host to a different directory `/opt/portainer`
And a docker-compose stack (from git) has other files that are referenced to be bind mounted
Then the path that portainer maps for the stack is incorrect:
* it maps to the `/data` directory
* but it should map to  `/opt/portainer`

**Expected behavior**
bind mounting other r

[2022-11-17 14:26] rijnhard commented on #8069
nasty workaround: symlinked `/opt/portainer` to `/data` on the host, but this is far from ideal.

[2022-11-17 15:30] zs-dima commented on #8054
@tamarahenson I sent you backup. Thanks a lot.

[2022-11-17 20:08] tamarahenson commented on #8067
@janosrusiczki

I wanted to echo the response that was shared in our Community Slack:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

You would enter the User in the User Field:

![IMG_1640](https://user-images.githubusercontent.com/20426210/202548490-6c4a6bfd-1301-4117-95a3-62cd9f081f6e.jpg)

Thanks!

[2022-11-17 20:09] #8067 closed, assigned to tamarahenson

[2022-11-17 21:19] WaysonWei opened #8070 "Effective viewer not showing correct access role for user"
Effective Viewer is not displaying the Environment for a User in Team.

Steps to reproduce the issue:

[1] create a Bob user
[2] create a Team team
[3] add Bob to Team
[4] give Team access to Environment
[5] Users > Roles >> select Bob in the Effective access viewer
[6] UI displays Bob has no access

[2022-11-17 21:20] #8070 closed, assigned to nobody

[2022-11-17 21:31] WaysonWei opened #8072 "Git repository field is missing in edge stack"
The Git Repository fields are missing when selecting the Repository option in Edge Stacks.

<img width="1848" alt="Screen Shot 2022-11-15 at 12 06 09 PM (1)" src="https://user-images.githubusercontent.com/54336863/202563945-329e06c5-e96e-405e-b2c5-74794a9401a7.png">

[2022-11-17 21:32] #8072 closed, assigned to nobody

[2022-11-17 21:35] jamescarppe commented on #8069
I have been able to replicate this behavior here - let me raise it with the wider team as I believe there is some related work coming up that might resolve this as a matter of course.

[2022-11-17 21:39] WaysonWei opened #8073 "Update agent dependencies"
update golang.org/x/net version

[2022-11-17 21:39] WaysonWei commented on #8073
[https://github.com/portainer/agent/pull/394](url)

[2022-11-17 21:40] #8073 closed, assigned to nobody

[2022-11-17 22:24] tamarahenson commented on #8068
@rijnhard

I am able to change environment variable after deployment:

https://user-images.githubusercontent.com/20426210/202572743-80cb6fb8-2594-4951-ba54-15eaf0b01ea3.mov

Thanks!

[2022-11-17 22:25] tamarahenson commented on #6701
@Klionheart

Thank you for the additional information.  I am going to further investigate the `stack.env` with Git.  Updates to follow.

Thanks!

[2022-11-18 00:29] tamarahenson commented on #6701
@Klionheart

Is this what you are trying to do here:

<img width="880" alt="Screen Shot 2022-11-17 at 4 28 27 PM" src="https://user-images.githubusercontent.com/20426210/202588939-3169a3f9-debc-4af8-9307-69a21737aeaf.png">

Thanks!

[2022-11-18 03:55] rijnhard commented on #8068
Maybe I should note that on my side its hooked up to a git repo...

[2022-11-18 13:06] eltonk opened #8074 "Why Portainer needs to run on a "node.role == manager""
I'm running a Swarm cluster with 3 master nodes in "drain" mode.
The workers shall be responsible to run the containers, where the master nodes only coordination tasks.

Following the tutorial https://docs.portainer.io/start/install/server/swarm/linux to install portainer, the yaml file has the constraint where portainer shall run on a manager node.

My question is, why is this necessary?

Thanks,

[2022-11-18 18:35] marte26 commented on #6701
Hey, just wanted to say that I have the same problem. I'm deploying a docker-compose.yml file that sits in a subdirectory of a git repo. Trying to use stack.env as the env_file doesn't work but ../stack.env does

PS: I'm using Portainer BE 2.16.1

[2022-11-18 19:01] valentinedwv opened #8075 "Docker-stack container image:tag not updating when it is changed"
**Bug description**
* Created a stack from a docker-compose hosted in github.
* I changed created a branch, in github
* I changed the  label in the docker-compose file
[code]
to
[code]

When I redeploy the stack, the services details: image keeps on reverting to `image: nsfearthcube/ec_facets_api_nodejs:latest`

**Expected behavior**
The services>container image should reflect the image:label from

[2022-11-18 20:00] Klionheart commented on #6701
@tamarahenson the idea is to do:

![image](https://user-images.githubusercontent.com/20490660/202791835-3fc22389-30e6-4e76-9d28-700433acd719.png)

where the docker-compose.yaml referenced is:
[code]

which should work according to https://www.portainer.io/blog/using-env-files-in-stacks-with-portainer

but results in error:
`error: open /data/compose/51/stack.env: no such file or directory`

If I p

[2022-11-18 20:24] tamarahenson commented on #8038
@leifnel

Thank you for the information.  Upon review with Product, this is a known issue and has been logged internally for resolution.  I do not yet have a release or timeframe.

Thanks!

[2022-11-18 20:35] tamarahenson commented on #8047
@elisimpson

This was reviewed by Product and an internal issue has been logged.  I do not have a release or timeline yet.

Thanks!

[2022-11-18 20:37] tamarahenson commented on #8075
@valentinedwv

Is this issue related?  https://github.com/portainer/portainer/issues/7434

Thanks!

[2022-11-18 20:47] valentinedwv commented on #8075
Think #7960 sounds closer.
Maybe that services>container image "field'  is not being updated.

[2022-11-18 22:04] yassineselmi opened #8076 "EdgeAgent: Insufficient Timeout to perform polling"
**Bug description**
 I'm exposing Portainer Master instance behind Cloudflare Tunnel and the trying to make the remote Edge Agent connects to it.
After troubleshooting, I found that the **default request timeout of 10 seconds is not sufficient for high latency environment.**

I noticed that the timeout is set to 10 second and cannot be changed from outside.

From [edge.go#L107](https://github.com/

[2022-11-18 22:18] tamarahenson commented on #6701
@Klionheart

Here is my testing.  I am unable to reproduce in Portainer CE or BE:

https://user-images.githubusercontent.com/20426210/202811730-49298bc8-484f-4f43-ac31-917dc51dd990.mov

This is my `wordpress-env.yml`
https://github.com/tamarahenson/automation-scripts/blob/main/stack-code-examples/wordpress-env.yml

[code]

This is my `stack.env` that resides in the same path `stack-code-examples`

[2022-11-19 00:56] dfldylan commented on #7981
Thank you for answer!

[2022-11-19 12:05] #7644 closed, assigned to nobody

[2022-11-19 15:31] johackim opened #8077 "Reccuring error in my logs "unexpected status code | status_code=403""
**Bug description**

I have a reccuring error in my logs every minutes :

[code]

**Expected behavior**

No errors.

**Portainer Logs**

[code]

**Steps to reproduce the issue:**

[code]

**Technical details:**

- Portainer version: portainer/portainer-ee:2.16.1-alpine
- Docker version (managed by Portainer): 20.10.12
- Platform (windows/linux): linux
- Browser: chromium
- Use Case (delete as appr

[2022-11-19 16:45] jacz24 opened #8078 "Favorite or "Star" frequently used containers"
I would like to add certain containers to a favorite's list. To give a use case. Say I have hundreds of containers. Some of which that don't run constantly but still need to be brought up every few weeks. Currently I would have to scroll through a massive list or know the exact name and find the container I want to bring up. This works fine but what if I could add those containers to my favorites

[2022-11-19 21:29] tamarahenson commented on #8077
@johackim

Thank you for the information.  I am going to further investigate.

Interim, an HTTP 403 response code means that a client is forbidden from accessing a valid URL. The server understands the request, but it can't fulfill the request because of client-side issues.

Can you post log snippets from both Portainer Server and Agent for review?  What type of hardware is your Swarm cluster runn

[2022-11-19 21:44] johackim commented on #8077
Hello @tamarahenson,

Here my portainer logs :

[code]

Here my agent logs :

[code]

Here my hardware config :

- CPU : AMD Ryzen 9 3900X
- RAM : 128Go DDR4
- Operating System: Linux Ubuntu 20.04 - 64Bits
- RAID Hard Drives: 1x960 Go SSD NVMe M.2
- GPU Card: GeForce GT710 1Go
- Docker Swarm

[2022-11-20 12:11] Klionheart commented on #6701
Hi again @tamarahenson,
I think I see the misunderstanding here.

I'm not trying to reference an existing "stack.env" inside the git repository. In fact I absolutely do _not_ want an .env file in the git repository since it contains secrets.

The idea is to do as documented in https://www.portainer.io/blog/using-env-files-in-stacks-with-portainer
where it is explained that you can add Environment

[2022-11-20 14:53] NathanReus commented on #1939
Where any browser-based application sends a request to a different domain, modern browsers will automatically send a 'preflight request' to the API server. This is well-documented [here](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request).

Currently, the Portainer API is responding to this `OPTIONS` request with a [405 Method Not Allowed](https://developer.mozilla.org/en-US/docs/

[2022-11-21 08:58] focdanisch commented on #6383
Hello,

I would go one step further and say, that not only the path should be updateable, but (after adding the ability to specify multiple compose files in #2902) it should be possible to remove or add compose fragments to a running stack without deleting and rebuilding it.

In our use case, we have (for example) a small compose fragment which only contains the definition to expose the DB contain

[2022-11-21 10:32] cf-sewe commented on #7683
I was actually surprised, that editing the branch is no longer possible in Portainer 2.16.
Its quite useful to adjust the branch for testing purposes.

Update: Just noticed that also Environment variables can no longer be changed, but this is quite necessary for our workflow.

[2022-11-21 11:02] xxxycl commented on #2739
After five years, Multi-language support still hasn't progressed.

[2022-11-21 11:03] xxxycl commented on #807
After five years, Multi-language support still hasn't progressed.

[2022-11-21 17:11] z0rgster commented on #5223
**Feature request: Repo Caching**

Hi all,
I stumpled upon some kind of catch-22 situation. Whenever I want to (re-)start a stack, I seemingly **must** have connection to the git repo at that moment. I want to host all my compose files in seperate repos on a private GitLab instance. That instance contains it's own compose file in a repo. Until now that was fine because the actual compose file was

[2022-11-21 17:24] victorwon opened #8087 "Let operators to use host management feature"
It's really excited to see the new version and the Host Management feature. However, this feature seems only available to administrators. I understand the reason because host management requires mount the `/:/host` which gives full disk access. However, I tested that instead of mount root we can mount the agent using `-v /usr/share/hwdata/pci.ids:/host/usr/share/hwdata/pci.ids:ro` then we can moun

[2022-11-21 19:20] gawainXX opened #8088 "Stack issues when Environment Variables with : AND $ in them are present - Portainer CE 2.16.2"
**Bug description**
When an environmental variable is set and contains the characters ($ and :), Portainer will try to interpolate the Variable's value as another vaiable, throwing an error such as
"
Failure
failed to pull images of the stack: Invalid template: "$:example"
"
This error will be present in the following scenarios.
- Trying to create a new stack.
- Trying to modify, delete, stop or a

[2022-11-21 20:38] tamarahenson commented on #7992
@thibaut-atempo

Thank you for the information.  I am able to reproduce.  I am going to forward to Product.  Updates to follow.

Thanks!

[2022-11-21 20:39] tamarahenson commented on #8088
@gawainXX

I am closing as this issue previously logged relates and is relevant here:  https://github.com/portainer/portainer/issues/7992

Thanks!

[2022-11-21 20:39] #8088 closed, assigned to tamarahenson

[2022-11-21 21:46] WaysonWei opened #8089 "Unable to delete tags associated to deleted edge environments"
HOW TO REPRODUCE

1 - Enable edge environments
2 - Add multiple edge environments (they don’t have to be active)
3 - Associate a tag on some of them, preferably at least 10 environments
4 - Go to edge devices page and show all the environments or as much as possible
5 - Delete the environments
6 - Go to environments > Tags & try to delete the tag
7 - You will fail in deleting the tag and receive a

[2022-11-21 21:47] #8089 closed, assigned to nobody

[2022-11-21 22:01] Xander-V commented on #5813
Too bad, but problem still exists in DSM 7.1.1-42962 Update 1, same docker version 20.10.3-1308, portainer CE 2.16.2

Any chance of a fix?

[2022-11-22 03:40] imbehind commented on #6722
no, because 'depends_on' variable can only be used within the same stack / docker-compose.

[2022-11-22 05:41] rdwebdesign commented on #7998
**Note:**
The red dot indicator on Help is still active on versions **2.16.1** and **2.16.2**.

[2022-11-22 08:51] svdHero opened #8091 "git pkt-len error when creating stack from git repository"
Use Case: Using Portainer in a Commercial setup (on-premise, Docker Standalone on Ubuntu Linux).
Have you reviewed our technical documentation and knowledge base? Yes

**Question**:

I am trying to create/deploy a stack with "Repository" as a build method via Portainer's Web GUI. I specify the git repository url, the repository reference and the compose path. When I click on "Deploy the stack", I

[2022-11-22 15:15] BlaiseLebreton opened #8092 "Protect git redeploy using access tokens"
**Is your feature request related to a problem? Please describe.**
Currently anyone knowing the URL of the webhook can trigger a redeploy (which IMO is a security issue)

**Describe the solution you'd like**
Give the option to protect the webhook using an user access tokens
`http POST https://portainer:9443/api/stacks/webhooks/abcd X-API-Key:your_access-token`

**Additional context**
We use github

[2022-11-22 15:20] BlaiseLebreton commented on #6865
Fixed by forwarding port 9443 in firewall

[2022-11-22 15:20] #6865 closed, assigned to nobody

[2022-11-22 16:39] antoine-briand commented on #8068
Hi 👋 I'm facing the same issue.

Portainer Business Edition 2.16.2 and Docker Standalone 20.10.11 with a stack hooked up to a git repo. When I try to update or remove environment variables, the "pull and redeploy" or the "save settings" buttons are greyed out.

[2022-11-22 21:29] Dvalin21 opened #8096 "Ability to install GPU Linux Drivers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
NO

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
 I wanted to ask as I don't know if the devs will include the driver/module I've requested.  To give some back ground, I'm using [Xpenology

[2022-11-22 22:07] BartAgterbosch opened #8097 "Latest version cannot load environment"
Essentially as the title says, since upgrading to the latest CE version, it constantly fails at loading the environment (where I can access the containers and networks, etc).
Yet it is fully responsive to any other pages like settings, users, account, notifications, but when trying to open the environment you just get infinite loading.
Oh, and did I mention the new version looks very ugly?
I am no

[2022-11-22 22:55] tamarahenson commented on #8097
@BartAgterbosch

Can you provide the following:

[1] Which version did you upgrade from?
[2] Can you attach any errors from the Web Console while the Environment is loading for review?
[3] Curious, how large is your Environment?  How many Stacks, Containers, Images, etc...

I would like to try and reproduce your issue.

Thanks!

[2022-11-22 22:57] jamescarppe commented on #8096
If the OS can't see the hardware, then Docker won't be able to see the hardware. If Docker can't see the hardware, then Portainer won't be able to access it either, as Portainer is a wrapper around Docker's functionality. Until XPEnology adds support for this in their kernel / Synology adds GPU support to DSM, Docker won't support GPUs and as such, neither will Portainer in this configuration.

[2022-11-22 23:05] tamarahenson commented on #8091
@svdHero

Can you post the Repository and what you are trying to deploy?  I would like to see if I can reproduce this and further investigate.

Thanks!

[2022-11-22 23:17] tamarahenson commented on #6701
@Klionheart

Thank you for the additional information.  I figured out how to reproduce this.

[1] I changed the name of my `stack.env` to `stack.env.bak` in  my repo
[2] Create Stack with `wordpress.yml` in my repo using `- stack.env`
[3] Upload my local `stack.env`
[4] Received error
[5] Updated my `wordpress.yml` to `- ../stack.env`
[6] Deployed without error

TODO:  Update our Blog with further

[2022-11-22 23:25] tamarahenson commented on #8068
@rijnhard  @antoine-briand

Can you review my testing here?  I am able to edit a variable, save and redeploy (toggle on and off)

https://user-images.githubusercontent.com/20426210/203441127-b70ed8e6-73fe-4671-8d05-d8d014031ef3.mov

https://user-images.githubusercontent.com/20426210/203441211-15d82160-1e64-4966-bd0d-f2448e645461.mov

Thanks!

[2022-11-23 02:10] tamarahenson commented on #8077
@johackim

I accidentally reproduced your issue in my cluster.  I am trying to connect to an environment via an agent and am receiving context deadline exceeded toasts in the UI when this happens:

<img width="370" alt="Screen Shot 2022-11-22 at 6 10 52 PM" src="https://user-images.githubusercontent.com/20426210/203456936-a3672645-6b90-4edf-8696-97f7bade0d8d.png">

[code]

In my case, I had an env

[2022-11-23 05:02] tamarahenson commented on #8068
Can you attach the following for review:

[1] screenshot of how the environment variables are setup
[2] screenshot of the greyed out button
[3] do you have automatic updates enabled
[4] or, attach a video showing the above and how the UI responds

Thanks!

[2022-11-23 05:11] Dvalin21 commented on #8096
What I was afraid of. So there is nothing else I can do.

[2022-11-23 08:52] svdHero commented on #8091
@tamarahenson thank you for your answer.

I am not sure if that can be reproduced easily. When I created and tested a demo repo on Github for you, the docker-compose.yml was executed fine with Portainer, but when I put the same repo/file on our on-premise Bitbucket Server, I get the error message above.

Could that be related to self-signed SSL certificates? On the Portainer host system, I set
[co

[2022-11-23 09:13] bluepuma77 opened #8098 "Select option for valid image tags when updating a service"
Would love to see a select option for valid image tags from the repository when updating a service.  That's the only feature I miss from Swarmpit. We run a service for each of 100+ tenants, everyone has their own version with their sub-domain. Customer Care sometimes wants to update a single service and I want to make sure they don't enter an invalid version tag. The version tag could also include

[2022-11-23 12:50] LoLo2207 commented on #2829
A newer one: https://portal.portainer.io/knowledge/exposed-ports-in-the-container-view-redirect-me-to-0.0.0.0-what-can-i-do

[2022-11-23 13:46] xsm1997 commented on #1304
@huib-portainer Has this been removed in 2.16.2? I cannot see the notifications anymore...

[2022-11-23 14:16] remkolems commented on #943
I'm using a 3-fold combination of both lightweight set it and forget it solutions:

1. Uptime Kuma (on a dedicated Home-Assistant node) -> https://github.com/louislam/uptime-kuma
2. Shoutrrr -> https://github.com/containrrr/shoutrrr
3. Telegram. Both Uptime Kuma and Shoutrrr send only actionable messages to a Telegram private chat group.

https://github.com/netdata/netdata seems to be good alterna

[2022-11-23 14:32] DcR-NL commented on #1304
@xsm1997 No, it still works for me. There aren't any notifications, only status icons in the overview. It's part of the Business Edition and looks something like this: https://github.com/portainer/portainer/issues/1304#issuecomment-1040748001

I'm still wishing for notifications and maybe an API endpoint to pull the information for external use (Home Assistant for example)…

[2022-11-23 14:36] xsm1997 commented on #1304
Oh, I just mean the status icon. But I cannot see the status icon. Is this a bug? I will post a screenshot moments later.

[2022-11-23 14:50] xsm1997 commented on #1304
![image](https://user-images.githubusercontent.com/4453837/203576607-a81ba8d0-4578-44bb-bd9f-98af95c058bf.png)

Is this a bug?

[2022-11-23 15:47] ZVilusinsky commented on #4975
Just wanted to confirm, that using boltbrowser and manually editing TagIds":null -> TagIds":[] and Tags":[] -> Tags":null on environment fixes the persistent error notice.

I guess it is the only way, since no version update up to date cleared it.

[2022-11-23 16:23] geek111 commented on #5813
Have: DSM 7.1.1-42962 Update 2 and this bug still happens :D
Pity it doesn't work all in one place :D

[2022-11-23 17:26] BenJule commented on #4647
I can confirm the issue. Here is my log:

`2022/11/23 05:25PM INF agent/main.go:79 > agent running on Docker platform
2022/11/23 05:25PM DBG agent/main.go:89 > member_tags="&{AgentPort:9001 EdgeKeySet:false NodeName:fr-01-s3debsrv DockerConfiguration:{EngineStatus:1 Leader:false NodeRole:0} KubernetesConfiguration:{}}"
2022/11/23 05:25PM DBG docker/docker.go:102 > retrieving IP address from contai

[2022-11-23 18:05] ptruman opened #8100 "Enable "disabling" of container image version checks"
**Is your feature request related to a problem? Please describe.**

Whilst it's great Portainer now shows if a container if not up to date (red circle) it requires DNS calls out to do so.  If your DNS service is running in a container, or is down, portainer effectively stalls on the "Container" screen until checks time out.
I suspect it's the web UI rather than Portainer, as if I can see a contain

[2022-11-23 18:39] samdulam commented on #4647
Can you check the Edge ID shown in the Portainer UI for the Environment is same as the one used by the installed Edge agent?
Short poll error suggests there may be a mismatch.

[2022-11-23 18:50] BartAgterbosch commented on #8097
It went back to normal after a reboot yesterday, this morning it was doing it again, rebooted again, and so far it's been good (fingers crossed).
Unfortunately I didn't write down what version I was previously on, but for what it's worth it must've been 2.15.0 or prior judging by the old image date (so I'm assuming 2.15.0).
Currently I'm on 2.16.2

The web console did not give any error messages,

[2022-11-23 20:49] huib-portainer commented on #1304
Do you have it enabled in the Host settings?
![image](https://user-images.githubusercontent.com/77944876/203643445-c2b276c1-1205-4728-adc4-e1f41b35baac.png)

[2022-11-24 02:33] xsm1997 commented on #1304
Okay, there is a setting, and I haven't enabled it. Actually, I upgraded from 2.14.0 and found the icons lost. I think we should add a hint to somewhere like release notes or documentation. I cannot find any of them. The documentation of Portainer has a page related to the status icons. It would be nice to add a hint of the setting to the page.

[2022-11-24 02:50] jamescarppe commented on #8100
This can be disabled on a per-environment basis under either [Host | Setup](https://docs.portainer.io/user/docker/host/setup#other) for Docker Standalone environments, or [Swarm | Setup](https://docs.portainer.io/user/docker/swarm/setup#other) for Docker Swarm environments.

[2022-11-24 03:49] jamescarppe commented on #8096
Not unless support is provided for GPUs at the OS / kernel level.

Unless you have a particular need to run Synology's software, it might be a better idea to look at a more flexible platform that is designed for running on standard server hardware (like TrueNAS for example).

[2022-11-24 03:49] #8096 closed, assigned to nobody

[2022-11-24 08:43] angyisz opened #8104 "Viewing JSON-formatted container logs in portainer-ce 2.16.2 not seems in JSON format"
Viewing JSON-formatted container logs in portainer-ce 2.16.2 not seems in JSON format. The same log in the same container from docker logs command, and from Portainer:

![image](https://user-images.githubusercontent.com/78142083/203733909-ba6ec406-77df-4266-b9e2-a4012546b1a0.png)

Expected behavior is the view JSON formatted log in Portainer in JSON format.

[2022-11-24 09:27] ghost commented on #7792
Hello @tamarahenson,

many thanks for your description of the workaround. I wanted to ask again when we can expect a fix of the bug? We are very interested in using portainer for production workloads. But this bug is really annoying for us. If you need more information please feel free to contact me :)

Kind regards

Yannik

[2022-11-24 18:17] ptruman commented on #8100
Thanks for confirming, I was looking more generally under "main settings" rather than on a per host basis :)

[2022-11-24 18:17] #8100 closed, assigned to nobody

[2022-11-24 23:53] tamarahenson commented on #8091
@svdHero

I did some quick testing on my end:

[1] Stack >> Web Editor >> Deployed
[2] Stack >> Git Repo >> Deployed

It is possible it could be related to the SSL cert.  I need to build up a Bitbucket and test further on that end.

Thanks!

[2022-11-25 04:28] jtraxy opened #8105 "UI - svg attribute height error in page"
Steps to Reproduce
1 - Start Portainer CE
2 - open browser console
3 - Refresh the Portainer page
4 - In the console page you see the error “Error: <svg> attribute height: Unexpected end of attribute. Expected length, "".“

Expected Result
There should be no svg errors in the browser console when I refresh the Portainer page.

Actual Result
When I refresh the page I get an svg error, though no not

[2022-11-25 04:33] #8105 closed, assigned to nobody

[2022-11-25 06:52] buswedg commented on #7649
any updates on this?

[2022-11-25 09:31] svdHero commented on #8091
@tamarahenson thank you for your help. It was something entirely stupid. I used the wrong repository url. Instead of `https://my-bitbucket.my-company.com:8443/scm/FOO/my-repo.git` I used `https://my-bitbucket.my-company.com:8443/projects/FOO/repos/my-repo`. My fault!

However, maybe the error message could be improved. The phrase `invalid pkt-len found` is not very helpful.

Thanks again and sorry

[2022-11-25 10:53] Xfox1 commented on #431
Could you please also add the commands to close the port forwarding and the socket?

Also, I'm trying to connect to an AWS instance, but whenever I try to add the new socket as new environment in portainer it says that the daemon is running.

[2022-11-25 11:28] volschin opened #8106 "Unable to create compose via web editor in swarm mode"
**Bug description**
Running Docker in swarm mode and creating a new stack in the web editor this is created in swarm mode. There is no chance to create a compose stack inside portainer. You have to create this externally. Existing stacks work fine in the mode they were created before.

**Expected behavior**
Give the user a choice in the web UI of stack creation between compose stack or swarm stack

[2022-11-25 12:19] AbdulghaniFawzi commented on #6151
I had the same issue. What helped me was: https://github.com/portainer/portainer/issues/6353#issuecomment-1019362238 ; enable Websockets Support in Nginx Proxy Manager.

[2022-11-25 13:46] mirceaadam commented on #5185
Hi,

Can you please be so kind to check if there are any news ?
Simply put we cannot use AWS/codecommit with portainer.

Thank you

[2022-11-25 18:36] xeaon opened #8107 "high-severity CVEs in portainer/portainer-ee:latest"
**Bug description**
AquaSecurity's trivy-scanner reports several high-severity CVEs in go-binaries and/or libraries:

<ins>portainer (gobinary)</ins>
Total: 2 (HIGH: 2, CRITICAL: 0)
 Library | Vuln | Severity | Installed Version | Fixed Version
--- | --- | ---| ---| ---
golang.org/x/net |CVE-2022-27664 |high | v0.0.0-20220412020605-290c469a71a5|0.0.0-20220906165146-f3363e06e74c
golang.org/x/text|C

[2022-11-25 19:29] yi-portainer commented on #5185
Hi @mirceaadam, I just had a quick check and the last released version of go-git is still v5.4.2 (June 2021). The patch mentioned above is not yet released. Once it's released, we will update our dependencies and the fix will be included.

[2022-11-26 05:04] LostOnTheLine commented on #7488
I expressed the same sentiment in the Discussion on Discord, & was essentially met with "It's a completely different thing, you just don't get it because you aren't smart enough to understand"-type answers.
It makes completely zero sense because the Extension pulls the same docker image, it just disables part of it...
It would be one thing if it pulled a lighter version, but it doesn't...
- I curr

[2022-11-26 13:24] fahu commented on #7792
I'm experiencing the exact same issue. I would really appreciate if this could be fixed soon :)

[2022-11-26 17:39] hhromic commented on #7308
Still applies :)

[2022-11-26 17:46] ZVilusinsky opened #8108 "Portainer mangles json logs since 2.16.1"
Possibly related to #8104

After updating to Portainer and agent 2.16.1 (from 2.15.1) log filtering does not work on json logs. Searching through plaintext logs seems to be without an issue but the engine does't "go into" a json block. Tested on various constants and keys in our json logs.

Also, the json logs are (after the update) prefixed and suffixed with a weird timestamp?, pid information an

[2022-11-27 00:23] tamarahenson commented on #8091
@svdHero

Thank you for the update and additional information.  I am going to try and reproduce a wrong URL on my end so I can figure out how to gather that logging and pass on to Product for improvement.

Thanks!

[2022-11-27 14:32] martijndierckx opened #8109 "Recreate from container overview screen"
**Is your feature request related to a problem? Please describe.**
When I want to update multiple docker containers at once with a new image version, I now have
- to redeploy each stack individually
- or individually recreate each container

**Describe the solution you'd like**
I would like an extra 'recreate' button on the top of the containers list which would allow to select multiple containers

[2022-11-27 20:04] johnnygiter opened #8111 "Failure pull access denied for [containername], repository does not exist or may require 'docker login': denied: requested access to the resource is denied"
Failure
pull access denied for mycontainer, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

**Steps to reproduce the issue:**

1. Build image `docker build -t mycontainer -f MyApi.Dockerfile .`
2. Recreate with portainer "pull latest image" option

Similar issue to https://github.com/portainer/portainer/issues/6566
Bottom post suggested

[2022-11-27 20:24] johnnygiter commented on #6566
Actually it's not resolved

[2022-11-27 21:57] jamescarppe commented on #8109
This is essentially the same as #7557 but for Containers rather than Stacks, and it's likely that if one were implemented the other would be done alongside it. I'm closing this one in favor of the existing ticket.

[2022-11-27 21:57] #8109 closed, assigned to nobody

[2022-11-27 22:10] jtraxy commented on #6566
@johnnygiter, can you give some more details of how the issue occurs for you and whether it's the exact same scenario as originally described here? Thank you.

[2022-11-27 22:14] johnnygiter commented on #6566
@jamest-portainer,

Did it there https://github.com/portainer/portainer/issues/8111

[2022-11-27 22:15] jtraxy commented on #6566
Thanks. We'll have a look.

[2022-11-28 00:55] LostPoE commented on #5964
Any updates on this topic?

[2022-11-28 00:56] LostPoE commented on #5964
+1

[2022-11-28 02:02] albedo112 opened #8112 "When the container is hidden in the SETUP the associated image appears as unassigned"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home, Using Portainer in a Commercial setup.

Have you reviewed our technical documentation and knowledge base? Yes/No

**Question**:
How can I deploy Portainer on... ?

[2022-11-28 02:06] albedo112 opened #8113 "It would be possible to activate or deactivate a specific container hiding option in the setup."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-28 02:12] albedo112 opened #8114 "Is there a way to see all the host/volume in one place?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-28 02:13] albedo112 opened #8115 "Edge jobs use Edge Group"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-28 02:24] #8112 closed, assigned to nobody

[2022-11-28 02:24] albedo112 commented on #8115
repeated

[2022-11-28 02:41] jtraxy opened #8116 "UI - Helm charts view - bad icon aspect ratio"
Scenario
Given I have added a helm chart repo that doesn’t contain icon urls in it (eg https://storage.googleapis.com/seldon-charts)
When I load the charts in Portainer - in Kube --> Helm

Expected results
Then the fallback icon should have the correct styling and aspect ratio

Actual results
An incorrect aspect ratio is currently applied, which means the icon appears elongated

[2022-11-28 02:42] #8116 closed, assigned to nobody

[2022-11-28 02:54] jtraxy opened #8117 "UI - file-code.svg icon appears to be corrupt"
The icon named file-code.svg appears to be corrupt.  When attempting to open it with a viewer this error appears:
Could not load image "file-code.svg".

This issue appeared in the Kube --> Edit configuration or Configuration details screens.

/configuration.html
28:                <pr-icon icon="'svg-filecode'"></pr-icon>

kubernetes/views/configurations/create/createConfiguration.html
96:

[2022-11-28 02:55] #8117 closed, assigned to nobody

[2022-11-28 03:39] jtraxy opened #8118 "Kube Applications - Secrets are not displayed"
**Bug description**
Secrets in K8s >> Applications >> are not displayed in 2.16

**Expected behavior**
As in previous versions; 2.14 and 2.15, Secrets in K8s >> Applications >> should be displayed in 2.16

**Steps to reproduce the issue**
[1] Create K8s Cluster with Secrets
[2] Navigate to Environment >> K8s >> Applications

**Workaround**
[1] Downgrade to 2.15.1

Related to 2.16 changes where Sec

[2022-11-28 03:39] #8118 closed, assigned to nobody

[2022-11-28 04:12] jtraxy opened #8120 "UI - Remove Font Awesome from codebase"
**Background**
Font awesome adds a lot of bloat to our CSS and was meant to be removed in the 2.15 ui changes to simplify our code and make Portainer look better.

In ee-2.16 there are still around 200 places in Portainer where Font Awesome icons are used.

**Acceptance Criteria**
Replace all font awesome icons with feather icon or svg alternatives as per Portainer style guide

No icons should dis

[2022-11-28 04:13] #8120 closed, assigned to nobody

[2022-11-28 04:18] jtraxy opened #8121 "UI - Replace feather-icon with lucide-icon"
With over 300+ open issues and over 100+ open PRs, the Feather Icons project has been abandoned.

Staying with feather icons limits us to using the ~270 icons available.

[lucide-icon](https://github.com/lucide-icons/lucide) - is a good alternative for us to use:

Actively maintained

Forked from feather icon, so shares the same style that we like

All of the feather icons are kept (but they did c

[2022-11-28 04:19] jtraxy commented on #8117
Resolved along with https://github.com/portainer/portainer/issues/8120 and https://github.com/portainer/portainer/issues/8121

[2022-11-28 04:25] jtraxy opened #8122 "Kube Namespace - resource quota should be off by default (rather than on)"
Currently, the Namespace screen’s (Resource quota section) Resource assignment toggle is ON by default, which can lead to issues.
It should be changed to default to OFF.

Note:

In BE, the Namespace screen’s (Resource quota section) Resource assignment toggle only shows (and currently defaults to ON - which is what we’re now changing to OFF), if you toggle ON the Cluster setup screen’s Allow resou

[2022-11-28 04:26] #8122 closed, assigned to nobody

[2022-11-28 04:27] #8121 closed, assigned to nobody

[2022-11-28 08:33] Blizzke commented on #7222
I had the same problem, and removing the settings allowed me to create teams, but I still can't assign them to stacks:
![Screenshot_20221128_093337](https://user-images.githubusercontent.com/231572/204230739-9e433940-b23a-4434-a954-0697d34c2ec8.png)

[2022-11-28 08:42] Blizzke opened #8123 ""You have not yet created any teams", while there are teams"
**Bug description**
Despite having created a number of teams, the stack Restricted access control keeps claiming that "You have not yet created any teams. Head over to theTeams view to manage teams."

**Expected behavior**
Being able to assign teams

**Steps to reproduce the issue:**
1. Create a team, add people
2. Go to a stack, click on "change ownership"
3. Set the access control to restricted

[2022-11-28 08:52] samdulam commented on #7222
Are the teams added to the Environment Access?
You can do so by going to Environemnts--> Manage Access (next to the environment you need to manage) --> Then add teams or users as necessary.
Those teams then are available under the stack access control.

[2022-11-28 09:06] Blizzke commented on #7222
I didn't I had no idea that this was now needed (I've been using the older portainer variant until recently). Thanks for that!

[2022-11-28 09:08] Blizzke commented on #8123
Closing.
My bad.
Apparently you have to add the teams to the Environment first via "Manage Access" (read only seems enough there), before they are visible in the Stacks to add them. Thanks to samdulam for the reply in #7222

[2022-11-28 09:08] #8123 closed, assigned to nobody

[2022-11-28 09:13] KES777 commented on #7322
ping bot

[2022-11-28 12:06] #7684 closed, assigned to tamarahenson

[2022-11-28 12:06] #7639 closed, assigned to tamarahenson

[2022-11-28 12:59] rijnhard commented on #8068
![Screenshot from 2022-11-28 13-20-45](https://user-images.githubusercontent.com/4290536/204283130-7bf99440-34fe-4e3f-b10e-e7aef6a3b314.png)

[1] The variables are setup exactly how your values are.
[2] see above
[3] no, didn't even know you could do that. deploying with a docker compose file.
[4] too many screens to record lol, but what happens is as follows
1. open up page, only `pull & redeploy

[2022-11-28 13:00] rijnhard commented on #8068
also @tamarahenson your testing is perfect, thats exactly what I am doing, but my results are different.

[2022-11-28 17:21] YiHui-Liu commented on #7751
similar things happen to me.
If i use localhost, it will render normally:
![1669655661678](https://user-images.githubusercontent.com/30190271/204340120-89fd2229-936b-43cd-8cd1-325ea85f6903.png)

if i use nginx proxy, i will get a blank page:
![1669655730145](https://user-images.githubusercontent.com/30190271/204340304-3f178ee9-f4a0-4791-a37e-e88632fd3a2d.png)

or
![image](https://user-images.githu

[2022-11-28 20:42] cf-sewe commented on #8068
@rijnhard Are you using GIT authentication? Are your credentials stored (see the first entry in below screenshot)?

<img width="514" alt="image" src="https://user-images.githubusercontent.com/52649758/204376647-e4f373c6-f069-40f2-9cba-03752356df2b.png">

[2022-11-28 20:54] tamarahenson commented on #8115
@albedo112

I want to confirm, you are logging a Feature Request to associate an Edge Group with an Edge Job?

Thanks!

[2022-11-28 20:57] tamarahenson commented on #8113
@albedo112

I wanted to confirm, you are logging a Feature Request to have a Hide Container option when creating a Container instead of navigating to Settings >> Hidden Containers?

Thanks!

[2022-11-28 21:38] rijnhard commented on #8068
Yes and yes

[2022-11-28 22:27] tamarahenson commented on #8111
@johnnygiter

Thank you for the information.  I am going to review and further investigate.

Thanks!

[2022-11-29 00:14] tamarahenson commented on #8098
@bluepuma77

What type of Registry are you using?

Thanks!

[2022-11-29 09:11] MadsBen commented on #7937
Sorry @tamarahenson for not getting back to you sooner. I don't have slack, any other way we can exchange files. Also, I have passwords and stuff in my compose files.

The warning in the Portainer server log, has changed a bit in 2.16.2, it now refers to a file and line. I don't know if that helps:
[code]

[2022-11-29 13:32] luispabon commented on #6288
[code]

just worked for me on a docker-compose file like so:

[code]

[2022-11-29 15:23] nettoinfo commented on #6126
How enable/disable in terminal, the mode force SSL/HTTPS??

[2022-11-29 17:23] ooliver1 commented on #6288
It will work the first time yes. Did it work after a change that would cause your `Dockerfile` to rebuild?

[2022-11-29 18:19] MitchellSingleton opened #8130 "Enhance motd to be environment / user aware and display or not display."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I open portainer and see the motd telling me about something that doesn't apply.

**Describe the solution you'd like**
I want a motd to be able to use environment information to know if the motd should be shown or not.

has this motd been previously acknowledged?
Is this motd only for specific versions (<

[2022-11-29 18:22] MitchellSingleton commented on #8130
sort of related to this issue:
https://github.com/portainer/portainer/issues/3431

where the request is that the motd be aware of the display resolution of the browser or type of browser and be able to no display.

[2022-11-29 19:08] tamarahenson commented on #8068
@rijnhard

I wanted to follow up on this request.  @cf-sewe  provided additional details regarding the issue.  I am now able to reproduce.

[1] Create Stack via GitRepo in 2.14.2
[2] Upgrade to 2.15.1 >> You can edit the Environment Variables
[3] Upgrade to 2.16.2 >> You can not edit the Environment Variables.

The git credentials appear to not be migrated in 2.16.xx series.  I am logging an inter

[2022-11-29 19:17] rijnhard commented on #8068
Funny enough I stumbled upon that workaround by accident. And was wondering why its now suddenly working on the same version.

Thank you for all the effort.

[2022-11-29 22:02] huib-portainer commented on #6288
Rebuild on update should work yes for docker standalone (but not Swarm).
(Also note: https://github.com/portainer/portainer/pull/7707)

[2022-11-29 22:50] luispabon commented on #6288
Yes. I've been doing a lot of setting things up this evening and has been working fine.

[2022-11-30 01:34] huib-portainer commented on #2991
It's `/run/podman/podman.sock`
not `/var/run/...`

[2022-11-30 10:25] Emilgardis commented on #8097
I'm in the same situation. Heartbeat and stats show correctly, can't connect.

upgraded host and edge agent from 2.14 (ce) to 2.16.2 (ee, grabbed my 5 free nodes finally)

[code]

using a reverse proxy setup with portainer, edge agent is connected with `https://portainer.my-domain.com|https://edge-portainer.my-domain.com|BASE64checksum|10`

agent is showing in logs

[code]

<img width="1477" alt="

[2022-11-30 10:42] olljanat commented on #4270
As far I know Docker is aware about which user container is running so right thing to do would be show that username/ID instead of root.

[2022-11-30 10:59] olljanat opened #8135 "Define console user and prevent changing it"
**Is your feature request related to a problem? Please describe.**
Console to inside of container is very useful feature for debugging. However it create security issue because Swarm/Kubernetes secrets are visible as plain text inside of container.

Docker Swarm already support to defining access rights to secrets in way that only user which is running container can access to it like this:
[code]

[2022-11-30 11:40] foureight84 commented on #8020
Documentation shows that "The Setup section is only available to Docker Standalone environments." Does that mean this feature is no longer available/togglable for docker swarm environments?

[2022-11-30 12:05] #7674 closed, assigned to tamarahenson

[2022-11-30 14:53] 1thorsten commented on #8011
Any chance someone can take a look at this problem?