[2022-09-20 18:04] atmosferia-projects commented on #7687
Hi,
FYI, after a server reboot, I can change the network parameters of any container evzent if it is up and running, as I usually did before. I close this issue.

Best regards

[2022-09-20 18:04] #7687 closed, assigned to nobody

[2022-09-20 19:49] rodrigoncar commented on #7222
Thanks for your answer... This solved my problem.

*Rodrigo N Carneiro*

Em ter., 20 de set. de 2022 às 13:57, Tamara Henson <
***@***.***> escreveu:

[2022-09-20 23:39] tamarahenson commented on #7646
@PaPaTheGMan

Can you run the following `mount | grep MediaDrive` and what kind of drive is it?  USB?

Thanks!

[2022-09-21 00:39] PaPaTheGMan commented on #7646
I've already answered this question, but here it is again:
/dev/sdc1 on /mnt/MediaDrive type ext4 (rw,relatime)

From: Tamara Henson ***@***.***>
Sent: Tuesday, September 20, 2022 7:40 PM
To: portainer/portainer ***@***.***>
Cc: PaPaTheGMan ***@***.***>; Mention ***@***.***>
Subject: Re: [portainer/portainer] Portainer keeps re-starting after upgrade (Issue #7646)

@PaPaTheGMan<https://nam12.safel

[2022-09-21 08:08] #7700 closed, assigned to tamarahenson

[2022-09-21 08:17] tamarahenson commented on #7684
@andreaconsadoriw

Are you selecting the Interactive and TTY flags when setting up the container?  Are you able to exec into the container on the CLI outside of Portainer?

Thanks!

[2022-09-21 08:32] andreaconsadoriw commented on #7684
on the not swarm envirorment i don't need to change console settings and both works without any issue.
on swarm env even if i activate interactive & TTY never works.
outside the portainer via Linux Bash i can connect to container console.
 docker container exec -it 7cac0781fb27 /bin/bash
bash-4.4$

[2022-09-21 08:40] andreaconsadoriw commented on #7684
can be a docker swarm networking issue?

[2022-09-21 09:27] ghost commented on #7004
Hello @samdulam,

as soon as I try to start the stack I get the following error:

![grafik](https://user-images.githubusercontent.com/110241169/191468336-2ccb798c-7b8b-46f9-8bb3-45256bebb552.png)

In the portainer_agent logs I can see the following error (I took a look via “docker service logs portainer_agent” -f):
[code]
The error is created by the correct node on which the container is supposed

[2022-09-21 09:54] BitWuehler opened #7713 "Portainer with reverse proxy (caddy) can't connect to edge agent but gets heartbeats"
Since a while I try now to connect my portainer instance at home to the home server at my mothers house. For that I red, the safest way to use is edge agent.

At home I run portainer behind a caddy reverse proxy on a raspberry pi 4.
Caddy is configured to route https://portainer.mydomain.de:443 to 192.168.178.3:9233 and tcp://portainer.mydomain.de:8000 to port 192.168.178.3:8111. In Docker I confi

[2022-09-21 10:06] samdulam commented on #7689
@Sam-Mumm
Can you try with the below url and let me know if that works for you?
`https://portainer.example.com/api/stacks/90/git?endpointId=54`
![image](https://user-images.githubusercontent.com/58716812/191477139-2a71d69f-0b73-4ce0-bc2d-ba03921c1903.png)

[2022-09-21 10:42] IrrerPolterer commented on #3940
@bannert1337's answer pointed me into the right direction:

I had the same issue when running portainer behind an NginX reverse proxy setup. Adding the following lines to the `location` field of the nginx server configuration solved it for me:

[code]

[2022-09-21 11:19] ghost commented on #7004
Hello again @samdulam,

a few more things from my side:

1. I am using a proxy to access docker.io
2. I configured the proxy in /etc/systemd/system/docker.service.d/http-proxy.conf which works fine
3. Using "docker login" with the same credentials  works fine
4. Using "docker pull" to download  the same image as in portainer works fine
5. The images are quit large (around 700MB) might this be a pr

[2022-09-21 12:07] #5934 closed

[2022-09-21 14:45] juniorvarsity commented on #7474
@RSmain I think I found a workaround:
- Check in an empty stack.env file
- Check in your .env file that has the variables defined
- In the docker-compose file env_file section, list your .env file first, then the stack.env file.

[2022-09-21 19:12] tamarahenson commented on #7639
@LeVraiRoiDHyrule

I wanted to follow up on this issue.  Portainer is not testing Podman and is not supported at this time.

Interim, I did further investigate and was unable to reproduce your issue.  I was able to get Podman and Portainer running in both Ubuntu 22.04 and Centos Stream 8.

Thanks!

[2022-09-21 21:53] alexandreteles commented on #6555
I suppose there is no ETA for this feature?

[2022-09-21 23:55] jeichenseerNRX commented on #3434
The Watchtower links on this page got hijacked, and now point to a shopping site. Just FYI....

[2022-09-22 00:38] jloehel opened #7714 "Deploying a swarm stack in portainer-ce 2.15.1 creates also a `docker` (compose) stack"
I have deployed version **2.15.1** of portainer-ce today. If I deploy on that version a new swarm stack with a bunch of services. All containers run via constraint just on one specific node. The volumes are also just local on this node. Some external, some get created. The deployment creates "magically" also a stack named `docker` of the type `compose`. This docker stack includes one of the servic

[2022-09-22 04:44] tamarahenson commented on #7674
@gbozzetti

You will need to use placement constraints.  Please review documentation here:  https://docs.docker.com/engine/swarm/services/#placement-constraints

Thanks!

[2022-09-22 05:17] tamarahenson commented on #7713
You need to change the the port that Portainer expects for tunnel-port. Also, try using our HTTPS service on port 9443.
[code]

[2022-09-22 06:13] rdwebdesign commented on #7151
After version 2.15 the theme was changed and the border error is gone, but still there is a misalignment problem:

![portainer_alignment](https://user-images.githubusercontent.com/1385443/191671507-e686d3e8-f9ff-46ba-a772-75971d2a9ffd.png)

[2022-09-22 07:41] tamarahenson commented on #7684
@andreaconsadoriw

I am unable to reproduce.  Can you send a screenshot of your Container page?

The Console requires websockets.  Are they open?  And, you may want to check your Swarm networking.

Thanks!

[2022-09-22 07:44] Kagu-chan opened #7717 "Make Stacks reachable from Containers View"
**Is your feature request related to a problem? Please describe.**
When checking Containers and seeing that one or more needs to be updated or have other issues, e.g. Configuration Issue, weird Logs etc, I usually want to stop the according Stack to fix the problem.
I have to navigate to the Stacks view and select the proper Stack.

Especially in the Container Details view I have no direct relatio

[2022-09-22 08:07] andreaconsadoriw commented on #7684
Here my env

If i try to connect to “onetimefiles” container (one where the console works fine from the cli)
It sat forever on “connecting”
***@***.***

The swarm nodes are on the same subnet and no firewall in the middle
***@***.***

Console require websocket --> what are the prerequisites?

Da: Tamara Henson ***@***.***>
Inviato: giovedì 22 settembre 2022 09:42
A: portainer/portainer ***@***.***

[2022-09-22 08:18] t347s opened #7718 "Containers restart if update a stack"
Hello all,
I want some confirmations, my scenario is the following:

**Bug description**
Scenario: A stack with 3 containers: container A, container B has parameter "depends_on: container A", container C "has parameter "depends_on: container A". If i make an update from editor to container A (update version) then after "Update the stack" action the container B and container C both restarts.

**Exp

[2022-09-22 08:18] andreaconsadoriw commented on #7684
Finally i’m checking with my Endpoint support because seems it silently kill the websocket requests, from a PC with different endpoint I can reach the console
***@***.***

I never had any issue on Portainer in standalone

Da: Tamara Henson ***@***.***>
Inviato: giovedì 22 settembre 2022 09:42
A: portainer/portainer ***@***.***>
Cc: Andrea Consadori ***@***.***>; Mention ***@***.***>
Oggetto: Re: [

[2022-09-22 09:17] philharmonie commented on #6953
Same here. I saw this error when removing an environment variable for a running container. When I stop the container before, it is working. Thus, re-installing is not necessary.

[2022-09-22 11:12] kookeeper opened #7719 "Portainer agent unable to join cluster"
**Bug description**
I have a cluster with 4 managed swarm. Adding another manager node creates a new portainer/agent on the new node, but this new node doesn't join the agent cluster.

**Expected behavior**
The new node joins the cluster

**Portainer Logs**
Here are some logs:

Working node:
2022/09/22 10:36:18 [INFO] [main] [message: Agent running on Docker platform]
2022/09/22 10:36:18 [DEBUG] [

[2022-09-22 15:02] tamarahenson commented on #7719
@kookeeper

Upon adding a new Manager node in my Swarm cluster, I run the following and am seeing my Portainer Agent:

[code]

[code]

Thanks!

[2022-09-22 15:04] tamarahenson commented on #7718
@t347s

Can you share your Stack code?  I would like to use for testing.

Thanks!

[2022-09-22 15:04] kookeeper commented on #7719
I saw that information as you see but container running on the new node doesn't show old nodes.

[2022-09-22 15:08] tamarahenson commented on #7717
@Kagu-chan

We have an internal request logged for Stack links here:  https://github.com/portainer/portainer/issues/7617

Thanks!

[2022-09-22 15:22] kookeeper commented on #7719
can you share containers logs?

[2022-09-22 16:29] tamarahenson commented on #7719
@kookeeper

[code]

Thanks!

[2022-09-22 16:32] gbozzetti commented on #7674
Hi @tamarahenson

thank you for your feedback, but I'm afraid your solution doesn't work because via the api endpoint /stack by using the type 2 (compose stack not swarm stack) the containers are deployed not as stacks/services but just as normal containers, so all the placement constraints configurations are ignored.

[2022-09-22 16:41] kookeeper commented on #7719
that is the expected result... Why my cluster doesn't have that behavior?

[2022-09-23 00:22] jtraxy opened #7720 "Cannot create manifest from git repo when OAuth is enabled"
**Bug description**
When deploying any Kubernetes updates via manifest from git, the OAuth email address is used in metadata labels for the object deployed, which causes an issue due to the at symbol in it.

**Expected behavior**
The at symbol needs swapping out.

[2022-09-23 00:22] jtraxy commented on #7309
Fixed under https://github.com/portainer/portainer/issues/7720 for 2.16.

[2022-09-23 09:14] Hyllegaard opened #7724 "Overlay network details not shown correctly for selected host"
**Bug description**
When clicking on a overlay network under "Networks", data is only shown for one host/node. Even expanding the network and clicking on another host, shows the same data. It does not appear that the parameter nodeName is used.

**Expected behavior**
Show details for selected network on the selected host

**Portainer Logs**
No logs output.

**Steps to reproduce the issue:**

1. Go

[2022-09-23 09:45] t347s commented on #7718
Hi @tamarahenson , thank you for your answer. Bellow it's a example of a stack where i observed this behavior:
[code]

When i made a modification (gitea container version), the drone-server wich depends_on gitea restarted, and also drone-runner wich depends_on drone-server.

This is an example, also, the same behavior is present in a stack with grafana, elasticsearch and mongodb; and others.

Than

[2022-09-23 10:32] gausie opened #7725 "Error when enabling GPU"
**Bug description**
I have an existing container for Jellyfin that I want to recreate with GPU enabled. Instead I get an error saying:

**Expected behavior**
Enabling the GPU slider and recreating works

**Portainer Logs**
Nothing helpful seems to show up in logs

**Steps to reproduce the issue:**

1. Hit edit on existing container
2. Enable GPU in Runtime & Resources
3. Hit deploy the container
4

[2022-09-24 21:47] gb5757870 commented on #6126
Lifesaver for me, thank you!

[2022-09-25 04:50] dreamMoli commented on #5964
+1

[2022-09-25 06:25] tabris233 commented on #807
I see here a couple of MR about multipe language (i18n).

What's the plan here？ Where can I see the roadmap？

https://github.com/portainer/portainer/pull/6578
https://github.com/portainer/portainer/pull/6384
https://github.com/portainer/portainer/pull/6270

[2022-09-26 07:13] JamborJan opened #7728 "exited containers are not on dashboard as stopped"
**Bug description**
A clear and concise description of what the bug is.

The amount of stopped containers on the dashboard is zero despite the fact that there are containers in the state "exited".

![image](https://user-images.githubusercontent.com/7508960/192210455-8f53d8ac-9f8e-47bf-b4de-b4b132cd13db.png)

![image](https://user-images.githubusercontent.com/7508960/192210927-55b362c3-5775-448a-ac

[2022-09-26 07:38] Misiu commented on #7631
@jamescarppe any updates on this?

[2022-09-26 10:57] hhromic commented on #7308
This issue is still relevant and still awaiting for feedback from the Portainer team.

[2022-09-26 11:50] wcsltd commented on #2026
Hello all,

I am running docker on my Synology NAS, and have a very similar issue with my portainer install. I have no firewall set up on my NAS, can someone assist me with debugging this?

[2022-09-26 12:00] rawd-g opened #7729 "Portainer CLI configuration backup"
Using Portainer at Home
Have you reviewed our technical documentation and knowledge base? Yes

Hi, I'm trying to write a command to backup the Portainer settings via the command line to put in a job.

I've almost got it working but the file cannot be opened after it runs. It says its not a valid tar.gz. Can someone check my syntax I can't seem to find the issue.

[code]

[2022-09-26 18:15] KES777 commented on #7322
ping bot

[2022-09-26 22:04] tamarahenson commented on #7728
@JamborJan

Thank you for the information.  I was able to reproduce the issue.  I am going to create an internal issue to resolve.

Thanks!

[2022-09-26 22:40] tamarahenson commented on #7729
@rawd-g

Here are examples of the API commands you can use to backup Portainer:

[code]
[code]

Thanks!

[2022-09-26 22:53] jamescarppe commented on #7631
This is with our engineering team who are looking at fixing it in a future release. I don't have an ETA for it at this stage sorry.

[2022-09-26 23:42] rawd-g commented on #7729
Thanks !On Sep. 26, 2022 6:40 p.m., Tamara Henson ***@***.***> wrote:
@rawd-g
Here are examples of the API commands you can use to backup Portainer:
curl -k --request POST \
  --url https://localhost:9443/api/backup \
  --header 'x-api-key: my_api_key' \
  --header 'Content-Type: application/json' \
  --data '{"password":"abc"}' > portainer-backup.tar.gz.encrypted

curl -k --request POST \
  --url

[2022-09-27 00:14] JadenSWang commented on #2791
pump

[2022-09-27 00:14] JadenSWang commented on #2791
bump

[2022-09-27 06:27] meowl3obo commented on #3940
Perfect solution to my problem! Thanks!

[2022-09-27 07:25] Misiu commented on #7631
@jamescarppe thank you for the update :)

[2022-09-27 12:08] jens-maus opened #7736 "Web interface non functional with LXC-based docker swarm setup (Proxmox)"
**Bug description**
We have a perfectly running docker swarm setup with Proxmox 7.2 where each of the 12 docker nodes are setup as LXC containers within Proxmox using `nesting=1` and additional lxc permission settings like
[code]
to allow docker to work correctly within LXC containers.

When trying to deploy portainer to this otherwise perfectly working LXC-based docker swarm (according to the off

[2022-09-27 13:40] mannharleen commented on #4322
Based off @s4ke answer, but making sure latest image and forcing the update:
[code]

[2022-09-27 15:21] BoxedBrain commented on #6178
I would also welcome this feature. Maybe portainer/support can reopen the issue?

[2022-09-27 16:57] #7729 closed, assigned to tamarahenson

[2022-09-27 17:12] tamarahenson commented on #7725
@gausie

Can you share your settings that you are using here, or are they default as shown?

Thanks!

<img width="682" alt="Screen Shot 2022-09-27 at 10 12 00 AM" src="https://user-images.githubusercontent.com/20426210/192592204-25d2ea79-0812-4f8e-bc68-baa05f8b60f0.png">

[2022-09-27 17:44] gausie commented on #7725
Exactly as shown above!

[2022-09-27 17:56] tamarahenson commented on #7725
@gausie

Thank you for the information.  I was able to reproduce the issue.  I am going to log an internal request to review and resolve.

Thanks!

![gpu-testing](https://user-images.githubusercontent.com/20426210/192601133-1122972c-1cc4-4b3d-a6d1-b8a5c8faf671.gif)

[2022-09-27 18:39] #7717 closed, assigned to tamarahenson

[2022-09-27 18:44] tamarahenson commented on #7605
@Leexiaobu

Thank you for the information.  An internal request was logged and is being reviewed.  We are currently working on standardizing the behavior across the UI.

Thanks!

[2022-09-27 19:26] tamarahenson commented on #7724
@Hyllegaard

Can you attach screenshots for review?

Thanks!

[2022-09-27 19:28] tamarahenson commented on #7719
@kookeeper

Can you post this in our Community Slack for troubleshooting and support?  You can join here:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Thanks!

[2022-09-27 19:28] #7719 closed, assigned to tamarahenson

[2022-09-27 19:31] tamarahenson commented on #7689
@Sam-Mumm

Have you tried the URL?  Did that work for you?
`https://portainer.example.com/api/stacks/90/git?endpointId=54`

Thanks!

[2022-09-27 19:41] tamarahenson commented on #7718
@t347s

I am receiving some network errors with your code.  I have a stack with 2 containers I tested with.  I made a change on my wordpress image version and only the wordpress container restarted.

[code]

![update-stack](https://user-images.githubusercontent.com/20426210/192620288-96d1ee5d-7a3a-4459-94ce-ec562cd6e3ed.gif)

Thanks!

[2022-09-27 20:02] Chiller2019 commented on #4824
still active a bug ....

[2022-09-27 20:13] WaysonWei opened #7739 "some delete button is not following standard UI style"
Page affected:

- Create config
- Create network
- Create stack
- Create service
- Edit service

![image-20220816-065451](https://user-images.githubusercontent.com/54336863/192626142-ca887351-caa2-4b71-afc7-e23802bf81d2.png)

[2022-09-27 20:13] #7739 closed, assigned to nobody

[2022-09-27 20:20] WaysonWei opened #7740 "link is not applied new UI styling"
Few link does not follow new UI styling:

- Containers >> Add container - 'Advanced mode' and ‘Simple mode’ buttons
- Images >> Import image - 'Advanced mode' and ‘Simple mode’ buttons
- Host >> Registries - 'Manage access' links
- Swarm >> Registries - ‘Manage access’ links
- Services >> Service name
- Volumes >> Volume Browser - Folder name

[2022-09-27 20:20] #7740 closed, assigned to nobody

[2022-09-27 20:26] WaysonWei opened #7741 "Swagger API documentation for create stack is missing kubernertes specification"
/stacks/StackCreate only contained Swarm Stack and Docker Stack deployment parameters and types, missing definition for kubernetes application deployment.

[2022-09-27 20:27] #7741 closed, assigned to nobody

[2022-09-27 21:25] JadenSWang commented on #6288
pull_policy on portainer doesn't seem to support "build"

[2022-09-27 21:39] tamarahenson commented on #4824
@Chiller2019

Can you post the following:

[1] Version of Portainer
[2] Portainer install command
[3] Your environment; Docker Standalone, Swarm, etc..?
[4] Stack code

Thanks!

[2022-09-28 00:25] WaysonWei opened #7744 "Context sensitive help link to portainer documentation"
Provide a link to portainer documentation which is related to the page where user is in.

[2022-09-28 00:26] #7744 closed, assigned to nobody

[2022-09-28 08:29] jmott85 commented on #1034
I just updated to the latest version and it looks like this was resolved!  I went into containers under environment, changed the items per page, signed out, signed back in, and verified items per page setting stayed how I had it set before logging out.

[2022-09-28 10:03] rjblake commented on #3940
Awesome! Finally have mine back working now too. On Synology Reverse Proxy, configurations is slightly different, as follows:
1. From 'Control Panel' -> 'Login Portal' -> Advanced -> Reverse Proxy, edit the relevant Portainer entry
2. Select 'Custom Header' -> Click on 'Create' and select 'Web Socket'
3. Under 'Advanced Settings' select 'HTTP 1.1' from the Proxy HTTP Version
4. Hit 'Save', and it

[2022-09-28 11:32] t347s commented on #7718
Hi @tamarahenson ,
You can remove anything about network from docker-compose and should work. I mentioned, pay attention to "depends_on" that is present in the docker-compose. A simple stack without any depends_on does not cause any problems, also if you modify something on a individual container from a stack does not cause issues.

Thank you!

[2022-09-28 19:39] tamarahenson commented on #7718
@t347s

Here is my code with `depends_on`

[code]

I made an update to the `image: wordpress` to `image: wordpress:latest` the `mysql` container was not restarted:

![depends-on-testing-wp](https://user-images.githubusercontent.com/20426210/192872498-ac1b3848-edba-4133-9d23-e4891858cf0b.gif)

I made an update to the `image: mysql:5.6` to `image: mysql:5.7` and the `wordpress` container was restart

[2022-09-28 19:55] bverkron commented on #611
Would love to see this as well. Any updates? Is the roadmap published somewhere?

Just started using Portainer and was very surprised to see there were no high-level host metrics or even aggregated metrics for a stack! Drilling down into individual containers and then doing a bunch of guess work in real time to determine the load of a whole stack or multiple stacks on the host isn't at all feasibl

[2022-09-28 19:55] SunsetGolfer commented on #5810
No workaround?

"I added working_dir to compose file, but it's not working."
Why is this not working?

[2022-09-28 21:33] oramirite commented on #6523
This is, in my opinion and I think many others, a huge gap in the current functionality of app templates that hampers their potential quite a bit. This would definitely solidify my commitment to Portainer in the long term.

[2022-09-28 22:58] Nindouja opened #7751 "JS error on list containers screen - blank page"
**Bug description**

When trying to access the container list (in an environement) the page is blank (except from the nav on the left) and when opening the console there is a JS error

**Expected behavior**

List of all my containers

**Portainer Logs**
JS logs:

[code]

Docker logs :
[code]

**Steps to reproduce the issue:**

1. Go to '/#!/2/docker/dashboard'
2. Click on 'Containers'
3. See blank

[2022-09-29 02:06] WaysonWei opened #7756 "Provide ability to save toaser error message"
As a user, too hard for me to catch those error message apper as toaser on right corner as it disapper too quickly, and there is no way for me to go back and check what error I have when I missed it from the toaser popup.

[2022-09-29 02:06] #7756 closed, assigned to nobody

[2022-09-29 02:10] WaysonWei opened #7757 "There is no script available for docker standalone agent deployment"
When adding an agent environment we currently display the Portainer Agent deployment command for:

Kubernetes via load balancer

Kubernetes via node port

Docker Swarm

Portainer do not currently include Docker Standalone, which does support agent-only deployments.

[2022-09-29 02:13] #7757 closed, assigned to nobody

[2022-09-29 05:24] samdulam commented on #7718
@t347s
This seems to be consistent with default docker compose behavior.
https://docs.docker.com/compose/compose-file/compose-file-v3/#depends_on
In the `wordpress` example: It does make sense to restart wordpress service when mysql is changed as wordpress service depends on mysql.
Doing this from cli using docker compose has the same result.

[2022-09-29 06:03] cameo69 commented on #1034
@jmott85, I did not notice that until I checked yesterday. Indeed, Portainer stores the info in the localStorage of the browser; which I had deleted upon browser restart. I do not really like the concept, because the info is attached to the browser and not the user account in Portainer... but probably that is good in most scenarios.
Thank you for the clarification, added Portainer host to the whit

[2022-09-29 08:39] JobberRT opened #7759 "Statistics page stuck after 15min or so"
**Bug description**
If you stuck at a container's statistics page for a long time, such as 10min, you will find those charts won't update anymore. Refresh the page will make the chart update again

**Expected behavior**
charts will update forever

**Portainer Logs**
Below is the logs that appeared when charts not updating anymore
[code]
**Steps to reproduce the issue:**

1. Go to any container's s

[2022-09-29 12:56] CodeAnthem commented on #5810
yh they really need to add this feature, just a default volume location for relative paths

[2022-09-29 15:35] olaxe opened #7763 "API stacks add an update status field to know if an image update is available or not"
**Describe the solution you'd like**
A new field in the API (/api/stacks) where we can know if an image update is available from one of its containers.
I know this topic has been discussed there: https://github.com/portainer/portainer/issues/1304 but today the Webhook URL proposes only to pull and redeploy but not to know if the update is available or not.

**Describe alternatives you've considere

[2022-09-29 15:47] Wolvverine commented on #5810
@shawnngtq
Only the use of simlink which in the long run does not make sense.
Especially in environments where we are supposed in theory not to change the system (NASs, HASSIO and the like).

[2022-09-29 15:49] Wolvverine commented on #5810
@SunsetGolfer
Because stack is an equivalent and not docker-compose.
https://www.portainer.io/blog/stacks-docker-compose-the-portainer-way

[2022-09-29 21:06] Nindouja commented on #7751
After some more time, I found out that aother container that had access to the socket via a volume was having troubles. Then the cli tool `ctop` was broken as well.
i figured it must have been a docker and not a portainer one. I reinstalled my whole docker engine and verything works like a charm.

i keep this open as it is still an unhandled exception and don't know if it needs investigations. But

[2022-09-29 21:18] tamarahenson commented on #7751
@BancarelValentin

Thank you for the update.  I am glad to hear you are able to move forward.

Thanks!

[2022-09-29 21:46] jamescarppe commented on #7665
At this stage this isn't something we support, but we've had a [similar request](https://github.com/portainer/portainer/issues/6941) before and I'd suggest adding your feedback to the existing ticket so we can track customer desire better rather than in this separate ticket.

[2022-09-29 21:46] #7665 closed, assigned to nobody

[2022-09-29 21:52] jamescarppe commented on #7759
I haven't been able to replicate this here - I've had the stats page open for a container for over 30 minutes and it's still updating as per normal.

What do you have your session lifetime set to? Does this happen on all containers or just specific ones?

[2022-09-30 08:08] theAlevan opened #7764 "configs.sample-config.external must be a boolean or mapping"
Before you start, we need a little bit more information from you:
Use Case: Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
How can I deploy Portainer on... ?

I'm trying to make **Configs** work with my setup, but I'm stuck at deploying it.
This is my sample config:

`configs:
  sample-config:
    external: sample-config

services:
  a

[2022-09-30 09:24] sgohl opened #7765 "Bring back `--no-auth` option"
I refer to this issue https://github.com/portainer/portainer/issues/6319
being closed. This is not fair.

The argument of accustomed worries about users being fools and exposing their portainer is **punishing all others** who know what they do. This is not your responsibility. Let them fools be fools. You provide a safe default and that's where your responsibility ends, roughly.

The use-case is c

[2022-09-30 09:31] Hyllegaard commented on #7724
Sorry about the late response, have been out of town for a few days.

Network as shown in Networks, there is three nodes in the swarm that use this network:
![billede](https://user-images.githubusercontent.com/2233675/193237361-2613cedf-e5f4-4c05-98c5-aeecd0a6f16e.png)

When clicking on one of the names ("Synchronicer"), the network details page is shown. Here for host swarm-udv1:
![billede](https

[2022-09-30 10:57] anondev-sudo commented on #1102
I would appreciate button to execute docker system prune --all command. Now I have to ssh to the server and run it manually :/

[2022-09-30 11:48] Teleportist opened #7766 "Export Containers or Complete Stacks to YAML Files"
Adding similar functionality to that provided by the [docker-autocompose](https://github.com/Red5d/docker-autocompose) container would be most useful.

Functionality further explained [here](https://www.youtube.com/watch?v=-ttZjGBkLL8).

Use case is to help 'backup' container setting revisions made in Portainer to docker-compose.yaml.

Thanks

[2022-09-30 13:20] theAlevan commented on #7764
Afte trying for hours, multiple node and portainer restarts, it now acceps this config without modifications.

[2022-09-30 18:56] #7764 closed, assigned to nobody

[2022-09-30 20:47] Chiller2019 commented on #4824
Sure:
1. CE 2.15.1
2.
[code]
3. Docker Standalone
4. Not with a Stack, just GUI, https://github.com/paperless-ngx/paperless-ngx/discussions/1572 and https://github.com/paperless-ngx/paperless-ngx/discussions/887 build with help from this code/stack:https://github.com/paperless-ngx/paperless-ngx/blob/main/docker/compose/docker-compose.portainer.yml

[2022-10-01 01:36] tamarahenson commented on #7759
@JobberRT

I have had my tab open for several hours.  I am seeing updates; however, my CPU has not updated after 1 hour.  Where are you not seeing updates?

<img width="1559" alt="Screen Shot 2022-09-30 at 6 37 45 PM" src="https://user-images.githubusercontent.com/20426210/193378134-6f09ef70-6445-471d-b908-5d9453f7bc13.png">

Thanks!

[2022-10-01 05:08] JobberRT commented on #7759
@jamescarppe @tamarahenson
sorry for late reply, My session lifetime is default 8 hours, and is all container's stat page will stuck after a while. Could this be a nginx reverse proxy problem? I will give you a screenshot about Chrome DevTool's Network tab and the error log later

[2022-10-01 06:07] chavacava opened #7767 "Malformed struct tag in `api/http/handler/templates/template_file.go`"
The following struct tag is malformed (a blank space between `:` and the value) This might prevent to be correctly interpreted

https://github.com/portainer/portainer/blob/a0fa64781ae9eb1ea391d300ca9bf937e58c8dbc/api/http/handler/templates/template_file.go#L26

[2022-10-01 19:58] skewty commented on #5188
Portainer 2.15.1 running on top of up-to-date Fedora Workstation I am experiencing a network name issue.

It seems the name value is referencing the driver field value instead of the name field value.
`"podman" != "bridge"`

wrong name field is used here:
![Screenshot from 2022-10-01 12-48-43](https://user-images.githubusercontent.com/9087223/193425930-ae9c46ec-7f8b-4ff9-8afb-719249eb36d7.png)

wh

[2022-10-01 22:52] UnconventionalMindset opened #7768 "Why are deployment errors not shown through the UI?"
Use Case: Using Portainer at Home in Core OS virtualized with my own app templates. Followed this guide: https://www.portainer.io/blog/from-zero-to-production-with-fedora-coreos-portainer-and-wordpress-in-7-easy-steps

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Many times when deploying a container through the UI, a failure is just reported as a:

The resp

[2022-10-01 22:57] UnconventionalMindset opened #7769 "Multiple custom app templates"
**Is your feature request related to a problem? Please describe.**

Adding new app templates requiring combining of multiple app templates as suggested here: https://docs.portainer.io/advanced/app-templates/build

or as it is done here: https://github.com/ntv-one/portainer

**Describe the solution you'd like**
A solution like the one of [TrueNas Scale](https://www.truenas.com/community/threads/how

[2022-10-02 00:54] entity23 commented on #3095
I had issues connecting to my local GitLab registry using my custom certification authority (resulting in the initially reported error above) - although connecting to the same registration via the 'Custom registry' option worked fine.
Could get it working by copying the original file out of the container, appended my custom root certificate and mapped that file back into the container (to /etc/ssl

[2022-10-02 12:00] Phizicks opened #7770 "Assigning IP with port to a container does not work with "open port" link on dashboard"
**Bug description**
if adding an IP eg
 - "192.168.0.10:9000:9000"
The dashboard shows the port being exported, but when clicking the link, it uses the hosts IP instead of the assigned IP

**Expected behavior**
To use the assigned IP of the container

**Portainer Logs**
no logs for this behavior

**Steps to reproduce the issue:**

1. create a docker-compose with IP allocated to port
2. create the

[2022-10-02 12:06] #7338 closed, assigned to nobody

[2022-10-02 23:54] WaysonWei opened #7771 "Need better info text and link for image build page"
- Specify the URL to a Dockerfile, a tarball or a public Git repository (suffixed by .git). When using a Git repository URL, build contexts can be specified as in the Docker documentation.

- Indicate the path to the Dockerfile within the tarball/repository ( ignored when using a Dockerfile).

[2022-10-02 23:55] #7771 closed, assigned to nobody

[2022-10-03 00:22] WaysonWei opened #7772 "docker secret is trimmed which is shouldn't"
Create a secret via the Portainer UI, pasting in the value with whitespace at the beginning and end of it, then whitespace is trimmed when checking from contianer.

[2022-10-03 00:22] #7772 closed, assigned to nobody

[2022-10-03 03:54] WaysonWei opened #7778 "unable to rename deployed container"
1 - Deploy a container
2 - Go inside the container details view
3 - In the container status form, once should be able to see a button to rename the container
4 - After renaming the container and saving it. It will successfully save, however the UI components for saving it or cancelling the name change
5 - clicking on the save button again will then produce an error

[2022-10-03 03:55] #7778 closed, assigned to nobody

[2022-10-03 04:08] WaysonWei opened #7779 "runtime & resources tab has incorrect text color"
Containers -> Advanced container settings -> Runtime & Resources ( TAB )

Text color is different from other tab.

[2022-10-03 04:08] #7779 closed, assigned to nobody

[2022-10-03 04:27] WaysonWei opened #7780 "stack's env variable does not allowed empty value"
**Steps to Reproduce**

1. Go to Stack → Create Stack or else edit an existing stack
2. Add an env var with an empty value or remove its value with the button
3. Create/update the stack

I should be able to have the env variable with empty value

[2022-10-03 04:29] #7780 closed, assigned to nobody

[2022-10-03 13:10] krislll commented on #3940
It works! Thank you!

[2022-10-03 15:47] brccabral commented on #7264
Hi @samdulam , for curiosity, why not have a shell?

[2022-10-03 16:22] MatthewLea opened #7785 "Example compose file with linux and windows nodes"
No question.  Just a how-to to save others some time.

We have application deployments (compose files) with both Linux and Windows services.  The example documentation for Portainer on Docker Swarm is either Linux or Windows, but not both.

Provided below is an example compose.yaml file that deploys Portainer with both Linux _and_ Windows agents.

The important elements:
**Use an alias for both ag

[2022-10-03 21:08] tamarahenson commented on #7785
@MatthewLea

Thank you for writing this up and sharing.  I am going to forward to the documentation team for review.

Thanks!

[2022-10-04 01:39] milindpatel63 commented on #5839
I am using the latest 2.15.1 BE edition. Have the same issue. Disabled uBlock and other tracking extensions of my browser. Still cant see detailed info. Even after clicking Refresh, it says "Success, Environments updated" and nothing happens. @portainer/support @huib-portainer

[2022-10-04 02:05] x0341 opened #7788 "401 errors with NAT on port 9443"
**Bug description**
A clear and concise description of what the bug is.
Cannot login when do a NAT via port 9443. Locally is working, via NAT 401 errors.

**Expected behavior**
A clear and concise description of what you expected to happen.

http error: A valid authorisation token is missing (err=Unauthorized) (code=401)"

see below:

![image](https://user-images.githubusercontent.com/1771943/1937

[2022-10-04 04:21] tamarahenson commented on #7788
@x0341

Can you provide more information on your NAT and setup?

Thanks!

[2022-10-04 06:01] samdulam commented on #7264
@brccabral
smaller image size and smaller attack surface.
We do however provide the alpine version if you need the shell

[2022-10-04 07:26] samdulam commented on #7770
Having this filled in overrides that link in dashboard to point to that IP. Try leaving it blank.
![image](https://user-images.githubusercontent.com/58716812/193759602-4c2d2cd9-ec8c-4ad2-9986-a76bfc5c25af.png)

[2022-10-04 07:29] samdulam commented on #7768
@UnconventionalMindset
Can you share a screenshot of the JSON error?

Thanks

[2022-10-04 07:32] samdulam commented on #7766
Same as https://github.com/portainer/portainer/issues/4914

[2022-10-04 07:32] #7766 closed, assigned to nobody

[2022-10-04 07:39] samdulam commented on #7763
@olaxe
Thanks for the suggestion. It does make sense but we want to find more about your specific use case.
Using webhooks you can redeploy a stack and it would only pull and redeploy when there is a new image available. When there are no changes webhook typically does not cause a force re-deploy.

[2022-10-04 07:45] samdulam commented on #7736
Swarm on LXC seem to have issues with Overlay networking and Portainer requires overlay networks.
More info can be found at this [link](https://stackoverflow.com/questions/55950295/docker-swarm-in-lxc-containers)

[2022-10-04 08:13] samdulam commented on #7689
Resolved.

[2022-10-04 08:13] #7689 closed, assigned to nobody

[2022-10-04 08:48] lorenz-esch-bl commented on #7676
Thanks for the answer @jamescarppe. I use portainer to maintain my running docker setup on a remote virtual machine. Prior to portainer I just used a compose file rather than a portainer stack. In case the virtual machine restarts, portainer automatically restarts on startup, which is exactly what I want. However, it does not restart the stack I configured. So I have to manually login to portainer

[2022-10-04 08:50] DiogoMarques2003 opened #7791 "Can't access gui"
**Bug description**
For some reason now i can't access my portainer gui

**Portainer Logs**
[code]

**Technical details:**

- Portainer version:
- Docker version (managed by Portainer): cr.portainer.io/portainer/portainer-ce           latest    033d989d812e   2 weeks ago     259MB
- Kubernetes version (managed by Portainer):
- Platform (windows/linux): linux
- Command used to start Portainer (`doc

[2022-10-04 09:47] jens-maus commented on #7736
Thanks for this hint+link. After some more searches regarding overlay network and docker swarm on LXC I stumbled over the following post:

https://discuss.linuxcontainers.org/t/current-status-of-docker-swarm-in-lxd-we-cant-get-it-to-work/13901/3

After studying this post I was able to boil down a workaround for that issue by adding the following to the proxmox nodes running the docker swarm:

`/et

[2022-10-04 14:37] ghost opened #7792 "stack can be used only once and cannot download images afterwards (using docker.io)"
**Bug description**
A stack can be used only once and cannot download new images afterwards (using  docker.io). The stack need to be reacreated everytime to get new version or missing images.

**Expected behavior**
Portainer is able to download the newest image versions or missing images without the need to recreate whole stack.

**Portainer Logs**

When running the stack the second time the follo

[2022-10-04 15:50] ramonsmits opened #7793 "Ability to configure port to be compatible with `network_mode: host`."
**Is your feature request related to a problem? Please describe.**

Issues exist that are closed that indicate this is possible via a port mapping but those are not allowed when using `network_mode: host`.

**Describe the solution you'd like**

Most software allow to override the listering post via an ENVVAR. It would be nice if the container image would support this to make this work with `networ

[2022-10-04 17:29] tamarahenson commented on #7791
@DiogoMarques2003

Can you join the Community Slack for troubleshooting assistance?
https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Interim, what version of Portainer are you running?  Did you upgrade?

Thanks!

[2022-10-04 17:37] tamarahenson commented on #7791
@DiogoMarques2003

Update:  I created a Portainer instance via `cr.portainer.io/portainer/portainer-ce` without issue.

Thanks!

[2022-10-04 17:40] tamarahenson commented on #7767
@chavacava

Thank you for the information.  I forwarded this to Engineering for review and an internal issue has been logged.

Thanks!

[2022-10-04 18:48] DiogoMarques2003 commented on #7791
@tamarahenson so, i check and i can access if i use localhost, if i use the ip i can't

[2022-10-04 21:17] WaysonWei opened #7796 "Support upload local file when building image"
As a novice containerization user, when using Portainer to build an image, I want to be able to upload local files to be included in the image, so I don’t have to learn Docker command line build or have Docker installed on my machine

[2022-10-04 21:18] #7796 closed, assigned to nobody

[2022-10-04 21:57] WaysonWei opened #7798 "Misconfigured stack is saved, and subsequently cannot be deleted"
There are two issues:
- A misconfigured stack is saved despite an error occurring
- The misconfigured stack that was saved cannot be deleted now

[2022-10-04 21:57] #7798 closed, assigned to nobody

[2022-10-05 02:42] Sam-Mumm commented on #7689
Sorry for the delay yes it's works. Thanks for your help

[2022-10-05 15:32] L-Tyrosin commented on #6590
same on Odroid N2, ARM64, Debian 10 Buster
updated docker und portainer, now it shows slightly different error, cant even push the recreate button:

Cannot pull latest as the image is inaccessible - either it no longer exists or the tag or name is no longer correct.

[2022-10-05 16:07] bduff-walleye commented on #6339
Are there any updates on this?

[2022-10-06 09:56] HellLeaf commented on #1856
Please, when this bug will be fixed? "Environment variables" list in service is not showing the multiline variables and upon saving/modyfing any of the env data this variable is removed at all...

[2022-10-06 10:12] mondlichtpierrot opened #7806 "Allowing to disable 'Use All GPUs' option at container creation"
**Is your feature request related to a problem? Please describe.**
As an admin of a node, I'd like to have control over which GPUs a user or group can access. For instance, user Alice should be able to utilize GPU 2 and user Bob is allowed to compute on GPU 4, but not vice versa so there won't be any resource conflicts between both users.

To my understanding, constraining GPU access selectively i

[2022-10-06 12:41] hertell opened #7807 "EDGE_ID not visible via API if a new environment wa created via an api call"
When I create a new edge agent environment via the 2.15.1 portainer api (POST /api/endpoints), the environment get's created, but it does not have the EdgeID visible via the API. The EDGE_ID is though visible via the WebUI. After the agent has connected, the EdgeID is visible.

Is there any particular rason for this behaviour?

To reproduce:
1) Create an enviroment with the api /api/endpoints with

[2022-10-06 14:01] paulens12 commented on #7018
I don't think you can upload a Dockerfile to a stack. That button in your screenshot is for a docker-compose.yaml, not a Dockerfile.

[2022-10-06 15:43] slimshizn commented on #3092
Just ran into this issue today. Here's the issue posted on Heimdall. Had to remove the login creds from Heimdall, then rebooted Heimdall, Portainer, and my Custom OAuth provider.

https://github.com/linuxserver/Heimdall/issues/921

Heimdall absolutely hammers Portainer log in. Prob best to not even use that function.

As stated in the issue above, I'm not sure if it's a user related error, I was a

[2022-10-06 15:55] hertell commented on #7807
I found a solution to this issue. I was mentioned here: https://github.com/portainer/portainer/issues/6947#issuecomment-1129505374. Would be nice to have this as an option in the api-call itself

I close this issue

[2022-10-06 15:55] #7807 closed, assigned to nobody

[2022-10-06 23:59] tamarahenson commented on #7714
@jloehel

Can you please provide your stack code for testing?

Thanks!

[2022-10-07 00:04] jloehel commented on #7714
Thanks for the reply @tamarahenson. Unfortunately that's not possible but I will try to create a minimal stack example which is like the original stack next week.

[2022-10-07 05:14] olaxe commented on #7763
Thanks for the clarification. In this case, less interesting. You can close the ticket.

[2022-10-07 05:25] #7763 closed, assigned to nobody

[2022-10-07 13:11] lafriks commented on #7368
why is service webhook option available only for admins now?

[2022-10-07 13:11] slimshizn opened #7813 "OAuth and Internal login's"
**Bug description**
`Hide internal authentication prompt` should be `disable internal authentication prompt` when using SSO or other means of authenticating. [Heimdall](https://github.com/linuxserver/Heimdall) allows portainer as a enhanced application to login to view statistics on the dashboard when open. If a browser is left open for a period of time this is causing constant [logins](https://gi

[2022-10-07 13:44] lafriks opened #7814 "Docker swarm service update webhooks accessible only by admin"
**Bug description**

With PR #7239 docker swarm service webhooks can be enabled and seen only by admin users.

**Expected behavior**

This is breaking change and should probably changed back (as personally I don't see reason why user can do this manually but can not create webhook for that).

**Steps to reproduce the issue:**

1. Go to 'Service' with user who deployed stack
2. No option to create

[2022-10-07 14:31] KES777 commented on #7018
@paulens12 Screenshots to compare. When I just create Container, there is not such buttons as they are for stack.

[2022-10-07 14:35] lafriks commented on #7814
Exact change that changes behavior:

https://github.com/portainer/portainer/pull/7239/files#diff-a48a3a383b813ad5f6c8741080e0956361ee97740118810c3a898949b3780056L70-R76

[2022-10-07 15:19] vflorian2000 commented on #6251
Why not just fix this for god's sake? Zero mention in the docs about having two different addresses in the key, no field to set edge address. If not for the solution suggested here on the issue post about decoding, correcting encoding, I wouldn't have found a solution. I've literally been looking for it for 2 and a half hours straight.

[2022-10-07 15:52] tarmacx opened #7815 "[ERROR] [edge,stack] [message: stack deployment failed] [error: "edge_StackGatewayDEV2" is not a valid project name"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

Deploying a stack to an edge group creates an error:
2022/10/07 15:46:37 [ERROR] [edge,stack] [message: stack deployment failed] [error: "edge_StackGatewayDEV2" is not a valid project name

**Steps to reproduce the issue:**

1. Have some edge devices conf

[2022-10-07 16:17] walkertr0n commented on #4977
So this is just staying a Business feature and leaves the rest of us to figure out unintuitive and inconvenient workarounds? Cool

[2022-10-07 16:27] AuthorityNull commented on #6251
I feel you on this one. Took me and a colleague hours to figure out how to fix this.

[2022-10-07 16:43] paulius-valiunas commented on #7018
I know. I'm saying you CANNOT upload a Dockerfile using those buttons.

[2022-10-07 16:44] paulens12 commented on #7018
I know. I'm saying you CANNOT upload a Dockerfile using those buttons.

[2022-10-07 19:11] KES777 commented on #7018
@paulens12
Yes. This issue is about such button, which allow me to upload a Dockerfile ;-)

[2022-10-07 19:47] huib-portainer commented on #6251
You can give it a try by using the image `portainerci/portainer-ee:pr1882`.
Please let us know how that's working for you.
Note that this is a development build and should not be used in a production environment.

[2022-10-07 20:21] paulens12 commented on #7018
@KES777
Do you mean you want Portainer to build an image for you? Even if you had a button to upload a Dockerfile, you would still have to fill out everything else, such as your volume mounts and network configuration, by hand, because that's not part of an image.

I honestly don't think that makes sense. If you want to build and run your own Docker image without publishing it to a registry, you c

[2022-10-07 21:23] tamarahenson commented on #7368
@lafriks

As noted in https://github.com/portainer/portainer/issues/7814

The change was made to make Portainer more secure from malicious users.  The Role allowed to Edit is the Environment Administrator.

Thanks!

[2022-10-07 21:23] tamarahenson commented on #7814
@lafriks

The change was made to make Portainer more secure from malicious users.  The Role allowed to Edit is the Environment Administrator.

Thanks!

[2022-10-07 22:12] lafriks commented on #7814
So that means that standard user with limited set of resources he has assigned and who can create/update/delete stacks manually can not uses webhooks anymore. And only way to allow them to use webhooks is to assign them environment administrator that will be able to see all resources?

[2022-10-07 22:20] tamarahenson commented on #7814
@lafriks

Standard Users can create Stacks and enable webhooks.  The Environment Administrators can toggle the webhook after creation.  If you want a user to edit a webhook, they have to be in the Environment Administrator role.

Thanks!

[2022-10-07 22:23] lafriks commented on #7814
My scenario is that standard user creates stack but he has no option to create or see webhook url for that stack services.

[2022-10-07 22:32] Rod-O opened #7818 "Can't access environment after TLS certificate change"
**Bug description**
I changed my environment certificates, changed on the app, and now the app can't access the environment.
I created another environment to verify the certificates, and the new environment can access it, but the stacks display the message: This stack was created outside of Portainer. Control over this stack is limited.

**Expected behavior**
I just updated the certs, should be wo

[2022-10-07 23:13] lafriks commented on #7814
@tamarahenson from your reply I understand that standard user should be able to create webhook for his created stack services, right?

[2022-10-08 01:52] jnicolson commented on #4977
It looks like in the 2.15 release of Portainer this feature is no longer business edition only - when i click update stack I get a button to enable pulling the latest image.

![Screen Shot 2022-10-08 at 11 51 04 am](https://user-images.githubusercontent.com/537546/194681824-5fae6ea7-78b1-4197-bc43-52ddff000664.png)

Worth upgrading to 2.15 if you haven't already.

[2022-10-08 02:17] tamarahenson commented on #7814
@lafriks

I performed the following testing:

Docker Standalone:
[1] User: thenson >> Standard User
[2] Create Stack >> Toggle Webhook

![standard-user-create-stack-webhook](https://user-images.githubusercontent.com/20426210/194683045-4ee01893-0a24-48fc-9e49-8f399ff93905.gif)

Docker Swarm
[1] User:thenson >> Standard User
[2] Create Service >> Toggle Webhook

![standard-user-create-stack-webhook-

[2022-10-08 02:20] tamarahenson commented on #7792
@yannikhaffke

Thank you for the information.  We are able to reproduce the issue.  An internal request has been logged.

Thanks!

[2022-10-08 04:32] KoditkarVedant opened #7819 "Feature request: Add support to configure multiple App Templates definitions URLs"
**Is your feature request related to a problem? Please describe.**
I was going through the documentation to understand how to add App Templates. I realize that we can add at most 1 App Templates definition URL. Which may not be a deal breaker, but I felt if we have an ability to add multiple App Templates definition URLs. That would reduce the affect when user would like to use Templates from diff

[2022-10-08 12:25] Elliot-Construct opened #7820 "Bridging snap and apt-get archetectures in docker swarm."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try and deploy services on a swarm between two virtual machines, that have been installed in different ways; one with apt-get, the other with snap. They always try and load the snap installed version of dockers sock file from the wrong place (as if it's assuming that the file is located where the apt-ge

[2022-10-08 13:24] aardvarkl commented on #6555
Another vote for custom endpoints and region please. Shouldn't be hard to do (non expert view)

[2022-10-08 17:58] bensmithy123 commented on #7815
+1 running 2.15.1 also, docker 20.10.17, linux/ubuntu

Just went to redeploy an existing stack after making a couple changes to some lines and this same error happened

[2022-10-08 18:09] bensmithy123 commented on #7815
Have been able to resolve by destroying the old stack and creating new :)

[2022-10-09 00:25] stwalkerster opened #7821 "Docker standalone - network named ingress undeleteable"
**Bug description**
On a Docker standalone endpoint, a network named "ingress" can be created, but is marked as "system", and can only be deleted from the docker commandline.

**Expected behavior**
The network should not be marked as a system network and be deleteable from the UI.

**Portainer Logs**
No log messages logged throughout issue reproduction.

**Steps to reproduce the issue:**

1. Set u

[2022-10-09 01:27] bamtests commented on #6555
Plenty of people want this, and I agree it is probably not too hard since the foundation is already laid. (although definitely not good to assume that until you develop something lol)

**Who wants to help me add this feature?** I have plenty of api, docker and portainer knowledge as well as I am a test engineer. I am not exactly a web developer though.

[2022-10-09 05:27] octdanb commented on #6251
@huib-portainer
I tried this on my dev box,
I have two rules with hosts, both with tls via letsencrypt
portainer.redacted.com -> portainer:9000
edge-portainer.redacted.com -> portainer:8000

Attempted to setup a new edge agent on a new ec2 instance, setting the new "Portainer tunnel server address" to  https://edge-portainer.redacted.com

Used the new EDGE_ID, EDGE_KEY to configure the new edge ag

[2022-10-09 05:34] huib-portainer commented on #6251
The edge connection will use TCP yes (by using the Chisel library).

[2022-10-09 08:22] HeinzSchmidt opened #7823 "Browse button on Volume Info page"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When Portainer Agent is installed, a 'Browse' button is available on the page that lists the Volumes.
It would be very useful if that 'Browse' button was also available on the Volume Info page.
That would allow for a user to click on a container, view it's volumes, click on a specified volum

[2022-10-09 10:13] vflorian2000 commented on #6251
I don't have a test environment so I don't see myself trying the pr, but
decoding the key with a base64 decoder, setting the second address to the
https edge endpoint and encoding again in base64 solves the problem and It
works flawlessly. This means to me, that it does work over https, if you
specify.

*Regards / Üdvözlettel:*

*Vámosi Flórián Balázs*

ügyvezető

tel: +36703680088

*Ultimate Wate

[2022-10-09 17:01] KES777 opened #7824 "Display all available IP adressess"
**Is your feature request related to a problem? Please describe.**
I have a service with two networks:
[code]
When this container is displayed the IP address from `otm-net` is not visible:
![image](https://user-images.githubusercontent.com/799021/194769822-fed97697-1725-401f-839f-e1e994dfce0a.png)

**Describe the solution you'd like**
Would be nice to see IPs for each network, probably with corres

[2022-10-09 17:46] KES777 commented on #7018
@paulens12 Hm... Portainer already builds images if I provide link to repository with docker-compose.yaml which refers Dockerfile.

Why it is not possible to build and run when I just upload single Dockerfile?

[2022-10-09 17:49] paulens12 commented on #7018
that's interesting, I didn't know you could do that... anyway, it can't just build a Dockerfile if you upload it as a single file because it lacks the build context. That workflow would also prevent you from updating the container when you make updates to your Dockerfile and/or build context. Providing a git repo with a Dockerfile and the right build context is more feasible, but even then it feel

[2022-10-09 19:00] tamarahenson commented on #7815
@bensmithy123

Thank you for the updates.  I am glad to hear this has been resolved and you are able to move forward.

Thanks!

[2022-10-09 19:04] bensmithy123 commented on #7815
@tarmacx might still be having issues? Apologies for hijacking the thread and making it appear resolved!

[2022-10-09 20:09] WaysonWei opened #7827 "Auto detect ingress classes in the environment"
As an administrator, I want each ingress class (and hence the ingress controller which that class names) for a cluster (environment) detected in Portainer, so I don’t have the bother of manually setting them

[2022-10-09 20:10] #7827 closed, assigned to nobody

[2022-10-09 21:44] WaysonWei opened #7828 "Remove ingress management from Application add/edit screen"
As a user, I will no longer manage ingresses in the Application details screen, as there is too much complexity and it makes sense to have separate ingress management screens

[2022-10-09 21:45] #7828 closed, assigned to nobody

[2022-10-09 22:50] WaysonWei opened #7829 "Docker standalone rebuild info text"
As a user with a Docker standalone environment, I want to know how to specify a rebuild of images on redeploy of a stack pulled from Git (now that a version of Docker Compose that supports this is included with Portainer), so the latest are included in the stack

[2022-10-09 22:52] #7829 closed, assigned to nobody

[2022-10-10 02:49] WaysonWei opened #7832 "Improve ingress options on the cluster setup page"
As a user, I want the option to define ingresses without having to turn on ingress controllers per namespace, and also I don’t want to set hostnames and annotations at the namespace level, as it’s currently too disjointed

[2022-10-10 02:50] #7832 closed, assigned to nobody

[2022-10-10 08:31] KES777 commented on #7018
With Dockerfile it could be possible to build in empty context, eg. some folder created by portainer. There is no much differences for portainer: run `docker compose up` or `docker build`. How it would be useful, let it up to user.

Anyway it could be implemented via setting up environment variable, like it was done for stack:
![image](https://user-images.githubusercontent.com/799021/194826565-012

[2022-10-10 08:33] kwilliams1987 commented on #3572
When using this approach I get the following error (Raspberry Pi 4):

`OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "/bin/sh": stat /bin/sh: no such file or directory: unknown`

Any suggestions?

[2022-10-10 08:34] ghost commented on #7725
I am also having this issue as well with both default and a specific GPU.

Docker version 20.10.12, build e91ed57
Platform: TrueNAS Scale (Debian 11.2)

[2022-10-10 10:31] HomelabHaven commented on #6555
I lack the expertise to help but I will support you all the way! 😄

[2022-10-10 13:15] navilg commented on #5796
Add COMPOSE_PROFILES environment variable with its value as profile name. It works.

[2022-10-10 13:45] hra42 opened #7834 "Portainer Docker Stacks with VCS"
I deploy a lot of stacks directly from the VCS, with the recent change in the repository default branch (switch from master to main), I think it would be approprieted to use the the main branch instead of master in the Repository reference

![image](https://user-images.githubusercontent.com/44985923/194880335-f6b195d6-1df1-4427-9121-fee94b98a1a5.png)

At least give us the option to change the defa

[2022-10-10 21:01] i3p4 opened #7837 "Not available for blind users."
Hi guys!
A good project, but unfortunately not fully accessible to blind users.
We use screen readers like nvda.
Some checkboxes and pop-ups are currently unavailable.
Because of this, for example, it is impossible to make a choice in the settings, or delete, or reload the container.
Please add the necessary changes.
Thanks!

**Technical details:**

- Portainer version: CE 2.15.1
- Platform (windo

[2022-10-10 22:27] tamarahenson commented on #7837
@i3p4

Thank you for the information.  I am going to follow up on this.  I will update you as I learn more.

Thanks!

[2022-10-10 22:56] tamarahenson commented on #7818
@Rod-O

Can you provide the following:

[1] Portainer CE or BE?
[2] Which Environment type?
[3] Screenshots

Thanks!

[2022-10-10 23:20] WaysonWei opened #7838 "Need update docker compose from 2.9.0 to 2.10.2"
As compose 2.9.0 introduce a potential breaking change. We need to update Portainer and Agent to v2.10.2  to fix it.

[2022-10-10 23:21] #7838 closed, assigned to nobody

[2022-10-10 23:25] WaysonWei opened #7839 "Has ingress menu option to manage ingresses"
We should have an ingress page for ingresses management purpose in portainer.

[2022-10-10 23:26] #7839 closed, assigned to nobody

[2022-10-11 00:11] WaysonWei opened #7842 "Allow creation of Kubernetes secrets with types beyond Opaque"
As a user, I want to be able create secrets of types other than Opaque, so I can later use specific types in certain circumstances (e.g. when selecting a TLS secret for an ingress using TLS)

[2022-10-11 00:11] #7842 closed, assigned to nobody

[2022-10-11 00:13] WaysonWei opened #7843 "Add TLS/HTTPS support to ingresses"
As a user, I want to be able to set up an ingress using TLS/HTTPS rather than just HTTP, so my application supports secure requests

[2022-10-11 00:15] #7843 closed, assigned to nobody

[2022-10-11 07:09] aecoapi opened #7844 "gpu option not found"
I couldn't find **gpu add** button in the "environment".

I have server 2EA,
one server have gpu add button.
but another server not have gpu add button.

The difference between the two servers is the type of gpu.
Docker (20.10.17) and container (2.15.0) versions are the same.

Where can i find the gpu add button??
![image](https://user-images.githubusercontent.com/93747687/195019761-0be5ddb0-50f6-

[2022-10-11 07:27] Phizicks commented on #7770
I have multiple IP addresses assigned to the machine though.

[2022-10-11 07:31] samdulam commented on #7770
If you leave the `Public IP` field blank in the environment config, the published ports link should take you to the IP address used in the port config.

[2022-10-11 07:32] Phizicks commented on #7770
ah sorry, misread. just checked, thanks, works. I had to set it before due to other reasons but that is now resolved. I don't need it.

[2022-10-11 09:03] flixr commented on #6846
At the very least don't force existing users to change the password...

JB ***@***.***> schrieb am Mo., 9. Mai 2022, 18:42:

[2022-10-11 09:52] modem7 commented on #3572
Make sure to use the alpine tags (e.g. portainer/portainer-ee:alpine). Their normal tags are based on scratch which doesn't have a shell, much less things like wget.

[2022-10-11 11:57] tarmacx commented on #7815
No I still get the same error.
I also have an othe rissue that may be related ? I upgraded from 2.12 and my edges devices are not showing un the "Edge Devices" section. But they do show in "Environments"

[2022-10-11 14:00] lafriks commented on #7814
Here is how we use it:

Docker Swarm
[1] User: test >> Standard User
[2] Create Stack
[3] Go to stack service
[4] Create webhook for service (not possible with latest version)

![portainer-service-no-webhook](https://user-images.githubusercontent.com/165205/195111809-cf157ac0-b90b-4af7-999d-01cc2ad19487.gif)

[2022-10-11 16:31] rajeshisnepali commented on #5218
same here.

I use `--sslcert /certs/portainer.crt
      --sslkey /certs/portainer.key
      --tunnel-port 45002`
[code]

[2022-10-11 18:59] tamarahenson commented on #7844
@aecoapi

Thank you for the information.  This is a known issue that has been logged internally.

The resolve is to update via the API.  For my example, I am using `httpie`

[code]

Thanks!

[2022-10-11 19:52] eturcott opened #7849 "CVE issues reported by Prisma Cloud for portainer and agent"
CVE issues reported by Prisma Cloud

Hi,
The corporation scanner report the following CVE:
CVE-2019-16276	kompose, for: go, version: 1.13
CVE-2019-16884	kompose, for: github.com/opencontainers/runc, version: v0.1.1
CVE-2019-17596	kompose, for: go, version: 1.13
CVE-2020-16845	kompose, for: go, version: 1.13
CVE-2020-28362	kompose, for: go, version: 1.13
CVE-2020-28366	kompose, for: go, version: 1.

[2022-10-11 22:44] tamarahenson commented on #7821
@stwalkerster

Ingress is a system network created by Swarm.  It is reserved by Docker for docker use.  If Swarm is not enabled, and you create a network called ingress on a Docker Standalone, Portainer will assume it is a Swarm one, and will mark it as System.

You can create a Network using the name Ingress; however, you will have to manually delete via the `docker network rm` workaround for now

[2022-10-12 01:35] yi-portainer commented on #7849
Hi @eturcott, thanks for the report. The issues above are related to the embedded tools used in Portainer, which we update regularly along with the go used to compile Portainer. The only exception is Kompose, which has more CVEs in newer versions. Its usage is very limited in Portainer only for docker-compose file to k8s manifest transformation, and we have a plan to fix these CVEs as well in futu

[2022-10-12 01:57] dolorain opened #7856 "Conainer list add network column"
as the title

[2022-10-12 11:47] eturcott commented on #7849
Hi @yi-portainer,

thanks for the quick answer, the answer is most helpful in the sense that you are keeping updating the product. CVE's start to get a lot of attention regarding installed products regardless if it's a direct threat or just a uses library to compile.

Regards

[2022-10-12 14:31] tarmacx commented on #7815
Can someone try to give me at least a starting point to explore further a solution to this ?

[2022-10-12 15:46] ghost opened #7858 "[openldap] connect LDAP to teams and groups"
Hello dear community!

Portainer CE deployed on Kubernetes cluster via Helm.

LDAP parameters:

![image](https://user-images.githubusercontent.com/89127595/195386448-99079f5a-e930-4ded-924e-dbbe1dbb9b79.png)

![image](https://user-images.githubusercontent.com/89127595/195386528-eff5ef52-68b1-4275-b86c-6957ee62b080.png)

I have working LDAP for user authentication (connection and login works).

I s

[2022-10-12 22:22] hctrr opened #7859 "GitHub Repo compose file - error with stack.env"
**Bug description**
the compose file works if I leverage Portainer's Stacks -> Web Editor route with the env loaded.
The error/bug happens when attempting to deploy the same compose file via Portainer's Stacks -> Repository option.

![image](https://user-images.githubusercontent.com/15852711/195457019-d22ab5f6-c95b-4015-aff2-874b52530e41.png)

**Expected behavior**
to deploy the compose file lever

[2022-10-12 23:44] #7849 closed, assigned to tamarahenson

[2022-10-13 02:46] dograt opened #7860 "Simply trying to launch portainer on Windows 10. What am I missing?"
Hi all. I just installed docker desktop and am trying to get portainer up and running. Here is the batch script that I am using to do so:

`docker volume create portainer_data
docker run -d -p 3040:9000 --name portainer --restart=always -v portainer_data:/data portainer/portainer -v \\.\pipe\docker_engine:\\.\pipe\docker_engine`

However, I get an "Unable to connect" error, implying that portainer

[2022-10-13 03:36] samdulam commented on #7860
Are you using Docker Desktop with WSL or Windows Container Service?

[2022-10-13 03:52] dograt commented on #7860
The former I believe! I had to install WSL manually, otherwise docker wouldn't start at all.

[2022-10-13 04:27] tamarahenson commented on #7815
@tarmacx

We are working on reproducing this issue.  I will update you as I learn more.

Thanks!

[2022-10-13 04:39] samdulam commented on #7815
@tarmacx
docker compose does not like CAPS in the name. Does this happen when you use all lower case for your stack name.
Docker Swarm stacks do not have this issue.
We need to add a warning message for invalid characters like we do normal stacks.
![image](https://user-images.githubusercontent.com/58716812/195503542-d9d96de8-dd92-4548-b644-4fd28deca671.png)

We do append `edge_` to the stack name.

[2022-10-13 04:46] samdulam commented on #7860
`\\.\pipe\docker_engine:\\.\pipe\docker_engine` is for windows containers ony.
Use the instructions for [Docker Desktop + WSL](https://docs.portainer.io/start/install/server/docker/wsl)

[2022-10-13 04:56] dograt commented on #7860
🙇

[2022-10-13 04:56] #7860 closed, assigned to nobody

[2022-10-13 04:57] samdulam commented on #7813
We only hide the internal authentication and do not completely disable it. You can still login using the local admin (only) user via API and `<portainer_url>/#!/internal-auth`. This is required for a break-glass scenario when external-auth doesn't work for whatever reason.

[2022-10-13 05:41] dolorain commented on #3410
+1

[2022-10-13 07:44] dokeraj opened #7861 "Add endpoint that retrieves info for the current user"
**Is your feature request related to a problem? Please describe.**
When I'm using api key to access my Portainer, I need a way to get back the username of the user that is currently using the Portainer API.

**Describe the solution you'd like**
Please add new endpoint in the `users` section of the Portainer API called `users/me` which would return the same data as the endpoint _Inpect a user_ `use

[2022-10-13 09:21] #7856 closed, assigned to nobody

[2022-10-13 15:40] Rod-O commented on #7818
[1] CE
[2] Docker
[3]
[image: image.png]

On Mon, Oct 10, 2022 at 6:56 PM Tamara Henson ***@***.***>
wrote:

--
*Rod.O*

[2022-10-14 08:42] Phizicks commented on #7770
When leaving the Public IP empty, I then get the 0.0.0.0:{port} links instead of the host address. how do I fix that?

[2022-10-14 09:41] samdulam commented on #7770
No fix for that. Either use the public IP which overrides the specific IP assignments when clicking the link or leave it blank which breaks it for all the others.

I'll mark this as an enhancement request with low priority.

[2022-10-14 10:04] tamarahenson commented on #7818
@Rod-O

Your image did not come thru.  Can you detail the steps on how you updated your TLS certs?  If you could provide the steps you took, would help better understand the issue and what happened.

Thanks!

[2022-10-14 10:19] glauberferreira commented on #6339
+1

[2022-10-14 10:34] bm2ilabs commented on #6555
I need this bash script to get all docker compose files and than use duplicati to store them in backblaze

[code]

[2022-10-14 10:40] tamarahenson commented on #7814
@lafriks

Thank you for the additional information.  I see here you are in CE and I was testing in BE hence the confusion.  I am going to further investigate.  I will update you as I learn more.

Thanks!

[2022-10-14 10:53] lafriks commented on #7814
@tamarahenson it's just demo instance I did set up but shouldn't standard user rights behave same on both CE and BE?

[2022-10-14 11:26] aardvarkl commented on #6555
Ditto

[2022-10-14 13:03] tarmacx commented on #7815
I did not have this issue before upgrading:
![image](https://user-images.githubusercontent.com/13239306/195853679-b3d50f6c-5a88-4ee9-9069-246215e20693.png)

[2022-10-14 15:01] No0Vad commented on #1371
I've also noticed different values are reported, for me it's the RAM.

docker stats on the container gives me this:
![DockerStats](https://user-images.githubusercontent.com/9308455/195878466-9bef06fa-ab85-4400-bb3e-87a20f0b71b4.png)

Inside Portainer this is reported
![PortainerStats](https://user-images.githubusercontent.com/9308455/195878476-d6f0c324-6f30-4e0f-bc70-b40cf3a51d96.png)

If I instal

[2022-10-14 16:09] sbellver opened #7863 "Container using wrong image"
**Bug description**
I create a container with a private AWS image
When i enter in container i can see "tecneca" image is applied.

<img width="971" alt="image" src="https://user-images.githubusercontent.com/8066456/195891082-d974ee6b-240e-4fdc-bf8f-1be75bec6368.png">

But if i enter in container, i can see "Devel" image are being used

<img width="411" alt="image" src="https://user-images.githubus

[2022-10-14 16:11] mstenz commented on #7765
having that feature coming back for me is also very important. we are running portainer behind an external SSO solution in front of portainer and in fact, the portainer application doesn't work currently with such type of szenario (means the login fails with 401 even if you enter the correct password - there are issues with this here in masses about this problem), and only removing the internal au

[2022-10-14 19:28] gamegine commented on #1616
Hi, a solution is to combine the different template repositories before sending them to Portainer
for that you can use this https://www.technorabilia.com/portainer-tools-merge-and-host-app-template-definitions/

[2022-10-14 20:01] budiprihhastomo opened #7864 "Update configFilePath or Entrypoint of cloned git repository by HTTP Request API"
Use Case (delete as appropriate): Using Portainer in a Commercial setup.

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
I need to update the config File Path or Entry Point of a Compose File cloned using git repository.
More specifically, it is done via an HTTP Request to the API.
I've read the technical documentation and api documentation, but haven't found

[2022-10-14 21:46] tamarahenson commented on #7863
@sbellver

Can you share your image code that I can test with?

Thanks!

[2022-10-14 22:58] tamarahenson commented on #7858
@ox7a59

Here are the steps I took to grant access to my Environment while on OpenLDAP:

[1] OpenLDAP >> Group:dev >> User:portainer
[2] Portainer >> Settings >> Authentication >> LDAP >> Custom
<img width="1578" alt="Screen Shot 2022-10-14 at 3 38 31 PM" src="https://user-images.githubusercontent.com/20426210/195953810-c42a26f2-4bf6-4d94-b47c-6198bf2fa89a.png">
[3] Login as portainer >> verified

[2022-10-15 00:01] bverkron opened #7870 "Feature Request: Global environment variables"
**Is your feature request related to a problem? Please describe.**
When I need to use the same environment variable in several stacks it's annoying to have to re-define and populate that variable in each stack individually. It's additionally frustrating when that variable needs to be changed and I have to go into each separate stack to change it. I'm human and I can miss some or make mistakes. :)

[2022-10-15 00:22] bverkron commented on #7870
https://github.com/portainer/portainer/issues/7474 might be related development wise. Global variables, if implemented, should work in conjunction with "local" variables at the stack level and one should not override the other.

[2022-10-15 06:27] ghost commented on #7858
@tamarahenson thanks a lot for the answer!

Could I add users to LDAP, and do not add each user to team in Portainer?

I mean, could I use LDAP for managing users in team? E.g. grant team (from Portainer - but name is equal to LDAP group) access to env. So I can login from any user from this LDAP group to Portainer so the access to env would be available?

I do not know, if this possible in Portai

[2022-10-15 07:09] sbellver commented on #7863
I have one image base and another docker file with change some info

BASE
[code]

Then, I extend this base for each customer

[code]

It's estrange, because if I recreate the image it becomes from devel template; but if I delete it and create again, it works.

Seems like it crossed the images in the current container

[2022-10-16 12:10] lcsfox opened #7872 "Can't associate stack"
I had to remove one of my Edge environments due to some internal network changes and add it again after.
After adding the env back to Portainer I can access it just fine, but all stacks are listed as Orphaned while all containers are up and running.
I know this is normal behavior and I have to re-associate the stacks again, but when I open any of the stacks I get "Failure Unable to retrieve stack

[2022-10-16 21:11] pedroluiznogueira opened #7873 "Support to lock/forbid a stopped container to be deleted."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I haven't been able to find a specific feature to do that, it is possible to it but not directly as a feature itself:

- I want to be ab

[2022-10-17 00:33] jamescarppe commented on #7873
Closing as duplicate of #6860

[2022-10-17 00:33] #7873 closed, assigned to nobody

[2022-10-17 01:36] jamescarppe commented on #4977
In 2.15.1 we made this feature available to both Business Edition and Community Edition. As such, I'm closing this ticket.

[2022-10-17 01:36] #4977 closed

[2022-10-17 01:43] jamescarppe commented on #7676
You'd probably just want to set the `restart` option on your stack to `always` or something suitable, so that it comes up automatically when the VM restarts. No need to have Portainer do this for you, instead have the orchestrator do it.

[2022-10-17 01:53] jamescarppe commented on #637
With significant UI changes since this was last discussed this issue should now be well and truly resolved. Closing the ticket.

[2022-10-17 01:53] #637 closed

[2022-10-17 02:01] jamescarppe commented on #355
This is now done as part of our release cycle.

[2022-10-17 02:04] jamescarppe commented on #696
This feature was released as part of Portainer Business Edition.

[2022-10-17 02:04] #696 closed

[2022-10-17 02:07] jamescarppe commented on #710
User roles implements the functionality to limit access to start/stop/kill actions (for example, the read only user role). In terms of the disabling of password changes, this is not something we would be looking to implement in the future, and for centralized user management to this degree we'd recommend using an external authentication provider where these policies can be set.

[2022-10-17 02:07] #710 closed

[2022-10-17 02:09] jamescarppe commented on #730
The App templates functionality provides the ability to create a template from a stack, and this is our recommended approach here rather than directly from services.

[2022-10-17 02:09] #730 closed

[2022-10-17 02:11] jamescarppe commented on #785
We have added the ability to search and filter the environment listings within Portainer, so this should solve this issue.

[2022-10-17 02:11] #785 closed

[2022-10-17 02:15] jamescarppe commented on #738
This issue has been resolved but it looks like this ticket was never closed.

[2022-10-17 02:15] #738 closed

[2022-10-17 02:17] #821 closed

[2022-10-17 02:26] jamescarppe commented on #986
This is an issue with Docker not supporting symlinks reliably rather than an issue with Portainer. We have mentioned the workaround for Let's Encrypt [in our documentation](https://docs.portainer.io/advanced/ssl).

[2022-10-17 02:26] #986 closed

[2022-10-17 02:33] jamescarppe commented on #1073
We have disabled the checkbox for the `portainer` container which should resolve this issue.

[2022-10-17 02:33] #1073 closed

[2022-10-17 02:37] jamescarppe commented on #1057
`host` is now an option from the Network dropdown when creating a service.

[2022-10-17 02:37] #1057 closed

[2022-10-17 02:41] jamescarppe commented on #7819
Closed as a duplicate of #1616.

[2022-10-17 02:41] #7819 closed, assigned to nobody

[2022-10-17 02:47] jamescarppe commented on #1940
For the container, we have disabled the start/stop/kill/etc functions for the Portainer container in the UI. This is a bit harder for the volume and image however, so those still need work.

[2022-10-17 02:58] #2759 closed

[2022-10-17 03:02] jamescarppe commented on #3142
We now display the Agent version in the list of environments, and we also provide additional build information for the Portainer Server by clicking on the version number in the bottom right.

[2022-10-17 03:02] #3142 closed

[2022-10-17 03:04] jamescarppe commented on #3055
We have extensively reworked the home page to implement search and filtering - hopefully these additions solve this issue.

[2022-10-17 03:04] #3055 closed

[2022-10-17 03:05] jamescarppe commented on #3044
We have added support for multiple Docker Hub registries, so I'm closing this issue.

[2022-10-17 03:05] #3044 closed

[2022-10-17 03:08] jamescarppe commented on #3331
This should now be achievable with the `/stacks/{id}/start` and `/stacks/{id}/stop` API endpoints (see the [documentation](https://app.swaggerhub.com/apis/portainer/portainer-ce/2.15.1#/stacks/StackStart)).

[2022-10-17 03:08] #3331 closed

[2022-10-17 03:14] #3909 closed

[2022-10-17 04:15] tamarahenson commented on #7872
@lcsfox

This is a known issue that has been internally logged.  This is scheduled to be resolved in 2.17.

The workaround:
[1] Downgrade to 2.14.2 >> Associate >> Stacks now in Control:Total
[2] Upgrade back to 2.15.1

Thanks!

[2022-10-17 06:46] FrendaWinter opened #7876 "[UI/UX] The letters overlap when the last output is too long"
**Bug description**
When the last output is too long, the left column letters overlapping

**Steps to reproduce:**
1. Deploy container
2. Check container info

**Technical details:**
- Portainer version: 2.15.1
- Platform: Windows 11
- Browser: Firefox/Edge

**Expected behavior**
The left column letters do not overlap

![image](https://user-images.githubusercontent.com/84429981/196105749-b97467c0-

[2022-10-17 07:17] GAS85 commented on #355
I think that it misunderstood. Point is to check docker images managed by Portainer, but not Portainer image itself. So it has nothing to do with release cycle, CICD.

[2022-10-17 07:43] jamescarppe commented on #355
Yes, you're quite right - sorry about that. I believe there's another issue open around this, but I'll reopen this in the meantime until I find that to merge with this.

[2022-10-17 07:51] jamescarppe commented on #4800
This issue was resolved with the password complexity changes.

[2022-10-17 07:51] #4800 closed

[2022-10-17 07:51] jamescarppe commented on #4698
This should have been solved with the new look UI.

[2022-10-17 07:51] #4698 closed

[2022-10-17 07:54] lorenz-esch-bl commented on #7676
I see, but in this case the Stack would not be started from within Portainer and I end up with limited control. I would like to have the stack started automatically from within Portainer so that I have full control over the running stack and can, e.g, update docker images.

[2022-10-17 07:56] jamescarppe commented on #7676
If you created the stack within Portainer in the first place, and configured it with `restart` set to `always`, it would start up when the VM is restarted and since it was _created_ within Portainer, you would retain full control of it.

[2022-10-17 07:58] jamescarppe commented on #5158
In 2.14 we moved to docker compose V2, which should resolve this issue. In addition, we've put in place a task on each release to keep our third party binaries more up to date in the future.

[2022-10-17 07:58] #5158 closed

[2022-10-17 08:01] lorenz-esch-bl commented on #7676
hmm I tried using `restart` with `always` but it did not work. Will give it a try again, maybe I missed something. Thanks!

[2022-10-17 08:01] jamescarppe commented on #5373
We now display the version of the agents on the dashboard for each environment, and we're currently working towards remote agent updating.

[2022-10-17 09:06] BlaiseDee opened #7877 "API in create adds excess double quotes"
Portainer Community Edition 2.15.1

When I use the 'create' API with the body content as below (headers and auth are correctly configured), result is, the CMD content is wrapped in single quotes, so the nmap command does not execute properly because looks like that:

`$ nmap '-A -T4 192.168.1.5 -oX /data/result.xml'`

instead:

`$ nmap -A -T4 192.168.1.5 -oX /data/result.xml`

Details:

URL: https

[2022-10-17 13:43] gamegine commented on #7769
[#1616](https://github.com/portainer/portainer/issues/1616) Multiple External Templates
https://www.technorabilia.com/portainer-tools-merge-and-host-app-template-definitions/

[2022-10-17 16:51] tamarahenson commented on #7858
@ox7a59

Upon setting up Portainer with OpenLDAP:

[1] User logs into Portainer
[2] User is now showing in Users as <user>:LDAP
[3] You will need to manually add User to Team

Thanks!

[2022-10-17 17:33] ghost commented on #7858
@tamarahenson understand, so Portainer do not support what I want.
Thanks a lot for the help!

[2022-10-17 18:53] LostOnTheLine commented on #6722
can't this just be solved with a `depends_on:` variable?

I'm looking for something else & saw this without an answer that seems pretty obvious to me...

Say you have the containers named `grafana` + `emulatorpi` + `mosquitto` that you all want to start before NGINX. In your compose file you just need to have
[code]
then it shouldn't start `nginx` until after all those have started.

If you want t

[2022-10-17 19:07] tamarahenson commented on #7877
@BlaiseDee

I wanted to confirm this is the body of the .yml file in your API command?

[code]

Is CMD called out in the image Dockerfile?

Thanks!

[2022-10-17 19:26] BlaiseDee commented on #7877
This is exactly what has worked for me now.

[code]

Please note the way I wrote "Cmd" each parameter as a separate item in the array

    "Cmd": [
        "-A",
        "website.com",
        "-oX",
        "/data/result.xml"
    ]

instead:

[code]

And this is how it works, but when cmd is not split into individual elements, the command does not execute.

I think you can close this issue, it is

[2022-10-17 20:17] tamarahenson commented on #7877
Thank you for the update.  I am glad to hear you are able to move forward.  And, noted.

Thanks!

[2022-10-17 20:17] #7877 closed, assigned to tamarahenson

[2022-10-17 20:54] b-kamphorst opened #7881 "bug: incorrectly parsed .env file (dollar sign)"
**Bug description**
Environmental variable from .env file is incorrectly parsed. Specifically, I create a Docker stack from a compose file within a private git repository, which contains an `.env` file (in git subdirectory) with the following line:

`POST_UP="ip -4 route add $(wg | awk -F'[: ]' '/endpoint/ {print $5}') via $(ip route | awk '/default/ {print $3}')"`

This worked fine until I update

[2022-10-18 04:52] samdulam commented on #7858
@ox7a59
It is possible to have Portainer auto add LDAP users to right Teams based on LDAP group info.
Check out this[ video on how to configure this ](https://www.youtube.com/watch?v=l2pOP9syo7g), though video is done on an older version of Portainer, concept is the same.

[2022-10-18 06:31] ghost commented on #7858
@samdulam as I shown in root of issue, I cannot get it working following video. Could you check my parameters and help a bit?

[2022-10-18 06:49] samdulam commented on #7858
The only way I was able to get it working is by using a different kind of group. PosixGroup didn't work, groupofnames did.

[2022-10-18 09:05] strgalt-t opened #7887 "Portainer no longer showing Containers under the container Tab"
Hello everyone,

if I visit the container tab in my stack, the tab is empty and doesn't display anything.

---
<img width="1370" alt="Bildschirmfoto 2022-10-18 um 10 57 42" src="https://user-images.githubusercontent.com/32090308/196385617-bcc9ed29-dc73-4e38-967c-206d7f17dcde.png">

I can access the containers though if I do a workaround where I:
1.  go to the network tab
2. pick the network the co

[2022-10-18 13:33] chitter99 commented on #5300
@jamest-portainer Any news on that?

[2022-10-18 14:45] amirhmoradi commented on #7725
Same issue here:
<img width="353" alt="Screenshot 2022-10-18 at 16 43 38" src="https://user-images.githubusercontent.com/1281163/196463112-99738876-4f53-4d44-be69-2695985d952c.png">

Is triggered by the following section (from b
<img width="441" alt="Screenshot 2022-10-18 at 16 44 34" src="https://user-images.githubusercontent.com/1281163/196463409-13e14b21-7551-49df-aed0-92ef10a3cfb2.png">
rowser

[2022-10-18 14:47] Subtixx commented on #6555
Since the S3 Backup feature is not included in the open-source version there's nothing to do except reimplement the whole s3 backup solution. Was willing to give a shot and add it to portainer but saw that unfortunately portainer BE is not open-source.

[2022-10-18 14:51] ghost commented on #7858
@samdulam but I cannot split access to groups?
for example devops group can access everything, team1 can access only ns team1?
thanks you

[2022-10-18 16:41] aardvarkl commented on #6555
Ahh, now that would be a problem

[2022-10-18 19:58] tamarahenson commented on #7887
@strgalt-t

Can you open in your browser the Web Developer Tools >> Network and attach that screenshot for review?  Can you expand any errors you find?  You may also need to refresh the browser, remove cookies and browser data.  Can you try opening in a private or incognito window?

Thanks!

[2022-10-18 20:30] jtraxy commented on #5300
2.16 - with TLS support for ingresses - is being release tested at present and should be pushed out very soon.

[2022-10-19 02:13] jtraxy opened #7892 "Adding a Helm repo that has a redirect fails"
**Bug description**
Adding of a Helm repo that has a redirect fails.

**Expected behavior**
The Helm repo should be added without error, even if it has a redirect.

[2022-10-19 02:14] #7892 closed, assigned to nobody

[2022-10-19 05:29] budiprihhastomo commented on #7864
I think I got the answer, that it can't be done, especially when it's already detached from the git repository.

I will close this question. Thank you

[2022-10-19 05:29] #7864 closed, assigned to nobody

[2022-10-19 06:47] tamarahenson commented on #7858
@ox7a59

Can you join our Community Slack here:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

And, we can continue the troubleshooting.  Please include the screenshots and steps taken that we have discussed.

Thanks!

[2022-10-19 07:23] strgalt-t commented on #7887
@tamarahenson Thank you for your fast response!

These are the results using Portainer inside an incognito window on the latest version of Microsoft Edge. I've also tried accessing it with Firefox, but it yielded the same results.
![Portainer_Edge_2](https://user-images.githubusercontent.com/32090308/196623797-bf08aa24-c697-4d86-b0ef-933305b5a3ba.png)
![Portainer_Edge_1](https://user-images.github

[2022-10-19 08:24] ghost commented on #7858
@tamarahenson i do not need in this, just because Portainer do not give things i need

[2022-10-19 08:24] #7858 closed, assigned to tamarahenson

[2022-10-19 12:48] lucasomoura opened #7897 ""work around" if error on mapping volumes"
friends good morning,

First Apologies for Google English

I have here a STACK where my container will map N volumes when it goes up

one problem is that on the physical machine these volumes are network drives

it is expected that from time to time some of these units will not be available

the problem is that when this happens, if the container is restarted, it will give an error when mapping th

[2022-10-19 13:29] Lowxorx commented on #4301
Hello, there is no option to trust self-signed certificates? Same bug here.

[2022-10-19 19:45] tarmacx commented on #5218
Same here
The Portainer standalone report:
[code]
And the edge agent reports
[code]
Using traefik with 3 endpoints. One on 8000 and ui on 443 and 80
Using 2 services manually defined and 2 http routers. I tried tcp routers but achieved similar issues

[2022-10-19 21:54] puccaso commented on #1714
although this works, when I try this in a docker-compose.yml, I get a 'no bind mounts' error. runs via cli though,

[2022-10-19 23:18] UnconventionalMindset commented on #7769
@gamegine Thanks! Nice solution. It would still be nice to have it on portainer tho, wouldn't it?

[2022-10-19 23:48] UnconventionalMindset commented on #7768
![image](https://user-images.githubusercontent.com/11658632/196825227-10eee650-74db-4e9b-b101-fa6bc567655d.png)

[2022-10-19 23:49] UnconventionalMindset commented on #7768
![image](https://user-images.githubusercontent.com/11658632/196825273-ee990622-d047-43e9-9e87-6d186d1ca666.png)

[2022-10-20 00:55] tamarahenson commented on #7863
@sbellver

Thank you for the information.  Can you also attach the following for review:

[1] Navigate to Environment >> Image >> Image ID >> screenshot of the ID (sha)
[2] Navigate to Environment >> Containers >> Select Container >> screenshot of the ID (sha)
[3] Navigate to the Registry >> Select Image >> screenshot of the Image ID (sha)

Thanks!

[2022-10-20 01:32] danielburger1337 opened #7901 "Do not source default .env in git stack deploy when stack.env is used"
Hello,

im trying to host a couple of stacks with portainer but have encountered an issue which seems to be an intendet feature but causes some problems for me.

When I try to host a Symfony app with the stack.env feature and git deploy, the env variables from the default .env file in my repository are added to the container.

Symfonys [documentation](https://symfony.com/doc/current/configuration.

[2022-10-20 05:24] tamarahenson commented on #7887
@strgalt-t

Can you join our Community Slack to further troubleshoot?  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

And, if you could send me a backup of your Portainer in an IM, I can help investigate.

Thanks!

[2022-10-20 06:28] samdulam commented on #7768
@UnconventionalMindset
Thanks for that.
We have some engineering work in the pipeline to improve logging in general across the board. I'll add this into it for consideration.

[2022-10-20 06:56] sbellver commented on #7863
Hi tamara

Finally I remove container and create it again

Now have the correct image

Sergio Bellver Aliaga
Responsable de Proyectos
***@***.***
Skype: sbellver
M. 655 90 31 83

TECNECA Networks, S.L.
Innsomnia, Moll de Ponent Base 2, 46024, Valencia
***@***.***
T. 96 326 81 48

www.tecneca.com

CONFIDENCIALIDAD: El contenido de esta comunicación, así como el de toda la documentación anexa, es co

[2022-10-20 10:16] tamarahenson commented on #7897
@lucasomoura

Can you join our Community Slack here:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

And attach the following so we can assist:

[1] Version of Portainer
[2] Stack Code
[3] Screenshots from Portainer
[4] Logs from Portainer
[5] Logs from Containers

Thanks!

[2022-10-20 11:34] mahareek commented on #2973
O

[2022-10-20 14:00] danielburger1337 commented on #7901
I don't know exactly how portainer works and I dont know much about GO, so a PR from my end is out of the question, but the following code snippet should be the "offending" lines:

https://github.com/portainer/portainer/blob/3f51d077ace829e13f58dfbbbd3729f13d745d55/api/exec/compose_stack.go#L126-L164

Maybe you could add a toggle in the UI to disable the "copyDefaultEnvFile" behaviour.

Another al

[2022-10-20 14:54] bdw429s opened #7903 "Portainer crashes when viewing orphaned stack"
**Bug description**
After updating to Portainer Community Edition 2.15.1 which I'm using to manage a Docker swarm, when I click on a stack which has been orphaned, the Portainer service completely crashes and has to reboot before I can use Portainer again.  Needless to say, I also can't re-associate the Stack either.  But that's probably just because after Portainer reboots, nothing seems to work

[2022-10-20 15:10] danielburger1337 commented on #7901
A simple solution could be as easy as:

[code]

I am not 100% sure about the syntax and the type of "stack.Env[i].Value", but it should work.

A test would be along the lines of:

[code]

Again, I don't know much about GO and am not able / don't know how to test these changes (without relying on your CI to do that for me when submitting a PR).

I really think this is a critical missing feature.

T

[2022-10-20 17:44] alvarogabrielgomez commented on #2791
news?

[2022-10-20 19:42] tamarahenson commented on #7903
@bdw429s

This is a known issue that has been internally logged. I do not yet have a release version.

The workaround:
[1] Downgrade to 2.14.2 >> Associate >> Stacks now in Control:Total
[2] Upgrade back to 2.15.1

Reference:  https://github.com/portainer/portainer/issues/7872

Thanks!

[2022-10-21 02:19] jamescarppe commented on #7901
Hi @danielburger1337 - thanks for the feedback!

We tend to err on the side of following Docker's default behavior, and in this case Docker defaults to using `.env` files in the first instance. The complication arises when Symfony uses the same filename for a different use case and with a custom override hierarchy. We also need to consider the potential impact on existing users' workflows - we can

[2022-10-21 11:32] PeterFokkinga commented on #7793
Same issue when using the Portainer image on a QNAP NAS. QNAP can provide a "virtual network switch" which in effect gives the Portainer container its own IP address. It would be nice to be able to use say http://portainer.lan instead of http://portainer.lan:9000

Starting the container with `-p 80:9000` has no effect.

[2022-10-21 14:47] quentin-legraverend commented on #5839
+1 (v2.15.1CE)

I face the same issue currently but did not invest time yet on searching the reason and a solution. I don't know yet if info will finally appear or not (2 Edge agents deployed few minutes ago).

Update: the 2 Edge Agents finally appeared on UI between 1 and 2 hours later but I don't know yet if the displayed info will stay update to date with a better frequency then.

[2022-10-21 17:58] virtenv commented on #5344
Hello,

I was able to recreate this behavior against Gitea, see porainer logs.

time="2022-10-21T17:53:38Z" level=info msg="Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error mounting \"/data/compose/25/nginx/nginx.conf\" to rootfs at \"/etc/nginx/nginx.conf\": mount /data/comp

[2022-10-21 17:59] virtenv commented on #5344
Hello,

I was able to recreate this behavior against Gitea, see my portainer logs.

time="2022-10-21T17:53:38Z" level=info msg="Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error mounting \"/data/compose/25/nginx/nginx.conf\" to rootfs at \"/etc/nginx/nginx.conf\": mount /data/

[2022-10-21 18:01] virtenv commented on #5344
Hello,

I was able to recreate this behavior against Gitea, see my portainer logs.

time="2022-10-21T17:53:38Z" level=info msg="Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error mounting "/data/compose/25/nginx/nginx.conf" to rootfs at "/etc/nginx/nginx.conf": mount /data/comp

[2022-10-21 18:03] virtenv commented on #5344
Hello,

I was able to recreate this behavior against Gitea, see my portainer logs.

time="2022-10-21T17:53:38Z" level=info msg="Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error mounting "/data/compose/25/nginx/nginx.conf" to rootfs at "/etc/nginx/nginx.conf": mount /data/comp

[2022-10-21 18:04] virtenv commented on #5344
Hello,

I was able to recreate this behavior against Gitea, see my portainer logs.

time="2022-10-21T17:53:38Z" level=info msg="Error response from daemon: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error mounting "/data/compose/25/nginx/nginx.conf" to rootfs at "/etc/nginx/nginx.conf": mount /data/comp

[2022-10-22 02:50] bverkron commented on #4745
@clevelandcs do you recall how you delete the missing stacks via the API? I've run into this issue but the missing stack is not showing as an orphan with this feature: https://github.com/portainer/portainer/issues/4397

<img width="285" alt="image" src="https://user-images.githubusercontent.com/19174503/197315750-88506438-845f-4786-b3ad-f8c873d867bb.png">

<img width="1115" alt="image" src="https:

[2022-10-22 02:56] clevelandcs commented on #4745
@bverkron It's been a while so I don't think I have exactly what I ran hanging around still but I'm pretty sure I just ran some of the examples here particularly the one to get the list of stacks and then the delete example with the ids of the non-existing stacks from that the get command actually does (or did at the time) return unlike the UI.
https://gist.github.com/deviantony/77026d402366b4b43f

[2022-10-22 05:40] navilg opened #7904 "A progress bar or card for upload"
**Is your feature request related to a problem? Please describe.**

When we upload a file (large files) in a docker volume or host, it takes some time to upload and sometime it fails. It seems blind as there is no way we can see the progress of uploads. This feature is for portainer agent which has feature to browse files inside docker volume.

**Describe the solution you'd like**

A pop up card o

[2022-10-22 07:46] KES777 commented on #7018
Error related to this issue:
![image](https://user-images.githubusercontent.com/799021/197327248-e7edce44-469c-4bea-b048-8ca6428568b5.png)

docker-compose.yaml
[code]

File exists:
[code]

[2022-10-22 08:30] KES777 commented on #7018
Hm... Ok. I checked on host machine, but portainer is looking for that path inside container. `portainer`s volume is mounted to XX folder. There I can find: `compose/NN/docker-compose.yml` file, where NN is stack number. I commented out line with `env_file`, deployed the stack, then uncomment line with `env_file` and change it to: `env_file: mailserver.env`. I get error:

![image](https://user-ima

[2022-10-22 08:36] KES777 commented on #7901
If I look into mine `/data/compose/*` files, I can notice that stack folder contains `.env` and `stack.env` files. `stack.env` file contains doubled environment variables.
![image](https://user-images.githubusercontent.com/799021/197329771-469e1366-ac37-4490-87fc-98038d27070c.png)

![image](https://user-images.githubusercontent.com/799021/197329809-cc7b2829-3e76-4861-95f0-4704364f58f3.png)

This s

[2022-10-22 08:51] KES777 opened #7905 "Respect project name from `docker-compose.yml`"
**Bug description**
I have `docker-compose.yml` file which sets up project name. But portainer ignores it and creates stack/network with different name.

[code]

![image](https://user-images.githubusercontent.com/799021/197330197-498e13db-e4b6-4f25-9dea-3f24d6837b15.png)

![image](https://user-images.githubusercontent.com/799021/197330292-6af35b78-e892-4ef4-bc6a-080f04e1d332.png)

![image](https:/

[2022-10-22 09:04] KES777 opened #7906 "Name stack folders by stack name (not stack ID)"
**Is your feature request related to a problem? Please describe.**
https://github.com/portainer/portainer/issues/7018#issuecomment-1287676494

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/799021/197330700-7ff1b0ca-ad9b-4fbd-ad9f-82ea630777e8.png)

Would be nice if folders named like: mail, powerdns. eg. names provided from compose file.

**Describe altern

[2022-10-22 10:03] KES777 opened #7908 "Healthcheck command is not visible"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/799021/197333364-3274bcc8-6566-41fb-b234-8543abb29c96.png)

Page about container status does not show info about used `healthcheck` command.

**Describe the solution you'd like**
This info should be shown:
[code]

[2022-10-22 10:19] danielburger1337 commented on #7901
@KES777 I am pretty sure that this is expected behaviour. Portainer appends the values provided in the UI with (if it exists) the default .env file.

Declaring the same variable is valid syntax and the latest declaration (the one at the bottom, which will be the one declared in the UI) will be the value used and added to the container at runtime.

[2022-10-22 10:37] KES777 commented on #7901
@danielburger1337: ah, ok. So one come from `.env` and one from `UI`. It seems Ok.
But why UI does not notify me then, that `.env` is used?

![image](https://user-images.githubusercontent.com/799021/197334647-832752f8-39dd-4e86-a2d9-6a4ebe5f0664.png)

[2022-10-22 10:44] danielburger1337 commented on #7901
@KES777 This behavior is poorly documented and can break certain applications (like the Symfony framework).

From https://docs.portainer.io/user/docker/stacks/add#option-2-upload

Here, an uploaded .env file is the same as the ones that you defined manually in the UI (because portainer treats them as the same).

I submitted this issue to propose a feature where we can opt-out of this behavior and

[2022-10-22 10:51] danielburger1337 commented on #7901
Hello @jamescarppe ,

thank you for your reply. I can not confirm that docker-compose automatically sources .env files in the same directory as the docker-compose.yml file. They are only sourced when explicitly set as "env_file" in the yml file.

Could you elaborate what you mean by that or maybe show me that part in dockers documentation? I couldn't find it.

I'm using Docker Version 20.10.17 (AP

[2022-10-22 10:54] tobschndr opened #7909 "Ability to set default environment"
As a frequent user, I would be happy to have an ability to **set one default environment to be opened after login**, especially if you only administer one environment. This feature could be added to e.g. the account settings in "My Account".

If I can assist further, please let me know.

[2022-10-22 11:31] Kilthor opened #7910 "portainer"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home, Using Portainer in a Commercial setup.

Have you reviewed our technical documentation and knowledge base? Yes/No

**Question**:
How can I deploy Portainer on... ?
When trying to deploy using portainer image will not connect to local volume. Log simple says listening on port

[2022-10-22 12:06] #7437 closed, assigned to nobody

[2022-10-22 16:35] UnconventionalMindset commented on #7769
Sorry I just saw you linked an issue. So I will close this as duplicated of #1616

[2022-10-22 16:35] #7769 closed, assigned to nobody

[2022-10-22 21:33] kamild1996 opened #7911 "Error 400 while trying to duplicate/edit a Docker container and when trying to start it"
**Description**

I'm trying to update my Docker container, but after stopping it, I am unable to duplicate/edit it because submitting changes results in error 400. I cannot start the container back either. Logs for the problematic container are empty, and the Portainer container logs have following info in them:

[code]

How can I find out what's going on?

**Technical details:**

- Portainer vers

[2022-10-23 09:07] tamarahenson commented on #7905
@KES777

Can you attach your code for review and testing?

Thanks!

[2022-10-23 09:08] tamarahenson commented on #7911
@kamild1996

Can you attach the code for the initial creation and the code for the update you are trying to run for review and testing?

Thanks!

[2022-10-23 11:35] kamild1996 commented on #7911
Sorry, but I'm not sure what do you mean by "code".
The container in question is vaultwarden, which is being pulled from DockerHub. Months ago I created it with Portainer GUI, configured vaultwarden and left it running for months. Now I want to update it to the latest version, so I'm trying to duplicate the container, so it pulls the latest image from DockerHub.

[2022-10-23 17:10] KES777 commented on #7905
@tamarahenson Services are not relevant here.
[code]

[2022-10-23 18:54] rdwebdesign commented on #7911
Looks like your session expired.

Try to login into Portainer again.

[2022-10-23 19:11] kamild1996 commented on #7911
Unfortunately, that's not it, I'm performing actions right after I login into Portainer, and I can continue to browse other parts of Portainer once the error shows up.

[2022-10-23 20:11] arron-paul opened #7913 "failed to deploy a stack: unable to prepare context: path "..." not found"
**Bug description**

Hello. I am using the Portainer Stack feature to deploy a `docker-compose.yml` that has a custom `Dockerfile`.
I have a single host OS that runs Portainer and all of my stacks.

When I run docker-compose, on the host OS, over SSH, whilst being in the same directory as the `docker-compose.yml`, everything works fine. (Docker Compose reads the compose file, reads the .env etc re

[2022-10-23 20:51] #7913 closed, assigned to nobody

[2022-10-23 20:53] arron-paul commented on #7913
Looking through the docs again, the building of images from Dockerfiles on a filesystem might not be available yet whilst using Portainer Stacks.

[2022-10-24 08:45] Ajay-056 opened #7914 "Forgot Password Menu"
**Is your feature request related to a problem? Please describe.**
I forgot my password and I don't see any ways to reset it. I searched in the docs but it says how to change password when existing password is known

**Describe the solution you'd like**
Adding a forgot password menu with security questions or any suitable options

![image](https://user-images.githubusercontent.com/40629789/1974857

[2022-10-24 12:07] #7386 closed, assigned to tamarahenson

[2022-10-24 15:31] tamarahenson commented on #7911
@kamild1996

I am going to continue the investigation in the thread you posted in our Community Slack:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Updates to follow here upon conclusion.

Thanks!

[2022-10-24 17:31] deviantony commented on #7793
You can try to run the portainer container with the following CLI flag `--bind 0.0.0.0:80` (the default value is `--bind :9000`).

Note that the equivalent CLI flag exists as well for https via `--bind-https`.

[2022-10-24 17:59] tamarahenson commented on #7911
Here is the high level overview of the resolution:

[1] To answer the initial question, if no logs are running, run `docker inspect` on the container for errors
[2] This issue here was that the Entrypoint was failing due to being set as `usr/bin/dumb-init --`
[3] Navigate to Containers >> Container >> Edit >> Command and Logging >> set Default

You may run into the following issue with the `vaultw

[2022-10-24 18:04] #7911 closed, assigned to tamarahenson

[2022-10-24 18:06] tamarahenson commented on #7914
@Ajay-056

Here are the instructions:  https://docs.portainer.io/advanced/reset-admin

Please let me know if you need further information or you have questions.

Thanks!

[2022-10-24 18:15] tamarahenson commented on #7910
@Kilthor

Can you please post your issue in our Community Slack for further troubleshooting?  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Please include the `docker run` command you used to install Portainer, the type of environment such as Docker Standalone, Docker Swarm or K8s, screenshots and logs.

Thanks!

[2022-10-24 20:00] Ajay-056 commented on #7914
Why it has to be this way? While simply adding a forgot password menu would be more relevant and people don't have to find this method only in docs.

[2022-10-24 23:23] huib-portainer commented on #7796
Example of the actual use:
![image](https://user-images.githubusercontent.com/77944876/197648214-80ad84bf-09d1-463d-b4f0-e374926f24dd.png)

yaml:
[code]

Select the index.html file and Build the image.

Finally deploy the container with the new image.

[2022-10-24 23:24] huib-portainer commented on #3724
You can add local files and use COPY when building an image: https://github.com/portainer/portainer/issues/7796#issuecomment-1289772553

[2022-10-25 00:40] #7910 closed, assigned to tamarahenson

[2022-10-25 00:45] jamescarppe commented on #7906
Portainer can manage multiple environments from the one interface, and as such there may be multiple stacks across those environments with the same names. We use an internal ID to keep track of the stacks, and since the files in the `portainer_data` volume aren't really intended for direct access by users we use that same ID for the files related to those stacks.

While we could use the stack name

[2022-10-25 01:03] jamescarppe commented on #7905
@KES777 It looks like the `name` property is [relatively new](https://docs.docker.com/compose/compose-file/#name-top-level-element), and [appears to have only been added](https://github.com/docker/compose/issues/1123#issuecomment-1118997906) in compose V2 2.3.0. We've only just moved to compose V2 recently and as such not all features have been fully integrated (especially ones like this that slip

[2022-10-25 01:12] jamescarppe commented on #7914
@Ajay-056

When a user is created in Portainer, there's no information gathered besides the username and the password, as we don't need anything else. As such, there's not a way for us to securely provide a password reset system as there's no way for us to contact the user to verify they are who they say they are. In the case of a lost password, we recommend contacting an admin of your Portainer i

[2022-10-25 01:13] jamescarppe commented on #7909
Closing as duplicate of #7015.

[2022-10-25 01:13] #7909 closed, assigned to nobody

[2022-10-25 05:43] tobschndr commented on #7909
Thank you @jamescarppe - I have overseen this item, or used the wrong search string :)

[2022-10-25 10:51] KES777 commented on #7905
@jamescarppe , Yes, you are right. I agree with that priority.

[2022-10-25 11:24] solairen opened #7918 "Error response from daemon: Client sent an HTTP request to an HTTPS server"
Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Hi,

I have a problem adding a remote environment to Portainer using Portainer API.

In the documentation, there is a step that shows how to add it:

[code]

I've tried it and I have an error:

[code]

I'm using portainer and portainer agent in docker.
All ports are configured:
- 9443
- 8000
- 9001

I've tried Pos

[2022-10-25 14:23] tamarahenson commented on #7918
@solairen

Did you make the changes needed to the command or did you use the defaults?  The IPs will need to reflect your environment.

[2022-10-25 14:56] solairen commented on #7918
Hi @tamarahenson

Yes, i have changed it to my IP adresses and ports.

[2022-10-25 16:01] tamarahenson commented on #7918
@solairen

While testing, I was able to get this to respond.  You will need to make sure that the remote docker daemon is exposed on TCP 2375:

[code]

You can change out the API Key for the Auth Bearer that you created.  Please let me know if this works.

Thanks!

[2022-10-25 17:24] solairen commented on #7918
@tamarahenson

Ok, I am able to connect when I expose Docker Daemon on port 2375.
But, I have another question.

How can I add portainer-agent by API?

Because right now I connected my Portainer to a remote Docker daemon if I understand it correctly.
What I want to achieve is to connect Portainer to another Portainer Agent using API.

From documentation the `EndpointCreationType` is number `2` for

[2022-10-25 18:26] tamarahenson commented on #7918
@solairen

I was able to create an Agent Endpoint via the API:

[code]

Thanks!

[2022-10-25 18:29] Ajay-056 commented on #7914
ok thanks for the explanation

[2022-10-25 18:29] #7914 closed, assigned to tamarahenson

[2022-10-25 18:59] solairen commented on #7918
@tamarahenson

Okay, I have been using it wrong...
I've tried with `TLS` but I've set it to `false`.
Now it works!

Thanks!

[2022-10-25 18:59] #7918 closed, assigned to tamarahenson

[2022-10-25 19:45] #7863 closed, assigned to tamarahenson

[2022-10-25 20:18] WaysonWei opened #7920 "confirmation warning popup is missing for Network, Config and Secret deleting"
When deleting Network, Config or Secret, there is no confirmation warning popup for user to confirmation their deletion as we do for other resources deletion.

[2022-10-25 20:19] #7920 closed, assigned to nobody

[2022-10-25 20:26] WaysonWei opened #7921 "Cannot upload stack file as custom template"
Uploading a stack as a custom template displays a cross mark and a failure toaster

[2022-10-25 20:26] #7921 closed, assigned to nobody

[2022-10-26 03:51] WaysonWei opened #7923 "struct tag is malformed"
The following struct tag is malformed (a blank space between : and the value) This might prevent to be correctly interpreted

[portainer/api/http/handler/templates/template_file.go](https://github.com/portainer/portainer/blob/a0fa64781ae9eb1ea391d300ca9bf937e58c8dbc/api/http/handler/templates/template_file.go#L26)

FileContent string `example: "version:2"`

[2022-10-26 03:52] #7923 closed, assigned to nobody

[2022-10-26 03:57] WaysonWei opened #7925 "Stopped container does not display in dashboard"
Stopped containers are not displaying on the Dashboard, showing 0 stopped container even there is more than 0 stopped container exist.

[2022-10-26 03:59] #7925 closed, assigned to nobody

[2022-10-26 04:15] WaysonWei opened #7926 "Image registry hide button issue"
In dark theme mode, hide button hover effect is not the same as light dark theme in registry page.

[2022-10-26 04:15] #7926 closed, assigned to nobody

[2022-10-26 08:33] ramonsmits commented on #7793
@deviantony Do you know how you can pass this in a docker compose? I think that would be:

    command: --bind 0.0.0.0:80

[2022-10-26 08:51] ghost commented on #7792
Hello @tamarahenson,

has there been progress on this topic?

Many thanks for your feedback.

[2022-10-26 08:58] thomas-rx opened #7930 "All stack orphaned and can't associate them"
**Description**

For a few days now all my stacks have been orphaned and it is impossible to associate them.
Even if I create a new stack, it becomes orphaned some time later.

When I click on associate, nothing happens, just the loading animation.

**Steps to reproduce the issue:**

1. Create stack
2. Wait...
3. Stack becomes orphan

Any other info e.g. Why do you consider this to be a bug? What

[2022-10-26 13:10] KES777 commented on #7906
As workaround `portainer` could setup `$STACK_ROOT` environment variable which will point to stack directory, eg. `~/data/portainer/compose/17` in my case.

[2022-10-26 13:29] KES777 opened #7931 "Can not see deployment failure"
**Bug description**
![image](https://user-images.githubusercontent.com/799021/198038270-51faf05e-fc16-458b-8484-cc14ca6e09cb.png)

**Expected behavior**
Want to see whole error, probably implement 'copy' button, to get whole details

**Portainer Logs**
~~You can see how [here](https://documentation.portainer.io/r/portainer-logs)~~

**Steps to reproduce the issue:**
Try to mount not existing file w

[2022-10-26 14:32] tamarahenson commented on #7930
Related:  https://github.com/portainer/portainer/issues/7872

This is a known issue that has been internally logged. This is scheduled to be resolved in an upcoming release.

The workaround:
[1] Downgrade to 2.14.2 >> Associate >> Stacks now in Control:Total
[2] Upgrade back to 2.15.1

Thanks!

[2022-10-26 15:02] tamarahenson commented on #7792
@yannikhaffke

I do not yet have an update on resolve, but I do have a workaround:

[1] Stop Stack
[2] Delete  `image:tag`
[3] Stack >> Edit
[4] Update the Stack >> Toggle Re-pull image and redeploy

Thanks!

[2022-10-26 15:30] JamesDamour opened #7932 "Portainer server not starting; using NFS for portainer_data volume"
I am unable to start the `portainer:portainer-ce` image in my new Docker Swarm. I am using the Docker YAML file below. I am trying to have the `portainer_data` volume be an NFS directory. the directory "/path/to/portainer" on the NFS server is empty. When I try to start the container the error message is chopped off. When I try to run `docker service logs portainer_portainer` I get back no results

[2022-10-26 15:40] tamarahenson commented on #7932
@JamesDamour

I believe the `volumes:` should look like this:

[code]

Please let me know if the above moves you forward.

[2022-10-26 15:57] JamesDamour commented on #7932
@tamarahenson I tried your suggestion, and portainer is still not starting up. Also, `docker service logs portainer_portainer` is not producing any output, and the directory, `<nfs mount path>/portainer` is still empty. The permissions on `<nfs mount path>/portainer` is 777 with the owner as "nobody:nogroup".

[2022-10-26 17:52] deviantony commented on #7793
Yes, I believe that should work in Compose.

[2022-10-27 00:46] joshua-portainer opened #7933 "Background of textfield when autofill is used, should grey"
Background of textfield when autofill is used should be grey not white.

Expected Result: Textfield is grey background with dark grey text:

![image](https://user-images.githubusercontent.com/82781759/198165177-49337279-1a82-47d5-853f-6cda021df675.png)

Actual Result: If autofill is used it changes to white background and black text:

![image](https://user-images.githubusercontent.com/82781759/198

[2022-10-27 00:47] #7933 closed, assigned to nobody

[2022-10-27 00:49] joshua-portainer opened #7934 "Invalid error message when adding new docker TLS environment but providing invalid certs file"
When adding a new docker API environment, with TLS enabled, if user provides an invalid CA file (not matching cert/key files), backend errors with message "agent already paired with another Portainer instance"

[2022-10-27 00:52] joshua-portainer opened #7935 "Replace existing logging framework"
Use Zerolog as our chosen logging framework

Tidy up existing logging messages with:

- Correct logging level
- Meaningful message
- Informative contextual objects

[2022-10-27 00:53] #7935 closed, assigned to nobody

[2022-10-27 00:53] #7934 closed, assigned to nobody

[2022-10-27 01:17] joshua-portainer opened #7936 "Edge device tags not showing on Create Edge Group screen"
Steps to reproduce

Enable edge compute features

Add one or more edge devices and add some tags to them

Open the Create edge group screen and view the Available Environments table

Expected result:

Edge device tags set in step 2 should be displayed under the ‘Tags’ column for their respective environment

Actual result:

Tags column is empty

![image](https://user-images.githubusercontent.com/8

[2022-10-27 01:17] #7936 closed, assigned to nobody

[2022-10-27 01:52] jamescarppe commented on #7932
Are you able to provide even the chopped off message? It might give us some insight. If it's failing to start at this point it's certainly not going to log anything in the service logs, as it never gets that far.

[2022-10-27 05:28] i3130002 commented on #1357
For others seeing this and using HTTPD/Apache you can use something like this

[code]

[2022-10-27 08:11] MadsBen opened #7937 "Home not showing containers running in Docker Swarm"
**Bug description**
On Portainer CE 2.15.1, on the Home screen it does not show the number of containers running in My Docker Swarm. The number is just "0 containers".
On the Dashboard of the Swarm, it is ok.
For standalone Docker there is no problems.

![2](https://user-images.githubusercontent.com/19872434/198227329-e66953bc-56f8-4309-a4d2-bda035630a34.png)

![3](https://user-images.githubuserco

[2022-10-27 08:32] i3130002 opened #7938 "Portainer git fetch does not reflect stack containers dockerfile"
**Bug description**
Containers/Images from `git=>docker-compose.yml=>dockerfile` do not get rebuilt/updated  when git content of dockerfile changes

**Expected behavior**
Changing a dockerfile in git should reflect the image and the container

**Portainer Logs**
There are no errors

**Steps to reproduce the issue:**

1. Add a stack using git
2. Use a simple docker-compose.yml (mine is version 3.4)

[2022-10-27 08:33] tamarahenson commented on #7937
@MadsBen

Thank you for the information.  I am going to work on reproducing.  I will update you as I learn more.

Thanks!

[2022-10-27 08:46] JamesDamour commented on #7932
When I run the command, `docker service ps portainer_portainer`, I get:
ID             NAME                    IMAGE                           NODE              DESIRED STATE   CURRENT STATE            ERROR                              PORTS
g7r1bj5mh07e   portainer_portainer.1   portainer/portainer-ce:latest   pedockersandm10   Running         Starting 4 minutes ago   "starting container failed:

[2022-10-27 08:47] MadsBen commented on #7932
I'm using these options, when mounting an NFS share:
[code]

Also, when making changes to a docker volume, my experience is you need to stop and remove the container, then remove the docker volume and create it again.

[2022-10-27 09:11] tamarahenson commented on #7937
@MadsBen

Environment:
[1] Portainer Server CE installed in Docker Swarm
[2] Container >> Create >> caddy
[3] View Container counts on Home

![swarm_container_counts](https://user-images.githubusercontent.com/20426210/198242733-410907e7-1298-4e97-99de-cae5175d1157.gif)

Environment:
[1] Portainer Server installed in Docker Standalone
[2] Environment >> Add Swarm
[3] Container >> Create >> caddy
[4

[2022-10-27 09:25] tamarahenson commented on #7932
@JamesDamour

Curious, why you are not using `- "9443:9443"` in your `ports:`

Thanks!

[2022-10-27 11:45] Hyllegaard opened #7939 "Change of environment address not working correctly"
**Bug description**
Changing IP address for environment, does not work.
We recently had to change the ip adresses of an existing swarm. This involved making the nodes leave and join the swarm.
In Portainer we then changed the Environment address to one of the leaders that had been migrated.
However as soon as the original node left the swarm and became unavailable, Portainer was no longer able to

[2022-10-27 13:52] ramkrishna757575 commented on #6555
I've also need this feature badly! The only requirement I have is to backup my portainer config to my MinIO S3 service.

[2022-10-27 14:33] JamesDamour commented on #7932
@MadsBen thanks for the "remove and create again" advice. I'll see if that helps.

@tamarahenson I did not set up the configuration originally, and the developer has left the company, so I don't know why we're not forwarding the HTTPS ports. I guess it's because we just use non-SSL connections. The SSL is handled by HA-Proxy on the current, production Docker Swarm

[2022-10-27 15:19] JamesDamour commented on #7932
@MadsBen success!!! Thank you all for your help.

[2022-10-27 15:19] #7932 closed, assigned to tamarahenson

[2022-10-27 16:13] YouveGotMeowxy opened #7942 "[Request] Ability to expand the stacks to see it's services"
**Is your feature request related to a problem? Please describe.**

A matter of convenience, and facilitating an easier, more natural workflow.

**Describe the solution you'd like**

In the list of Stacks, it would be useful of when clicking on any stack, it would expand to show the list of services in that stack, which would also then show the usual stuff you'd see for  a service if looking at th

[2022-10-27 19:25] huib-portainer commented on #6390
Hi everyone, you can give this a try by using the image `portainerci/portainer-ee:pr1810`.
Note that this is a development build and should not be used in a production environment.

We've added a toggle to enable relative paths:
![image](https://user-images.githubusercontent.com/77944876/198380369-a7dbc429-241a-47c0-a435-b15d56717071.png)

This is currently scheduled to become part of the 2.17 Bus

[2022-10-27 20:13] tamarahenson commented on #7939
@Hyllegaard

Thank you for the information.  I am going to work on reproducing this.  I will update you as I learn more.

Thanks!

[2022-10-27 22:00] MichaelMichaelMichaelMichaelMichael commented on #3522
What would I have to restart from the outside in order to reload a compose file?
Should I just issue a `docker-compose up -d` in the respective directory?

[2022-10-28 08:26] tamarahenson commented on #7939
@Hyllegaard

I found that I needed to `docker stop portainer` `docker start portainer` on the Portainer Server, for my Environment to respond after the IP change (this is for Docker Standalone Environment).  Can you see if that moves you forward?

Interim, I am testing the Swarm Environment IP change.  Updates to follow.

Thanks!

[2022-10-28 08:29] tamarahenson commented on #7939
@Hyllegaard

Can you attach Portainer Server log snippets for review?

Thanks!

[2022-10-28 09:11] okpoxa commented on #6764
yes, confirmed whith version 2.15.1

[2022-10-28 09:56] ririko5834 opened #7945 "Update docker container"
Please help me how do I update docker container

More info: https://github.com/anonaddy/docker/issues/190

[2022-10-28 10:19] tamarahenson commented on #7945
@ririko5834

[1] Containers >> "container" >> Duplicate/Edit
[2] Image "image" >> scroll down to Labels >> Update the Label >> Deploy the container
[3] Containers >> "container" >> Review Labels

Please let me know if the above works to move you forward.

Thanks!

[2022-10-28 11:10] ririko5834 commented on #7945
Where it is
![image](https://user-images.githubusercontent.com/64729293/198573703-5548476b-838b-4b51-a598-961a4660b678.png)

[2022-10-28 13:36] Hyllegaard commented on #7939
@tamarahenson Unfortunately I do not have any logs available.
We did not try and restart portainer, but moved on by creating a new environment pointing at the new ip address.

Regards

Jens

[2022-10-28 17:24] johncoles commented on #2341
The issue I have is it seems to pull from the wrong registry therfore gets an access denied. I have two registries for the same domain (different orgs on gitlab.com). Trying to manually recreate it leads to a "dupicate bind" error.

[2022-10-28 17:34] Altegro commented on #4378
please add this feature, just ping

[2022-10-28 18:34] tamarahenson commented on #7945
@ririko5834

![update_container_image_label](https://user-images.githubusercontent.com/20426210/198708005-38671a38-0652-4400-ba83-e7d48103ed89.gif)

Thanks!

[2022-10-28 18:38] tamarahenson commented on #7939
@Hyllegaard

Thank you for the update.  Upon further testing, this is an internal issue that has been logged.  In 2.15.1, Portainer needs to be restarted for the Environment IP to take effect after being changed.  In previous versions, this was not required.

Thanks!

[2022-10-29 08:46] KES777 opened #7946 "Implement column which will display size, used by volume"
**Is your feature request related to a problem? Please describe.**
Want to do clean ups on system.

**Describe the solution you'd like**
Want to see volumes, which takes much disk space, eg. column which display amount of used space.
![image](https://user-images.githubusercontent.com/799021/198822516-8ce09a36-ce41-434d-bc48-71db0bdf1fe2.png)

[2022-10-29 12:48] zoernert commented on #6953
Unable to confirm on my `2.1.11` deployment. Get 400 error even if stopped before. Will try to upgrade next.

Update: On newer version the error message was clearer - and I could solve my issue.

[2022-10-30 08:55] ririko5834 commented on #7945
I have there latest image. Like should I manually edit version in the labels or what do you mean.

[2022-10-30 17:02] tamarahenson commented on #7945
@ririko5834

As the steps show:
[1] Duplicate/Edit
[2] Labels >> Edit
[3] Deploy

Thanks!

[2022-10-30 21:13] WaysonWei opened #7950 "Docker template ui bug"
1. search box is in incorrect location
2. app template worning message used old style
3. button can be clicked outside of active area
4. error message of incompatible template still used old style

[2022-10-30 21:14] #7950 closed, assigned to nobody

[2022-10-30 22:50] #7667 closed, assigned to nobody

[2022-10-30 22:50] #7668 closed, assigned to nobody

[2022-10-30 23:11] jtraxy opened #7951 "duplicate github issue created in error"

[2022-10-30 23:11] jamest-portainer commented on #5300
https://github.com/portainer/portainer/issues/7951

[2022-10-30 23:14] jtraxy commented on #5300
https://github.com/portainer/portainer/issues/7843

[2022-10-30 23:17] #7951 closed, assigned to nobody

[2022-10-31 07:28] lcsfox opened #7954 "Migrate Portainer instance"
Hi,
Let's say I have 2 nodes and each node is running different stacks/containers created inside Portainer with total control over them.
I would like to move the Portainer instance from Node1 to Node2, without moving any of the running stacks/containers.

If I create a new Portainer instance on Node2 and use the restore option during the install, in the stacks menu I can see all stacks from Node1,

[2022-10-31 07:41] jnicolson opened #7955 "Update the stack button disabled for running stacks"
**Bug description**
After upgrading to portainer 2.16, the "Update the stack" button is disabled while the stack is running.  There was nothing listed in the 2.16 change log about this so it appears to be a bug.

**Expected behavior**
The "Update the stack" button is enabled for a running stack

**Portainer Logs**
Provide the logs of your Portainer container or Service.
You can see how [here](http

[2022-10-31 10:14] ririko5834 commented on #7945
Ok thanks, I have manually edit version label

[2022-10-31 10:14] #7945 closed, assigned to tamarahenson

[2022-10-31 14:38] lafriks commented on #7814
@tamarahenson any update on this?

[2022-10-31 14:41] chuckofthenorth commented on #7955
Exactly same behaviour as described here on two different systems after upgrading to 2.16, both running on docker stack (upon Debian 11 fully updated).  Need to STOP the stack before the "Update the stack" button is enabled.

[2022-10-31 16:10] KES777 commented on #7018
Seems related: https://github.com/portainer/portainer/issues/7796

[2022-10-31 16:24] nimdaz commented on #7955
Same here using docker image `portainer/portainer-ce:latest` which currently is 2.16.0.
The workaround as mentioned by @chuckofthenorth worked for me too.

[2022-10-31 16:38] freekk commented on #2809
Hello,

Sorry to say that, but I think you miss the point here.
You may have a great product, that "supports" oauth authentication, your implementation of the auth flow CAN have issues.

Specifically when targeting serious businesses, you must provide a way to allow them to use the security gateway of their choice and not increase the attack surface.
When a reverse proxy has been reviewed, accepte

[2022-10-31 17:03] yorickdowne opened #7956 "JSON-formatted logs fail on portainer-ce 2.16.0"
**Bug description**

Viewing JSON-formatted container logs in portainer-ce 2.16.0 shows this "Failure" popup:

`JSON.parse: unexpected non-whitespace character after JSON data at line 2 column 1 of the JSON data`

[2022-10-31 18:48] tamarahenson commented on #7955
@jnicolson

Which version did you upgrade from?  I am unable to reproduce from 2.15 to 2.16:

![ce_update_stack_button_upgrade](https://user-images.githubusercontent.com/20426210/199085984-b519ab35-a936-4461-adf9-18b42c4ef739.gif)

Thanks!

[2022-10-31 18:53] ShlomiD83 commented on #7955
I've also got this problem.
Upgraded from 2.15.1 to 2.16 today.

[2022-10-31 18:56] Smile953 commented on #7955
Same issue with an ubuntu server 22.04 and portainer as a docker container.

solution from @chuckofthenorth works!, stop the entire stack and then edit it & deploy it.

[2022-10-31 19:23] andres-portainer commented on #7956
@yorickdowne can you please let us know what piece of software is the one that outputs these logs?

[2022-10-31 21:16] jnicolson commented on #7955
I was tracking portainer/portainer-ce:latest so i'd guess i was on 2.15.1 - I just tried manually tagging with versions and can replicate the bug switching between portainer/portainer-ce:2.15.1 and portainer/portainer-ce:2.16.0.

A bit more information - it seems to be related to the validation on the container name(s) in the stack.  Digging into the angular scope:

![Screenshot 2022-11-01 at 7 14

[2022-10-31 21:16] KES777 commented on #7956
Same problem here, after upgrading to 2.16.0

When I go here:

![image](https://user-images.githubusercontent.com/799021/199111913-b84b4fec-8794-4a69-8abe-579593029072.png)

I get screen with logs, but next requests (`Auto refresh logs`) fails:

![image](https://user-images.githubusercontent.com/799021/199111355-97138ba2-b0f6-4590-9422-6a8f8ae211f6.png)

One thing I did (except upgrading), I enabl

[2022-10-31 21:19] KES777 commented on #7955
Same problem after upgrading from 2.15.1 to 2.16.0

But I can not stop the stack, because network is used as external network by another stack.
Would be nice to have button to `restart the stack`

![image](https://user-images.githubusercontent.com/799021/199113421-6c1928a8-c428-411e-b1e6-c68a556955ae.png)

[2022-10-31 21:25] gbakeman commented on #7856
Also #3410

[2022-10-31 21:28] yorickdowne commented on #7956
Chainlink node with environment variable `JSON_CONSOLE=true`

[2022-10-31 21:29] gbakeman opened #7957 "Container networking property inconsistencies when using container networking type"
**Bug description**
Similar to #5367. It's possible to introduce an inconsistency in the way the UI displays container properties (unless I'm misunderstanding something here), relating to the container network configuration.

If a container is added to a `container`-mode network, it's known in issue #5367 that the container cannot easily be removed from this mode.

I thought I was smart by going t

[2022-10-31 21:30] KES777 commented on #7956
Downgrading to 2.15.1 works fine with same configuration.

[2022-10-31 21:32] KES777 commented on #7954
Do you mean: Node2?

[2022-10-31 21:52] chuckofthenorth commented on #7955
@jnicolson
    Which version did you upgrade from? I am unable to reproduce from 2.15 to 2.16:
    Thanks!

Docker using CE release 2.15.1 worked OK; After upgrading to CE release 2.16.0, the "upgrade the stack" button is disabled until after you STOP the stack.

[2022-10-31 22:26] jamescarppe commented on #7955
Those experiencing this issue: would you be able to share the stack YAML you're using? We're having a lot of trouble replicating the behavior you're seeing and while there's clearly something not working right, until we can replicate it ourselves it's going to be hard to find a fix. Right now I'm wondering if it's something in your stack files that isn't in the ones we're testing with.

[2022-10-31 22:33] jnicolson commented on #7955
I'll happily share a stack yaml but won't be able to until after I finish work, but based on what I found above, you may not have a container_name set for the containers in your yaml ? All of mine I statically set the container name this was and I'm guessing a lot of others do too.

[2022-10-31 22:33] nimdaz commented on #7955
The attached stack was created in a previous version of Portainer using the web editor.
(direct download from the portainer data, renamed to txt because of github)
[docker-compose.yml.txt](https://github.com/portainer/portainer/files/9905408/docker-compose.yml.txt)

[2022-10-31 22:44] jamescarppe commented on #7955
Thanks, this looks like the culprit - I was able to replicate the behavior when I added `container_name` defintions to the test stack I was using. I'm passing this on to the dev team to investigate.

[2022-10-31 23:17] chuckofthenorth commented on #7955
Here is mine:  cat portainer.yml  (now with triple backtics - Thanks for the guidance)
...(and for subsequent suggestion to add yaml after backticks)

[code]

[2022-10-31 23:19] KES777 commented on #7955
@chuckofthenorth Format please your file with triple backtics:
\`\`\`
File content here
\`\`\`

[2022-10-31 23:22] chuckofthenorth commented on #7955
Thanks for the guidance. I edited my post above. ;)

[2022-11-01 01:30] bverkron commented on #7003
I have the same issue and I believe it was caused by the same issues as OP. Originally had docker setup as a single node swarm. Created a stack in Portainer (called `homepage`). Later decided to switch to Docker standalone so left the swarm (I believe I used the same or very similar command to OP). Now I am stuck with an orphaned stack that does not show up in the UI and I cannot delete.

This is

[2022-11-01 04:07] gabrielmscampos commented on #7955
Same issue here on 2.16. I've managed to update the stack by manually editing the page html.

1. Inspect the "Update the stack" disabled button
2. Remove `disable="disabled"` attribute in button element

Button element before editing:
![image](https://user-images.githubusercontent.com/43691360/199156423-3ccd8eb8-f8fe-41b6-aaaf-e7958731eca2.png)

Button element after editing:
![image](https://user-

[2022-11-01 05:36] gyrex commented on #7955
I'm also suffering the same issue after upgrading from Portainer CE to Business.

[2022-11-01 05:58] lcsfox commented on #7954
Correct. Mistake.

[2022-11-01 08:08] Akirainblack commented on #7955
Upgraded from Portainer 2.15.1 to 2.16.0 (both business edition) exactly as described above, update stack is disabled whilst stack is running.
The workaround of stopping the stack then enables the button again.

[2022-11-01 08:39] t347s commented on #7955
Hi,
I have the same problem, update from 2.15.1 to 2.16.0 CE version, i dit not try the "stop stack" action, i have some containers in production and this operation will disrupt the activity. My workaround was downgrade to 2.15.1 version.

Thank you!

[2022-11-01 11:16] KES777 commented on #7955
@chuckofthenorth You can also add `yaml` for even more readability ;-)

\`\`\`yaml
File content here
\`\`\`

[2022-11-01 11:48] lucanello commented on #7956
Also experiencing this problem. Checking logs of containers that ran before I opened the logs works fine but as soon as new lines appear in the logs, it throws this error.

Docker version: `20.10.21, build baeda1f`

Portainer version: `2.16.0`

[2022-11-01 14:11] TDCroPower opened #7960 "Update Container details after "Recreate" + "Pull latest image""
**Description**

The container details are not updated with the latest image information after a "Recreate" including "Pull latest image".

**Steps to reproduce the issue:**

1. go "Containers"
2. click on Containername
3. check Container details for example "org.opencontainers.image.version"
4. click on "Recreate"
5. set "Pull latest image" to "true"
6. when finished, scroll down to Container det

[2022-11-01 16:27] FastHogi commented on #7956
I can confirm this is a new issue with portainer 2.16.  The error message "JSON.parse ..." only happens with 2.16. But not all containers have this issue. For example Bookstack, AdguardHome, SWAG or Home Assistant are showing successfully their logs in portainer 2.16. I only have this problem with my "WhatsUpDocker" (https://github.com/fmartinou/whats-up-docker) or with the "Uptime-kuma" (https://

[2022-11-01 18:58] xAt0mZ commented on #7956
Hello there,
first thank you all for your reports that helped narrow the issue :raised_hands:

To give you some details, with 2.16 we introduced the ability for Logs Viewers to automatically format / prettify JSON logs (so you don't have to read raw JSON). The prettified version being what you can find in Portainer container's logs.

These logs can be in many formats:
* already prettified logs (th

[2022-11-01 19:42] pcwii commented on #7955
Same issue here since upgrading to 2.16.0 CE version.
Can't update any of my stacks.
![image](https://user-images.githubusercontent.com/30759206/199324043-be36d2cd-2725-49a2-bcac-e4e7e73f1e2f.png)

[2022-11-01 20:03] tamarahenson commented on #7229
@jippi

This issue has been resolved as of 2.16.

Thanks!

[2022-11-01 20:10] Hecbert commented on #7955
Same issue here, this is my docker command:

`docker run -d -p 9000:9000 -p 9443:9443  --name portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:latest`

[2022-11-01 20:28] chuckofthenorth commented on #7955
Stop the Stack and then you can update it.  See below...

![Stop The Stack](https://user-images.githubusercontent.com/20405883/199334465-5e9f38a3-6392-44d1-9ce8-04b869e78805.jpg)

[2022-11-01 21:22] jnicolson commented on #7955
Bug was introduced in commit https://github.com/portainer/portainer/commit/9af9395b73f5b7bdfb73abf307d53cb45e8dc2cc - it's disabling based on there being an error in the yaml, but I guess the yaml error checking doesn't differentiate between updating the same container and other containers when checking the container_name.

The validate yaml code is: https://github.com/portainer/portainer/blob/504

[2022-11-01 21:26] bamtests commented on #6555
Totally forgot about this. Good point :(

[2022-11-01 21:27] bamtests commented on #6555
Totally forgot that this is the case. Maybe it can be opened if we are lucky :)

[2022-11-01 22:19] jamescarppe commented on #6555
A quick update here: the engineering team are actively working on this feature, and it is currently targeted for our next major release.

[2022-11-02 00:13] tamarahenson commented on #7003
@bverkron

We have a known issue with the Associate button in 2.15 and 2.16.  The workaround is to downgrade to 2.14.2.  You can then use the Associate button to bring back the stack back into Control:Total instead of Orphan.  Then, upgrade back up.

Thanks!

[2022-11-02 07:55] FastHogi commented on #7956
Thanks a lot for your quick feedback. I wanted to give `portainerci/portainer:pr7961` a try, but I guess it is not builded for an arm64 arch, because portainer says "Unable to retrieve server settings and status" and `docker logs portainer-server` shows an exec format error. As mentioned, I normally use the CE edition on a raspberry pi4.

[2022-11-02 08:52] Misiu opened #7965 "Compact view (ollow overriding .table>tbody>tr height)"
**Is your feature request related to a problem? Please describe.**
Portainer 2.15 looks nice, but sadly the tables aren't very compact (each row has hardcoded 50px height). This looks nice, but requires a lot of space.
I'd like to be able to disable this hardcoded value and display much more rows on a screen (env variables or labels in container)

**Describe the solution you'd like**
Ideally, we s

[2022-11-02 10:35] Misiu commented on #2845
I use app templates to create instances of my app. Sometimes I want to add a UI container that connects to a specific instance, so I'd like to be able to add that new container to the already existing stack, to be able to group containers, but I'd prefer to add everything to a stack, so I can easily stop or restart the entire stack.

To be clear: I would like to be able to add a container to an **

[2022-11-02 10:36] Misiu commented on #7631
Any updates? 🙂

[2022-11-02 12:54] xAt0mZ commented on #7956
@FastHogi according to dockerhub it is available for [arm64](https://hub.docker.com/layers/portainerci/portainer/pr7961/images/sha256-7bc08efe7bbb719456430cd71ffc5d3664dcaf1c0606a7cb3caa664bf149c7fb)

As a fallback you may be able to use [portainerci/portainer:pr7961-linux-arm64](https://hub.docker.com/layers/portainerci/portainer/pr7961-linux-arm64/images/sha256-7bc08efe7bbb719456430cd71ffc5d3664

[2022-11-02 13:22] FastHogi commented on #7956
Sorry, can't get the container to run. I only replaced the image in my docker compose file (see below). As you assumed it makes no difference. The image is pulled correctly. Here is my terminal output, if that might help:

[code]

[2022-11-02 13:26] #2852 closed

[2022-11-02 13:59] FastHogi commented on #7956
Did a further test of `portainerci/portainer:pr7961` with a friend of mine, who's running portainer on amd64.  On amd64 the container starts successfully, but the logs for container `WhatUpDocker` shows a slightly different error now: `Unexpected end of JSON input`, while other containers like `Home Assistant` are showing their logs without any issues. So, from my perspective I think the issue is

[2022-11-02 14:02] desincarnage commented on #3940
That did it for me as well! Thank you!

[2022-11-02 14:48] xAt0mZ commented on #7956
Thanks for your feedback.
Will continue narrowing with WhatUpDocker image

[2022-11-02 15:01] xAt0mZ commented on #7956
From what I can read over the internet, it seems Raspberry Pi4 needs `arm/v7` images and not `arm64`

The arm:v7 image is available at `portainerci/portainer:pr7961-linux-arm`

[2022-11-02 15:49] FastHogi commented on #7956
Hm, very strange. The `arm/v7` image worked a couple of minutes. That's the good news. After that the container exited with code 1 and the "exec format error" in the docker log is back again. So, there is definatly something wrong with the arm image.

[2022-11-02 19:45] YeapGuy commented on #1472
Why is this only available in some tables? Often I'm developing/configuring a stack, and the _Containers_ table in there doesn't have the auto-refresh option. Currently the way I do it is CTRL+TAB twice, which refreshes stuff when I come back to the tab.

[2022-11-02 21:28] jamescarppe commented on #7631
I believe this fix is flagged for 2.17. There look to have been some code conflicts that meant it didn't quite make it into 2.16 unfortunately.

[2022-11-02 23:03] DjordyKoert opened #7966 "Container list shows image hash instead of the associated image tag"
**Bug description**
Some container do not show the correct associated image tag, instead these will show the image hash.
![image](https://user-images.githubusercontent.com/33036133/199614371-e2802d87-7124-41d2-80d4-86a33215987c.png)
Clicking on the image hash and opening the image detail page does result in it showing/knowing the actual correct image tag that should be displayed.
![image](https://

[2022-11-02 23:43] jamescarppe commented on #7966
Note that this is an issue with Docker itself rather than Portainer - the API endpoints you refer to are Portainer wrapping the standard Docker API endpoints, so the info we get back from there is what Docker provides. You'd see the same behavior from running `docker ps`.

Generally you see this behavior when there is a newer build of the image and tag locally compared to the one that is running o

[2022-11-02 23:45] WaysonWei opened #7968 "scrollbar always showed in web editor form"
Going to any form that contains code mirror, there is now a scrollbar visible at all times, having a lengthy string in the code editor will produce two scroll bars

[2022-11-02 23:46] #7968 closed, assigned to nobody

[2022-11-02 23:51] WaysonWei opened #7969 "incorrect wording for private box selector under user access control"
Incorrect wording for Private box selector under User access control

- Create User
- Create endpoint access for user as Environment Administrator
- View Private option for Access Control under Create Container page

The correct wording:
**I want to restrict this resource to be manageable by myself only**

[2022-11-02 23:51] #7969 closed, assigned to nobody

[2022-11-02 23:54] WaysonWei opened #7970 "upgrade jwt to 4.4.2"
upgrade golang-jwt to version 4.4.2

[2022-11-02 23:55] #7970 closed, assigned to nobody

[2022-11-03 00:16] WaysonWei opened #7972 "Users automatically assigned as team lead with external authentication enabled with team sync"
When creating a team when external authentication with team sync is enable, users can be assigned as team lead in team management page.

[2022-11-03 00:16] #7972 closed, assigned to nobody

[2022-11-03 05:55] mcooper59 opened #7979 "Web Page missing or Error"
https://docs.portainer.io/v/be-2.10/start/install/server <- Page is not there.

![image](https://user-images.githubusercontent.com/112246537/199655785-b6549fe3-4bc1-4196-8fa2-a6c3b1151da3.png)

Thanks,

[2022-11-03 08:09] ledermann opened #7980 "EE: Wrong warning about exceed nodes"
**Bug description**

While using a free "take-5" license with a 3-node-environment, I temporarily added another environment with 3 nodes, so I had 6 nodes in total. I got the warning "You have exceeded the node allowance of your license and your users will be unable to log into their accounts in 9 days and 21 hours. Please contact Portainer to upgrade your license."

I deleted the second environme

[2022-11-03 09:01] tamarahenson commented on #7980
@ledermann

We have a known issue with License Node Counts in 2.16.  We will be resolving the issue in a 2.16.1 release.  The workaround for now is to downgrade to 2.15.1.

Thanks!

[2022-11-03 09:04] tamarahenson commented on #7979
@mcooper59

We have updated our Documentation to only include 3 previous versions.  Users have been experiencing issues with Google first page response of 2.9.3.

Thanks!

[2022-11-03 10:08] dfldylan opened #7981 "docker volume mount cifs customized port support"
**Is your feature request related to a problem? Please describe.**
The school's network has disabled port 445, resulting in the samba service only being configured on other ports such as 4445, and the existing software lacks support for custom samba ports.

**Describe the solution you'd like**
I can choose custom ports when setting up samba mounts.

**Describe alternatives you've considered**
none

[2022-11-03 10:14] napalmz commented on #7955
Same problem here, update from 2.15.1 to 2.16.
Stopping stack make it works just because delete containers so container name check is ok.

[2022-11-03 11:18] adorobis commented on #6590
For anyone that has this issue. I've faced it for images hosted on github (e.g. ghcr.io/home-assistant/home-assistant:dev ) it can be easily solved by adding a registry to you portianer config like below:
![image](https://user-images.githubusercontent.com/19752098/199707615-c26d63a0-a61e-46cc-87f5-a1be9d937802.png)
Otherwise portainer is trying to pull it from Docker hub which obviously is not the

[2022-11-03 11:28] Go2Engle commented on #6590
Haha you are a genius. That worked for me! Thank you!

[2022-11-03 11:28] StephenGoodall commented on #6590
Thanks @adorobis - so simple!

[2022-11-03 11:34] #7979 closed, assigned to tamarahenson

[2022-11-03 12:04] pungorandras opened #7982 "Invalid string length"
After starting the Gitlab image, Im able to check the container logs, but after some time I get this error. Restarting doesnt help, just the recreating.
![image](https://user-images.githubusercontent.com/56697629/199715933-7f0e4ba7-06eb-4e9e-8289-4a49545661ef.png)

[2022-11-03 12:40] tamarahenson commented on #7982
@pungorandras

Can you provide more information and reproduction steps?

[1] What Gitlab Image and tag?  Is this on Dockerhub?
[2] What version of Portainer?
[3] Docker Standalone, Docker Swarm, etc..?
[4] What are you restarting?

Thanks!

[2022-11-03 12:45] pungorandras commented on #7982
[1] Yes, its the official gitlab-ce image with the latest tag from Dockerhub.
[2] 2.16.0
[3] Docker Standalone on Ubuntu Server
[5] The Gitlab container

Steps:
1. Create a gitlab container.
2.  Wait until it becomes healthy.
3. Click on logs icon. Then you will get this error.

Right after starting you will be able to check the logs.  Gitlab creates really long log lines, maybe it can cause the p

[2022-11-03 16:04] KES777 opened #7983 "Can not view logs: No log line matching the '' filter"
**Bug description**

![image](https://user-images.githubusercontent.com/799021/199771917-64fa7806-1bf7-422e-a8fa-cd60987fb738.png)

But nothing is entered into filter field ...

**Expected behavior**
List of log lines.

**Portainer Logs**
Click button to view container logs.

**Steps to reproduce the issue:**
I notice this after server reboot.

**Technical details:**

- Portainer version: 2.15.1

[2022-11-03 16:07] KES777 commented on #7983
Probably because container was not run:
![image](https://user-images.githubusercontent.com/799021/199773008-2cadb9c2-9696-450e-ba5e-4948cd961bb5.png)

This command `docker logs -f monaas-promtail-1` also does not return anything.

[2022-11-03 16:09] KES777 commented on #7983
Hm... Warning message should be improved. Here is just no logs for container, but not because of empty filter.

[2022-11-03 16:24] KES777 opened #7984 "Alert typo: reart"
![image](https://user-images.githubusercontent.com/799021/199777056-f1da760f-98bb-43dc-b519-f2c702986ede.png)

- Portainer version: 2.15.1

[2022-11-03 16:25] #7984 closed, assigned to nobody

[2022-11-03 20:41] tamarahenson commented on #7982
@pungorandras

I am currently testing this.  Do you have log snippets from Portainer during/after the restart?

Thanks!

[2022-11-03 20:44] octdanb opened #7985 "2.16 Can no longer add stack with nomad + git repo"
**Bug description**
Portainer EE Docker v2.16 - Can no longer add a stack with nomad + git repo, the git repo field does not exist in the UI

[2022-11-03 20:47] lal12 opened #7986 "When stack creation fails, it shows as being not managed by portainer"
**Bug description**
When stack creation fails, it shows as being not managed by portainer. E.g. when one of the containers cannot be deployed e.g. due to port conflict, other containers in the stack will be created. However afterwards the stack is shown as not managed by portainer and therefore also isn't visible for non admin users. So it is an annoyance if an unprivileged user did create it, but

[2022-11-03 20:51] tamarahenson commented on #7985
@octdanb

Which previous version of Portainer?

Thanks!

[2022-11-03 20:59] tamarahenson commented on #7985
@octdanb

I am seeing here you can use a git Repository within Nomad >> Edge Stack:

<img width="1848" alt="Screen Shot 2022-11-03 at 1 59 09 PM" src="https://user-images.githubusercontent.com/20426210/199832947-08d2f98f-67d9-496b-9d16-7bca25858394.png">

Thanks!

[2022-11-03 21:26] octdanb commented on #7985
![image](https://user-images.githubusercontent.com/90165854/199837227-6a5830db-0c4e-4967-a1b3-38a93d458cb0.png)

Running the latest portainer-ee
image: portainer/portainer-ee:2.16.0

There seems to be a issue with

`TypeError: Cannot read properties of undefined (reading 'provider')
    at new s (git-form.controller.js:24:64)`

[2022-11-03 21:32] octdanb commented on #7985
I can recreate the issue.
After a fresh login If no environment is selected, and you try to add a edge stack for nomad via git repo this issue appears, If I then select my local environment (docker) and retry, the git fields now show.

Should I close this and raise a separate ticket?

[2022-11-03 21:36] tamarahenson commented on #7985
@octdanb

Go ahead and close.  Create a new ticket.  I will further investigate.

Thanks!

[2022-11-03 22:02] tamarahenson commented on #7983
@KES777

Thank you for the information.  I am going to resolve this.  The logging behavior is Docker related.

Thanks!

[2022-11-03 22:22] #7985 closed, assigned to tamarahenson

[2022-11-03 22:40] octdanb opened #7989 "Is there a plan to implement web hook functionality for edge agents, specifically nomad"
Use Case : Using Portainer in a Commercial setup.

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
We are trialing a nomad and its integration with portainer. We currently use a docker swarm cluster, configured with a portainer agent, and setup stacks via the portainer UI, using a docker compose file via a gitrepo.

Our CICD pipeline builds and tests our docker

[2022-11-03 23:05] KES777 commented on #7983
@tamarahenson, No, this is portainer related: https://github.com/portainer/portainer/blob/535a26412f18f65898efe3ef92694c3895e3604c/app/docker/components/log-viewer/logViewer.html#L90

Portainer should not blame **filter**, when there is no log messages.

[2022-11-04 03:29] bverkron commented on #7003
Not sure how I would do that when I cannot get the stack to appear in the Portainer UI in the first place. I can only find it via the API but cannot delete it there.

[2022-11-04 07:47] pungorandras commented on #7982
In portainer logs there is nothing related to this issue. I removed the gitlab log file  /var/lib/docker/...-json.log and restarted it, after restarting I was able to check the logs again in portainer. Then I tried to refresh the page at short intervals to check when I will get the error. I think when gitlab creates this type of log lines, portainer cannot process it:
![image](https://user-images.

[2022-11-04 12:51] Tzeny commented on #919
Implemented?

[2022-11-04 12:58] #7956 closed, assigned to tamarahenson

[2022-11-04 13:00] xAt0mZ commented on #7956
Fixed by introducing a fallback to "raw display" if an error is encountered during parsing.
The fix will be available in the next release.

[2022-11-04 13:10] dokho33 opened #7991 "Unable to stop stack"
Hi!
First sorry for my english, i'll try to do the best for explain my problem.

**Bug description**
Unable to stop a stack created with portainer stack editor (docker compose)

When i try to stock the stack i have an error message:
`failed to remove a stack: Invalid template: "XXXX"`
(XXXX is the content of the first environnement variable)

**Expected behavior**
Stop the stack to update it (add

[2022-11-04 13:10] nascherer commented on #5813
same problem with portainer and editing of environment setting here on:
- DSM 7.1.1
- docker 20.10.3-1308
- portainer 2.5.1
the "workaround" to change the env settings via: DSM --> Docker App is working though

[2022-11-04 13:24] tamarahenson commented on #7982
@pungorandras

Thank you for the additional information.  Those looks like Gitlab and not Portainer.

I wanted to follow up on this.  While testing specifically with Gitlab, I ran into several issues.  I was able to reliably reproduce known issues we have, found a new one and this one.  We are currently working on a fix to resolve in 2.16.1.  I do not yet have a timeline for that release.

What ve

[2022-11-04 13:25] BobWs commented on #7955
Same problem here updated yesterday from BE version 2.15 to 2.16 and the update button is grayed-out. For now the suggested workaround mention above is working!

[2022-11-04 13:27] tamarahenson commented on #7991
@dokho33

Can you share your Stack code for testing on my end?

Thanks!

[2022-11-04 13:30] dokho33 commented on #7991
@tamarahenson

[code]

Regards,

[2022-11-04 13:38] tamarahenson commented on #7991
@dokho33

I will roll thru a test with your code.  I will update you as I learn more.

Interim, I created a wordpress Stack and was able to Stop Stack without issue:

![stack_restart_216](https://user-images.githubusercontent.com/20426210/199985861-60ca8a05-ccbf-4734-96e3-d658141f9456.gif)

Thanks!

[2022-11-04 13:43] tamarahenson commented on #7991
@dokho33

I created a Stack with your code and am able to Stop Stack without issue:

![nextcloud_stop_stack_216](https://user-images.githubusercontent.com/20426210/199986797-6759c713-9aa0-4232-9b2e-f09afba89154.gif)

Thanks!

[2022-11-04 14:22] tamarahenson commented on #7986
@lal12

I am unable to reproduce the issue.  If I try and recreate the stack again, I receive Toast `Deployment error A stack with the normalized name 'pureftpd' already exists`

![recreate_stack_216](https://user-images.githubusercontent.com/20426210/199998051-5f7a70c4-391f-46c5-8e94-648350053794.gif)

If I use the same code, but a different name, I receive Toast:  `Deployment error
failed to dep

[2022-11-04 14:51] dokho33 commented on #7991
@tamarahenson

![Capture d’écran_2022-11-04_15-46-15](https://user-images.githubusercontent.com/26525217/200004937-ad97168b-c37c-4194-b108-760a6438a021.png)

[2022-11-04 15:02] thibaut-atempo opened #7992 "Regression in template variables handling (dollar sign)"
**Bug description**
I've made a lot of testings and I think I found a regression between Portainer 2.15.1 and 2.16.0 (both CE and BE versions).
I'm using my own App templates (using a custom template definition URL).
Same templates are working fine with 2.15.1 but not with 2.16.0.
Some of my templates have variables and some of these variables contains a dollar sign.
The dollar sign was perfectly

[2022-11-04 15:20] tamarahenson commented on #7991
@dokho33

I am unable to reproduce your issue.  I can start, stop and delete the nextcloud stack without issue.

![restart_remove_stack_216](https://user-images.githubusercontent.com/20426210/200010212-82413834-1798-44bc-ba4c-520159af3494.gif)

Can you open the Web Developer Tools in your Firefox window and select Network.  Try to stop the Stack.  Can you attach screenshots of the `POST` with the

[2022-11-04 16:27] dokho33 commented on #7991
@tamarahenson

I don't know how to use the Web Developer Tools but is it what you want ?
![Capture d’écran_2022-11-04_17-22-52](https://user-images.githubusercontent.com/26525217/200026577-751b6f8d-3bfd-4563-8289-c497959dbbee.png)

[2022-11-04 16:31] dokho33 commented on #7991
@tamarahenson

I don't know if it can help but i have an other stack on the same machine and i can stop it without problem.

The difference is that for this other stack the environment variables values are in the code (and not in the "environment variables" section of portainer).

Stack i CAN stop:
![Capture d’écran_2022-11-04_17-36-53](https://user-images.githubusercontent.com/26525217/200029198-

[2022-11-04 16:53] RK62 commented on #7955
Same problem here, suggested workarround or changing the container_name in the stack is working.

[2022-11-04 17:49] lal12 commented on #7986
I retested this with Portainer 2.16 and the error seems to have been resolved in the newer version.

[2022-11-04 17:49] #7986 closed, assigned to tamarahenson

[2022-11-04 20:22] KES777 opened #7993 "Do not auto refresh logs if not scrolled to bottom"
![image](https://user-images.githubusercontent.com/799021/200066949-197ddbec-f5b5-49fa-9b39-38d002186ad6.png)

This is like usual unix console: when we scroll up, then we can read old logs. New logs silently appended to the end.

But portainer does not allow to read logs. I need turn off auto-refresh first, then I can scroll top and read.

This is easily to fix: when auto-refresh logs is turned on

[2022-11-05 15:09] tamarahenson commented on #7993
Reference:  https://github.com/portainer/portainer/issues/6797

We are currently working on logging improvements for 2.17.0.

Thanks!

[2022-11-05 15:14] tamarahenson commented on #7991
@dokho33

Thank you for the additional information.  Can you select POST and send screenshots of the Request and Response?

Thanks!

[2022-11-05 15:16] KES777 commented on #7993
@tamarahenson, Yes, that is what I am looking for.
Thank you

[2022-11-05 15:16] #7993 closed, assigned to tamarahenson

[2022-11-05 15:36] KES777 commented on #4410
Also would be nice to load old logs if we reach top. eg. if there were 100 lines and we reach top, then load next 100 lines and so on.

[2022-11-05 17:03] dokho33 commented on #7991
@tamarahenson

![Capture d’écran_2022-11-05_18-01-33](https://user-images.githubusercontent.com/26525217/200132220-8d3eb965-8196-4827-a3b6-4f2db3b960aa.png)

Thank you for the time you take to help me :)

[2022-11-05 17:24] tamarahenson commented on #7991
@dokho33

Can you navigate in that POST to the Request tab and take a screenshot.  And, navigate to the Response tab and take a screenshot?

Thanks!

[2022-11-05 17:29] dokho33 commented on #7991
@tamarahenson

![Capture d’écran_2022-11-05_18-27-08](https://user-images.githubusercontent.com/26525217/200133248-4124afb3-8bd9-47e1-a786-0994c6cab2a6.png)

![Capture d’écran_2022-11-05_18-26-24](https://user-images.githubusercontent.com/26525217/200133249-5177daa5-5e8a-460b-9f62-57b5964de28f.png)

[2022-11-05 18:44] sgtcoder commented on #3572
`portainer/portainer-ee:alpine`

Also does not have /bin/bash

[2022-11-05 18:47] modem7 commented on #3572
Why do you need bash?

[2022-11-05 18:48] sgtcoder commented on #3572
Trying to implement a healthcheck. Is there no support for that?

[2022-11-05 18:51] sgtcoder commented on #3572
```portainer: error: unknown long flag '--healthcheck', try --help```

[2022-11-05 18:52] modem7 commented on #3572
You don't need bash to implement the healthcheck. Ash and Bourne are more than sufficient (you don't need those either tbf).

Healthcheck:
[code]

Full example:
[code]

[2022-11-05 18:55] sgtcoder commented on #3572
Thank you. That ended up working. It might have been because I was using curl, which then I was going to bash into the container and test the command.

I also noticed the mem_limit... is there like a cpu_limit as well?

[2022-11-05 18:58] modem7 commented on #3572
No worries!

There is, but it's done via a weird method, and I just can't be bothered to implement 🤣.

https://www.baeldung.com/ops/docker-memory-limit

https://docs.docker.com/config/containers/resource_constraints/#cpu

Granted, with 16 cores and 128gb ram, it's not too much of an issue currently.

[2022-11-05 19:00] sgtcoder commented on #3572
That makes sense. Yes, I have a good amount of resources too, it's just some dockers like media streaming and tarball extraction can sometimes take more than what it should leaving critical services like unbound dns with less.

Anyways, thank you again!

[2022-11-06 16:17] matze19999 opened #7995 "Expected property name or '}' in JSON at position 1"
**Bug description**
Often, when I wan't to show Logs of a Container, I get the message in the upper right corner with the text "Expected property name or '}' in JSON at position 1". I can't open the logs of the container. This happens so multiple containers, but not to all. Restart of the Container only helps sometimes.

**Expected behavior**
No error.

**Portainer Logs**
in Attachment.

**Steps t

[2022-11-06 16:18] matze19999 commented on #7995
![image](https://user-images.githubusercontent.com/13684520/200182001-29a756c7-cf7c-4358-8b11-0a56d74f76c1.png)

Here an Image of the Error message. This time I was able to open the logs of a container, but as I changed the showing rows from 100 to 1000, the error came up.

[2022-11-06 20:23] WaysonWei opened #7997 "Error respone wasn't clear when create edge environment via API"
When create edge environment through API, got this respone:

`~$ http --verify=no --form POST https://192.168.18.182:9443/api/endpoints X-API-Key:my_api_key Name=edgey EndpointCreationType=4

HTTP/1.1 400 Bad Request
Content-Length: 72
Content-Type: application/json
Date: Mon, 13 Jun 2022 23:15:33 GMT
X-Content-Type-Options: nosniff
X-Xss-Protection: 1; mode=block

{
    "details": "hostname canno

[2022-11-06 20:24] #7997 closed, assigned to nobody

[2022-11-06 23:08] d3mcs commented on #7955
Seemed to be having this issue after updating to 2.16.
Stopping the stack is working to update the stack.

[2022-11-07 00:03] jtraxy commented on #5300
2.16 was released recently and includes TLS support for ingresses, hence I'm closing this ticket.

Note: We are also going to release a 2.16.1 patch release around a couple of issues shortly, but not related to TLS on ingresses.

[2022-11-07 00:03] #5300 closed

[2022-11-07 01:27] rdwebdesign opened #7998 "Help icon constantly marked with a red dot"
**Bug description**
The "Help" icon constantly marked with a red dot.
No explanation is visible for this mark.

![image](https://user-images.githubusercontent.com/1385443/200209058-c177ea75-737e-4a02-962a-e47944844328.png)

**Expected behavior**
I expect the red dot should be shown only when needed and the dot should be gone if there is no information, like notifications icon.

**Portainer Logs**

[2022-11-07 03:52] YouveGotMeowxy opened #7999 "Portainer not seeing data folder?"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:

I ran into a Docker problem and had to uninstall, and reinstall Docker Desktop; I'm running Swarm, and had to do a re-initiate swarm, re-add 2 overlay networks, and then I could run my usu

[2022-11-07 04:51] JudgeDreddKLC commented on #2045
Is there any news on implementing this behavior?

[2022-11-07 07:31] robjuz commented on #6911
Any update on this? I'm deploying the same stack multiple times and this is the one remaining part to make it full automated.

[2022-11-07 08:37] pungorandras commented on #7982
Thanks! Its working now, but the loading time is slower (around 4 secs or more). Sometimes I get out of memory error in Chrome. We are using CE for now, its just a small test project in the company, we will switch to Docker later.
![image](https://user-images.githubusercontent.com/56697629/200263638-17a44f0d-cb7c-4e40-aa68-aa1e5fc1be0b.png)

[2022-11-07 09:05] itfsw opened #8000 "Expected double-quoted property name in JSON at position 222"
**Bug description**
Click Container logs，Some container will tip “Expected double-quoted property xxx in JSON at position xxx”
![微信截图_20221107165759](https://user-images.githubusercontent.com/24953508/200269674-2b375e01-1078-43c4-90e1-37fc9e40f479.png)

**Expected behavior**

**Portainer Logs**

**Steps to reproduce the issue:**

**Technical details:**

- Portainer version: 2.16.0
- Docker version

[2022-11-07 10:48] papalouf commented on #7557
Hello,

+1
For me, an Update button (to update the stack manifest and redeploy it) and a Redeploy button (to just pull latests images and redeploy the stack) should be a huge QoL enhancement when you manage many stacks.

I have to stop then start manually each stack that run not up to date images , it may be painful.

Thanks a lot to consider this enhancement.

[2022-11-07 11:04] JCapul opened #8001 "Bug in API endpoint for stopping a stack ?"
**Bug description**
I have configured a docker compose Stack within Portainer web UI. I can start it using the API endpoint `/stacks/{id}/start`, no issue.
But when I want to stop it from the API endpoint `/stacks/{id}/stop`, I get an HTTP 404 error with the following message:
[code]
And the stack is still running.

**Expected behavior**
Get a HTTP 200 code with the updated stack JSON data attache

[2022-11-07 11:17] arch-user-france1 commented on #4923
stupid answer, uninstalling docker doesn't automatically remove portainer -_-

[2022-11-07 11:21] arch-user-france1 commented on #4923
`
docker update --restart=no container-id` will do the job for you unless your docker container is endlessly restarting because of enabled selinux -_-

[2022-11-07 14:16] Valdri commented on #8001
I have the same issue on 2.16.0 BE

[2022-11-07 14:19] JCapul commented on #8001
Update: after inspecting how the web UI interacts with the API, I realized that it works as expected if I add the endpoint ID as a URL query parameter like this:
[code]

At least I can carry on with my work, but based on the API doc, I don't think it's the intended behaviour...

[2022-11-07 15:32] cieska commented on #7955
same here

[2022-11-07 16:27] xAt0mZ commented on #8000
Closing as duplicate of #7956 .
A fix will be available in the next release.

[2022-11-07 16:27] #8000 closed, assigned to nobody

[2022-11-07 17:06] tamarahenson commented on #8001
We have an internal issue logged to update our API documentation.

The correct command would be:

[code]

Thanks!

[2022-11-07 17:22] tamarahenson commented on #7998
@rdwebdesign

The red dot on Help is to alert the user that the new feature exists. The indicator will be hidden in future versions.

Thanks!

[2022-11-07 17:24] Typhonragewind commented on #7017
Yes it does (from version 3.8 up), and portainer is disabling it somehow -my best guess is that it uses a docker-composer version lower than 3.8.
I came here searching for someone with my issue exactly, because what is happening is that i configure a service with the following settings:
[code]
When this is started through portainer, the limits do not apply, but when it is done through docker-compo

[2022-11-07 17:27] tamarahenson commented on #7995
@matze19999

This issue here is related and will be resolved in 2.16.1:

https://github.com/portainer/portainer/issues/7956

Thanks!

[2022-11-07 17:47] matze19999 commented on #7995
Thank you?

[2022-11-07 17:47] #7995 closed, assigned to tamarahenson

[2022-11-07 18:03] KES777 commented on #7983
Reopen?

[2022-11-07 20:58] joshua-portainer opened #8002 "Update the stack button disabled for running stacks"
When editing an existing stack the update stack button is disabled.

Steps to reproduce:

Deploy stack using ‘container_name: test’ for example

Navigate to the deployed stack in Step 1

Click Editor and edit the YAML

Actual Results:

'Update the stack' button is disabled.

Expected Results:

'Update the stack' button is actionable

[2022-11-07 20:59] #8002 closed, assigned to nobody

[2022-11-07 21:01] tamarahenson commented on #7999
@YouveGotMeowxy

I would like to further investigate this.  Can you join our Slack Community and message me a copy of your Portainer backup?

https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Thanks!

[2022-11-07 21:13] tamarahenson commented on #7219
This was released in 2.16.0.  Closing.

[2022-11-07 21:13] #7219 closed, assigned to jamescarppe

[2022-11-07 21:25] jtraxy opened #8003 "Kube Edit (external) Application - 'Cannot read properties' error shows on load"
**Steps to Reproduce**
Given I have deployed an external application (eg kubectl deploy …)
When I go to the external application in portainer
And I click edit

**Expected result**
Then the page should load without errors

**Actual result**
The page has an error:
Cannot read properties of underfined (reading ‘map’)

[2022-11-07 21:26] #8003 closed, assigned to nobody

[2022-11-07 21:29] jtraxy opened #8004 "Kube Edit/View Namespace - Resource limit sliders are positioned incorrectly and erroneous warnings show"
The Namespace screen has a few issues relating to how Portainer displays resource quotas / limits. The issues appear after a namespace has been created, upon viewing that namespace.

This appears to affect Portainer 2.15.1 & 2.16 (albeit slightly differently in each case).

**Steps to Reproduce**
Log into a k8s environment
Select to create a namespace (via ‘add with form’)
Set either a Memory, or

[2022-11-07 21:29] #8004 closed, assigned to nobody

[2022-11-07 21:29] joshua-portainer opened #8005 "Registry "Manage access" link broken"
Steps to replicate

Log into a CE 2.16.0 install with a registry configured

Select an environment then click on Host / Swarm, Registries

Click “Manage access” link next to a registry

Expected behavior

Registry access management screen to display.

Actual behavior

Blank screen and error message.

[2022-11-07 21:30] #8005 closed, assigned to nobody

[2022-11-07 21:34] rampd2 commented on #7219
I can't find a related change mentioned in the [release notes of 2.16.0](https://github.com/portainer/portainer/releases/tag/2.16.0) or with the search "milestone:CE-2.16.0" in GitHub issues/pr.

Can you mention the changes made? (Or easy link to it)

[2022-11-07 21:46] tamarahenson commented on #7219
@DanielRamp

In the 2.16.0 Release Notes:

<img width="771" alt="Screen Shot 2022-11-07 at 1 42 28 PM" src="https://user-images.githubusercontent.com/20426210/200421602-0ae165ce-3411-4f58-b301-de90c6b0fde3.png">

Navigate to Environment >> Host >> Setup >> Show a notification to indicate out-of-date images for Docker environments >> Toggle

<img width="652" alt="Screen Shot 2022-11-07 at 1 45 30 P

[2022-11-07 21:47] joshua-portainer opened #8006 "JSON-formatted logs failing"
Viewing JSON-formatted container logs in portainer-ce 2.16.0 shows this "Failure" popup:

JSON.parse: unexpected non-whitespace character after JSON data at line 2 column 1 of the JSON data

![image](https://user-images.githubusercontent.com/82781759/200422240-aacca3e9-bda8-4182-b04c-0bab270d270d.png)

Expected behavior

Next requests (Auto refresh logs) should not fail with error message toast.

[2022-11-07 21:48] #8006 closed, assigned to nobody

[2022-11-07 22:15] notmayo commented on #7982
I'm also experiencing this exact scenario (2.16.0 CE, Gitlab-Ce latest, same error). :)

[2022-11-07 23:07] loloolllool commented on #6390
Tried it out and it works 👍

Related feature request: Make this available as a global default
For the simple usecase of just wanting relative paths from git repo it seems unecessary to set the local filesystem path individually for each stack.

[2022-11-07 23:29] jtraxy commented on #6848
Although https://docs.portainer.io/user/kubernetes/cluster/setup talks about IngressClass-less ingress controllers in general terms, perhaps we could have a section specifically about the GKE Ingress controller. I suggest something like this:

**GKE Ingress Controller**
Google Cloud ingress controller (gce or GKE Ingress) continues to use the deprecated kubernetes.io/ingress.class annotation on in

[2022-11-07 23:34] jtraxy commented on #6848
Actually, this has been added as an info note in https://docs.portainer.io/user/kubernetes/ingresses/add - so all good.
James C. mentioned that he will link kubernetes/cluster/setup documentation page to that info note too.

[2022-11-08 01:38] isudoi commented on #7955
Any idea if this issue being tracked and fix soon by Portainer?

[2022-11-08 02:04] YouveGotMeowxy commented on #7999
Sure thing, I can do it tomorrow. :)

By "backup" do you just mean the entire `/data'` folder? The 1 time I used the built-in backup tool was too long ago, and I don't have any other from the tool itself.

[2022-11-08 02:34] jamescarppe commented on #7955
This is with our team at the moment - a fix is going through testing now and is due for release as part of a patch release (2.16.1) very soon.

[2022-11-08 10:47] ElShaK opened #8007 ""Out of date image indicators" - on/off in Docker Swarm"
Referring to the issue https://github.com/portainer/portainer/issues/7219

great that the disable function has appeared in the settings.
... but, there is always some but ;)

According to the documentation (https://docs.portainer.io/user/docker/host/setup), menu Environment -> Host -> Setup ...
is only available for the "Docker Standalone" version, what about Docker Swarm users?
Do I have the opti

[2022-11-08 12:00] tryallthethings commented on #7930
Just wanted to confirm that this workaround worked for me. Although I went the 2.16.0 > 2.14.2 > 2.16.0 route, as the issue only occurred on 2.16.0 for me.

[2022-11-08 12:06] #7580 closed, assigned to nobody

[2022-11-08 12:35] t347s opened #8008 "Update stack with error deletes all containers from the stack"
**Bug description**
Hi, i find an issue with Portainer v2.15.1 and 2.16.0 CE, the scenario is: create a stack, after creation modify just one image with a wrong image name (just for testing), "Update the stack" we will receive an error as expected and after refresh of the page there are no more containers in that stack, also in in CLI the containers are not visible with `docker ps` or `docker ps -

[2022-11-08 14:15] roymilder opened #8009 "When updating a service with a package hosted on ghcr, it reuses the initial image instead of the new one."
**Bug description**
When **updating** a specific service in a docker stack with the "latest" version of an image, it uses an incorrect (old) version of the image. It looks like the old sha256 digest gets appended after each update.

<img width="2531" alt="Screenshot 2022-11-08 at 15 09 18" src="https://user-images.githubusercontent.com/2341834/200586838-4ed92a4c-11ac-422a-903e-ed2a0cbe9b93.png">

[2022-11-08 14:59] tamarahenson commented on #8007
@ElShaK

The Feature is enabled for Swarm >> Setup:

<img width="963" alt="Screen Shot 2022-11-08 at 6 57 42 AM" src="https://user-images.githubusercontent.com/20426210/200598481-d4c0c772-8b2d-4cce-b55f-d01ace1bae11.png">

Thanks!

[2022-11-08 15:52] tamarahenson commented on #8009
@roymilder

Can you confirm the following is the same issue you are running into?

![quay-nginx-update-service](https://user-images.githubusercontent.com/20426210/200611886-fc77ff5b-9ce3-43fe-bfb7-2964e4e36ddc.gif)

I had to navigate down to the Change Container Image:

![quay-nginx-update-service-container](https://user-images.githubusercontent.com/20426210/200612095-f7419c14-90ed-4bbe-8b19-a3c5b

[2022-11-08 16:09] tamarahenson commented on #7999
@YouveGotMeowxy

Backup procedure here:  https://docs.portainer.io/admin/settings#backup-portainer

Thanks!

[2022-11-08 16:16] 1thorsten opened #8011 "Error add an environment (Docker API | TLS | Skip Certification Verification) b/c of invalid certificate"
**Bug description**
I want to add a docker environment
Type: Docker Standalone API
TLS: true
Skip Certification Verification: true

Despite the fact that I'm selecting (Skip Certification Validation) I get the following error:
Failure: Invalid certificate file. Ensure that the file is uploaded correctly

**Expected behavior**
The environment should be added successfully.

**Portainer Logs**
2022/1

[2022-11-08 16:16] roymilder commented on #8009
@tamarahenson thank you for responding. and sorry for wasting your time.
after trying to reproduce some extra screenshots for you for debugging I saw a volume mapping in our docker-compose file which didn't belong there. In short, we've mapped the app root directory in the container with the server.

after updating the image this resulted in weird behaviour ;-)

again, thanks for you help and sorr

[2022-11-08 16:16] #8009 closed, assigned to tamarahenson

[2022-11-08 18:38] tamarahenson commented on #7989
@octdanb

I wanted to follow up on this request.

Webhooks are only available on non-Edge environments (environments running Portainer Server or Portainer Agent, not the Portainer Edge Agent). This is because the tunnel to the Portainer Edge Agent is only opened on-demand, and therefore would mean there is no way to expose a Webhook permanently.

Thanks!

[2022-11-08 19:01] barbudor opened #8012 "portainer-ce:2.16.0-alpine - "Update the stack button" is greyed, can't apply changes"
**Bug description**
After upgrading my docker image from `portainer/portainer-ce/2.15.1-alpine` to `portainer/portainer-ce/2.16.0-alpine`, I can't make apply any changes to any of my stack (docker-compose mode) as the "Update the stack" button is "greyed".

![image](https://user-images.githubusercontent.com/2996042/200650153-5533a75a-937e-47db-bf14-dd54ab15c444.png)

Rolling back to portainer-ce:2

[2022-11-08 20:32] YouveGotMeowxy commented on #7999
@tamarahenson Oop, I just made the backup and looked through it, and there's a lot of personal stuff in it (passwords, etc.), so I think I'm gonna pass on sending it over. It that the only way to solve this issue?

[2022-11-08 21:05] lucasmaziero commented on #8012
Same problem here

[2022-11-08 21:08] YouveGotMeowxy commented on #7999
It's a very longshot, but just thought I'd ask anyway; could there be a chance that portainer is somehow tied to the network's subnet/gateway, in order to load it's stacks from the settings folders?

I found in my notes that in the past I may have (don't recall offhand though) specified different subnet/gateways for my overlays, of which Portainer itself may have been in, compared to the overlay n

[2022-11-08 21:14] YouveGotMeowxy opened #8013 "Make Portainer create /data/compose directories as user rather than root?"
I first tried asking in the Slack channel, but no one was there at the time, and I had to leave, so I'm posting here. :)

[2022-11-08 21:24] YouveGotMeowxy opened #8014 "Make Portainer remember console choice"
**Is your feature request related to a problem? Please describe.**
When using Portainer a LOT and having to keep going back to the exec/console it can get "tiresome" having to repeatedly manually select the type of shell to use (ash/bash/sh), particularly when a container doesn't have bash (the default for that dropdown selection), for example, alpine containers.

**Describe the solution you'd lik

[2022-11-08 21:52] tamarahenson commented on #8012
This issue has been logged:  https://github.com/portainer/portainer/issues/7955

Will be resolved in 2.16.1

Thanks!

[2022-11-08 21:53] Rogiervm opened #8015 "get the following error"
how can i fix this

1970-01-01 00:00:00: (connections.c.717) unexpected TLS ClientHello on clear port

[2022-11-08 21:59] tamarahenson commented on #8015
@Rogiervm

Can you please join our Community Slack here:  https://join.slack.com/t/portainer/shared_invite/zt-190q9nm5v-uT0p0WFkn~K1yv2QlnHJNQ

Please include how your Portainer is installed, what version of Portainer you are running, what type of Environments this is in, reproduction steps, screenshots and more logging snippets.

Thanks!

[2022-11-08 22:02] Rogiervm commented on #8015
![image](https://user-images.githubusercontent.com/91728148/200685322-38218d19-8b9b-426c-8d7c-230cf034d863.png)

[2022-11-08 22:03] Rogiervm commented on #8015
installed it on a raspberry pi trough ssh

[2022-11-09 00:59] tamarahenson commented on #8015
@Rogiervm

I am closing this issue as those error messages are not related to Portainer.

Thanks!

[2022-11-09 00:59] #8015 closed, assigned to tamarahenson

[2022-11-09 04:10] morenicano commented on #8012
Thanks for reporting this, @barbudor. I came here specifically to report the same thing.  Can't wait till the fix is released. Thank you @tamarahenson for the quick response.

[2022-11-09 10:25] jnicolson commented on #7955
I just tested 2.16.1 and bug is resolved so closing this issue.  Thank you! (Fixed in #7977)

[2022-11-09 10:25] #7955 closed, assigned to tamarahenson

[2022-11-09 10:43] jamescarppe commented on #8012
This has been resolved in 2.16.1, which has now been released.

[2022-11-09 10:43] #8012 closed, assigned to tamarahenson

[2022-11-09 10:47] jamescarppe commented on #8007
This is documented in the Swarm -> Setup page, which is the equivalent of Host -> Setup for Swarm environments.

https://docs.portainer.io/user/docker/swarm/setup#other

[2022-11-09 10:47] #8007 closed, assigned to tamarahenson

[2022-11-09 11:42] sergioisidoro commented on #6911
It might make sense to focus efforts on Docker itself exposing `COMPOSE_PROJECT_NAME` which I assume is the same in a deployed swarm stack.

https://github.com/docker/compose/issues/2294

[2022-11-09 12:58] benwalio commented on #6122
updating the link here since the page was migrated - https://portal.portainer.io/knowledge/how-can-i-switch-back-to-internal-authentication

[2022-11-09 13:41] ledermann commented on #7980
@tamarahenson Since [2.16.1](https://github.com/portainer/portainer/releases/tag/2.16.1) is out, I am curious if this issue has been fixed since it is not mentioned in the changelog.

[2022-11-09 14:34] chuckofthenorth commented on #7955
Thank-you!   2.16.1 solved issue on my systems as well. ;)

[2022-11-09 15:32] nicusirb commented on #8008
Hello,
Same issue encountered in **Portainer 2.16.1 also**.
Please provide a quick fix, altering configuration for one container only, even if it's wrong, should **NOT** delete all stack.

[2022-11-09 15:51] ToxicLand opened #8020 "Image status is not visible since 2.16.0"
**Bug description**
Since updating to 2.16.0, I don't see the image status (the red/green dot) on the container/stack list.
![Képernyőkép_20221109_164752](https://user-images.githubusercontent.com/33599104/200876932-251304c7-d630-4505-be7d-c39ad1ceee9f.png)

**Expected behavior**
Image status being shown

**Technical details:**

- Portainer version: 2.16.0/2.16.1
- Docker version (managed by Porta

[2022-11-09 16:07] moniika21 opened #8021 "Locales 404 responses for other languages than english"
Use Case (delete as appropriate): Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Hello, I have an issue with portainer in docker container behind a reverse proxy (nginx-proxy-manager) on my raspberry

In fact, at every reload of the portainer page, logged in or not, my french browser will try to fetch `/locales/fr/translation.json` and

[2022-11-09 16:43] tamarahenson commented on #7980
@ledermann

Release Notes:  https://docs.portainer.io/release-notes

<img width="761" alt="Screen Shot 2022-11-09 at 8 42 10 AM" src="https://user-images.githubusercontent.com/20426210/200889344-db419b21-549f-41f0-aa70-5467bdb3ebeb.png">

Thanks!

[2022-11-09 16:51] ledermann commented on #7980
Thank you - learned that the changelog on GitHub is for CE and the changelog on portainer.io is for EE.

2.16.1 works fine, the license warning is gone - great!

[2022-11-09 16:51] #7980 closed, assigned to tamarahenson

[2022-11-09 18:10] michellabbe opened #8022 "[Feature request] Add support for users Full name"
**Is your feature request related to a problem? Please describe.**
Managing users (LDAP in our case) with logins only, which are made of semi-random characters can quickly become quite a pain.

e.g.
jd172653
jd188635
jd871286

**Describe the solution you'd like**
Add a column showing Full name (name/cn) or Display name (displayName) in the lists of user, "Add user" buttons, etc.
Ideally, for exter

[2022-11-09 18:14] tamarahenson commented on #8020
Here is the documentation:  https://docs.portainer.io/user/docker/host/setup#other

You will need to Toggle On.

Release Notes:  https://docs.portainer.io/release-notes

Introduced a setting to turn on/off per host showing of out-of-date image indicators.  https://github.com/portainer/portainer/issues/7219

Thanks!

[2022-11-09 20:03] tamarahenson commented on #7982
@pungorandras @notmayo

2.16.1 has been released and is available for upgrade.  That should resolve this issue.

Thanks!

[2022-11-09 20:05] pungorandras commented on #7982
What can cause the out of memory error? I have 32GB ram.

[2022-11-09 20:06] dokho33 commented on #7991
@tamarahenson

The problem came from an environment variable that ended with a $

I stopped portainer, I put the variables in the code of the stack (instead of an .env file) by doubling the $ (xxxxx$$ instead of xxxxx$).

And everything works :)

[2022-11-09 20:10] tamarahenson commented on #7982
@pungorandras

Uncertain.  While testing, I did notice slower response.  I have only 8GB RAM and did not receive the out of memory error.

I can test again though and see if I can reproduce.  Have you rolled thru the upgrade yet?

Thanks!

[2022-11-09 20:12] pungorandras commented on #7982
Yes, my portainer is up to date.

[2022-11-09 20:59] tamarahenson commented on #7982
@pungorandras

I ran `docker stats portainer` while I started and stopped the Gitlab container.  This is a screenshot of the resources it was using:

<img width="1094" alt="Screen Shot 2022-11-09 at 12 56 51 PM" src="https://user-images.githubusercontent.com/20426210/200940415-27180b6d-46e8-4300-9905-1264e15606fa.png">

Thanks!

[2022-11-09 21:40] jakemauer commented on #8008
Did not experience this with 2.15.1ee but it's definitely occurring for me in 2.16.0ee and 2.16.1EE

[2022-11-09 21:46] ToxicLand commented on #8020
Thanks, somehow I missed this!

[2022-11-09 21:46] #8020 closed, assigned to tamarahenson

[2022-11-09 22:42] tamarahenson commented on #7982
@pungorandras

What is the size of your Gitlab image?

Thanks!

[2022-11-09 23:11] YouveGotMeowxy commented on #7999
*dancin with my-selfff, oh oh oh oh* ....

[2022-11-09 23:14] YouveGotMeowxy opened #8025 "[Enhancement] More info in Notifications"
**Is your feature request related to a problem? Please describe.**

Can't tell much from this error. (WHICH connection? To WHAT? etc.)

No idea which connection to work on, or look at..

**Describe the solution you'd like**

In this particular case, details on which connection failed any why it failed.

Certainly I could probably go poring over text logs, but since this is already right here, why

[2022-11-10 00:47] WaysonWei opened #8027 "typo with occured in error message"
**Problem**
occured is incorrect, should be occurred.

**Example:**
"An error occured while trying to create the environment" should be

"An error occurred while trying to create the environment"

[2022-11-10 00:47] #8027 closed, assigned to nobody

[2022-11-10 01:05] WaysonWei opened #8028 "Internal authentication won't save if LDAP server is not set"
Internal authentication won't save if LDAP server is not set, also when switch over to Internal authentication from Microsoft Active Directory or Oauth, setting won't save, unless refresh browser then click save again.

[2022-11-10 01:06] #8028 closed, assigned to nobody

[2022-11-10 01:18] WaysonWei opened #8029 "'Select all' checkbox is missing for edge stack and edge jobs"
**Steps to reproduce:**
Enable Edge Compute features

Add one or more edge stacks and edge jobs

**Actual result:**

Select all checkbox is missing, only the individual checkboxes per stack/job are shown

[2022-11-10 01:18] #8029 closed, assigned to nobody

[2022-11-10 01:27] WaysonWei opened #8030 "associate stack button is not working"
User is not able to associate stack created from another environment.

[2022-11-10 01:28] #8030 closed, assigned to nobody

[2022-11-10 03:11] ghost opened #8031 "Using path on local disk rather than URL as git repo during Create stack"
**Is your feature request related to a problem? Please describe.**
When Creating stack, the Repository URL only takes a URL starting with https://. The actual `git clone` allows the URL to be a path on the local disk.  git will clone from a local path just as if it's on a remote server.

This allows the user to use a local git repository to keep track of the configurations, and save a lot of effor

[2022-11-10 08:47] 1xtr commented on #7903
On 2.16.1 same issue
<details markdown="1"><summary>Error log</summary>

[code]
</details>

Steps to reproduce:
1. Add new node
2. Add new stack && start it
3. Delete node from Environments
4. Add node again
5. Click to Orphaned stack

[2022-11-10 09:45] josch700 commented on #5660
Still an issue. Since 2.16.1 even more, cause it's checking on existing stacks now as well. Even tho it is no part of YAML 1.2 anymore Docker supports it and so should Portainer IMHO. Or at least give me an option to easily overwrite the check with a "just do it" option.

[2022-11-10 13:22] pungorandras commented on #7982
2.8GB

[2022-11-10 13:43] pungorandras commented on #7982
https://user-images.githubusercontent.com/56697629/201107405-658595db-337c-4825-9b20-b5bbd5b521f2.mp4

[2022-11-10 14:19] BobWs commented on #7955
Thanks! 2.16.1 solved issue for me!

[2022-11-10 14:27] pungorandras commented on #7982
![image](https://user-images.githubusercontent.com/56697629/201117665-3999db93-22c0-4eeb-a568-7a378faa4a96.png)
![image](https://user-images.githubusercontent.com/56697629/201119756-a6c0f443-0d08-4d10-a3d4-4693c0736d0a.png)

Memory leaking in Chrome, Firefox and in Edge too. Just with Gitlab.