[2022-07-12 19:15] tamarahenson commented on #7252
wil-m:

Thank you for the information and request.  Upon repro; while I am using an LDAP auth, I am also unable to click on +Add button next to user and is greyed out.  I am going to forward this to Engineering for review.

Thanks!
Tamara Henson
Sr. Support Engineer - Portainer

[2022-07-12 23:25] tamarahenson commented on #7251
Translation:
Is it possible to provide Chinese version?

Response:
谢谢你的请求。我将转发给工程部进行审查。

Translation:
Thank you for the request.  I am going to forward to Engineering for review.

[2022-07-12 23:47] jamescarppe commented on #7254
As per [this FAQ entry](https://docs.portainer.io/faq/troubleshooting#can-i-build-an-image-while-deploying-a-stack-application-from-git), building images via Git deployments isn't fully supported as of yet. This is something we would like to support in the future however.

[2022-07-13 00:39] jamescarppe commented on #7240
The alpine repo you linked builds without issue for me, so there must be an issue with your setup.

Out of curiosity, do you have git installed on the host machine?

[2022-07-13 00:48] jamescarppe commented on #7254
@Securitybits-io

I've just tried building with that repo here and I get the following error message:

[code]

which is different to what you're seeing. It doesnt look like `:1.2.2` is a valid tag - do you have a local image with that tag?

[2022-07-13 01:20] tamarahenson commented on #6797
EmirBoyaci:

I wanted to follow up on this request.  We have internal EE-3713 logged to address.  I do not yet have a release version.

Thanks!
Tamara Henson
Sr. Support Engineer - Portainer

[2022-07-13 02:56] jtraxy opened #7261 "Add pagination to kubeconfig download dialog"
Improve the kubeconfig download dialog by providing pagination (including choosing of the number of items per page), an option to 'select all in page' and selection across multiple pages.

[2022-07-13 02:57] #7261 closed, assigned to nobody

[2022-07-13 04:41] aram535 opened #7262 "Browser rendering license error message that flashes on every refresh"
**Bug description**
"The message: One or more of your licenses expires TODAY.  Please contact your administrator to renew your licenses." as a red message keeps popping up and going away on the console on every refresh. See first comment.

Issue occurs on Firefox and Brave

The message flashes for all users (including Administrator).

**Expected behavior**
The license is not expiring until 2024-12

[2022-07-13 04:42] aram535 commented on #7262
![portainer-error](https://user-images.githubusercontent.com/3215912/178652207-27563409-6705-4234-babe-c2669a5959db.png)

[2022-07-13 04:43] aram535 commented on #7262
![portainer-error](https://user-images.githubusercontent.com/3215912/178652288-bb65a55d-b3b8-407c-8417-796365a4c43f.png)

[2022-07-13 11:12] wil-m commented on #7252
Thank you @tamarahenson for adding information about LDAP authentication, we use the same in our environment. I edited original report

[2022-07-13 12:28] siddjellali commented on #7240
eeeeeeh .... I thought git was installed on portainer container not on the host....

Edit : I have install git on the host "sudo yum install git" ==> Same error message as above.

[2022-07-13 12:47] siddjellali commented on #7254
same issue here 🤚
Is it linked ? https://github.com/portainer/portainer/issues/7240. Can you test this please ?

[2022-07-13 12:56] PackElend commented on #1616
isn't it solved by

![image](https://user-images.githubusercontent.com/3542031/178738508-e46452fa-234f-489e-ad2e-5b060ace74e1.png)

[2022-07-13 14:01] acappelletti opened #7263 "stack with variables for docker image app"
Hi, I try to update/create a stack with a variable ${blackbox-exporter-new} fot the image.
Naturally I got that on my repo on my env, but always I got the error:

**Failure**
failed to deploy a stack: Pulling blackbox-exporter (exporter-new:)... The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before con

[2022-07-13 15:23] victorwon commented on #7222
@samdulam Just installed 2.14.1 and this issue is still there unresolved.

[2022-07-13 15:37] shantanoo-desai opened #7264 "Cannot `docker exec` into the portainer container with `latest` tag, but it works for other tags"
**Bug description**
The `latest` tagged Docker Image of portainer does not let the user perform `docker exec` into it. This is however possible for other tagged versions e.g. `2.11.1-alpine` or `2.14.1-alpine`

**Expected behavior**
Assuming the images are build in a standardized manner, the following command

[code]
should provide an interactive tty prompt with `/` root directory

**Portainer Log

[2022-07-13 16:43] tamarahenson commented on #7262
Aram:

Can you try the following:

[1] clear browser cache, session, and hard refresh on the page (ctrl + f5)
[2] login as `admin` and check the license
[3] attach the browser console errors for review

Thanks!

[2022-07-13 16:53] aram535 commented on #7262
1 - used an empty profile, forced a clear cache -- all items, all times.
2 - logged in as admin

Subscription | 5 | 2024-12-27 18:59

[ Clicking on Actions doesn't seem to do anything ]

3 - Log from the console (I replaced my domain name in the strings)
[code]

[2022-07-13 18:38] samdulam commented on #7264
our images except the ones that are tagged with alpine are based on scratch image and do not have the any shell. So you are not able to exec into portainer.

[2022-07-13 18:38] #7264 closed, assigned to tamarahenson

[2022-07-13 20:23] WaysonWei opened #7265 ".env file not read in subfolder for git deployment"
Can not get value from .env in subfolder for git deployment in Docker Standalone environment.

[2022-07-13 20:25] #7265 closed, assigned to nobody

[2022-07-13 23:07] jtraxy commented on #6652
@Sheng-IoT, the latest release of Portainer (2.14.1) includes updates to Docker, Compose, kubectl and Helm binaries.

[2022-07-13 23:07] jtraxy commented on #6652
See also: #6074

[2022-07-13 23:21] UrekD commented on #7219
Possibly related to the image indicators in Containers list the top buttons and Quick actions load very slow sometimes (last thing to load in) I'm guessing this might be related to the image indicators. It get's really annoying if you are trying to switch containers quickly as it 1-10 seconds for the buttons to load in. The performance has also degraded.
![brave_DOxDKa4Hmo](https://user-images.git

[2022-07-14 01:23] Sheng2216 commented on #6652
I tested it with 2.14.0 earlier this week, and it also works. Thank you for your information.

[2022-07-14 02:00] goldhaxx commented on #3262
For anyone else that ends up here - found a bit of a workaround for this. [Here's my answer/solution on stackoverflow.](https://stackoverflow.com/questions/71714706/how-can-i-retrieve-compose-files-for-stacks-deployed-before-the-current-portaine/72974142#72974142)

[2022-07-14 03:08] jamescarppe commented on #7262
@aram535

This is a known issue and is cosmetic only - as you've seen, your license is not actually expiring. We'll have a fix for this in the next major release (2.15).

[2022-07-14 03:21] jamescarppe commented on #7240
Git shouldn't need to be on the host but I wanted to see if that would change the outcome in any case.

Can you confirm you're using the most recent version of Portainer? I would suggest doing the following:

[code]

to make sure you're running the most recent version. You won't lose any data doing this as the `portainer_data` volume stays intact.

[2022-07-14 09:48] aram535 commented on #7262
Sorry I should have been clear.  I figured out it was cosmetic, just annoying because of the red flash on every screen update.  Glad it's known if it can be moved into a patch for 14 it would be greatly appreciated.

[2022-07-14 09:48] #7262 closed, assigned to tamarahenson

[2022-07-14 19:58] DaiZack commented on #6119
Some issue got for me changed the docker-compost to this solved my issue:
[code]

[2022-07-15 00:48] tomgidden commented on #7120
I've been trying a similar configuration with strippath, too, in 2.14.1.  Auth logs fail for me the same way.  It triggers the basic-auth I have on `/api` in Traefik (don't ask) and invalidates my session.

In addition, If I try to click "Helm" in the sidebar it fails in the same way, as an API call goes to `/api/templates/helm?repo=...` rather than `[/portainer/]api/templates/helm?repo=...`

I'm

[2022-07-15 02:03] AuthorityNull commented on #3334
An internal editor built into Portainer would be awesome! Would really like to see something like this implemented. It would be especially useful for users with no ssh access to a server, who still need to be able to upload and edit files in set external volumes.

[2022-07-15 02:05] AuthorityNull commented on #2741
Would also love to be able to upload folders... as far as I know, you can't upload a directory via volumes.

[2022-07-15 02:20] AuthorityNull commented on #6251
Hope to see this addressed. Having to manually decode, edit and encode edge agent ID's for every new edge environment is incredibly inconvenient for an application that otherwise makes everything incredibly convenient.

This is also not documented very well and took me days of searching through threads and troubleshooting to figure out how to get edge agents behind a proxy to work.

[2022-07-15 03:16] tamarahenson commented on #7251
Response:
https://github.com/portainer/portainer/issues/807 has previously been logged for multi-language support.

Translation:
https://github.com/portainer/portainer/issues/807 以前已記錄多語言支持。

[2022-07-15 03:16] #7251 closed, assigned to tamarahenson

[2022-07-15 03:18] tamarahenson commented on #7253
rwanito:

This is going to be to reviewed as part of our future monitoring feature.  I do not yet have an ETA.

[2022-07-15 05:53] dot-mike commented on #5747
As I'm in deep need of this solution my-self, I've been thinking about this issue - and I've realized it poses a security threat to allow blind execution of scripts pre/post-hook.

Note that to my needs I need to be able to decrypt some files on Git clone and that's what my thoughts are based around.

I first thought of a solution using [Git Hooks](https://git-scm.com/book/en/v2/Customizing-Git-Gi

[2022-07-15 09:48] bitwon commented on #5796
Same here, would be really nice.

[2022-07-15 12:06] #6870 closed, assigned to nobody

[2022-07-15 13:42] eshirvana commented on #5796
This can get close too. The compose is upgraded in the latest release and profiles are supported now.
@bitwon upgrade to latest version

[2022-07-15 22:06] jbulow opened #7271 "How to find credentials of application installed with Helm in portainer running in microk8s?"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home, Using Portainer in a Commercial setup.

Home.

Have you reviewed our technical documentation and knowledge base? Yes/No

Yes

**Question**:
How to find credentials of an application installed with Helm in portainer running in microk8s?

I installed JupyterHub but when I try

[2022-07-15 22:15] jbulow commented on #7271
By "accident" I found a password field in an opaque file called `values.yaml` in the jupyterhub container. I guess this is not the preferred and easy way of solving the problem?

[2022-07-15 23:44] jorge-ramirezs commented on #5934
In my case I'm using nginx, I was getting the same error even if I type https://myserver.mx

I changed the "scheme" in  proxy host settings from http to https and now is working.

Hope this help.

[2022-07-16 03:45] airtonix opened #7272 "Unable to login because pasword change broke my password"
This requirement for a password is so awesome.

I've been forced to change my password, and in the process of doing so the page submitted without allowing my password manager to save the new password...

so now i am locked out.

so awesome.

when are we going to remove the requirement for passwords?

[2022-07-16 03:45] airtonix opened #7273 "Bring back the no password option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-16 03:54] airtonix commented on #2101
It's pretty obvious the reason is money and not security.

Once you force authentication, then your enterprise users are now forced to buy your SSO authentication method...

I just bitten by this silly requirement on my home lan, i've since remove portainer and I'll look for another solution.

[2022-07-16 05:22] jobggun commented on #6635
Portainer 2.14.1 released, still no solution for this problem

[2022-07-16 05:26] samdulam commented on #6635
Work in progress for this ine, to be included in 2.14.2

[2022-07-16 06:46] aobh commented on #7219
I can confirm, i have the same problem. Not only with the containers, but also with the stacks. Going back to 13.1 because this is unworkable.

[2022-07-16 11:01] bitwon commented on #5796
@eshirvana Greate to know, I'll try it next week. Maybe you can explain how to select the [active profile](https://docs.docker.com/compose/profiles/) when using Portainer with stacks. I didn't find anything in the docs.

[2022-07-16 11:37] ghost commented on #2101
If I had the knowledge I'd do it for free.

[2022-07-16 15:27] FAFDK commented on #7148
Have the same issue. Is this why I get false 'out-of-date' notifications?

`"Id": "sha256:c964652246a632c0fdc9fb5f47a30fda3932ffe134c2b1be653ad9a7a62de7c8",
        "RepoTags": [
            "ghost:latest"
        ],
        "RepoDigests": [
            "ghost@sha256:03975265161984245714eb3b441f1120649117a020626f02b8f679021eb95bf2",
            "ghost@sha256:c2483a9d9d96267d84fb2f88d84c34c60fe7c6b

[2022-07-16 17:52] dot-mike commented on #6632
This is a serious bug...

[2022-07-16 19:39] dot-mike opened #7274 "Scheduled cron task does not output the correct error message"
**Bug description**
When a scheduled cron job fails, I.E the function returns `errors.WithMessagef`, the cron job fails with message `job returned an error`.

**Expected behavior**
The failed cronjob should forward the error-message from the function instead.

**Portainer Logs**
[code]

**Technical details:**
- Portainer version: 2.14.1

[2022-07-17 00:53] UrekD commented on #7219
Yeah same, even opening container details seems more laggy than before :(

[2022-07-17 12:05] #6894 closed, assigned to nobody

[2022-07-17 14:12] dot-mike commented on #5747
Attaching my workaround on this. I've created a patch for the 2.14 release supporting Git hooks by directly calling "git checkout" after the repository is cloned.
This hook is strictly limited to a static shell-script running on the Portainer filesystem, but that is good enough for me.

You can find the patch here: https://gist.github.com/dot-mike/d38427fd3776ca4a31de59e3e2fbf4e1

To make this hoo

[2022-07-17 21:23] WaysonWei opened #7277 "Host info still being send when host management feature is turned off"
Portainer still send host info when host management feature is turned off.

[2022-07-17 21:23] #7277 closed, assigned to nobody

[2022-07-17 22:04] WaysonWei opened #7278 "Custom logo and anonymous statistics toggles state not saved"
Custom logo and anonymous statistics toggles always reset back on save.

[2022-07-17 22:06] #7278 closed, assigned to nobody

[2022-07-18 05:33] jtraxy commented on #7141
Wording has been changed in release 2.15, which will be released fairly soon.

[2022-07-18 05:33] #7141 closed, assigned to nobody

[2022-07-18 06:20] markweber1980 commented on #7161
Dear Tamara,

für the User Login we are using OAuth with Keycloak as Provider.
The users are assigned to a role manually (e.g. iot-seminar) and this role has rights on different endpoints

Do you need more information?

Best regards
Mark

[2022-07-18 09:47] siddjellali commented on #7240
It's already what i did but i did it again

<img width="184" alt="Capture d’écran 2022-07-18 à 11 47 35" src="https://user-images.githubusercontent.com/3965823/179486487-c760dc2d-b288-42da-8ff4-59682a416973.png">

[code]

Same error

<img width="1680" alt="Capture d’écran 2022-07-18 à 11 45 38" src="https://user-images.githubusercontent.com/3965823/179486820-fad9f353-0425-4669-9995-83316776265

[2022-07-18 10:33] samdulam commented on #7272
@airtonix
You can reset your password, follow the instructions from our docs
https://docs.portainer.io/advanced/reset-admin#method-1-resetting-the-admin-password-if-portainer-runs-as-a-container

In the latest versions, password length is configurable
![image](https://user-images.githubusercontent.com/58716812/179493910-d33349de-6098-4c4c-8d3d-8953647817c2.png)

[2022-07-18 10:33] #7272 closed, assigned to nobody

[2022-07-18 10:37] samdulam commented on #7271
It depends on the application being deployed. It is some-what common for these to be stored in kubernetes secrets once the helm chart is installed.
`values.yaml` file is only used while installing a chart, You could safely remove the file. However, I'm not certain about the values.yaml file inside your container.
Portainer itself has no control over how the applications store their credentials.

[2022-07-18 10:45] samdulam commented on #7263
the below worked for me, it doesn't seem to like `-` in the variable names?

![image](https://user-images.githubusercontent.com/58716812/179495682-16732596-30cd-47a9-a88d-3e5f451ca1d3.png)

[2022-07-18 10:57] acappelletti commented on #7263
Yes true!
Thanks anyway!
Solved me too.

[2022-07-18 15:03] JanNilsScheele commented on #2785
I still had this issue. The problem was solved by adding the registryId in base64 encoded in the header field 'X-Registry-Auth', for example:
'X-Registry-Auth': 'eyJyZWdpc3RyeUlkIjoyfQ=='

[2022-07-18 15:52] AbdelnorAT commented on #6229
+1

This lack will certainly prevent us from using Portainer as a larger scale in our company

[2022-07-18 17:06] spencerthayer commented on #6163
I still want to see this worked on.

[2022-07-18 22:39] jamescarppe commented on #7273
If you would like a feature request to be considered by our team, please fill in the feature request issue template to provide us with more information - for example, how this feature would apply to your use case, what alternatives you have considered, etc.

[2022-07-18 22:39] #7273 closed, assigned to nobody

[2022-07-19 03:49] WaysonWei opened #7291 "Admin not able to change password when external auth is enabled"
Admin is not able to change password when using external auth is enabled.

Got error message as:
"You cannot change your password when using LDAP Authentication"

[2022-07-19 03:50] #7291 closed, assigned to nobody

[2022-07-19 04:15] Manfred73 commented on #3434
I think it does: https://containrrr.dev/watchtower/linked-containers/

[2022-07-19 04:19] Manfred73 commented on #3434
Not sure if Portainer supports this already, that's why I started using Watchtower for this as some others suggested.

[2022-07-19 06:24] #7253 closed, assigned to tamarahenson

[2022-07-19 12:33] sbuchenthal commented on #5922
Hi, any updates on this issue? We are experiencing the same behavior as @pcvolkmer on closely the same setup/environment.

[2022-07-19 14:33] victorwon opened #7296 "issue #7222 still exists in release 2.14.1"
https://github.com/portainer/portainer/issues/7222
Installed 2.14.1 and the above issue is still there unresolved.

[2022-07-19 20:06] Danisan commented on #3940
2.11.1 community. Was working till last week and I don catch a reason why it began to fail as an endless "connecting.."

[2022-07-19 21:21] jamescarppe commented on #7240
As I haven't been able to replicate your issue here it's hard for me to point you towards a solution. Is there anything special about your setup? I do wonder if it's a CentOS issue but I would say that's incredibly unlikely...

[2022-07-19 21:23] jamescarppe commented on #7222
Apologies for not picking this up earlier. I've reopened the issue while we investigate further. Are you able to elaborate on your setup and the steps you take to replicate this? We believed that this issue was fixed in 2.14.1 but perhaps there's a slightly different scenario that you're hitting.

[2022-07-19 21:23] jamescarppe commented on #7296
Apologies for missing this. I've reopened the other issue so we can investigate further, and I'll close this one so that we keep the conversation in one place.

[2022-07-19 21:23] #7296 closed, assigned to nobody

[2022-07-19 21:29] #7263 closed, assigned to nobody

[2022-07-19 21:33] victorwon commented on #7222
Steps to reproduce the issue:

1. Go to 'settings->authentication'
2. Click on 'LDAP' and configure LDAP access
3. Scroll down to 'Save settings'
4. Go to 'settings->users->teams' and select any team
5. See all add user buttons are grey and can't be clicked
6. Go to 'settings->authentication' and switch back to 'internal' and Scroll down to 'Save settings'
7. Go to 'settings->users->teams' and sel

[2022-07-20 02:48] UbioZur commented on #6555
Same here, disappointed that they force S3 to be an amazon hosted bucket.

Custom end point for S3 (or rename the button to specifically state Amazon S3) should be a no brainer in 2022.

[2022-07-20 03:16] samdulam commented on #7222
@victorwon
Apologies about this. Got my wires crossed.
A fix for this should be included in 2.14.2 which is due in a few days.

[2022-07-20 05:12] tamarahenson commented on #7274
dot-mike:

Can you download the logs as shown here to see if they have what you are looking for?  Can you attach a sanitized version of your cronjob for review and testing?

Thanks!

![image](https://user-images.githubusercontent.com/20426210/179902015-066e6e15-a623-4c76-bb5d-d9c4e4e07d80.png)

[2022-07-20 06:18] HansBambel commented on #3940
same here with version 2.9.3

[2022-07-20 08:42] siddjellali commented on #7240
Mmmh weird indeed, i have a portainer install on a host and 3 edge installed on the host where is install the portainer, plus 2 more hosts.

<img width="528" alt="Capture d’écran 2022-07-20 à 10 40 45" src="https://user-images.githubusercontent.com/3965823/179937971-854a3f86-6443-4def-9884-3d0f4c0f8ac0.png">

[2022-07-20 09:00] wowtrxqn opened #7301 "Kubectl Shell loading failed"
when clicked Kubectl Shell , the kubectl shell popup window show message : LOADING TERMINAL... , but disappeared after a while, open chrome develop console to check network request:
![kubectlshell](https://user-images.githubusercontent.com/24369118/179942133-764004ea-e749-4ff2-9f60-d01b96ca2f94.jpeg)
![err](https://user-images.githubusercontent.com/24369118/179944521-7c2da6a1-b15a-4e0f-913e-190e2f

[2022-07-20 17:12] Sjonnie2018 commented on #7238
Hi James,

I am sorry for my late reply! And I thank you for your continued support.

I will try the conversion/downgrade after my holiday. If this thread hasn't become stale by then I will report back my findings

[2022-07-20 19:51] HomelabHaven commented on #6555
I recently setup nextcloud and they offer "Amazon S3" as an option in the External Storage App. All I had to do to link to my locally hosted Minio was omit the Amazon S3 region. I am taking a guess that it couldn't be too hard to implement in Portainer.

[2022-07-20 21:05] jamescarppe commented on #7240
I'm a bit confused by your setup - are you running the 3 Edge Agents on the same server as the Portainer Server? Why?

Do you have the issue on all your environments or just some?

[2022-07-20 21:12] siddjellali commented on #7240
Apologies for my English
Of course no 😆😅, I have :

- 1 server with portainer container and edge agent (swarm)
- 2 others servers with edge agents (standalone)

[2022-07-20 21:23] jamescarppe commented on #7240
Is your server with Portainer an actual Docker Swarm cluster, and was Portainer installed on it using the [Portainer Swarm deployment method](https://docs.portainer.io/start/install/server/swarm/linux)? The standard install doesn't use the Edge Agent and provides the full functionality you would need without needing to install it, so I'm not sure why you're set up the way you are.

As before, do y

[2022-07-20 21:46] tamarahenson commented on #7301
@wowtrxqn

I was not able to reproduce the issue.  Please see attachment.  Note:  My K8s environment is using NodePort 30778 and not Load Balancing 9001.

Can you expand the two "WebSocket connection to..." errors at the end, for review?

![kube_shell_testing](https://user-images.githubusercontent.com/20426210/180087874-3cdffbd1-473d-4663-8bee-2ae59be45a21.gif)

Thanks!

[2022-07-20 23:17] jtraxy commented on #7059
2.14.2 should be out very soon and contains a fix for this.

[2022-07-20 23:17] #7059 closed, assigned to nobody

[2022-07-21 04:03] #7271 closed, assigned to samdulam

[2022-07-21 07:30] tamarahenson commented on #6479
Update:

This appears to be an issue with Apache reverse proxy.  The fwd slash `/` gets double encoded to `%252F` instead of `%2F`

References here:
http://tkurek.blogspot.com/2013/06/252f-instead-of-2f-in-url-apache.html
https://stackoverflow.com/questions/29049596/url-slash-get-double-encoded-changed-to-252f-instead-of-2f

[2022-07-21 07:30] #6479 closed

[2022-07-21 08:32] tamarahenson commented on #7161
Mark:

Is it possible to attach a backup of your Portainer for review and testing?  Here are instructions:  https://docs.portainer.io/admin/settings#backup-to-local-disk

Thanks!

[2022-07-21 08:39] markweber1980 commented on #7161
Hey Tamara,

I need to clarify this with university and check which (personal) data is included in the backup. Would maybe be better to check that on a private / encrypted way then. Is that possible?

[2022-07-21 11:22] hhromic opened #7308 "LDAP Authentication should allow system CA bundle to be used"
**Is your feature request related to a problem? Please describe.**

The current LDAP implementation in Portainer forces the user to upload a CA cert/bundle when using the _Use StartTLS_ or _Use TLS_ settings, instead of allowing for the system/environment CA truststore to be used when no file is provided. This is demonstrated by the fact that, after entering an LDAP URL, enabling _Use TLS_ (for ex

[2022-07-21 12:49] hhromic commented on #7308
I just realised that Git repository deployments work not because I define and provide `SSL_CERT_FILE`, but because the `GitService` responsible for communicating with Git servers is purposedly skipping CA verification (!!):

https://github.com/portainer/portainer/blob/4fb1880ddc3e45f4ded314d8d9c4c2e7ec4ae77a/api/git/git.go#L128

This seems to have been introduced in this PR:
* https://github.com/p

[2022-07-21 12:49] wowtrxqn commented on #7301
![1658407773001](https://user-images.githubusercontent.com/24369118/180217298-d254e216-4a55-4d89-8c3e-b46a9d209665.jpg)

[2022-07-21 13:13] MrDuartePT commented on #3901
@huib-portainer sorry for the ping but when I use your labels exemple I get error 'Internal Server Error'
[code]

[2022-07-21 13:38] ghost opened #7309 "Can not create manifest from git-repo (Gitlab) when OAuth is enabled on both [mail error]"
**Bug description**
Issue is present when:
- Portainer is connected to Azure AD OAuth2.
- Gitlab is also connected to Azure AD OAuth2.

When creating anything from a manifest from git (Gitlab) the Mailadress from Gitlab is apparently used as "metadata.labels" on anything that is deployed (Service, Deployment etc.) with the manifest.
This seems to be not conform with yaml guidlines somehow?

When u

[2022-07-21 14:22] ghost commented on #7309
EDIT: Once this has happend at least one time, the creation via the **webeditor** is not anymore possible. The Error is the same as above. Seems like the value is saved somewhere initially internally and not replaced?

[2022-07-21 16:01] HalfWorm opened #7311 "disable "Variables in templates" (https://docs.portainer.io/user/docker/templates/custom)"
I need to disable "Variables in templates". This is a new fucian described at https://docs.portainer.io/user/docker/templates/custom
In my projects I use templates like:
     hostname:
       "{{.Service.Name}}-{{.Task.Slot}}"

With the inclusion of "Variables in templates" using my templates is not possible constantly requires "Failure
variable label is required".
It's impossible to work at all!

[2022-07-21 18:09] joshua-portainer opened #7312 "Add edge jobs - environments pagination not working"
Pagination in the Target Environments section of ‘Add Edge Jobs’ screen does not work as expected.

Steps to reproduce:

Deploy portainer and enable Edge Compute features

Create more than 10 environments

Navigate to Add Edge job screen and scroll to bottom

Select next 10 entries to display

Expected result: will show the next 10 environments

Actual Result:

Also, when displaying 10 environment

[2022-07-21 18:10] #7312 closed, assigned to nobody

[2022-07-21 20:02] tylwright commented on #6555
I'm kinda confused as to why custom S3 endpoints are never built-in to most apps by default.  When you pop in an AWS region and bucket name, behind the scenes, the app is building the endpoint's actual URL for you.  It should be very easy to just let that endpoint URL be modified by the user (allowing custom entries).

[2022-07-21 21:16] #7183 closed, assigned to samdulam

[2022-07-21 21:30] mhbates commented on #6798
This issue is present on 2.14.1 as well.

[2022-07-22 00:17] wowtrxqn commented on #7301
![33333](https://user-images.githubusercontent.com/24369118/180335800-323f07a3-9200-41f9-964c-bb3d4016a76a.jpeg)

[2022-07-22 00:44] WaysonWei opened #7317 "Portainer should show version number along with other useful information for debugging"
Portainer only showing version number in bottom left corner, there is no more information such as:

- CI Build Number
- Compilation Tools
- Database Version
- Image Tag

[2022-07-22 00:46] #7317 closed, assigned to nobody

[2022-07-22 01:47] jamescarppe commented on #7229
Thanks for the bug report! We're tracking this one internally and hope to have a fix for it in an upcoming release.

[2022-07-22 01:59] jamescarppe commented on #6798
Can you give us some detail on your environment? Linux distro and version, standalone vs swarm, how many containers, what kind of images, any other unique considerations? The more info we have the easier it will be to replicate what you're seeing and then find a fix.

[2022-07-22 03:42] wowtrxqn commented on #7301
i solved , thanks

[2022-07-22 03:42] #7301 closed, assigned to tamarahenson

[2022-07-22 06:41] RPointl commented on #3668
remove the old container:

**_sudo docker stop portainer
sudo docker rm portainer_**

You can also make this as a new task and run once.

After that reinstall portainer and it should work.

[2022-07-22 22:43] kevdogg commented on #6271
@samdulam
I'm not sure that's a workaround to be honest -- I mounted /data/tls/ldap/ca.pem as a bind volume and I can pass the connectivity check however as the other users who replied above stated -- there is no way to save the configuration since the save settings button is always greyed out.  Not really a workaround.

[2022-07-22 22:58] siddjellali commented on #7240
I did the configuration as expected in documentation with the same result...
**Docker compose**
[code]
<img width="1059" alt="Capture d’écran 2022-07-23 à 00 55 20" src="https://user-images.githubusercontent.com/3965823/180578383-7e3ac6eb-422b-40cd-8102-37b706f3edd5.png">

<img width="743" alt="Capture d’écran 2022-07-23 à 00 56 18" src="https://user-images.githubusercontent.com/3965823/180578

[2022-07-23 12:05] #6639 closed, assigned to nobody

[2022-07-23 12:20] yeahmyusernameis32characterslong opened #7321 "Portainer/Portainer-CE:latest has lost ability to create containers\stacks since last image update"
**Bug description**
Login page states 'Unauthorised' and "Unable to locate environments' before login has been attempted
When logged in cannot create containers or stacks because the buttons are not clickable (font is light grey, not white)

**Expected behavior**
The login page should not be saying unauthorised before login is attempted.
Should not have any issue finding the environment that has a

[2022-07-23 13:59] Heeere-GittyGitty commented on #2845
Hi sorry for the wakeup on this. Your script seems interesting but the network config files you generate, can also be restored in Portainer?

I was looking for the best way to backup every container using Portainer, and I was thinking on making a Stack using the output from your script.

Thanks

[2022-07-23 14:58] divStar commented on #5141
I actually second (or third) this. I have a git bare repository on the same machine Docker and Portainer run on and I currently have my GitLab instance mirror the repository into that git bare repository.

I would love to be able to just enter the ssh-URL (e.g. `ssh://user@my.domain/~/stacks`) and authenticate using SSH public key or password and specify the path (relative to the repository root)

[2022-07-23 15:02] ptruman commented on #2845
Hi

It only uses the docker CLI to output the info, it doesn't do any form of
restore, and no docker command reads config back in to re-build, outside of
compose files.
The red5 container output (which my scripts calls to generate) gets "most
of what you need" to get running, and then you can use the network txt file
to amend config.
I don't think red5 does it "as is" because you could restore a c

[2022-07-23 15:03] divStar commented on #1846
How do custom templates help in this regard? I don't get it :(.

[2022-07-23 17:31] KES777 opened #7322 "Wrong information about space usage"
**Bug description**
![image](https://user-images.githubusercontent.com/799021/180616249-055c727b-915c-4341-bc45-c72f7c29aacb.png)
![image](https://user-images.githubusercontent.com/799021/180616262-9285aa66-bce8-49b3-bdfe-f6b3b325e296.png)

5GB vs 16GB... something is wrong =(

**Expected behavior**
Want to see actual information about usage, eg. 16GB

- Portainer version: 2.13.1
- Docker version:

[2022-07-23 17:34] KES777 commented on #7322
after some cleanup 2GB was reclamed:
[code]

But nothing is changed here:
![image](https://user-images.githubusercontent.com/799021/180616419-5193622c-7a2d-42ca-bdfc-0a0656b22816.png)

Would be nice to see info about dangling/cached data that could be cleaned.

[2022-07-23 17:36] KES777 commented on #7322
Even this does not help:
![image](https://user-images.githubusercontent.com/799021/180616450-7815824f-088a-43a0-9450-41931c1a0aab.png)

[2022-07-23 19:36] Heeere-GittyGitty commented on #6297
This is exactly the point that got me here. Portainer exports a DB that actually have a docker-compose,yml'like file that would be able to restore missing containers (re-fetching missing images, and obviously forgetting about data).
In my case I have all mounts as binds to real folders that have backups, so, if portainer restore wanted, it could just rebuild the containers as everything it needs,

[2022-07-24 11:54] RobertBarachini commented on #3092
The issue is still present in the latest release. I've set up the Portainer docker instance in a new (Hyper-V) VM which I use exclusively for development and basic monitoring of running containers. The initial setup was successful and I was able to create a new user/password which worked fine the first few times.

OS: Kubuntu 22.04 LTS
Docker version: 20.10.17, build 100c701
portainer/portainer-ce

[2022-07-24 22:32] dasburninator commented on #1034
This is one of the most frustrating things about using Portainer. Even on a tablet I can see 20+ containers. On a phone there's always the option to scroll down. I would rather do that then have to click through pages.

You've recently back peddled quickly on the password length enforcement and turned it into a setting. Probably time to rethink this one too.

[2022-07-25 03:04] gabrielfava commented on #2726
Is this feature already available on the latest stable version?

[2022-07-25 04:37] jtraxy commented on #6935
Apologies that we didn't notify you. Yes, it was resolved in 2.14.0 under a different issue ticket (hence, why we missed coming back to you): https://github.com/portainer/portainer/issues/7047

Thanks for confirming that it's ok now.

[2022-07-25 04:37] #6935 closed, assigned to nobody

[2022-07-25 04:46] jamescarppe commented on #7322
What values do you see when you do `docker system df`?

[2022-07-25 04:47] jamescarppe commented on #7321
If you roll back to the previous version, does the issue go away?

[2022-07-25 04:49] jamescarppe commented on #7311
Thanks for your feedback. We're looking at potentially adding a toggle for this functionality on a per-template basis in a future version.

[2022-07-25 05:44] jtraxy opened #7337 "Clickable link for an app shows incorrect port when using an ingress"
**Bug description**
There's an issue where the link shown for an application that is exposed via an ingress is including an incorrect port (the servicePort).

**Expected behavior**
The link shouldn't include the port.

[2022-07-25 05:45] jtraxy commented on #7337
Resolved in release that'll be out soon.

[2022-07-25 05:45] #7337 closed, assigned to nobody

[2022-07-25 05:58] jtraxy commented on #6681
Closing, as this was resolved under https://github.com/portainer/portainer/issues/6841 and, as James C. predicted, was released in CE-2.13.0 and EE-2.12.2.
@MistressMeeple, let us know if you still have a problem.

[2022-07-25 05:59] #6681 closed, assigned to nobody

[2022-07-25 06:01] jtraxy commented on #5300
The plan is to get this into Portainer 2.16.

[2022-07-25 06:11] samdulam commented on #3092
Share portainer logs when this issue is happening to help troubleshoot.

[2022-07-25 07:32] MVJosh commented on #6271
The bug appears to be with the UI, rather than Portainer's backend. I've been working around this by configuring Portainer via its [API](https://docs.portainer.io/v/ce-2.9/api/docs).

The LDAP part of the configuration can be done via `PUT /settings`.
From my experience, I've found Portainer doesn't respect any `TLSCACert` value I set via the API, so I'm still left with placing the CA file in the

[2022-07-25 09:04] KES777 commented on #7322
todays state:
[code]

![image](https://user-images.githubusercontent.com/799021/180740222-e5dfe1ca-1ae0-4032-8312-05366ca437e3.png)

[2022-07-25 09:06] KES777 commented on #7322
And after removing one not used image:
[code]

![image](https://user-images.githubusercontent.com/799021/180740514-ef4dc868-59a3-48f9-9c53-723d8dc5dafc.png)

Seems `build cache` was missed.

[2022-07-25 11:37] Hani2002 opened #7338 "HTTP/HTTPS proxies on Portainer"
Dears,

Appreciate you help , iam not able to get Application templates list , Message appear in Portainer logs as below

`time="2022-07-25T11:32:52Z" level=info msg="2022/07/25 11:32:52 http error: Unable to retrieve templates via the network (err=Get \"https://raw.githubusercontent.com/portainer/templates/master/templates-2.0.json\": proxyconnect tcp: dial tcp 10.1.0.1:8080: i/o timeout) (code=5

[2022-07-25 12:05] jamescarppe commented on #7322
The size displayed is the size of the images (hence being in the Images tile). In the first image, your 7.5GB comes from the 6.505GB in the Images `SIZE` column _plus_ the 974.1MB in the `RECLAIMABLE` column (with some rounding). Reclaimable indicates unused images that are consuming space and thus can be "reclaimed".  Once you've removed that unused image, the reclaimable value goes to 0B and the

[2022-07-25 12:08] jamescarppe commented on #7338
Is `10.1.0.1:8080` the IP and port of your proxy server? Is it accessible from within the container network (bear in mind this will have a different subnet and if your proxy server is limiting on subnets it may be being blocked)?

[2022-07-25 14:54] prashantdwivedi commented on #7138
install freshly "Endpoint." section not event show

[2022-07-25 14:56] KES777 commented on #7322
This is not outside of `Images`.
![image](https://user-images.githubusercontent.com/799021/180807394-9762e3cc-a209-4808-85cc-1a0db96e34af.png)

as you can see this is same line

[2022-07-25 14:57] KES777 commented on #7322
Would be better to see `reclaimable` via slash. eg. 6.5/1

[2022-07-25 16:15] samdulam commented on #7138
@prashantdwivedi
endpoints has been renamed to Environments.
Send a screenshot if you can.

[2022-07-25 19:03] goatatwork commented on #7163
Tested here on a Pi4 and the sliders are both correct on the Duplicate/Edit form.

[2022-07-25 20:44] goatatwork commented on #7173
Hi @Arch-Impuls - Thanks for submitting this. Will you please verify what version of Portainer you're running? You can just look at the bottom left navigation column for that info.
Can you describe how you are creating the stack in Portainer? Are you using a compose file in the web editor, or using the git repository option?
Thanks.

[2022-07-25 20:59] ThierryBegin commented on #1616
absolutely not, Custom template let you define individual tempalte but does not pull a list of template. this feature is definitely needed

[2022-07-25 22:00] rdwebdesign commented on #7163
I'm not sure what is different in my case.

![portainer_resources](https://user-images.githubusercontent.com/1385443/180881034-2ecaf55f-51e9-4e81-96a8-3788a2beb1b7.gif)

**Note:**
Tested using Firefox, Chrome and Edge. Same result.

**EDIT:**
The video is not showing the version number.
I'm currently running **2.14.1**

[2022-07-26 00:14] WaysonWei opened #7343 "Team leader can see all environments which they should not"
As a team leader of the team, he/she can see all environments even the one they has not access to it.

[2022-07-26 00:16] #7343 closed, assigned to nobody

[2022-07-26 01:05] jtraxy commented on #6566
This is resolved in the forthcoming 2.15.0 release in the following way:
_Fixed recreate of container so it pulls the image using the SHA256 hash if its tag no longer exists, and if the image is still inaccessible (as it no longer exists or the tag or name is now incorrect) warn the user and disable 'Pull latest image' option._

[2022-07-26 01:05] #6566 closed, assigned to nobody

[2022-07-26 04:31] WaysonWei commented on #7120
Closing this issue as we already completed the fixed and that will go into Portainer EE 2.15 release. Thanks.

[2022-07-26 04:31] #7120 closed, assigned to nobody

[2022-07-26 07:56] nowegra opened #7346 "Unable to retrieve Containers/Stacks"
**My Enviroment:**

- Docker Version: 20.10.17
- Portainer Version: 2.14.2 CE
- NginxProxyManager Version: 2.9.18
- OS: Ubuntu 22.04 LTS

I'm running portainer on a docker standalone enviroment with the NginxProxyManager as a reverse proxy.
It ran fine for about one or two days but now i'am getting the error 'Unable to retrieve Containers' if I click on the container button in the portainer ui. If

[2022-07-26 08:21] RomyxBaps commented on #6635
Hi,

I can confirm than with the version 2.14.2, the restricted access are available :).

[2022-07-26 09:53] RobertBarachini commented on #3092
Unfortunately I've already wiped the entire setup before reinstalling but I'll provide logs if I can reproduce the bug.

[2022-07-26 16:27] jerrac opened #7348 "What causes stacks to be orphaned?"
Use Case (delete as appropriate): Test stack at work

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
So, for some reason, my stacks keep getting "orphaned" overnight. Unfortunately, it doesn't happen every night... I posted over on [reddit](https://www.reddit.com/r/portainer/comments/w5reph/what_can_cause_orphaned_stacks/) a few days ago, but there doesn't see

[2022-07-26 16:33] jerrac commented on #7348
Never mind. I am 90% certain I've been clicking on the Local environment by accident. Instead of the Agent environment. The Agent environment is not orphaned. * epic facepalm *

[2022-07-26 16:33] #7348 closed, assigned to nobody

[2022-07-26 20:59] tamarahenson commented on #7346
STR3IKERKRYPTON:

Can you try a different browser, incognito window and/or clearing all cache and cookies?  Also, can you attach the Developer Console errors upon receiving the 'Unable to retrieve Containers' error, for review?

Thanks!

[2022-07-26 23:26] jamescarppe commented on #7219
A quick update on this: We're discussion options internally for this around improving the performance of this feature, as well as potentially an option to disable the feature entirely.

In terms of disabling the feature, would you prefer this as a per-environment setting or a universal setting (affecting all environments)?

[2022-07-27 01:10] jtraxy commented on #4580
This improvement is available in the forthcoming 2.15 release which will be available soon.
For some reason, I can't link the PR and this issue ticket, but the PR is:
https://github.com/portainer/portainer/pull/7081

[2022-07-27 01:10] #4580 closed

[2022-07-27 06:42] prashantdwivedi commented on #7138
Please see the image and tell me where it is?
<img width="1647" alt="CleanShot 2022-07-27 at 12 11 02@2x" src="https://user-images.githubusercontent.com/6306052/181179062-925c58e9-50f1-417c-9331-0f9844b0bd0b.png">

[2022-07-27 06:47] aobh commented on #7219
Per-environment for me would be great!

[2022-07-27 06:50] samdulam commented on #7138
@prashantdwivedi
You are on the Environments section in the screenshot. Like I said Endpoints is now called Environments.

[2022-07-27 09:35] prashantdwivedi commented on #7138
Got it thanks!

[2022-07-27 10:50] raghavan2004 opened #7355 "How many wordpress and my sql websites i can have in the portainer"
I am new to portainer and I liked the software, I tried in linode. But having questions where I am unable to find the answers.

**Question**:
1 . I am a Wordpress developer and need to list my wordpress websites. How many wordpress can i install in 1 portainer container.

2. Will I have a 1 click installer like which is present in the cpanel , Softaculousl.

Regards.Vijey

[2022-07-27 12:29] zx900930 commented on #3092
This can be temporarily fixed by `docker restart portainer` if you really want to regain access to portainer.
Sometimes the restart didn't work so you need to delete the `portainer_data` data volume and recreate it (This will reset portainer data, make a backup before doing this!).

For heimdall user, it's better to create a non admin user and give enviroment access to it and use that separate acc

[2022-07-27 17:47] burnacid commented on #7219
Maybe on-demand scan for updated images would be an alternative. But per environment disabling will be nice

[2022-07-27 17:58] mhbates commented on #6798
Sure, here you go:

- Ubuntu 20.04.4 LTS
- Standalone
- 33 containers

I don't think there are any other unique considerations. It's a pretty simple environment, I think. With Portainer 2.11.0, I select all containers and hit Stop, and within about 5 seconds they're all stopped. With any version above 2.11.0, if I do that, it seems to hang on random containers, taking several minutes total.

[2022-07-27 20:49] cpritchett commented on #6555
AWS has the vast majority of Cloud market share, and I would assume that means the vast majority of "s3-compatible" storage market share as well. Any other solution out there whether it's from another cloud provider or one hosted locally I do believe is a reverse engineering of the S3 API.  It doesn't make them any less viable, but it probably does explain why this was hard-coded to begin with.

[2022-07-28 03:28] samdulam commented on #7355
@raghavan2004
Portainer makes it easy to use docker and kubernetes. You can not install wordpress as such in Portainer.
You may use Portainer to deploy containers that run wordpress.
How many? Depends on the resources on your docker host and resources required for each wordpress site.

I'd proceed to close this issue as it is not related to Portainer specifically. I'd suggest you join our communit

[2022-07-28 03:28] #7355 closed, assigned to samdulam

[2022-07-28 03:33] #6635 closed, assigned to nobody

[2022-07-28 03:34] #6634 closed, assigned to nobody

[2022-07-28 03:34] samdulam commented on #6618
fixed in 2.14.2

[2022-07-28 03:34] #6618 closed, assigned to goatatwork

[2022-07-28 03:35] samdulam commented on #6590
Can you please confirm if this is still an issue in 2.14.2?

[2022-07-28 03:38] samdulam commented on #6946
changed to use specific version tags instead of latest.

[2022-07-28 03:38] #6946 closed, assigned to nobody

[2022-07-28 03:43] samdulam commented on #7222
@victorwon
Please upgrade to 2.14.2 and confirm whether the issue is resolved for you.
Thanks

[2022-07-28 07:48] samdulam commented on #7309
This happens as Portainer adds a label `io.portainer.kubernetes.application.owner: ` with your username as the value. When using OAuth in Portainer your username is usually an email address.
Unfortunately, current workaround would be to log into Portainer as an internal user and deploy or using our kubeshell functionality.
This will be fixed in a future release shortly.

[2022-07-28 07:59] samdulam commented on #7309
@oxygen50
From your screenshot above
`User Identifier` is what we use to get the value. So, changing that to something that gives you something other than email would also work.

I use Oauth with Azure AD and I had to change User Identifier from `userPrincipalName` to `mailNickname`.

[2022-07-28 08:10] VirgileD opened #7368 "No more Service WebHooks ?"
Hello!
I just updated an old portainer version that was running an early 2 version. I updated to 2.14.1 CE. It is "managing" a docker swarm of 3 nodes in a lab/R&D infrastructure.
Since the update, I can't find the "Service webhook" switch on the service detail page, is it normal?
We use this extensively to make the deployment process more easy.
Maybe I missed an option somewhere?

[2022-07-28 11:25] StephenGoodall commented on #6590
Yeah, seems to still give the error when using "pull latest" option on recreate button 🙂

[2022-07-28 11:37] Samyssmile opened #7369 "Cant delete a Stack created by Portainer"
I want to create a Stack with Portainer 2.14.2

After configuration I clicked on deploy stack, an error message appears  caused of wrong configuration. After I fixed my Config, I clicked on deploy stack again.  This time I got the error Message  that Portainer cant save this stack because of name conflict of already existing stack. This is not possible because the name was 100% unique.

So I check

[2022-07-28 12:57] victorwon commented on #7222
Thanks, the issue is resolved.

On Wed, Jul 27, 2022, 11:43 PM samdulam ***@***.***> wrote:

[2022-07-28 13:17] kroese opened #7371 "Some upgrade indicators always stay red"
For some images, for example `homeassistant/home-assistant:latest` and `linuxserver/smokeping:latest` the upgrade indicators always stay red.

Normally when re-pulling the image the indicator switches to green, but for these two specific containers I'm unable to get them to green. For every other container on my system, I don't have this problem.

Is there something wrong with how those two images

[2022-07-28 13:24] #7222 closed, assigned to tamarahenson, samdulam

[2022-07-28 14:43] wolfcry0 commented on #6701
I am also experiencing the same issue, referencing 'stack.env' as per the blog post results in an error:

`open /data/compose/89/stack.env: no such file or directory `

EE 2.14.0, docker swarm mode.

This is a bit confusing, as I'm fairly certain I am following the blog post instructions correctly.

[2022-07-28 17:02] torwag opened #7376 "Enable git commit and push as well as local changes.... and maybe even merging"
**Is your feature request related to a problem? Please describe.**
I love to keep my docker-compose resp. my stack configuration in git for various reasons. I loved to see that portainer enables me to import a stack from a docker-compose file from a git repro. However, I can't push local changes I do in portainer, nor can I see the config in portainer itself, if the import came from a git repro. T

[2022-07-28 17:44] goatatwork commented on #6590
I was just attempting to reproduce in 2.11.1 so that I could see if the upgrade to 2.14.2 fixed it. I was not able to reproduce this using the files that @talesam provided above. I manually created the external network (`t4l35-net`) to stick with the example above. I then turned up Portainer with the almost-identical compose file. The only change was to the timezone with TZ=America/Chicago. Once i

[2022-07-28 19:14] sandros94 opened #7378 "Cannot input lists via ENV on a Stack"
Portainer CE 2.14.0 on a Docker Swarm

I'm aware that `docker stack deploy` doesn't accept env files, and up until now I've used the portainer ui to add them.
But I've noticed only now that I cannot input lists with the env variables.

----

### What happened
[code]
**.env argument:**
`NODE_PLACEMENT = [node.hostname == hostname]`

**Error:**
![Immagine 2022-07-28 205903](https://user-images.githu

[2022-07-28 19:54] DerStoffel commented on #6368
Hey @joshua-portainer,

while you are looking for feedback, I'd highly welcome that introduction.
Also not just the format, but having it connected would be amazing.

Cheers

[2022-07-28 20:24] tamarahenson commented on #7369
Samyssmile:

Can you select the stack and then delete the Container?  I had a Limited stack created and was able to delete via that method.  If errors still persist, can you attach the Developer Console responses?

Here is my testing:
![delete_container](https://user-images.githubusercontent.com/20426210/181630480-645d3f3c-a330-471c-9352-d2a84d1bd3f3.gif)

[2022-07-28 20:33] tamarahenson commented on #7368
VirgileD:

Thank you for the information.  I am going to follow up and investigate.  I will update you as I learn more.

Thanks!

[2022-07-28 21:32] tamarahenson commented on #7368
VirgileD:

Which version of Portainer were you running before upgrading?  I am seeing that Portainer CE 2.14.1 has the Service Webhook toggle.  Below is my testing and attached gif for review.

[1] Deploy Portainer CE 2.14.1 Docker Standalone
[2] Deploy Docker Swarm
[3] Add Environment >> Docker Swarm Agent
[4] Add Registry >> Docker Registry
[5] Services >> Add Service >> Create a Service Webhook

[2022-07-28 21:42] joshua-portainer commented on #6368
Thanks @DerStoffel,

You mentioned having it connected, Are you able to elaborate further on how you see that working?

[2022-07-28 22:56] StephenGoodall commented on #6590
@goatatwork if you just brought that one up, would it already be using the latest container - so, would that mean it has nothing to try and pull down in the recreate process? Maybe it needs to be a running container that has an update waiting to be pulled down (i.e. using an older "latest")?

[2022-07-28 23:39] tamarahenson commented on #7371
kroese:

Upon review of the documentation [here](https://docs.portainer.io/user/docker/containers)

"The circle next to the image name indicates whether the local image is up to date, with a green circle indicating it is up to date and a red circle indicating that there is a newer version of the image available at the remote registry. A grey circle indicates Portainer was unable to determine wheth

[2022-07-29 01:44] jamescarppe commented on #7371
@kroese

Issue https://github.com/portainer/portainer/issues/7148 might also apply here, specifically:

[2022-07-29 06:18] ghost commented on #7309
Thanks for the quick analysis. I currently use the internal user for deploying stuff. I hope this get's fixed soon :) is a little pain if you use OAuth2 with everything ;-)

[2022-07-29 08:51] VirgileD commented on #7368
Hello @tamarahenson , thanks for your prompt answer. I'm not 100% sure, I think it was a CE 2.0.9.
I found this morning what the catch was: When logging with my personnal account (LDAP based auth) I don't see the service webhook toggle line:
![servicehooks](https://user-images.githubusercontent.com/134211/181719014-c9cdfd70-a1e0-494f-ae96-56d463320d70.png)

But as admin, it's there. I see that set

[2022-07-29 08:51] #7368 closed, assigned to tamarahenson

[2022-07-29 13:23] kroese commented on #7371
@tamarahenson This:

[code]

[2022-07-29 13:50] Samyssmile commented on #7369
Yes, this workaround helped. I need to delete all of the container inside the stack, then the stack disapears.

[2022-07-29 14:00] Samyssmile opened #7386 "Can not recreate container with latest Image."
I use 2.14.2 with a private docker registry.

After configuration of all networks, stacks and up & running everything worked as expected.

Today I released a new Build of one of my images, my CI/CD Pipeline pushed it to the registry like it did the entire last year. Now I want to click on the container and recreate it with the option " pull latest image ". This leads to following Error Message:

H

[2022-07-30 10:51] Samyssmile commented on #7386
After hours I found a workaround. Complete delete the registry from Portainer and create new one with a different name as previous one. Enter same credentials.

[2022-07-30 20:08] talesam commented on #6590
Version 14.2 it's OK!

[2022-07-31 06:50] horacecar commented on #81
are we having any update here?

[2022-07-31 13:39] saabman commented on #4923
Try looking under "stacks" and stopping the pihole "stack" first then you should be able to remove the image

[2022-07-31 17:22] riteshharjani commented on #2026
I was facing the same problem even on Portainer 2.14.2.
So I copy pasted the templates-2.0.json and added [ ] brackets around the {} as @vboufleur explained.

[2022-08-01 01:56] joshua-portainer opened #7393 "Standardize the Add devices page UI with the Add envrionments page"
The Add environments page was updated to match the initial environment wizard, The add devices page is still the older UI.

Use the newer UI/UX for adding edge device environments from the Edge device page.

[2022-08-01 01:57] #7393 closed, assigned to nobody

[2022-08-01 02:03] joshua-portainer opened #7394 "REmove the "show container templates" toggle and introduce "Sort By" and filters"
Remove the "show container templates" toggle and introduce a dropdown filter option.

![image (5)](https://user-images.githubusercontent.com/82781759/182058181-99337e96-bfa9-4892-9af9-e0bab84b49db.png)

It would also be helpful to select a "Sort by" and sort direction.

[2022-08-01 02:03] #7394 closed, assigned to nobody

[2022-08-01 02:10] joshua-portainer opened #7395 "Environment table checkboxes reset when the table refreshes"
Given I’m in the environment list view
And I have selected 1 or more envs
When the environments table refreshes,

Expected result
Then the checkboxes previously selected should remain checked
and the remove button should remain active
and the number of selected environments (below the table) should match the number of selected envs

Actual result
The checkboxes go to an unchecked state
Yet the rem

[2022-08-01 02:10] #7395 closed, assigned to nobody

[2022-08-01 02:15] joshua-portainer opened #7396 "Not all "Be Feature indicators" are showing in CE"
When migrating to React it seems the “BEFeatureIndicator” style was inadvertently removed.

This should be re-imported.

[2022-08-01 02:16] #7396 closed, assigned to nobody

[2022-08-01 07:18] samdulam commented on #7369
Stacks deployed external to Portainer show up with Limited Control. These can not be fully controlled by Portainer and hence deleting is not officially option though the workaround mentioned above works.

[2022-08-01 07:18] #7369 closed, assigned to tamarahenson

[2022-08-01 07:52] MetalArend commented on #3572
So, are there any plans to add `portainer --healthcheck`, possibly with a `--no-tls` extra flag?

[2022-08-01 08:56] hnaderi commented on #6481
I have this problem on a few specific stacks occasionally
Portainer version `2.14.2`

[2022-08-01 13:32] goatatwork commented on #6590
@StephenGoodall - "Pull latest image" forces a docker pull regardless of whether or not the remote image is newer. Portainer won't even check and will instead let Docker handle it. Using `hello-world:latest` as an example. It's like doing a `docker pull hello-world:latest` in that if there's a difference between local and remote, Docker will pull the image and report "Status: Downloaded newer imag

[2022-08-01 17:44] goatatwork commented on #7163
@rdwebdesign - 2.14.2 has been released. You might want to update and the check those sliders again.

[2022-08-01 19:35] rdwebdesign commented on #7163
I just tested in Portainer 2.14.2.

I see the same behavior. The sliders return to zero when I try to "Duplicate/Edit" a container with memory limitation. The CPU info always returns correctly.

[2022-08-01 19:53] rdwebdesign commented on #7163
**Note1:**
I'm not sure if this is related, but I noticed "Memory Usage" graph always shows _Zero_, for every container.

![image](https://user-images.githubusercontent.com/1385443/182232599-7562d387-b4cd-46ae-87b4-97d9c5f2a1b6.png)

**Note2:**
I don't usually need this functionality. I only used it for a few tests, saw the problem and reported it.
This is not a serious problem. It's just a little

[2022-08-02 08:06] michelkok commented on #2902
If I understand correctly, this is only possible if Portainer is linked to Github? Is there a way to add multiple files when simply using the Web editor?

[2022-08-02 08:42] ghost opened #7401 "Portainer will incorrectly notify about new version available to download"
**Bug description**
Portainer will repeatedly and persistently notify the user that a new software version is available for download, and that the user should upgrade their instance. In my case I'm being told to upgrade version 2.14.2 of Portainer CE to version 2.14 of Portainer CE. See picture below for details. Dismissing the notification only persists until next session. (cookie / localstorage

[2022-08-02 16:57] tamarahenson commented on #7401
hcshmk:

Thank you for the information.  If you select dismiss, the action is stored in the browser cookie and the current Message of the Day will no longer appear.  If the cookie has been cleared, the current Message of the day will re-appear.  This is not an update notification.

Thanks!

[2022-08-02 17:01] tamarahenson commented on #7386
@Samyssmile:

Thank you for the update.  I am glad to hear that you were able to find a workaround.  I was unable to reproduce this issue.

Thanks!

[2022-08-02 17:26] tamarahenson commented on #7371
@kroese

Thank you for the additional information.  We currently have enhancements logged to improve upon this feature.

Interim, can you post your Portainer logs for review?  I am looking for the message that would appear like this:
`level=debug msg="digest from remote image <.....>`

Thanks!

[2022-08-02 17:31] tamarahenson commented on #7161
@markweber1980

I wanted to follow up on this request.  Can you join our Community Slack here:  https://join.slack.com/t/portainer/shared_invite/zt-1alp9nwnk-fTP3qAA~zEGmx591wQU3Ow and private message me the information?

Thanks!

[2022-08-02 18:44] theidlemonk commented on #6407
change the variable names in data to Pascal Case.
data = {"username":...
becomes
data = {"Username":...
in case you're still looking for the solution.@giovanniruocco @heyirong

[2022-08-02 22:59] jtraxy commented on #7047
This likely wasn't 100% resolved correctly in CE-2.14.
Hence, a new change is being made for CE-2.15 (https://github.com/portainer/portainer/issues/7441).

[2022-08-02 23:01] huib-portainer commented on #2902
That's correct. You can only use multiple compose files when using Git.
Feel free to open a new github issue to request that for the web editor as well.

[2022-08-03 06:29] ghost commented on #7401
I read your comment as "not a bug". It's an annoying feature, but a feature nonetheless.

Closing the issue.

[2022-08-03 06:29] #7401 closed, assigned to tamarahenson

[2022-08-03 07:51] michelkok opened #7410 "Multiple compose files without Git"
**Is your feature request related to a problem? Please describe.**
Multiple compose files are handled using Git, see #2902. However, using Git is just one of the options when it comes to creating stacks.
When not using a (public) Git repo, it is currently not possible to write multiple compose files - confirmed [here](https://github.com/portainer/portainer/issues/2902#issuecomment-1203294319).

**

[2022-08-03 07:51] michelkok commented on #2902
Thank you, I have opened #7410.

[2022-08-03 08:00] timBeehexa commented on #6522
Same issue here. Would be appreciated if anyone could help <3

[2022-08-03 11:11] h3n3b0sch commented on #3940
I had the same issue. What helped me was: [#https://github.com/portainer/portainer/issues/6353](https://github.com/portainer/portainer/issues/6353#issuecomment-1019362238) ; enable Websockets Support in Nginx Proxy Manager.

[2022-08-03 19:38] pavel-lobach commented on #7386
I've seen the same issue. By same reason the tasks failed with the error that 'no basic auth credentials'. I've had ECR registry with the credentials and at the same time the nodes have had the IAM role with RO access to the ECR. So it seems that since I am not the first - something was wrong with Portainer. Not sure what,

[2022-08-03 19:46] pavel-lobach opened #7417 "Get list of webhooks via API"
Hello, is it possible to get the list of webhooks via API?

I try to send the GET request

http GET <portainer_url>/api/webhooks
with header X-API-Key:Portainer-Access-Token

but I get {"message":"Unable to find an environment with the specified identifier inside the database","details":"object not found inside the database"} in the response. I am sure it was working in previous versions.

Thanks.

[2022-08-03 22:52] tamarahenson commented on #7417
@pavel-lobach

Thank you for the information.  I am going to review this.  I will update you as I learn more.

Thanks!

[2022-08-03 23:58] tamarahenson commented on #7417
@pavel-lobach

I was able to reproduce:

[code]

I am working with Engineering regarding.  I will update you as I learn more.

Thanks!

[2022-08-04 00:07] huib-portainer opened #7420 "Update Portainer agent library dependencies"
**Is your feature request related to a problem? Please describe.**
Update any Portainer agent library dependencies that are out of date

[2022-08-04 00:08] #7420 closed, assigned to nobody

[2022-08-04 22:21] #6537 closed, assigned to nobody

[2022-08-04 23:34] jamescarppe commented on #7378
I've done some testing around this and this appears to be specific to the placement constraints - I was able to add a healthcheck in the list format via an environment variable without an issue, but had the same result as you when trying to define a placement constraint.

I was able to work around this by defining the placement in this format:

[code]
along with:
[code]

[2022-08-05 00:45] jtraxy opened #7430 "Adding a Quay registry should allow name input and multiple Quay registries should be able to be added"
**Bug description**
When adding a registry of type Quay, you are not prompted for the name, it always sets it to 'Quay'.
Since a fairly recent change to restrict adding of registries with the same name, this now means you can't add multiple registries of type Quay.

**Expected behavior**
You should be able to key in the name for registries of type Quay, and hence can set up multiple of them.

[2022-08-05 00:46] #7430 closed, assigned to nobody

[2022-08-05 02:27] jamescarppe commented on #7410
We'd like to understand your use case for this functionality - in what scenario would you want this capability within Portainer?

[2022-08-05 03:10] JobberRT opened #7431 "Failed to import image with no error output"
**Bug description**
Import image comes with a failure says unable to upload.
A couple days ago this works perfectly fine, and since then nothing change except new container started.

Test image is export from my macbook's Docker Desktop using `sudo docker save XXXX -o XXX.tar`

Tried to fresh install portainer, and even the entire OS, nothing helped.
Tried portainer-ce 2.14.0 and 2.14.2(latest), b

[2022-08-05 03:11] JobberRT commented on #7431
click on the Chrome Dev's request history, it'll show `net::ERR_ACCESS_DENIED`
<img width="524" alt="exp" src="https://user-images.githubusercontent.com/17498767/182993499-28b28bda-874f-450f-a17b-5f33e53f9177.png">

[2022-08-05 03:12] joshua-portainer opened #7432 "When modifying Edge Job with Cron configured it changes Cron expression"
Add Edge Agent

Create Edge Group

Create Edge Job with Cron Rule * * * * *

Modify Edge Job

Notice Cron expression is changed from * * * * * to NaN NaN NaN NaN *

 

Expected Behaviour:

After modifying Edge job Cron expression is still * * * * *

Actual Behaviour:

 Cron expression is changed from * * * * * to NaN NaN NaN NaN *

[2022-08-05 03:13] #7432 closed, assigned to nobody

[2022-08-05 03:45] zetchs7 commented on #4923
It Works.
I installed by the stack....so, I uninstalled using the stack way... it work perfectly.
Thank you.

[2022-08-05 07:04] michelkok commented on #7410
Any of the approaches described [here](https://docs.docker.com/compose/extends/)? Also the approach as described in the linked #2902.

[2022-08-05 11:44] sandros94 commented on #7378
In fact, couple days ago, I had the same resaults as you for a healthcheck list, so I started to think it was not a portainer/ui related issue.
The more I tested the more I knew there had to be a simple work around but didn't think about a simple reformatting, and it does indeed work.

Personally, even for production, this solution is more than enough and atm doesn't justify me to track down this

[2022-08-05 13:09] sandros94 commented on #6288
what about for stack deploys? Couldn't find any documentation if it's even possible

[2022-08-05 13:26] raphb83 commented on #7321
Having the same issues on WD MyCloud EX4100. Button to deploy the stack is not clickable

[2022-08-05 14:15] tamarahenson commented on #7417
@pavel-lobach

I wanted to follow up on this request.  The List webhooks API started requiring the `endpointId` and `ResourceId` as of Portainer EE 2.12.0.  I have logged an internal request to have our documentation updated accordingly.

The command and output looks like this.  The Token is the URL:

[code]

Thanks!

[2022-08-05 14:53] tamarahenson commented on #7376
@torwag

I wanted to follow up on this request.  I have forwarded this onto Engineering.  Ongoing discussions are currently taking place regarding.

Thanks!

[2022-08-05 15:45] tamarahenson commented on #7431
@JobberRT

Thank you for the information.  I am going to investigate.  I will update you as I learn more.

Thanks!

[2022-08-05 16:16] r3pek commented on #6797
Kinda of a dup of https://github.com/portainer/portainer/issues/4410 ?

(sorry was looking for bug on why my logs aren't auto-scrolling-down)

[2022-08-05 18:36] KES777 commented on #7018
Was this reviewed?

[2022-08-06 01:51] divStar commented on #7142
Hm... I have read through this issue, but what's weird, is:
if I run
[code]
from the `/dist` folder, it works while running
[code]
from the project root does not, resulting in the `FATAL[0001] Failed creating compose manager: docker-compose plugin is missing from config path` error.

I am using the latest `zsh` (Mac M1) with latest MacOS, GO and Docker if that makes any difference.

I suppose it t

[2022-08-06 09:58] bannert1337 commented on #3940
This helped me! Thank you!

[2022-08-06 16:18] jeanfrancoisgratton opened #7434 "Custom labels in Dockerfile not updated when deploying a container from an updated image"
**Bug description**
Custom labels are not updated when updating an image + its container

**Expected behavior**
Custom labels should reflect the ones in the Dockerfile

**Portainer Logs**
n/a

**Steps to reproduce the issue:**

1. Create a docker image, put some labels in it, such as:
[code]

2. Build image, import it via PortainerCE, deploy container.
3. Go back in Dockerfile, increment both labe

[2022-08-07 08:59] truong-hua opened #7435 "Range port opening/mapping will cause layout to be broken due to portainer display port mapping one by one"
**Bug description**
If we map a range of port, like 10 thousand ports. The layout of portainer will be broken like this in the Service List page and we can not see task information anymore

![image](https://user-images.githubusercontent.com/2027923/183283406-164f64b5-4d9d-4441-84f0-1b32a1f936d5.png)

**Expected behavior**
Portainer display range mapping or limit the number of port mapping displaye

[2022-08-07 09:45] drbytes commented on #4305
@poldim : Thank you for the Yacht tip, I came here to see why portainer-ce didnt support no-auth and found out that it's never going to be supported again. Moreover, it now forces me to pick a hardened password or it wouldn't allow me to use it.

Forget that, if attackers can access the portainer ui to try authenticating something has already gone horribly wrong.

Yacht works great and is basicly

[2022-08-07 16:12] Silversurfer79 opened #7437 "Issue mounting a nfs4 mount subfolder with a Portainer stack (docker swarm)"
Hi All,

Im trying deploy pi-hole in a portainer stack in a docker swarm. No mounting hte NFS4 share is not the issue as i have the at working, the issue arrives when I try mount a secnd subfolder within the original NFS share. As you may or may no not know, but pi-hole has two volumes that must be mounted, the sceond is a subfolder with in the priamry fold.

Thanks in advance!

![dfsdfasfsdf](htt

[2022-08-07 19:13] Winfle opened #7439 "Can't pull image from private ECR repository using Amazon EC2 instance"
**Bug description**
So, I've added a private ECR registry credentials and seems like swarm can't connect to this repo:
From dockerd I can see that:
`Aug 07 10:41:24 ip-10-0-1-242 dockerd[1334]: time="2022-08-07T10:41:24.886861737Z" level=error msg="pulling image failed" error="Head \"https://xxxxx.dkr.ecr.eu-central-1.amazonaws.com/v2/magento/manifests/latest\": no basic auth credentials" module=n

[2022-08-07 19:36] torwag commented on #7376
Thanks for looking into it

[2022-08-07 22:47] joshua-portainer opened #7441 "Further improvements for Go panic state for the environment list handler"
Previous fix for https://github.com/portainer/portainer/issues/7047 did not resolve everything.

This can still occur in some scenarios. See issue #7047 for complete details.

[2022-08-07 22:51] #7441 closed, assigned to nobody

[2022-08-08 01:09] jtraxy opened #7443 "Invalidate client-side caching between version upgrades"
**Is your feature request related to a problem? Please describe.**
Improve caching to prepare a resolution for an issue where certain browsers require a manual browser refresh for new version assets to load. The change only takes effect for upgrades subsequent to migration to 2.15 (or a later release if 2.15 is skipped).

**Describe the solution you'd like**
Some means to not have to manually brow

[2022-08-08 01:10] #7443 closed, assigned to nobody

[2022-08-08 03:56] jamescarppe commented on #7378
Thanks for getting back to us on this. I'll close the ticket off for now.

[2022-08-08 03:56] #7378 closed, assigned to jamescarppe

[2022-08-08 04:05] jamescarppe commented on #7435
I note you're running version 2.9.3 which is over 6 months old - can you try [updating to the latest version of Portainer](https://docs.portainer.io/start/upgrade) and see if this issue still exists?

[2022-08-08 09:33] Winfle commented on #7439
I can confirm, that my problem has been solved.
The issue was in internal portainer overlay network conflicting with subnetwork on EC2 instances.
I had CIDR 10.0.1.0/24 on AWS, which overlaps internal DNS of docker network.
@samdulam thank you so much for your help!

[2022-08-08 09:33] #7439 closed, assigned to samdulam

[2022-08-08 13:03] pavel-lobach commented on #7417
Hello @tamarahenson ,

Thank you for following this up. Is it possible now to retrieve all webhooks from the specified endpoint?

The reason I'd love to use it is to send a webhook by the name of the service instead of the webhook id. I can find the appropriate webhook by the external script, but I will need to get the list of all webhooks first.

Thanks.

[2022-08-08 17:19] tamarahenson commented on #7431
@JobberRT

I wanted to follow up on this request.  I was unable to reproduce the issue.  Please see attached.  The following were my steps taken:

[1] Portainer CE 2.14.0
[2] Images >> Import
[3] Select File >> Image >> name:tag
[4] Upload without error
[5] Upgrade to Portainer CE 2.14.2
[6] Repeat [1-3] without error

![image_upload_2](https://user-images.githubusercontent.com/20426210/183475383-

[2022-08-08 22:03] jamescarppe commented on #7437
Can you post the error message you get when you try this?

You're getting into the weeds of NFS mounting options here but you might want to look at `subtree_check`. https://linux.die.net/man/5/exports

[2022-08-08 22:52] tamarahenson commented on #7434
@jeanfrancoisgratton

Thank you for the information.  I have reproduced the issue.  I have attached my steps and attachments for review.

[1] Build Image `nginx-upload:latest` >> Import
[2] Containers >> Add Container `docker-label-testing` >> Image `nginx-upload:latest`
[3] Update my Dockerfile `LABEL dockerfile-version="11.20.10"`
[4] Build Image `nginx-label:latest` >> Import
[3] Containers >>

[2022-08-08 22:54] ooliver1 commented on #7254
I know this is a bad question but I saw git deployments came in 2.7. I was wondering if compose builds is planned soon as I would really like that feature.

[2022-08-08 23:03] jeanfrancoisgratton commented on #7434
@tamarahenson Thanks. Your steps are close enough of mine not to matter.

Will await triage, then.

[2022-08-08 23:08] ooliver1 commented on #6288
This would be awesome! I can't really use portainer as local dev testing wouldn't be great, having to use docker build and run is why I choose to use compose so not having build defeats it.

[2022-08-08 23:13] jamescarppe commented on #6288
We moved to docker compose v2 in 2.14, but there seems to be [conflicting information online](https://stackoverflow.com/a/66136860) as to whether `pull_policy` has actually been implemented in compose itself or not...

[2022-08-09 03:11] JobberRT commented on #7431
@tamarahenson Thanks for replaying, I just confirm that this is not a portainer issue. I consult my VPS provider, it seems it's their issue because I can not upload any file more than 1MB. Seems like a bandwidth limit,

[2022-08-09 03:11] #7431 closed, assigned to tamarahenson

[2022-08-10 08:27] tamarahenson commented on #7161
@markweber1980

Thank you for providing additional information.  While I was unable to reproduce the issue, you mentioned in our direct messaging that the error was resolved upon upgrading to BE 2.14.2.  I was able to find a "Failed to Load Environment" internal issue that had been logged and was resolved in BE 2.14.2.

Thanks!

[2022-08-10 08:27] #7161 closed, assigned to tamarahenson

[2022-08-10 08:32] tamarahenson commented on #7434
@jeanfrancoisgratton

Upon further testing, I was able to figure out a workaround:

[3] Containers >> `docker-label-testing` >> Duplicate/Edit
[4] Image `nginx-label:latest` >> scroll down to Labels >> Update the Label >> Deploy the container
[5] Containers >> `docker-label-testing` >> Review Labels

![docker-label-container-3](https://user-images.githubusercontent.com/20426210/183854281-c3a71bef-

[2022-08-10 08:44] Silversurfer79 commented on #7437
![image](https://user-images.githubusercontent.com/58236890/183857185-6d288281-480c-4796-9c75-c2f7b559648f.png)

[2022-08-10 10:57] jlucansky commented on #3576
If your Portainer instance is running in container, just add host mapping for `api.github.com:0.0.0.0`

[2022-08-10 19:44] bamtests commented on #6555
I did the same with Storj, slightly confusing at first but it ended up working nicely. I came here to essentially add a vote to the need for this as well as add Storj to the list of possibilities to be utilized, if not just wide open endpoint(s) for s3 compatible storage.

[2022-08-10 21:26] goatatwork commented on #7437
@Silversurfer79 - I will poke around to see if I can verify this, but I'm fairly (very) sure that you can not mount an individual file from an NFS share as an NFS volume. For what you are doing, I believe two volumes will probably be necessary.

[2022-08-11 01:24] jamescarppe commented on #7437
This actually feels like it might be a typo in your YAML. The YAML syntax is very strict on spacing - can you check if there's tabs instead of spaces on lines 23 and 24 or any other syntax issues? I note in your screenshot the red squiggly line under line 24, if you hover over this does it tell you why it's highlighting it as such?

[2022-08-11 06:09] jtraxy commented on #3015
This issue along with some others should be addressed in changes in 2.15 which should be released soon.

[2022-08-11 06:09] #3015 closed

[2022-08-11 06:14] jtraxy opened #7461 "Allow show/hide of the password you're entering on login"
**Is your feature request related to a problem? Please describe.**
When keying in your password in the login screen, it's easy to mistype and not realise what you've entered.

**Describe the solution you'd like**
I've like the ability to show/hide the password I'm entering on login.

[2022-08-11 06:14] jtraxy commented on #7461
This'll be in 2.15 soon.

[2022-08-11 06:14] #7461 closed, assigned to nobody

[2022-08-11 06:30] jtraxy opened #7462 "Add environment errors with URLs beginning http or https that are otherwise valid"
**Bug description**
When adding an environment via Docker or Kubernetes (agent) options, and when entering an environment address beginning http or https, if it is an otherwise valid address, it fails. It doesn't like the 'http://' or 'https://' that you've entered as a prefix.

**Expected behavior**
It should gracefully handle the fact that you've entered 'http://' or 'https://' prefixes.

[2022-08-11 06:31] #7462 closed, assigned to nobody

[2022-08-11 06:35] jtraxy opened #7463 "Build image - invalid characters are accepted for the name and an error then occurs"
**Bug description**
A clear and concise description of what the bug is.

**Steps to Reproduce**
1. Go Docker → Images → Build image
2. Enter an invalid name, e.g. Image, image#, @#$
3. Note that Portainer will show a checkmark indicating that the name is valid
4. Try to build the image

**Actual Result**
The name is marked with a checkmark as being valid, even though invalid characters are in use.

[2022-08-11 06:35] #7463 closed, assigned to nobody

[2022-08-11 08:16] urda commented on #3576
It looks like, given: https://github.com/portainer/portainer/blob/develop/api/http/handler/status/version.go#L62-L66

- It should be possible to fetch a configuration value to just skip this check.

[2022-08-11 08:41] syrinka opened #7464 "Re-deploy stack using webhook without pulling latest images"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:

I'm using a CI/CD tool to manage my projects. It build new image locally using docker in docker, and inform Portainer to re-deploy related stack using webhook as expected. The image didn't

[2022-08-11 16:10] jeanfrancoisgratton commented on #7434
Tested, it works fine, yes. Thanks @tamarahenson

[2022-08-11 21:54] ghost commented on #1034
Users should be able to modify anything that has to do with presentation of data. Columns and rows in tables should be user-modifiable.

[2022-08-12 04:13] samdulam commented on #7410
@michelkok

While we discuss the ability to  do multiple compose files without git, I wanted to test this with a Private Git repo. I'm using a Github private repo.

I was able to use multiple compose files from a private repository. Details of my simple test below

**docker-compose.yml**
[code]
**docker-compose.override.yml**
[code]
**Deploy as a stack in Portainer (Notice additional paths and Git

[2022-08-12 04:41] joshua-portainer opened #7468 "Introduce the ability to filter connection type and agent version on the home page"
There is no easy way to discern the version of an agent/edge agent.  Providing a filter to filter by version type allows you to see which environments need to be upgraded.

Likewise, if you have a mix of Agent, Edge Agent environments you cannot sort/filter these down so you can work across all edge agent environments or all agent environments.

Add the ability to filter the connection type and th

[2022-08-12 04:41] #7468 closed, assigned to nobody

[2022-08-12 07:22] michelkok commented on #7410
Thanks, that works for me.

[2022-08-12 10:26] sgofferj opened #7469 "[Feature] Make some information available in ENVVARs in edge stacks"
**Is your feature request related to a problem? Please describe.**
I'm deploying various edge stacks in my home network, to name a few, watchtower and telegraf. Both of them report information back  with their randomly generated hostname, which is not necessarily helpful. There seems to be no way for an edge stack to find out anything about its host.

**Describe the solution you'd like**
I would l

[2022-08-12 11:00] Yilun-Sun commented on #831
Great thanks! It works perfectly!

For me, I added some remote endpoints, so the docker.service file in the remote machine should have this code added to the end of the line:
`ExecStart=...... -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock`

After that, run
[code]

[2022-08-12 15:28] tamarahenson commented on #7434
@jeanfrancoisgratton

I wanted to follow up on this request.  Per further review with Engineering, this is working as intended.  You will need to follow the process as shown above to edit the labels.

Thanks!

[2022-08-12 15:34] tamarahenson commented on #7386
@Samyssmile

I wanted to follow up on this request.  Per further review with Engineering, we have an internal request logged and should be resolved in 2.16.

Thanks!

[2022-08-12 17:22] jumoog commented on #1961
thx for explanation and `sync; echo 1 > /proc/sys/vm/drop_caches`

[2022-08-12 19:21] pavel-lobach commented on #7417
Hello, @tamarahenson could you please address my question above to the technical engineers? Thanks.

[2022-08-13 00:02] carlosbonilla commented on #6798
I'm having precisely the same issue.

Same configuration:
- Ubuntu 20.04.4 LTS
- Standalone
- 19 containers.

It works when I stop just one, if multiple containers are selected it hangs indefinitely.

[2022-08-13 06:02] syrinka commented on #7464
use `/stacks/{id}/stop` and `/stacks/{id}/start` instead, solved.

[2022-08-13 06:02] #7464 closed, assigned to nobody

[2022-08-13 07:11] Jackxwb commented on #6737
What I show here is that "/locales/zh-CN/translation.json" cannot be loaded. At first, I thought it was a localization configuration file, but when I looked up the file path, I found that there was only "/locales/en/translation.json". It seems that there are only some configurations in the file, and I did not find the relevant configuration on the web page

/locales/en/translation.json
[code]
Port

[2022-08-14 02:30] Biztactix-Ryan commented on #6522
Consider it Confirmed @usantgw
Same Here
<img width="164" alt="image" src="https://user-images.githubusercontent.com/357433/184520020-aa271efe-94e5-41f4-8882-9a696524688b.png">

[2022-08-14 11:13] PhilBlackRose opened #7473 "Github stack deploy creates volumes but does not populate them"
Use Case (delete as appropriate): Using Portainer at Home
Version: 2.14.2

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
When I try to deploy a stack using a GitHub repository the containers aren't getting deployed fully. As I'm pretty new to this I assume I am doing something incorrectly.

Process:

1) Stack > Create Stack
2) Supply GitHub URL and (optionall

[2022-08-14 11:39] PhilBlackRose commented on #7473
#6390 ?

[2022-08-14 12:05] #6892 closed, assigned to nobody

[2022-08-14 14:08] RSmain opened #7474 "Stack from repo: Merge local and .env file variables"
**Is your feature request related to a problem? Please describe.**
Hi,
I've started to centralize my stack deployments by using a git repository. For each stack, the repo contains the stack file and an .env file.
As the [documentation](https://docs.portainer.io/v/ce-2.9/faq/troubleshooting/how-do-automatic-updates-for-stacks-applications-work) says, the .env file is processed only if "environment

[2022-08-15 02:54] #7058 closed, assigned to nobody

[2022-08-15 03:31] jamescarppe commented on #7473
Correct, this is issue #6390 in play. This is being actively worked on and currently targeted for version 2.16.

[2022-08-15 03:31] #7473 closed, assigned to nobody

[2022-08-15 08:12] LostOnTheLine opened #7488 "Docker Desktop: Portainer Extension - How to enable Web UI?"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

!--

- I have Docker Setup on Windows 10 Pro with WSL2
- I have Portainer setup as the Extension from Docker Desktop
- The Web IU interface is only accessible on the local machine via `127.0.0.1:9000` or

[2022-08-15 08:14] Silversurfer79 commented on #7437
Im not even sure if thats correct, I assumed it made sense. How do poeple mount nfs shares in docker swarm for apps that have more than one share? Mounting two shares makes no sense, mounting one and allow for subfolders makes sense. Where is the best pleace to post to get a answer on this?

[2022-08-15 14:37] danthi123 opened #7491 "Resource URL field in Portainer OAuth settings for Microsoft resets after saving"
**Bug description**
The Resource URL field in Portainer OAuth settings for Microsoft resets after saving. On the back-end, the updated URL is saved but if the settings are saved again, such as when another setting is changed and needs to be saved, it reverts.

**Expected behavior**
Once the field is saved, it should remain so unless explicitly changed.

**Portainer Logs**
Checked container logs, n

[2022-08-15 14:58] ljford7 opened #7493 "Edge Device Not Showing Up on Home"
Use Case: Using Portainer at Home
Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
My edge device is not showing up on "Home". How do I add it? The only way to access it is to go to Edge Devices->Actions->Browse
I have tried two different web browsers (cleared caches on both) and it still doesn't show up.
![Screen1](https://user-images.githubusercontent.com/2449

[2022-08-15 15:00] goatatwork commented on #7437
Hey @Silversurfer79 - Think Docker volumes as apposed to NFS exports. Christian Lempa has a really helpful video about this --> [https://youtu.be/eKAQiYu4NyI](https://youtu.be/eKAQiYu4NyI).

[2022-08-15 18:36] tedstriker commented on #7071
I had a similar issue while using Ansibles URI module and got the same Invalid environment name" error message.
Got it solved, when I changed the `body_format` from `json` to `form-multipart`.

Maybe it helps.

[2022-08-15 19:13] weirlive commented on #2657
sooo.. this one ever getting fixed?

[2022-08-15 19:16] weirlive commented on #3529
its odd that things just get closed because no one has responded.. this is still an issue Aug 2022

[2022-08-15 22:49] tamarahenson commented on #7493
@ljford7

Thank you for the information.  I was able to reproduce.  I rolled thru the testing on our 2.15 develop and the Edge Device appears on the Home page.  You will want to upgrade when that release is available in the next few weeks.

Thanks!

[2022-08-15 23:14] tamarahenson commented on #7474
@RSmain

Thank you for the information.  Are you using Docker Swarm or Docker Standalone?

Thanks!

[2022-08-16 02:52] jamescarppe commented on #3529
It looks like when @itsconquest reopened this he missed readding the necessary labels to prevent it from being stalebotted again. I'll fix this up and reexamine the bug to see where it's at.

[2022-08-16 03:18] samdulam commented on #7491
@dmt816
known issue, to be fixed in version 2.15 which is due soon.
https://github.com/portainer/portainer/pull/7000

[2022-08-16 03:28] jamescarppe commented on #3529
I have been able to replicate the behavior on the latest version now, and will be following up with the engineering team as to a fix.

[2022-08-16 03:36] samdulam commented on #6701
Blogpost has been updated to reflect that this currently only works for Docker Standalone and not for Docker Swarm.

[2022-08-16 10:16] gaby commented on #6701
@samdulam It also doesnt work for portainer agents, only the server.

[2022-08-16 12:27] RSmain commented on #7474
Hi @tamarahenson , I'm using Docker Standalone.

[2022-08-16 13:06] danthi123 commented on #7491
Oh great, thanks! Sorry, did a search before posting but didn't see that.

[2022-08-16 13:06] #7491 closed, assigned to tamarahenson

[2022-08-16 15:42] tamarahenson commented on #7488
@LostOnTheLine

To echo what was discussed in the DIscord thread:

The Docker Desktop Extension version of Portainer is a somewhat separate product, and as such has some limitations when compared to the "standard" Portainer deployment. Notably, there is no user system in the Docker Desktop Extension version, and as such you can't log into it outside of the Docker Desktop interface. It is designed

[2022-08-16 15:42] #7488 closed, assigned to tamarahenson

[2022-08-16 15:42] #7434 closed, assigned to tamarahenson

[2022-08-16 15:44] #7493 closed, assigned to tamarahenson

[2022-08-16 15:47] jeanfrancoisgratton commented on #7434
I was on short vacation, sorry for the late reply. As the work-around you've provided suits me just fine, @tamarahenson , I'm happy with this issue's outcome.

Thanks for the feedback.

[2022-08-16 17:15] tamarahenson commented on #6701
@gaby

I wanted to follow up on this request.  I created a New Environment >> Docker Standalone >> Agent >> Create Stack >> Docker Compose >> Load `stack.env` >> without issue.  If you are using the Docker Swarm >> Agent >> the `stack.env` will not work.

Thanks!

[2022-08-16 18:07] tamarahenson commented on #7469
@sgofferj

I wanted to follow up on this request.  I ran thru some testing and this functionality exists.  Here are my steps:

[1] Edge Devices >> Add Docker >> `docker-edge-agent` >> Create
[2] More Settings >> Enter Environment Variables >> `TARGET_ENVIRONMENT_NAME=docker-edge-testing`
[3] Copy Agent >> Install on Docker
[4] Edge Group >> Create `docker-edge-testing`
[5] Edge Stack >> Add Stack

[2022-08-16 18:42] sgofferj commented on #7469
I think there's a misunderstanding.
I meant that portainer should populate those variables.

Let's say I have an edge group called raspis. This group consists of 4 devices, called alpha, bravo, charlie, delta.

Then I create e.g. an edge stack for Telegraf and set it to be deployed to the group raspis.

What I would like is portainer to provide envvars which are populated automatically, e.g. a TAR

[2022-08-16 18:50] sgofferj commented on #7469
I tried to follow your example but I do not see "more settings". Is that a Portainer Business feature?

[2022-08-16 19:17] 1xtr commented on #6555
It's really needed feature to set AWS endpoint. Because now has many services like AWS that use native aws-cli tool and only need to set unique `endpoint` and `region`

[2022-08-16 19:50] shushz commented on #4845
Had the same problem and stumbled upon this ticket.
For posterity: the `-p` argument sets the HTTP port. If you're looking to configure Portainer to run on 443, chances are you're looking to set the HTTPS port instead.
As one can see [here](https://github.com/portainer/portainer/blob/12cddbd89682aae8b974cca83447965b53dcb5ca/api/cli/cli.go#L32-L33) the HTTPS flag is called `bind-https`.

So, one wo

[2022-08-16 22:09] tamarahenson commented on #7469
@sgofferj

The "More Settings" is both available in CE and BE.

Thanks!

[2022-08-16 23:03] GramThanos commented on #6110
I hand the same problem with `Debian GNU/Linux 11 (bullseye)` on RPi4, but `linux-modules-extra-raspi` package was not available.

[code]
Fixed it based following [this article](https://www.linuxfixes.com/2022/04/solved-getting-docker-to-run-on.html) and running:

[code]
then reboot.

[2022-08-17 03:45] stuckj commented on #6832
How does one actually do this? I saw it in the 2.13 release notes, but didn't see any documentation on it.

[2022-08-17 04:18] huib-portainer opened #7514 "Deprecate deploying Kubernetes Kompose"
**Deprecate Kompose functionality**
We are proposing to deprecate Kompose and remove the functionality to deploy compose yaml on Kubernetes.
The reason for this is that Kompose has been relatively unmaintained and uses an old version of compose. It has unresolved CVEs and imposes security issues when bundling it in Portainer.

Currently Kompose allows Kubernetes users to deploy compose yaml instea

[2022-08-17 04:57] sgofferj commented on #7469
I'm on CE 2.14.2.

I don't see Edge Devices -> Add Docker, nor do I see the More Settings.

![Screenshot_20220817_075209](https://user-images.githubusercontent.com/3258466/185037936-d0b91415-6a3a-401d-88d1-194df317f301.png)

![Screenshot_20220817_075243](https://user-images.githubusercontent.com/3258466/185037948-cb129825-323c-4940-9358-05ef4809a989.png)

[2022-08-17 16:31] ivlis commented on #3032
Please fix! ssh keys need to have a new line otherwise openssh does not read them.

[2022-08-17 19:15] anthonyma94 opened #7526 "Endpoint creation via API - cannot add port to URL"
**Bug description**
When adding a port to URL in POST /api/endpoints, the FQDN is removed from the request and the request fails. Adding a scheme (tcp/http/https) in front of the URL prevents FQDN deletion, but results in a certificate invalid error, even with `TLSVerify: false`.

**Expected behavior**
URL should go through as is.

**Steps to reproduce the issue:**

POST with port number:

[code]

[2022-08-17 19:31] WaysonWei opened #7527 "Portainer new UI for common configuration page"
Part of portainer new UI redesign, common configuration page need new UI applied.

eg. Users, My account, Environment...etc

[2022-08-17 19:31] #7527 closed, assigned to nobody

[2022-08-17 19:35] WaysonWei opened #7528 "Portainer new UI need changes on shared component"
Part of portainer UI redesigning with changes for shared component used by portainer frontend.

eg. Button, checkbox, sidebar menu...etc

[2022-08-17 19:35] #7528 closed, assigned to nobody

[2022-08-17 21:20] tamarahenson commented on #7469
@sgofferj

Apologies for the confusion.  You are absolutely correct.  Those features are not available in 2.14.2.  As shown above, they will be in 2.15.0.  The release will be in the upcoming weeks.

Thanks!

[2022-08-18 01:36] jamescarppe commented on #7435
I've opened an internal ticket around improving the way that port ranges display in Portainer, and we'll keep you updated as to progress here.

`Internal Ref: EE-4012`

[2022-08-18 10:30] MwumLi commented on #6117
great! Need to enable 【Automatic user provisioning】
![image](https://user-images.githubusercontent.com/6889433/185374159-41685254-d007-4fb4-b4cd-7f9fc847fa19.png)

[2022-08-18 10:36] emdemir commented on #7386
Note that if you use service webhooks to deploy a new version, then you also need to recreate the webhook. Otherwise it keeps giving the same error.

[2022-08-18 14:40] tamarahenson commented on #7526
@anthonyma94

I wanted to follow up on this request.  I wanted to echo the thread referenced below that the issue was resolved.

https://www.reddit.com/r/portainer/comments/wqx6w7/endpoint_creation_via_api_cannot_add_port_to_url/

You were also receiving the following error message:  `certificate is valid for localhost, not test-pi.iot.local`

The Portainer Server and Portainer Agent use, by defau

[2022-08-18 14:40] #7526 closed, assigned to tamarahenson

[2022-08-18 14:42] #7410 closed, assigned to tamarahenson

[2022-08-18 15:09] mastacheata opened #7540 "Docker Desktop Extension change default port"
**Description**

Portainer is now available as an Extension on the Docker Desktop marketplace. I definitely wanted to try that feature out, but the extension install failed because Port 8000 is already in use on my machine.

**Steps to reproduce the issue:**

 1. Open Docker Desktop
 2. Click on Add Extension in the Extensions (beta) section
 3. Pick Portainer from the list and click on the Instal

[2022-08-18 16:28] tamarahenson commented on #7540
@mastacheata

We have an internal request to remove port 8000 in Docker Desktop Extension in 2.15.0.

Thanks!

[2022-08-19 12:05] #7062 closed, assigned to nobody

[2022-08-19 12:57] filosof86 opened #7545 "Restart of the container via Portainer WI starts the container's copy"
**Bug description**
A restart of the container via Portainer WI starts the container's copy instead of restarting the existing container.
This behavior differs from Docker API since the command 'docker container restart <container ID>' just restarts the existing container

**Expected behavior**
The container is restarted but not duplicated.

**Portainer Logs**
no logs

**Steps to reproduce the iss

[2022-08-19 13:48] weiran commented on #7321
I have the same issue on 2.13 as well, I'd guess there's an error somewhere but the message isn't being shown?

[2022-08-19 23:03] 0x1a8510f2 opened #7546 "Feature Request: Transactions/Action Queues"
**Is your feature request related to a problem? Please describe.**
I run portainer behind a reverse proxy which runs inside of a docker container (for the purpose of running multiple services on port 443). In some instances, I would like to update the reverse proxy container or otherwise modify it through portainer's UI, but I am unable to do so as any modification instantly disconnects me from po

[2022-08-20 06:33] rdwebdesign commented on #7151
Just a note:
This is still an issue in Portainer 2.14.2

[2022-08-20 12:05] #6962 closed, assigned to nobody

[2022-08-20 14:26] DennisYildirim commented on #5366
I'm literally having the same exact problem after:
Portainer > Add Environment > Docker Stand Alone > Agent > Generated the keys > Created the Agent on the Worker PC, Came back to Host Server > Checked and saw the heart beat, but can't reach it no matter what i do. These include;

- letting all possible ports via firewall on the server
- removing the firewall completely
- re-deploying and reinstal

[2022-08-20 14:30] DennisYildirim commented on #5218
Is this still not solved? I'm having the same problem...

Portainer Agent shows up as a heartbeat, but does not connect. ....

[2022-08-20 15:17] BoKKeR commented on #7546
I am using portainer with SSL on a different port, and have reverse proxy only for containers. This way I get to update my containers reverse proxy without downtime on portainer. The downside is that I am running portainer on a different port, instead of 443 I run 9443. Could this be a solution? Is Reverser proxy for portainer really necessary for your use case?

[2022-08-20 15:58] 0x1a8510f2 commented on #7546
I have previously exposed an additional port for portainer on top of access through the reverse proxy but I've since decided that's not ideal for the following reasons:

- I'm often behind very restrictive firewalls which pretty much only allow TCP/443 and UDP/53 outbound.
- Leaving another port open exposes additional attack surface because security configs I apply to my reverse proxy won't be av

[2022-08-20 17:34] Keiishu commented on #6483
I have this all the time with huge stacks, even with the business edition. Would be really nice to have.

[2022-08-21 00:55] R-M-Renfield commented on #1304
Is there a way to pull if an image is out of date via the API? I'm not seeing anything in the documentation.

[2022-08-21 12:28] pavel-lobach commented on #7417
Your response time is so impressive! :)

[2022-08-21 17:37] nsakibp commented on #6163
Very necessary point which accompanies the mission of of GUI

[2022-08-21 19:40] huib-portainer commented on #1304
The easiest way is to invoke the webhook to pull the image and redeploy the container or stack: https://github.com/portainer/portainer/issues/6155

[2022-08-21 22:19] reejosamuel commented on #6701
Tried using local (docker.sock) environment and Portainer agent environment. Both give errors saying `stack.env` can't be found.

With portainer agent, it worked after trying the suggestion from JuniorC07. changing the path of `stack.env` to `../stack.env`

[2022-08-21 22:54] jtraxy opened #7548 "Don't close homepage filter on select"
**Bug description**
Homepage's multi-select filters close after a single selection.

**Expected behavior**
The Homepage's multi-select filters should keep the dropdown open after a single selection until the user closes it themselves, or the last remaining option is selected.

[2022-08-21 22:54] #7548 closed, assigned to nobody

[2022-08-22 04:32] samdulam commented on #7417
@pavel-lobach
There is no way to retrieve all webhooks. You will have to find the resource id for a service first then find the webhook url.

Portainer is a full proxy for Docker / Kubernetes API, below are examples of how you can retrieve services using Docker API through Portainer.

Get all Services:
**GET** `<portainer_url>/api/endpoints/<endpointid>/docker/services`

Get service by name:
**GET

[2022-08-22 05:16] samdulam commented on #7545
@filosof86
Is the container that is being restarted deployed by a service?
If so, it is expected docker behavior. Docker restarts the container individually but the service deploys another container as it detects that the required number of replicas are not available when the container is being actually restarted.
I'd suggest managing these containers from the services screen, change the number of

[2022-08-22 05:28] samdulam commented on #7469
@sgofferj
add an Edge Agent based environment from the Environments Screen
Below Example from CE 2.14.2
![image](https://user-images.githubusercontent.com/58716812/185845723-cace1a80-5a92-4cf6-b814-75230a41f202.png)

[2022-08-22 06:26] sgofferj commented on #7469
@samdulam
Now I'm confused
![Screenshot_20220822_092438](https://user-images.githubusercontent.com/3258466/185853104-f6ab81f9-5a6c-4ded-817b-53391f4bd712.png)

[2022-08-22 06:27] samdulam commented on #7469
Enter details and click create, you will see more options in the next screen.

[2022-08-22 07:23] sgofferj commented on #7469
@samdulam
Oh, wow, THAT is well hidden!
I noticed that those envvars are just added to the edge-agent call then. I suppose, I can add them later my modifying the edge agent container then too?

[2022-08-22 08:04] samdulam commented on #7469
Yes, you can simply add any env vars to your deployment command or compose as needed.
UI helps in making it easy.

[2022-08-22 08:20] sgofferj commented on #7469
I'll accept this as a workaround but I would like to keep this feature request open unless you decide to not accept it. The point of my feature request is about portainer providing some information about the target environment to edge-stacks automatically so that no manual configuration per edge environment is required.

[2022-08-22 08:34] samdulam commented on #7469
I've marked it as an enhancement.
It would be beneficial if you could elaborate on `some information`. List or detail as much as possible what your use case is and what info is required.

[2022-08-22 08:43] sgofferj commented on #7469
I wrote a little about my usecase above. I think, useful for instance would be
- Target hostname
- Target platform
- Target architecture

My guess is that monitoring is one of the more frequently used use cases for edge-stacks and those are the parameters that I'd consider important for monitoring containers.

[2022-08-22 09:43] pavel-lobach commented on #7417
Hello @samdulam

Thank you for your detailed answer, this makes my idea much cleaner!

One more question. Does the run of the webhook the same action as the API call below?
/endpoints/endpointForceUpdateService  { "pullImage": true, "serviceID": "string" }

If so then I won't even need to setup the webhooks for the services.

Thank you,
Pavel

[2022-08-22 10:01] samdulam commented on #7417
`/endpoints/6/endpointForceUpdateService` is a Business Edition only feature and request needs to be authenticated.
Service Webhooks are available in CE as well and the request does not need to be authenticated.

In your case if you are already authenticating to retrieve Webhook urls etc, I guess you could do away with `forceUpdateService` call

[2022-08-22 10:59] pavel-lobach commented on #7417
Yes, since I'll be fetching the services by the api calls provided by you - I am already authenticated. And yes, I use Business Edition so it is fine for me.

I just wanted to ensure that this both approaches (Webhook and endpointForceUpdateService) give the same result from the node prospective. Could you please confirm or let me know what might be the differences?

Thank you so much for your ass

[2022-08-22 11:48] filosof86 commented on #7545
Hi @samdulam

Thank you! Yes, it was deployed as a service and yes, it seemed to be something wrong with my installation as after redeployment of the docker swarm the behavior between Docker API and Portainer turned out to be the same.
Thank you for your suggestion, it seems like this is a perfect way out in this case.

[2022-08-22 12:06] #6914 closed, assigned to samdulam

[2022-08-22 17:42] mx5gr opened #7555 "Portainer shows only local containers in Docker swarm"
**Bug description**
After upgrading from Ubuntu 20.04 to 22.04.1, suddenly portainer started misbehaving...

Although docker reports everything fine in my swarm (3 manager + 1 worker node), portainer shows in some screens only 1 node connected and in other screens all 4 nodes. In addition, only the containers that belong to the node that runs the portainer dashboard are shown and the dashboard is

[2022-08-22 20:46] HernJer opened #7556 "Portainer Api Create Stack - Bad Request"
Portainer version: 2.14.2
Hi - i am working on a dotnet application which will manage stacks by using the Portainer api. I am using RestSharp to create the request and continue getting "Bad Request" response with no details.

I have tried many different ways with no luck. My latest code below:

`compose_string` compose_String = new()
         {
               fromAppTemplate = false,

[2022-08-22 22:03] attilabalazsy commented on #6590
Guys, I have the same issue. I was running on 2.11.1 for a longer time and today updated to 2.14.2. The issue is the same as @StephenGoodall described. The update did not solve the problem. I'm running on RPI4.

[2022-08-22 23:06] #7545 closed, assigned to samdulam

[2022-08-23 03:55] samdulam commented on #7417
Have a read through the [docs page](https://docs.portainer.io/user/docker/services/webhooks) around webhooks. Using webhooks have certain advantages: ability specify a new tag or send env vars.
As far as redeploy functionality is concerned its the same functionality as the `endpointForceUpdateService` API call.

[2022-08-23 04:47] samdulam commented on #7555
Can you post the logs from each of the Portainer agent containers?
Try running the following command to restart the agent containers
`sudo docker service update portainer_agent --force`

[2022-08-23 07:34] pavel-lobach commented on #7417
Great, thank you very much, it is totally clear now!

[2022-08-23 07:37] mircoianese opened #7557 "Update multiple containers/stacks/services at once"
Hello,

I'm using portainer to manage a server with about 80 stacks, each one with 3 containers. I'm now in a situation where I need to update the image of one of the containers, so I pulled the new image but I realized there not seems to be a quick way to redeploy all the stacks.

The only way I see is going to each stack and press the "Update the stack" button. It works, but doing that on 80 sta

[2022-08-23 09:49] step-team-jf opened #7558 "How to disable Team sync for external authentication ?"
Hi

**Question**:
We have updated our version of portainer (2.10 -> 2.14) and we can't longer edit Teams members.
We have the following message " The team leader feature is disabled as external authentication is currently enabled with team sync."  on the edit team page.
We use AD authentication but we don't want to synchronize teams with AD Groups
On the Authentication configuration page we can't

[2022-08-23 11:03] mx5gr commented on #7555
@samdulam The command you provided produces:

_docker service update portainer_agent --force portainer_agent_
"docker service update" requires exactly 1 argument.
See 'docker service update --help'.
Usage:  docker service update [OPTIONS] SERVICE
Update a service

I have already updated the agent services.

Agent containers log files as below:

**Host A**
2022/08/22 18:44:53 [INFO] [main] [message

[2022-08-23 11:03] mx5gr commented on #7555
Also, my mistake, Portainer is in version 2.14.2 (latest)

[2022-08-23 12:06] #6949 closed, assigned to nobody

[2022-08-23 13:55] HernJer commented on #7556
was able to get this working with the below:

compose_string compose_String = new()
            {
                fromAppTemplate = false,
                Name = "apitest",
                StackFileContent = "" //Json Docker Compose
            };

            var request = new RestRequest(PortainerConstants.StackEnpoint);
            request.AddHeader("Content-Type", "application/json");

[2022-08-23 13:55] #7556 closed, assigned to tamarahenson

[2022-08-23 16:53] tamarahenson commented on #7558
@step-team-jf

Referencing the Community Slack thread here:  https://portainer.slack.com/archives/C2AGKR5JB/p1661250179047549

Updates to follow.

[2022-08-23 19:27] pavel-lobach commented on #7417
@samdulam I have to ping you one more time.

Everything works with the webhooks, but I noticed one interesting thing which behaves the same with endpointForceUpdateService as well as Update service behavior in Portainer (2.14.2 BE).

Objective:
1. I use docker swarm. The service image is defined in the stack as image:latest.
2. If I push newer version of this image - Portainer shows 'red circle' s

[2022-08-24 01:14] chrisjenx commented on #1702
I get a different error, I get image not found, which is odd, wondering if permissions are wrong?

[2022-08-24 01:19] chrisjenx commented on #1702
Oh note for anyone trying this, after you migrate to the Artifact Registry you will need to give the Artifact Registry Viewer Permission

[2022-08-24 01:24] tamarahenson commented on #7558
@step-team-jf

Our Teams and Team Leader feature was re-designed in 2.14.0.  To disable the team sync, you would need to remove the data in the Group search configurations and only use the User search configuration.

Thanks!

[2022-08-24 03:42] samdulam commented on #7555
How was the portainer_agent service deployed and into what network?
All these agents should form a cluster between themselves, for that to happen they need to communicate across the portainer-agent-network (overlay network). Its not happening in your case, agents are either not on the right network or there is an issue with overlay networks.

You need to check FW between or on the hosts if blockin

[2022-08-24 15:51] sekullbe opened #7568 "Sorting containers by status- add grouping or reordering of "unhealthy" containers"
When I have a lot of containers, it's easy to lose containers in 'unhealthy' state behind a long list of 'stopped' containers. It would be easier to find all running containers, especially unhealthy ones that I need to know about quickly, if the searching wasn't purely alphabetical.

What I suggest is always sorting so stopped containers are grouped separately in the list so they're never between

[2022-08-24 17:37] mx5gr commented on #7555
Hello,

Portainer was installed using the yaml file provided (https://downloads.portainer.io/ce2-14/portainer-agent-stack.yml).

I followed the link you sent me and performed the tests.

Kernel tests went out OK... however, when it came to the overlay network tests, I found out that there is no overlay network communication between the host manager nodes.

I can verify that the following are open

[2022-08-25 03:10] samdulam commented on #7555
Are these nodes Virtual Machines? Are they running on VMware? What are the MTU Sizes?
Have a look at https://docs.portainer.io/faq/troubleshooting#why-cant-my-agents-communicate-with-portainer-on-swarm

[2022-08-25 03:57] rdwebdesign commented on #7163
@goatatwork

I think I may have figured out what is the problem here (it's a guess, but I hope this helps):

I ran `docker info` on the host OS and the output looks like this (last lines):
[code]

Apparently the problem is **Docker** isn't able to handle _memory limits_ on my system.
In this case, Portainer will obviously fail to set memory limits.

If you can confirm this is the reason the contro

[2022-08-25 13:20] pavel-lobach commented on #7417
@samdulam please review my question above, thanks

[2022-08-25 13:39] FragileDS commented on #5839
Has the same problem , portainer version is 2.13.1.
Can u please answer is it fixed in the latest version ?)

[2022-08-25 18:15] wax911 commented on #7321
I hadn't updated my portainer in a while and had to downgrade back to `2.11.1` because no environments were listed

[2022-08-26 12:06] #7087 closed, assigned to nobody

[2022-08-26 18:07] tamarahenson commented on #7568
@sekullbe

Thank you for the information.  I have forwarded to Product and this is being considered for the upcoming sorting / filtering work in UI.

Have a great weekend!

[2022-08-26 18:12] tamarahenson commented on #6163
@spencerthayer

I wanted to follow up on this request.   Are you requesting this feature to avoid service interruption?

Thanks!

[2022-08-26 23:29] tamarahenson commented on #7163
@rdwebdesign

Thank you for the update and additional information.  I am going to forward for review.

Have a great weekend!

[2022-08-27 14:15] kidproquo commented on #7469
+1 to this feature request! Thanks @sgofferj for submitting this.

Having a few "magic"/"meta" variables that are automatically populated by Portainer will be extremely useful. Similar to the `IOTEDGE_DEVICEID`and `IOTEDGE_MODULEID` variables in Azure IoTEdge (https://github.com/Azure/iotedge/issues/986#issuecomment-475257607).

[2022-08-27 15:31] 4pack commented on #5784
I'm having this issue while using Azure AD as my OIDC provider. Same issue. Need to go to https://myportainer.url:9443/#!/auth to be able to log back in.

[2022-08-27 19:48] papabear99 commented on #3334
An internal editor would be great!  Downloading files, modifying them, and then reuploading gets messy really fast especially when testing.

[2022-08-28 15:11] jaamulberry opened #7579 "portainer Custom SSL certs unexpected cert crash"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home
Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
I'm trying to load my SSL certs into Portainer and keep getting an error about an unexpected cert.

docker-compose.yaml:
version: '3.3'
services:
    portainer-ce:
        ports:

[2022-08-28 17:00] chencongping opened #7580 "Could't access template.json in China"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
https://raw.githubusercontent.com/portainer/templates/master/templates-2.0.json
![image](https://user-images.githubusercontent.com/32839956/187085818-a6e3a5af-d9d6-44dd-a5f7-ef9ffc1a7b99.png)
![image](https://user-images.githubusercontent.c

[2022-08-28 21:33] spencerthayer commented on #6163
I am not. I simply want to be able to rename a stack, no other requirements.

[2022-08-29 00:37] kinsi55 commented on #827
Bumping this as I experience the exact same problem right now - I looked around all of Portainer but couldnt find any way to disabe the healthchecks of containers, quite the surprise

[2022-08-29 00:48] jtraxy commented on #3576
In 2.15, which should be released soon, we hope to add a 'Dismiss' option to the update banner.

[2022-08-29 03:44] WaysonWei opened #7584 "Analytics are still being sent when checkbox is off during the installation"
During new installation, analytics checkbox is off, but portainer seen to be still sending analytics post request until browser refreshing.

[2022-08-29 03:46] #7584 closed, assigned to nobody

[2022-08-29 13:31] MichaelErmer commented on #4326
Even loading the script is tracking for me... it exposes our instance and the IP addresses of the users to matomo.
You should add a wrapper and only load it if tracking is enabled.

[2022-08-29 18:40] mmx5 commented on #6353
thanks man !!

[2022-08-29 22:17] joshua-portainer opened #7587 "Improve Edge agent performance at scale by improving TLS handshakes"
Portainer is spending too much time on TLS handshakes, which can affect performance at scale.
Propose changing from RSA to ECDSA keys.

[2022-08-29 22:18] #7587 closed, assigned to nobody

[2022-08-29 22:26] joshua-portainer opened #7588 "Edge jobs & Edge Groups incorrectly show environments"
We need to remove the following filter on /api/endpoints

    - edgeDeviceFilter : Enum("all", "trusted", "untrusted", "none")

And replace with the following filters on /api/endpoints

    - edgeDevice query bool false "if exists true show only edge devices, false show only regular edge endpoints. if missing, will show both types (relevant only for edge endpoints)"

        - applies only to edge

[2022-08-29 22:26] #7588 closed, assigned to nobody

[2022-08-29 22:57] jamescarppe commented on #7579
Looks like you have a space in your command options - `--ssl cert` should be `--sslcert` and `--ssl key` should be `--sslkey`.

[2022-08-30 03:44] tanwwg commented on #3506
Yes please, console is dropping so quickly.

[2022-08-30 07:10] SPOOCQ commented on #6807
Is there any update on this?
This can get annoying if you start/create a lot of containers for testing purposes.
While I could technically use docker-compose/stacks for this, I would really love to be able to add them via the container creation UI.

While we are at it: Another great feature for using Traefik & Portainer would be the ability to let a container join more then one network on creation

[2022-08-30 12:56] pavel-lobach commented on #4840
I experience the same issue. In docker swarm, when the stack already works, I try execute the webhook to restart the service. And sometimes it works as expected, but sometimes on some nodes the newer version of the app is restarted properly, but on some nodes it gets 'No such image'. At the same time the credentials in Portainer are valid (otherwise how it would then pull the image for other nodes

[2022-08-30 15:30] pavel-lobach opened #7593 "Environment Variable is not set when calling Service Webhook"
**Bug description**
As stated in the [documentation](https://docs.portainer.io/user/docker/services/webhooks#using-environment-variables-with-webhooks) it is possible to send the environment variable to the webhook and as in this example define the version of the image.

I tried to use this feature by sending the CURL command like this
curl -X POST https://url_to_portainer/api/webhooks/token?SERVI

[2022-08-30 17:17] hugosxm commented on #4567
Any news on this one ?

[2022-08-30 17:33] pavel-lobach commented on #7593
I found that if I execute the webhook by ?tag=tag parameter then it works.

So, guys, your documentation is outdated, and only _tag_ key in the parameter is supported :)

[2022-08-30 18:42] pavel-lobach opened #7594 "When execute the service webhook, I get Error response from daemon: no basic auth credentials"
**Bug description**
I execute the service webhook by GET /_portainer_url_/api/webhooks/_token_?tag=_image_tag_

As a result I get the Error response from daemon: no basic auth credentials

At the same time this image is visible from ALL nodes and the registry is added to the Portainer with FULL access.

Registry: ECR, Docker mode: swarm.

**Expected behavior**
Webhook should be executed properly,

[2022-08-30 19:24] pavel-lobach commented on #7594
I believe I found the root cause, it was caused because I changed the registry, and as it turned out the webhooks should have been recreated after that. Closing the issue.

[2022-08-30 19:25] #7594 closed, assigned to nobody

[2022-08-31 14:02] rjchicago commented on #7252
We just upgraded our dev instance from 2.13.1 to 2.14.2 and only now started experiencing this issue.
The [release notes for 2.14.2](https://github.com/portainer/portainer/releases/tag/2.14.2) show this fix as included, but this seems to be a newly introduced bug in this upgrade.

[2022-08-31 15:19] #3265 closed

[2022-08-31 16:40] kekedaine opened #7603 "Please add search config file in service detail."
Please add search config file in service detail.

[2022-09-01 00:34] jamescarppe commented on #7603
Can you please provide more detail on your request (preferably using the [feature request template](https://github.com/portainer/portainer/issues/new?assignees=&labels=&template=Feature_request.md&title=)) so that we know a bit more about what you're looking for and what problems it would solve for you? This is so that we can make sure we are understanding the issue fully and coming up with the co

[2022-09-01 00:39] jamescarppe commented on #7580
Check your outgoing firewall on the machine running your Portainer Server installation. Is there an outbound proxy that the container host is using that might be getting in the way?

[2022-09-01 00:49] jamescarppe commented on #7163
@rdwebdesign I'd be interested in trying to understand _why_ your system doesn't support memory limits. Are you running Docker in a non-standard way? What OS are you running, and what kernel version? This might be useful to us for identifying those cases automatically in the future.

[2022-09-01 03:36] XbuLee opened #7605 "When I want to tick the container of the current page, but all the containers are selected"
![动画](https://user-images.githubusercontent.com/20644303/187826341-f3f6f5c8-77b0-4d6b-8910-ca8f99d719fb.gif)

- Portainer version: 2.1.1

[2022-09-01 04:10] rdwebdesign commented on #7163
I don't know why either.

This machine details:
**Hardware:** Raspberry Pi 4B - 8GB
**OS:** Raspbian GNU/Linux 10 (buster) - armv7l.
**Kernel version:** 5.10.103-v7l+

Using docker in a standard way, nothing was changed.

I read about [a similar case here](https://github.com/docker/for-linux/issues/1112#issuecomment-699506343).

More links:
- [https://github.com/me-box/databox/issues/303](https://

[2022-09-01 04:53] rdwebdesign commented on #7163
I decided to try the suggested modifications to `cmdline.txt` and the results are:

- No more warnings at the `docker info` output;

- _Memory reservation_ and _Memory limit_ sliders **keep their values** when I try to "Duplicate/Edit" a container.

- _Memory usage_ graphs started to work:
![image](https://user-images.githubusercontent.com/1385443/187832183-4971c84f-ad2f-40aa-8ba5-7c045e73c12a.png

[2022-09-01 11:04] penker opened #7608 "Default settings for new Container"
**Is your feature request related to a problem? Please describe.**
This is a feature to enhance user productivity by saving a few clicks when launching a new container.

**Describe the solution you'd like**
As an Admin, I want to control the default settings for when a user creates a new Container ( " + Add Container")

**Describe alternatives you've considered**
Custom templates with mustache var

[2022-09-01 23:10] joshua-portainer commented on #3143
Closing this issue as this work has been included in our 2.15 release, which will be releasing next week.

[2022-09-01 23:10] #3143 closed

[2022-09-02 03:57] Lammiwinks opened #7611 "Need help renaming stack"
Hi Team,

So I have a home bridge stack called _homebridge. I restarted it today and get an error saying it's not a valid project name.... now the problem is most of my other stacks I put an _ in front of too foolishly!

Do you know how I could somehow start this stack? It's set to create a container "homebridge" which is fine.... just the stack name!

I've tried re-creating it but my homebridge i

[2022-09-02 08:43] wil-m commented on #7252
unfortunatelly i have to confirm that the issue wasn't fixed. thank you for adding comment, @rjchicago

[2022-09-02 13:22] pandel commented on #4914
+1

[2022-09-02 13:55] rjchicago commented on #7252
Hi @tamarahenson, should we open a new issue, or will you re-open this one?

[2022-09-02 17:13] Sci-Fi-Si commented on #2829
Endpoints - That's terrific. How do I get to Endpoints? Many thanks.

[2022-09-02 18:30] danielbrunt57 commented on #2953
For me, it was my NGINX Proxy that required the custom setting.
See https://github.com/NginxProxyManager/nginx-proxy-manager/issues/257

[2022-09-03 21:19] ToshY commented on #3893
Like @ragingpastry, I have also setup oauth2-proxy as middleware (with Traefik), and seems that the only applications that currently give me issues are Portainer as well as [Minio](https://github.com/minio/minio), both giving a `401` on the authentication, both not allowing no authentication nor custom authentication headers (?).

So while I can read that it seems to have something to do with the

[2022-09-04 12:05] #7121 closed, assigned to nobody

[2022-09-04 18:32] LeVraiRoiDHyrule commented on #2991
Hi, I'm trying to run portainer on podman as root, but I always get the following error :
`Error: cannot open sd-bus: No such file or directory: OCI not found`

This happens when I try to run portainer as root. The command I'm trying is:
`podman run -d -p 8000:8000 -p 9443:9443 --privileged --name portainer --restart=always -v /var/run/podman/podman.sock:/var/run/docker.sock -v portainer_data:/dat

[2022-09-04 18:33] LeVraiRoiDHyrule commented on #5188
Hi, I'm trying to run portainer on podman as root, but I always get the following error :
`Error: cannot open sd-bus: No such file or directory: OCI not found`

This happens when I try to run portainer as root. The command I'm trying is:
`podman run -d -p 8000:8000 -p 9443:9443 --privileged --name portainer --restart=always -v /var/run/podman/podman.sock:/var/run/docker.sock -v portainer_data:/dat

[2022-09-04 19:04] Enissay opened #7613 "Running Portainer with a TLS secured Docker daemon socket"
**Is your feature request related to a problem? Please describe.**
Hi all,

We are unable to deploy Portainer properly on a swarm setup with a [TLS secured Docker daemon socket](https://docs.docker.com/engine/security/protect-access/#use-tls-https-to-protect-the-docker-daemon-socket).
Basically, now to connect to the host dockerd, we need to provide the TLS certificates. Example:
[code]

We mount

[2022-09-04 20:12] #3576 closed

[2022-09-04 20:19] bnhf commented on #5188
@LeVraiRoiDHyrule

This should get you a little further:

[code]

You can eliminate -p 9000 if you don't want http access. Note the difference in the volume mapping of the Podman socket.

[2022-09-04 20:49] bnhf commented on #5188
Just trying out Portainer with Podman myself, and I'm seeing a few issues (running as root).  "Failure  - unable to find bridge plugin" seems to be the most significant, as I'm not able to get any data about my container networks.

Anyone figured out a fix for this?

[2022-09-04 21:14] marcgarciamarti commented on #4923
is there anyway one can have portainer to not start during boot and just have it run on demand?

[2022-09-04 21:19] LeVraiRoiDHyrule commented on #5188
Thanks for your answer. Unfortunately, I'm still getting the same error with this run command.

[2022-09-04 23:07] bnhf commented on #5188
@LeVraiRoiDHyrule

Are you able to launch other containers using Podman?

[2022-09-05 03:38] jamescarppe commented on #4923
Assuming you're on [Docker Standalone](https://docs.portainer.io/start/install/server/docker/linux), just exclude the `--restart always` bit from your `docker run` command. You'd then need to manually run the `docker run` to start up Portainer.

[2022-09-05 04:27] WaysonWei commented on #4992
closing this issue as it is implemented by this pr#7547 for CE 2.16 release.

[https://github.com/portainer/portainer/pull/7547](url)

[2022-09-05 04:27] #4992 closed

[2022-09-05 06:48] adorobis commented on #6590
Same issue here, standalone install of portainer 2.14.2 on Debian 11 latest. Can't update any container with the portainer re-create option. Works ok with command line docker-compose pull.

[2022-09-05 07:36] marcgarciamarti commented on #4923
Thanks James!!

On Mon, Sep 5, 2022 at 5:38 AM James Carppe ***@***.***>
wrote:

[2022-09-05 12:06] #7145 closed, assigned to nobody

[2022-09-05 12:06] #7099 closed, assigned to nobody

[2022-09-05 12:06] #6861 closed, assigned to nobody

[2022-09-05 21:13] jbsilva commented on #5813
Same happening here on DSM Version 7.1-42661.

[2022-09-05 22:27] WaysonWei commented on #6271
linked to [https://github.com/portainer/portainer/pull/7340](url)

[2022-09-05 22:27] #6271 closed

[2022-09-05 23:50] amongesimpasta opened #7616 "Fix dark mode colors in 2.15.0"
I don't like the new brown darkmode design. Do you know how i can change it?

[2022-09-06 01:10] mainstaymist commented on #7616
same here, change the colors back but keep the style. The darkmode looks more brown than dark.

[2022-09-06 04:58] itsMaxC commented on #7616
I think the colours are generally fine on a calibrated screen, but as soon as there is a yellow filter it turns brown.  Colours should be tested with f.lux and night mode on various screens.

[2022-09-06 06:44] YouveGotMeowxy opened #7617 "[Feature request] Make "stack" column items into links"
**Is your feature request related to a problem? Please describe.**

YES. I'm constantly looking at my list of services/containers and then having to go to any given service's stack, which means I have to go back tot he left hand menu, click stacks, then navigate the list of stacks for the one I want, click it. **_Way too many_** unneeded steps when doing it often.

**Describe the solution you'd li

[2022-09-06 07:04] mkilinskidev opened #7618 "Cannot enter to local environtment on Poratainer 2.15 with Windows Containers"
Hi. After updating to Portainer 2.15 version, I can't enter the local environment. With the 2.14 version everything was ok. Even with new, clean volume, after installing Portainer 2.15 there is an issue.

![image](https://user-images.githubusercontent.com/13047961/188568143-687dd7ed-2052-426c-8ddb-eae24cc431be.png)

docker logs portainer:
`level=info msg="2022/09/06 09:00:11 http error: Unable to

[2022-09-06 08:12] jmls commented on #3911
did you ever find a solution to this ? I cannot seem to find the name of the stack available as an env var which is very surprising.

[2022-09-06 09:17] addconfig commented on #7616
I personally don't like the new theme, I think it should be put as an alternative option

[2022-09-06 10:36] amongesimpasta commented on #7616
I tested it without the Windows "Night Light" and it is still brown even on my A225G.

[2022-09-06 11:38] hatamiarash7 opened #7620 "New dark theme"
Hey there. I think you should change your dark theme in the new version of Portainer ( 2.15.0 ).

![image](https://user-images.githubusercontent.com/16325641/188625836-abc4fc3e-d39b-4874-86bd-5a74607b7d65.png)

What is this ugly brown background color??? The old color of 2.14 is much better

[2022-09-06 12:18] itsMaxC commented on #7616
You're right, it's my own screen that was way off.

The issue seems to be with the `"gray-warm"` section of portainer/app/assets/css/colors.json where a lot of these colours have a brown tint.  The last two are particularly brown and seem to be the main colours of the new dark theme.

This really needs to be changed, having brown as a dominant colour of the only dark theme is... not great.

[2022-09-06 13:10] xAt0mZ commented on #7620
Closing as duplicate of https://github.com/portainer/portainer/issues/7616 .
Please head over to #7616 and upvote it so we have a single place to gather your feedback :handshake:

[2022-09-06 13:10] #7620 closed, assigned to nobody

[2022-09-06 13:14] siddjellali commented on #7240
Any update or clue here ? much appreciate.
I do upgrade to 2.15.0 new error but same behavior

<img width="269" alt="Capture d’écran 2022-09-06 à 15 14 45" src="https://user-images.githubusercontent.com/3965823/188644785-da9b7c48-ce8a-4d8b-9b03-e5d72af73de0.png">

[2022-09-06 13:38] Jonny-vb commented on #7618
Exactly the same here for me.
Side note - the environment section as show above will revert back to saying "up" after being left for a short while, but trying to click the environment to select it causes it to go back to "down".

[2022-09-06 14:59] ps610 commented on #7618
Same for me.
`docker run -d -p 9000:9000 --name portainer --restart always -v \\.\pipe\docker_engine:\\.\pipe\docker_engine -v portainer_data:C:\data portainer/portainer-ce:latest`

I also tried removing the existing volume and creating a new one.
Moving back to 2.14.2 works for now.

[2022-09-06 19:16] tamarahenson commented on #7611
@Lammiwinks

What version of Portainer is this?  Did the same issue occur when you tried to restart a different stack with the `_` in front of the name?  Any messages in the logs?

Interim, I can try and create a stack with the `_` in front of the name and see if I experience the same issue when restarting.  I will update you as I learn more.

Thanks!

[2022-09-06 19:24] tamarahenson commented on #7605
@Leexiaobu

I see here that your Portainer version is 2.1.1.  We are currently on 2.15.0.  Can you upgrade and try again?  https://docs.portainer.io/start/upgrade

Thanks!

[2022-09-06 20:07] huib-portainer commented on #7044
Did the 2.15 release solve this issue?

[2022-09-06 20:39] mull0r commented on #4292
For anyone finding this and looking for an answer: For me, it was the timezones. Both machines were running another time. Once I had set the timezones to the same one, the endpoint was created instantly.

Open a terminal and run `date` on both machines. See if they don't match.

Run `timedatectl list-timezones` to get a list of timezones, like this:

America/Montserrat
America/Nassau
America/New_Y

[2022-09-06 21:04] negimeister opened #7621 "Using a single space character as a password breaks login"
**Bug description**
Setting the password of the admin account to a single space makes it impossible to log in. I have used this password for months (behind a reverse proxy with auth) and updated the image today. Now I'm unable to log in.

**Expected behavior**
Entering my password should log me in

**Portainer Logs**
[code]

**Steps to reproduce the issue:**

Set the admin password to " " (a singl

[2022-09-06 22:37] Hi-ImKyle commented on #7616
I'm surprised no one caught this before it was released. But besides the fact that it's one of the ugliest colour schemes I've ever seen, how come there isn't an option for a custom theme to be installed or a custom CSS option anyway?

[2022-09-06 23:45] Lammiwinks commented on #7611
Thanks Tamara! 2.14.2

Yes all my stacks with _ in them unfortunately. On my googling it seems that it may have been a docker compose change that no longer supports characters in services rather than a portainer issue. Something I might test when I get time in the CLI using docker to rule out portainer!

[2022-09-06 23:50] jamescarppe commented on #7240
As above, we haven't been able to replicate this which makes it very hard for us to find a fix.

Do you have the issue on all your environments or just some?

[2022-09-06 23:51] jamescarppe commented on #7621
What version were you on previously where this worked?

[2022-09-06 23:54] jamescarppe commented on #7618
We've identified this as indeed a bug in 2.15.0 and our team are looking to fix this in a patch release soon.

[2022-09-07 00:01] jamescarppe commented on #7616
We're looking to fix the color inconsistencies in dark mode in a patch release soon.

Rather than have this suggestion lost in this thread, I'd suggest [opening a new feature request](https://github.com/portainer/portainer/issues/new?assignees=&labels=&template=Feature_request.md&title=) for this capability in a future version.

[2022-09-07 00:37] tamarahenson commented on #7611
@Lammiwinks

I created a stack with the `_` in both 2.14.2 and in 2.15.0.  I received the error message at creation for both:

[code]

Thanks!

[2022-09-07 00:43] sam-6174 commented on #5641
I have a suggestion for how this could be improved with (hopefully) little effort.

tl;dr The suggestion is to avoid auto-closing the console UI upon console disconnection.

For the originally reported case from op, the above change should make it relatively obvious (based on console output) that the shell is not present in the container.

My use case is similar to OP but also a bit different.  I

[2022-09-07 00:48] Lammiwinks commented on #7611
Thanks for confirming :) So my running stacks must have been fine since the update but just failed when I restarted them due to a portainer or docker update somewhere.

Would be nice if we could rename our stacks rather than having to recreate them!

[2022-09-07 01:22] urda commented on #3576
Freaking awesome. Can't wait to try it out.

[2022-09-07 06:03] AZeroEight opened #7624 "Unable to build image from tar file - "build the image" button inactive"
**Bug description**
When you create an image using a tar ball (or a file uploaded), the button "create the image" stays inactive. If you fill anything (a single character is enough) in on the "Web editor" page prior uploading, the button will behave correctly.

**Expected behavior**
The button should become active as soon as all details are filled in.

**Steps to reproduce the issue:**

1. Go to "

[2022-09-07 06:23] gstoehld commented on #7621
I just downgraded to 2.14.2 and I can log in again

[2022-09-07 06:24] negimeister commented on #7621
I just downgraded to 2.14.2 and I can log in again

[2022-09-07 06:28] tamarahenson commented on #7624
@AZeroEight

Thank you for the information.  I was able to reproduce the issue.  I am logging an internal request.

Thanks!

[2022-09-07 07:03] tamarahenson commented on #7540
@mastacheata

I wanted to follow up on this request.  2.15.0 has been released.  I have confirmed Docker Desktop Extension is no longer running on port 8000.

Thanks!

[2022-09-07 07:03] #7540 closed, assigned to tamarahenson

[2022-09-07 07:49] Hi-ImKyle opened #7626 "Custom Theme/s Option"
**Is your feature request related to a problem? Please describe.**
#7616 - I briefly asked why there isn't just an option for custom themes/css but was told a suggestion is better in suggestions rather than an issue

**Describe the solution you'd like**
Some ability to provide css files as themes in a folder to then show up as dedicated themes, or just a custom css per user option perhaps?
Just ei

[2022-09-07 12:40] Misiu opened #7631 "Container webhook changes when I manually recreate container"
**Bug description**
When we enable a container webhook we get a URL that we can use to recreate container using CURL.
But when we do a manual recreate the URL of a webhook changes

**Expected behavior**
The URL should be persistent when we do a manual Recreate of a container.

**Portainer Logs**
N/A

**Steps to reproduce the issue:**

1. Go to container details
2. Enable container webhook
3. Copy

[2022-09-07 15:56] SirLupus commented on #5813
This seems to be working now, for me at least. Not exactly sure what led to fixing this bug. Have installed a plethora of docker apps the last days. I may have a suspicion, could this be the usually missing docker.sock in /var/run/docker.sock? I have a symlink ( sudo ln -s /var/run/docker.sock /volume1/docker/docker.sock ) . Maybe worth a try if you still face the issue.

[2022-09-07 16:37] oleglab commented on #1485
any news? it would be great to be able to change the default one.

[2022-09-07 17:37] jmls commented on #7371
I've just hit this issue as well

[2022-09-07 19:09] MaxiMii05 commented on #5147
Let me revive this. What would stop us from reading the filepath for an existing "external docker-compose.yml" file from the `com.docker.compose.project.config_files` label and just use that as our stack compose file?
The label can be accessed via `docker inspect CONTAINER`.

This way, you could deploy compose stacks via external tools like Ansible in neatly managed directories and still fully man

[2022-09-07 19:17] tamarahenson commented on #7558
@step-team-jf

I wanted to follow up on this request.  We have identified an issue with the Microsoft Active Directory authentication not removing the Group configuration.  The workaround is to use the LDAP or Custom authentication.  An internal request has been logged.

Thanks!

[2022-09-07 19:53] DavidZidar commented on #7616
At the very least please fix the contrast ratio on the blue links in the dark theme, they are barely readable now unfortunately. Dark blue on dark brown/gray isn't great.

[2022-09-07 20:03] rdwebdesign commented on #7163
Changing the title to use a better description of the real issue:

_Runtime & Resources: sliders should be disabled if resource is unavailable on the host_.

[2022-09-07 20:40] cociweb commented on #7616
+1 for unreadable contrast ratio, and additionally please make the font size larger...
curently - as a workaround - I use light theme with Dark Reader browser addon. It much more smoother to read:

![image](https://user-images.githubusercontent.com/1935413/188971988-7b68586b-129f-44a8-9952-d0c9d75eade1.png)
instead of the inbuilt dark theme:
![image](https://user-images.githubusercontent.com/19354

[2022-09-07 20:54] DavidZidar commented on #7616
@cociweb Interesting, your blue links are much brighter than mine, this is what mine looks like:
![image](https://user-images.githubusercontent.com/381720/188976286-5c75cfdf-1439-4e16-9b67-4cd9221eb2e4.png)

The stacks list is even worse:
![image](https://user-images.githubusercontent.com/381720/188976554-ec90e5ab-31e0-4c73-afed-e9f33b85b54b.png)

[2022-09-07 20:57] DavidZidar commented on #7616
And btw the high contrast mode isn't very high contrast either, at least not the links:
![image](https://user-images.githubusercontent.com/381720/188977510-04ec5099-15f6-4e5d-8cae-9e53d8fdf6ce.png)

[2022-09-07 22:33] jamescarppe commented on #7621
Thanks, I've been able to confirm this behavior in 2.15.0 and am raising an internal issue to get this fixed.

[2022-09-07 22:51] jamescarppe commented on #7626
Thanks for opening this as a separate request. The UI update in 2.15.0 is the first step of a larger UI rework so by no means is the final version, and we're keen to gather feedback on it and other changes we could potentially make.

[2022-09-08 00:29] jamescarppe commented on #7631
Thanks for this - this is something that we're aware of and have an internal issue open around, so I've added your feedback to this.

The reason this happens is because when you recreate a container you're actually deleting the container then creating a new one with the same settings as the original. The new container gets a new webhook URL as part of this. Ideally we'd carry over the existing URL

[2022-09-08 00:55] #7618 closed, assigned to jamescarppe

[2022-09-08 02:28] #7621 closed, assigned to jamescarppe

[2022-09-08 04:30] WaysonWei commented on #7616
Reopen this as not all issue mentioned here is resolved in #7628. Please ref to #7635 for dark theme appear too brown issue.

[2022-09-08 04:38] WaysonWei opened #7635 "Dark theme appear too brown"
Dark theme color appear too brown in 2.15 release.

[2022-09-08 04:39] #7635 closed, assigned to nobody

[2022-09-08 06:48] Misiu commented on #7631
@jamescarppe thank you for confirming the error.
I noticed that the container id changes after recreation, so maybe pair the webhook URL with the container name, it isn't changing when recreating.
Recreating a container via a webhook is different than recreating via an action button because a webhook recreates the container and preserves the webhook url, but recreating via a button changes the url

[2022-09-08 07:04] rdwebdesign opened #7636 "Menu needs padding"
**Note:**
I'm not sure if this is a bug or a feature request, but this could be classified as a "visual bug".

**Bug description**

The new menu uses rounded corners buttons. In some situations the menu also have a background (see image).
The menu looks strange when the buttons "touch" the edges of the background area.

**Expected behavior**

A small padding between the buttons and the background

[2022-09-08 08:12] XbuLee commented on #7605
![动画](https://user-images.githubusercontent.com/20644303/189070685-e1eea1fa-c117-43b3-aa6a-1400d0406d53.gif)
Happened in 2.15.0 too

[2022-09-08 09:36] mkilinskidev commented on #7618
@WaysonWei do you have any roadmap? I'm wondering when will be published the BE/CE-2.15.1 version.

[2022-09-08 11:59] thfrei commented on #6126
Same for me. I was using caprover and portainer as a one-click app. caprover handled the ssl certificates, and after carelessley enabling https in portainer settings it stopped working. I edited the db instead of running the docker command.

[2022-09-08 12:00] charles-997 commented on #5198
I agree with this UX improvement.
I do not manage services via the containers view- I primarily use the stacks view.  I do all the management via docker compose files in a git repo, the stacks reference said file, and I can start stop and manage services from the stacks view.
Due to the current UX, I cannot tag the stacks as "production" vs "testing" or any other tags.  It would be fantastic to be

[2022-09-08 12:09] LeVraiRoiDHyrule opened #7639 "Installing on Podman : "cannot open sd-bus: No such file or directory: OCI not found""
Hi,

I'm trying to install Portainer on Podman. I know it is not the ideal as it is made for docker but I wanted to try it and I'm having an issue I don't understand. So maybe someone here know it. I freshly installed Podman on a fresh Debian install, and the command I'm running to install portainer is:
[code]
Error: cannot open sd-bus: No such file or directory: OCI not found
[code]

[2022-09-08 15:31] ljford7 commented on #7493
@tamarahenson

I updated to 2.15 and the edge device is still not showing up. Did the fix not make the 2.15 update?

Thanks!

[2022-09-08 15:38] Ansem93 opened #7640 "Add the column uptime in the containers view"
**Is your feature request related to a problem? Please describe.**
Knowing the uptime of a container can be really usefull. Sometimes it's just a good idea to restart a container, or to be sure that some container uptime is older then some other for dependency reasons.

**Describe the solution you'd like**
Since the new interface let us choose which columns we want to see, can you please add a col

[2022-09-08 19:11] CDaut commented on #3252
The `ocs.data.id` seems to be the problem for me and I couldn't fix it. The error is `OAuth authentication error: failed to extract username from oauth resource`. How do you specify this right for nextcloud?

[2022-09-08 21:57] jamescarppe commented on #7618
@mkilinskidev We are currently going through the final validation steps ahead of the patch release, so expect it very soon!

[2022-09-08 23:22] tamarahenson commented on #7639
@LeVraiRoiDHyrule

I have Podman running and am able to install Portainer CE without issue:

[code]

[code]

My environment is Ubuntu 22.04
I installed Podman via `sudo apt-get -y update` `sudo apt-get -y install podman`
I updated my registries file:
[code]

Thanks!

[2022-09-08 23:37] danielbrunt57 commented on #2953
For the NGINX Home Assistant SSL proxy addon I had to create this file in the Home Assistant `/share` folder:

`nginx_proxy_default.conf:`
[code]

The nginx container's /etc/nginx.conf referenced `/share` where I could create an included .conf file with the custom setting.
Any edits to files inside the container did not survive a restart.
(excerpt)
[code]

[2022-09-09 06:52] diwu1989 opened #7644 "Hobbyist user who need to deploy to many edge device, license is limited to 5"
Hi,
I'm a hobbyist user who have many servers on Hetzner that I need to manage. I use portainer business 5-node license because I need the ability to use private docker registry at the edge.

On 2.14 I can go over my license 5-node limit and things work fine.
When I tried 2.15, it said my user will be deactivated after 10 days due to exceeding the 5-node limit.

I'm not a business and I don't have

[2022-09-09 10:27] sandros94 opened #7645 "Since 2.15 can't use stack.namespace to Hide Containers"
**Bug description**
On a Docker Swarm, since Portainer CE 2.15, Hidden Container no longer works with stack's namespaces

**Expected behavior**
Using `com.docker.stack.namespace` to define what stacks/containers needs to be Hidden by using their names

**Steps to reproduce the issue:**

1. Create a new stack
2. Go to Portainer **Settings**, then down to **Hidden Container**
3. As per **name** use

[2022-09-09 12:59] StanDaMan0505 commented on #6590
Same here. Standalone installation on raspberry pi 4B. Works on command line. Re-created the token on hub.docker and updated it in portainer 2.15

[2022-09-09 13:49] PaPaTheGMan opened #7646 "Portainer keeps re-starting after upgrade"
**Bug description**
Portainer keeps re-starting

**Expected behavior**
Portainer stays up and running

**Portainer Logs**
The log file keeps repeating the following:
time="2022-09-09T13:16:54Z" level=info msg="Encryption key file `portainer` not present"
time="2022-09-09T13:16:54Z" level=info msg="Proceeding without encryption key"
time="2022-09-09T13:16:54Z" level=info msg="Loading PortainerDB: p

[2022-09-09 17:38] pedroluiznogueira opened #7647 "Support for more themes/colors in the UI."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No, it isn't.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would love to be able to have more themes/colors to choose other than the ones supported right now. I imagine it isn't that

[2022-09-09 20:55] devNan0 opened #7648 "Feat: Add placeholder for DockerHub rate limit"
**Is your feature request related to a problem? Please describe.**
On the "Images" page the UI jumps after the DockerHub rate limit is fetched.
This causes the "Images" table to jump down 1-5s after the page is loaded.

**Describe the solution you'd like**
Add a placeholder like [this](https://getbootstrap.com/docs/5.2/components/placeholders/#animation) where the text will appear so that the cont

[2022-09-09 21:46] tamarahenson commented on #7646
@PaPaTheGMan

Due that Portainer is running without issue on all other machines, you may want to look into your Docker config files.  Appears one of them may have gotten corrupted due to the `invalid character '\x00' looking for beginning of value` message.

Thanks!

[2022-09-10 00:22] PaPaTheGMan commented on #7646
I'm happy to look, but don't know what files you are referring to.  Can you please point me to the files or area in question?
Thank you.

[2022-09-10 00:56] soxhi8 commented on #5367
My current workaround is to activate the `Select a container`-option, by removing `hidden` and `disabled` in the DOM:
`<option disabled="" value="" class="" selected="selected" hidden="">Select a container</option>`

[2022-09-10 03:47] buswedg opened #7649 "Unable to deploy stack on CE 2.15 when using a CIFS portainer_data mount"
**Bug description**
I have a bunch of stacks which I've been able to run fine using the previous version of portainer.

Just upgraded to CE 2.15, and now when I try to deploy any of my previous stacks, I'm getting the below error:

"failed to deploy a stack: unexpected character "\x00" in variable name near "\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x

[2022-09-10 03:52] buswedg commented on #7646
I'm also having issues with invalid \x00 chars here: #7649

[2022-09-10 04:09] buswedg commented on #7649
Just rolled back to 2.14.2 and was able to deploy a stack with the exact same config successfully.

[2022-09-10 04:30] Yash-Garg commented on #6126
I edited the DB and restarted the `portainer` container, but it still does not work!

[2022-09-10 09:53] hatamiarash7 commented on #7616
The dark-mode theme is still brown in `2.15.1`, am I wrong?

[2022-09-10 12:47] kroese commented on #7371
This problem seems solved in 2.15

[2022-09-10 12:47] #7371 closed, assigned to tamarahenson

[2022-09-11 13:52] mhbates commented on #6798
This issue is present on 2.15 as well.

[2022-09-11 15:02] jcarppe commented on #7616
2.15.1 has not released yet. If you are using the CI build, you should expect bugs as it is still undergoing testing.

[2022-09-11 15:07] jamescarppe commented on #7647
Closing as essentially a duplicate of #7626 .

[2022-09-11 15:07] #7647 closed, assigned to nobody

[2022-09-11 15:09] jamescarppe commented on #7616
2.15.1 has not released yet. If you are using the CI build you should expect bugs, as it is still undergoing testing ahead of the official release.

[2022-09-11 15:12] hatamiarash7 commented on #7616
I tested this: [linux-amd64-2.15.1-alpine](https://hub.docker.com/layers/portainer/portainer-ce/linux-amd64-2.15.1-alpine/images/sha256-fc9d852614c7a24da118b3c0d5850eda87e2df5ca98f42a09757bc87d42900cb?context=explore) and it was brown

[2022-09-11 15:13] jamescarppe commented on #7649
Can you share the stack file you're using? I wonder if there's special characters or some formatting weirdness that's causing this to fail in 2.15.

[2022-09-11 15:17] jamescarppe commented on #7616
Yeah, those shouldn't be tagged yet and I'm looking into why. Suffice to say that those images are not the final versions, and shouldn't be used in production.

[2022-09-11 15:45] buswedg commented on #7649
The stacks are manually configured through the portainer UI. They are all pulling from my private repo.

There isn't anything exotic going on. Each of the git folders I'm pulling from have a .env, docker-compose-yml, and environment.yml. The only thing I'm doing here which might not by typical, is overriding the .env var values by manually setting each var as part of the portainer UI stack config.

[2022-09-11 21:21] jamescarppe commented on #7649
I haven't been able to replicate this behavior locally at all. I've used a basic WordPress stack to test - you can see it in [this repo](https://github.com/jamescarppe/wordpress-stack) - which includes a `.env` file defining one of the two variables used in the `docker-compose.yml`. Regardless of whether I only set the `MYSQL_DATABASE_PASSWORD` variable through the UI or I set both (overriding the

[2022-09-11 21:31] buswedg commented on #7649
Let me try your config tonight and see if I can help narrow down on this.

FYI, I'm also running environment.yml files for my stacks (don't think this would be the issue) and some of the .env vars are left as blank on the source repo (this might be the issue). I define any blank .env vars as part of the portainer stack config.

They seemed to be the main differences. But I'll share a problematic c

[2022-09-11 21:45] buswedg commented on #7649
Ok, your config also gives me the issue. So, looks like a problem with my portainer container itself.

![image](https://user-images.githubusercontent.com/12248076/189550110-9eb6fced-baa2-46bd-ac29-8a0733426aec.png)

To confirm how I can do a completely fresh install/upgrade of portainer. Can I simply dump all of my persistent data outside of the data/compose dir (which I believe has my stack confi

[2022-09-11 21:55] jamescarppe commented on #7649
We generally recommend removing the `portainer_data` volume and recreating a fresh one - what you _could_ do here for testing is simply create a new empty data volume and reference it from your `docker run` command instead of `portainer_data`. That way you'd get a fresh install without having to nuke your previous install.

[2022-09-11 22:04] WaysonWei opened #7650 "Docker API doesn't need docker flag"
When connecting to docker via API, doesn't need to use the docker flag:

-v "/var/run/docker.sock:/var/run/docker.sock"

Therefore it should be removed.

[2022-09-11 22:05] #7650 closed, assigned to nobody

[2022-09-11 22:06] buswedg commented on #7649
Ok, I got the same issue as above even after completely nuking my previous portainer volume. I have this in the original post, but just to note again, here is my current portainer compose config:

[code]

.env:
`DATA_PATH=[REDACTED]`

[2022-09-11 22:07] jamescarppe commented on #7649
You've noted Linux as your environment above, can you be more specific? Distro, platform, etc? The closer I can get to your setup the more likely I am to be able to replicate.

[2022-09-11 22:07] buswedg commented on #7649
Did your test of the wordpress stack match my screenshot above? outside of the 'test' var values?

[2022-09-11 22:08] jamescarppe commented on #7649
Yes, matched exactly.

[2022-09-11 22:09] buswedg commented on #7649
I'm running Debian 11 via a VM. Let's take this over to slack, and I'll be sure to drop any solution back here.

[2022-09-11 22:35] WaysonWei opened #7651 "Browser tab name is not updated when deselect environment"
When deselecting an environment in portainer, the browser tab still has the environment name attached to it. eg " Portainer | local ".

It should be clear as " Portainer " only when there is no environment been selected.

[2022-09-11 22:36] #7651 closed, assigned to nobody

[2022-09-11 22:45] WaysonWei opened #7652 "nomad extension is not allowed as compose file for git deployment"
When deploy from git for nomad, docker-compose.nomad is not allowed as compose path.

[2022-09-11 22:46] #7652 closed, assigned to nobody

[2022-09-11 23:46] tswrigley commented on #7644
Hi Di, thanks for your post.

Our approach in regards to why some features are only available in BE rather than CE, is based on the fact that our open source Portainer Community Edition product requires substantial development efforts to keep it updated, and relevant in a hyper-dynamic market. The cost for this development needs to be funded one way or another, and we have elected to fund this thr

[2022-09-12 00:02] buswedg commented on #7649
For anyone interested -- @jamescarppe found the issue. It was due to my portainer_data volume path being served via a CIFS mount. Should be able to deploy these stacks without issue on 2.15 if the volume is on the same machine as portainer.

[2022-09-12 00:13] jamescarppe commented on #7649
I've updated the issue title to suit the new issue. I'm discussing this internally with the engineering team now - initial theories are that this might be a result of some changes we made to how we use BoltDB in order to provide improved scalability, but once I learn more I'll update here.

[2022-09-12 08:03] MarcOrfilaCarreras commented on #2211
Same issue using Portainer Community Edition with the version 2.15.0. Using the linux-arm64 image.

![Captura desde 2022-09-12 10-02-43](https://user-images.githubusercontent.com/43065477/189602930-623f3fc6-80d6-4b27-bd45-b45211814c8a.png)

[2022-09-12 12:31] Wheemer commented on #7488
This makes the extension pointless. Why lock things down for no reason?

[2022-09-12 15:11] a-gerhard opened #7656 "Stack is not created if a dependency within the stack fails"
**Bug description**
I am trying to create a stack with two containers. Container 2 has a `service_completed_successfully` condition dependency on container 1. Container 1 fails to start. I then end up with the stack not having been created, the browser is still in the "add stack" view which shows me the stack I am currently creating (as if I had posted invalid syntax or another input error). Conta

[2022-09-12 18:42] v3ss0n commented on #7514
What will be the alternative

[2022-09-12 18:55] tamarahenson commented on #7646
@PaPaTheGMan

Is your `portainer_data` volume path being served via a CIFS mount?

Thanks!

[2022-09-12 19:01] GeneralLuzi opened #7657 "portainer ignoring no_proxy settings"
**Description**
It seems that the no_proxy env var is not properly used by portainer when deploying a new stack via git repository.
This portainer instance is running behind an enterprise proxy. Setting the http/s proxy allows to download templates - so far so good.

Not setting the no_proxy env var terminates with a time out - also a behaviour to expect.

Setting the no_proxy env var terminats th

[2022-09-12 19:39] tamarahenson commented on #7636
@rdwebdesign

Thank you for the information.  This has been forwarded to Product and reviewed.  Your suggestions will be considered during further work with our UI/UX.

Thanks!

[2022-09-12 20:57] rjchicago commented on #7252
@tamarahenson, would you be able to re-open this issue, please?

I tested `2.15.0` and this issue is still present there as well...
![image](https://user-images.githubusercontent.com/382450/189757020-89bb951c-9111-4f18-9b87-07e045d87953.png)

[2022-09-12 21:17] huib-portainer commented on #7514
Thank you for asking that question. What would you perceive to be a viable alternative?

Of course moving to manifests is always an option.
But other recent projects, like Acorn, is something we might be considering if it gathers enough interest as well.

[2022-09-13 01:08] tamarahenson commented on #7645
@Sandros94

I have been working on reproducing this.  What version of Portainer did you upgrade from? Or, what was your last known working Portainer?

Thanks!

[2022-09-13 05:26] tamarahenson commented on #7645
@Sandros94

I was unable to reproduce the issue.  My testing looked like this:

[1] Install Portainer CE 2.14.2
[2] Create Stack
[3] Settings >> Hidden Container >> com.docker.stack.namespace:stack name
[4] Verified containers were hidden
[5] Upgrade to Portainer CE 2.15.0
[6] Verified containers were still hidden
[7] Create new Stack
[8] Settings >> Hidden Container >> com.docker.stack.namespace:

[2022-09-13 11:12] sandros94 commented on #7645
@tamarahenson

Sure: one of the swarm was on 2.14.2 the other on 2.14.0
Thanks for testing.

This said, yesterday I had to clear the browser cache for other reasons and now I see that in the container list they are properly hidden. I can't be 100% sure if browser cache was the reason but surely I can say that I was a bit dumb on not testing it right away.

But, I'm 99% sure that it did used to wor

[2022-09-13 11:33] samdulam commented on #7657
is the above yaml your actual compose file for Portainer?
Are the environment variables commented out for testing? Does the git clone work when http_proxy and https_proxy are commented out?

[2022-09-13 11:58] PaPaTheGMan commented on #7646
No, it's ext4.

From: Tamara Henson ***@***.***>
Sent: Monday, September 12, 2022 2:56 PM
To: portainer/portainer ***@***.***>
Cc: PaPaTheGMan ***@***.***>; Mention ***@***.***>
Subject: Re: [portainer/portainer] Portainer keeps re-starting after upgrade (Issue #7646)

@PaPaTheGMan<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPaPaTheGMan&data=05%7C01%7C%7C8b75c9ea

[2022-09-13 12:22] tamarahenson commented on #7645
@Sandros94

Thank you for the additional information!

I am seeing here that your `potrec` stack is in a Limited state.  This means it was created outside of that Portainer instance and control is limited.  I went ahead and tested on my end if it was possible that a Stack in the Limited state, would not allow its Containers to be hidden.  I am still able to hide the containers without issue.

Whil

[2022-09-13 12:31] tamarahenson commented on #7656
@a-gerhard

Thank you for the information.  I am going to further investigate and work on reproducing.  I will update you as I learn more.

Thanks!

[2022-09-13 13:16] GeneralLuzi commented on #7657
yes

 yes - as I wrote, I tested serveral scenarios...

 no

In addition: the docker proxy is set via `/etc/systemd/system/docker.service.d/http-proxy.conf`:

[code]

[2022-09-13 14:15] GeneralLuzi commented on #7657
I have a new idea, what could cause this issue:
- I want to deploying this git stack. Therefore I use the  `_gitlab_repository_url_`, e.g. https://gitlab.domain
- my setup includes traefik as a reverse proxy.
- The error message says, that portainer (or the git client) tries to connect to the IP  `10.0.25.65:443`. This IP is the internal docker IP of gitlab.

I am just wondering, why the _`_gitlab

[2022-09-13 15:10] samdulam commented on #7657
Must be the dns.

[2022-09-13 17:07] alex-bul commented on #2791
+

[2022-09-13 17:10] sandros94 commented on #7645
Atm I cannot send you the backup because we are still clearing up some sensitive information that were leftovers from the old devs.

I am aware for the Limited state, as far as I know you cannot give portainer access to its own deployed stack. But still I'm confidently sure that in 2.14 the hidden containers would hide the stack that is referring too. Not hiding the stack will give me access to so

[2022-09-13 17:54] GeneralLuzi commented on #7657
nope. It was the miss-configured web server of gitlab.

You **do not** have to set the following nginx settings:

- "X-Real-IP" => "$$remote_addr"

I hope it will help others.

@samdulam thanks for participating! I do not know, if there might still be an issue within portainer. For now I close this issue.

[2022-09-13 17:54] #7657 closed, assigned to nobody

[2022-09-14 04:14] shidarin opened #7660 "Less spacing in lists of new theme"
**Is your feature request related to a problem? Please describe.**

Portainer's new theme does a massive update on how it uses screen space. In some areas like the dashboard this is a HUGE improvement. The list view became slightly less usable however.

As a list view, it's fundamental nature is that of a spreadsheet. I understand we want to make spreadsheets beautiful, but they still need to prov

[2022-09-14 08:43] tamarahenson commented on #7646
@PaPaTheGMan

I ran thru the following testing:

[1] Ubuntu 18.04
[2] `ext4` /mnt/portainer/data
[3] Docker Standalone
[4] Install Portainer 2.14.2:  `docker run -d -p 8000:8000 -p 9443:9443 --name portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v /mnt/portainer/data:/data portainer/portainer-ce:2.14.2`
[5] Created Stack >> wordpress
[6] Upgraded Portainer 2.15.0
[7] Porta

[2022-09-14 09:01] tamarahenson commented on #7645
@Sandros94

I tested 2.14.0 CE, and I am still unable to reproduce.

<img width="1138" alt="Screen Shot 2022-09-14 at 1 59 01 AM" src="https://user-images.githubusercontent.com/20426210/190110494-1502870a-9584-4458-9a80-33aa7ab06017.png">
<img width="807" alt="Screen Shot 2022-09-14 at 1 59 15 AM" src="https://user-images.githubusercontent.com/20426210/190110498-abe3fdf1-803a-47c7-93b9-9268a8addd8

[2022-09-14 09:51] scoooooott commented on #2861
Any updates on this issue? I need this feature very much.

[2022-09-14 13:48] sandros94 commented on #7645
@tamarahenson Thank you very much for checking it anyway on 2.14.0

Atm I start to beleave that I had something more in my config, but since I cannot test it atm I'll probably close this issue as it's not easily reproducible, just to keep issue tracking clean.

Once I'll have more info I'll probably update or reopen it.

Thank you again

[2022-09-14 13:48] #7645 closed, assigned to tamarahenson

[2022-09-14 15:05] CcCcaidan opened #7662 "How to restore the local environment when i remove it carelessly?"
After updating to Portainer 2.15 version, I can't enter the local environment, and  I remove it ...
I delete all Portainer container and images, rollback to old version,  but no effect

[2022-09-14 23:11] xoxfaby opened #7665 "Use an external authentication source as authentication for Portainer?"
Before you start, we need a little bit more information from you:

Use Case: Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Is it possible to use an external authentication source as authentication for Portainer?

Here is my specific setup. All of my services that I have set up for my homelab are behind an nginx reverse proxy. Some of

[2022-09-15 00:17] tamarahenson commented on #7252
@rjchicago

Thank you for the information.  I have re-opened.  I am going to further investigate.  Updates to follow.

Thanks!

[2022-09-15 00:26] duncanw opened #7666 "Build image from uploaded file: button not enabled"
**Bug description**
On the build image page the "Build the image button" button stays disabled after entering the image name, selecting Upload and uploading a file.

![image](https://user-images.githubusercontent.com/1518267/190285540-a26fb3f9-f8fa-4075-9d59-510f9cf8b8ce.png)

**Expected behavior**
The button should be enabled so the user can initiate the image build.

**Portainer Logs**
Provide t

[2022-09-15 00:48] tamarahenson commented on #7252
@rjchicago

Update:  This is not a bug.  We need to update our documentation.  You will need to remove the Group Configuration settings and only use Users.

Note:  We have an internal request logged in JIRA for Microsoft Active Directory.  Users are not able able to remove their Group configurations.  The workaround is to create your MS AD into the Custom Authentication.

![auth-teams-testing](htt

[2022-09-15 01:10] jtraxy opened #7667 "Warning text colour to be orange"
**Bug description**
Warning text color can vary throughout the UI and should conform to the new UI refresh plan.

**Expected behavior**
Warning text color should be harmonised as part of the ongoing UI refresh. Color used should also follow accessibility guidelines.

[2022-09-15 01:14] jtraxy opened #7668 "Node stats - unable to retrieve node metrics in a GKE cluster"
**Bug description**
For a GKE cluster, the Node stats screen gives the error:
nodemetrics.metrics.k8s.io "gke-cluster-1-default-pool-5538185b-70jj.us-central1-c.c.live-demo-347204.internal" not found
and shows 'Unable to retrieve node metrics':

**Expected behavior**
Node stats should work for a GKE cluster.

**Steps to reproduce the issue:**
1. Steps to Reproduce
2. Connect a GKE cluster to Porta

[2022-09-15 03:29] WaysonWei opened #7671 "Need re-pull image option for docker stack"
Good to have a re-pull image option when I editing stack and redeploy.

[2022-09-15 03:29] #7671 closed, assigned to nobody

[2022-09-15 03:58] dakejahl commented on #6882
Bumpity bump bump bump I agree!

[2022-09-15 07:11] gbozzetti opened #7674 "Force compose stack on a specific node"
Use Case: Using Portainer at Home
Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Is there a way to force the deployment of a compose stack via portainer API (type 2 - method string) on a specific node (host) in the swarm?

I don't see any option to do that, and since the docker-compose doesn't accept "deploy" configuration, I don't know how to do that.

Thank

[2022-09-15 07:21] #6625 closed, assigned to nobody

[2022-09-15 07:22] andreaconsadoriw commented on #6625
fixed in CE 2.15.0

[2022-09-15 09:54] jtraxy opened #7675 "Improve unit tests by using T.TempDir to create temporary test directory"
Based on contribution https://github.com/portainer/portainer/pull/6964
this is to use T.TempDir when creating temporary test directory for unit tests.

[2022-09-15 09:57] #7675 closed, assigned to nobody

[2022-09-15 11:16] lorenz-esch-bl opened #7676 "Allow starting of stack on portainer startup"
Use Case (delete as appropriate): Using Portainer at Home

Have you reviewed our technical documentation and knowledge base? Yes

**Question**:
Is it possible to automatically start a stack once portainer has been started? I could not find an option in the GUI, nor information in the guidelines. Or maybe I have to use the API for that?

[2022-09-15 11:23] ghost commented on #7004
Hello,
I currently face the same problem. However, I am currently on the release 2.14.1. Should not the problem have been solved with this version?

I am running a 3 node Docker Swarm. The portainer volume is placed on a nfs share. Pulling the images manually via the "Images" button works fine with the configured registry (I’m using authenticated DockerHub). But now I need to download all images t

[2022-09-15 11:30] PaPaTheGMan commented on #7646
I'm not using Docker Swarm

From: Tamara Henson ***@***.***>
Sent: Wednesday, September 14, 2022 4:44 AM
To: portainer/portainer ***@***.***>
Cc: PaPaTheGMan ***@***.***>; Mention ***@***.***>
Subject: Re: [portainer/portainer] Portainer keeps re-starting after upgrade (Issue #7646)

@PaPaTheGMan<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPaPaTheGMan&data=05%7C0

[2022-09-15 14:29] rjchicago commented on #7252
Hi @tamarahenson,

Thank you for looking into this! I went in to remove our Group Settings, however, it appears the Save Settings button remains disabled...

![image](https://user-images.githubusercontent.com/382450/190430367-701d787c-c591-4fa5-8eb4-010e03538c4b.png)

[2022-09-15 14:30] rjchicago commented on #7252
Oh, nvm, you must re-enter the password above in the User Settings - then the button enables.

[2022-09-15 22:17] WaysonWei opened #7678 "Dropdown menu background color is incorrect in dark mode"
Dropdown menu has ligh-blue as background color which is incorrect color for dark mode.

[2022-09-15 22:17] #7678 closed, assigned to nobody

[2022-09-15 23:21] #7624 closed, assigned to tamarahenson

[2022-09-16 01:25] rdwebdesign opened #7679 "Dark theme is using light colors for some icons"
**Bug description**

Dashboard icons are using the wrong background color:

![icons_light](https://user-images.githubusercontent.com/1385443/190535869-48dfe357-5efb-4234-8c1e-f48b2e98bf19.png)

**Expected behavior**

The icon colors should match the rest of the theme.

1. Gray background and white text or
2. Dark background and blue text (to match the hover effect).

 ![icons](https://user-images.

[2022-09-16 02:42] jamescarppe commented on #7660
Thanks for the feedback! This is something we're aware of already, and we're looking at refining in an upcoming release.

[2022-09-16 04:53] WaysonWei opened #7681 "chart.js and moment version need to be updated"
chart.js: 2.7.3 ( was installed )
Vulnerability ID: SNYK-JS-CHARTJS-1018716 ( high, fixed in 2.9.4 )
updated: 2.9.4 ( now installed )

moment: 2.29.1 ( was installed )
Vulnerability ID: SNYK-JS-MOMENT-2440688 ( high, fixed in 2.29.4 )
Vulnerability ID: SNYK-JS-MOMENT-2944238 ( high, fixed in 2.29.4 )
updated: 2.29.4 ( now installed )

[2022-09-16 04:54] #7681 closed, assigned to nobody

[2022-09-16 07:37] JourneyOver opened #7682 "json: cannot unmarshal string into Go struct field TemplateEnvSelect.Templates.env.select.default of type bool"
**Bug description**
When using a custom template (that I am working on slowly) for stacks, when clicking on `Copy as Custom` in the `App Templates` section it throws the error that is mentioned in the report title. It seems to be the case for any app, not just a specific one.

**Expected behavior**
For it to not throw the error and open up a custom template for the stack.

**Portainer Logs**
Provi

[2022-09-16 07:45] tamarahenson commented on #7666
@duncanw

I believe this issue is related to [7624](https://github.com/portainer/portainer/issues/7624#event-7398934697) and is resolved in 2.15.1.

Thanks!

[2022-09-16 08:14] bitwon opened #7683 "Provide option to edit the Git repository settings, an existing stack"
**Is your feature request related to a problem? Please describe.**
If you use Git for a stack and something like the repository URL changes or the branch, you're not able to update the Git related settings. You have to create a new stack instead of modifying the existing one.

**Describe the solution you'd like**
Provide an option to modify a stack attached to Git.

**Describe alternatives you've

[2022-09-16 09:05] andreaconsadoriw opened #7684 "Container Console works only in non Swarm enviroment"
Dear support,
i've two portainer servers,
one in a swarm envirorment, one in a standalone mode.

Same version of portainer 2.15.1
Same distro OS

Portainer in standalone let me use "Exec console"
Portainer in Swarm leave the "Exec console to timeout".

what i can check to fix it?

[2022-09-16 13:17] #7616 closed, assigned to jamescarppe

[2022-09-16 15:10] DavidZidar opened #7686 "Since 2.15 link colors in dark more and high contrast mode do not have good enough contrast"
**Bug description**
Depending on your screen and brightness levels the blue links in the stacks list and other lists can be really difficult to see because the contrast is too low. Chrome dev tools tells me the contrast is 4.02

**Expected behavior**
Try to aim for a contrast ratio of AA (4.5) or AAA (7.0). The current color is `rgb(0 134 201)`, I think something more like `rgb(101 193 239)` looks

[2022-09-16 15:38] tamarahenson commented on #7684
@andreaconsadoriw

Thank you for the information.  I am going to further investigate.  I will update you as I learn more.

Thanks!

[2022-09-16 15:57] atmosferia-projects opened #7687 "Error 400 returned when defining manually container IP on a custom network"
**Bug description**
When I try yo assign a static ip in a container already started, when deploying the container I receive a 400 error

Created a custom network ( bridge, attachable).
Created a mongo container attached only to this network (without assigning a static ip).
The container was succesfully created, started and docker assigns an ip to this container.

When duplicating/editing the conta

[2022-09-16 17:13] tamarahenson commented on #7684
@andreaconsadoriw

Can you post your Portainer `docker run` install commands for both of those environments?

Thanks!

[2022-09-16 17:28] tamarahenson commented on #7684
Or you can just run `docker ps -a` on Standalone and `docker service ls` on the Swarm and post.  Thanks!

[2022-09-16 18:14] JourneyOver commented on #7682
I have since upgraded to the business edition of portainer, but this problem still exists.

[2022-09-16 18:35] tamarahenson commented on #7682
@JourneyOver

Thank you for the update.  I am working on reproducing this.  I will update you as I learn more.

Thanks!

[2022-09-16 18:39] tamarahenson commented on #7662
@CcCcaidan

The Portainer Backup is only for Portainer configurations and stacks. We do not include containers or volumes in the backup.  You will need to manually restore.

Thanks!

[2022-09-16 23:44] veerendra2 opened #7688 "Deploy apps from docker-compose file in compose path"
Before you start, we need a little bit more information from you:

Use Case (delete as appropriate): Using Portainer at Home, Using Portainer in a Commercial setup.
Home
Have you reviewed our technical documentation and knowledge base? Yes/No
Yes

### **Question**:
Is it possible `portainer` pick  manually placed `docker-compose.yml` files in `/var/lib/docker/volumes/portainer_data/_data/compose`(

[2022-09-17 07:33] JourneyOver commented on #7682
and sadly had to downgrade back to the community edition, the business edition is just way to slow on loading any pages or really anything it seems (taking upwards of 30s to a minute to load some stuff). I think it has something to do with the checking of images to see if a container is up to date or not, I'm not really sure though. The community edition currently doesn't have this check from what

[2022-09-17 11:55] ohault commented on #5964
+1 with simultaneous support of both Linux and Windows containers.

[2022-09-17 13:41] cameo69 commented on #1034
Has this been solved in the meantime? It is very annoying that portainer cannot save the number of items shown in a list.

[2022-09-17 16:43] ixxeL2097 commented on #7181
Integrating GitOps functionality by enabling features like relative paths support would be very much appreciated I can confirm it. Kubernetes envrionments benefit from great GitOps tools such as ArgoCD and FluxCD but there is a huge lack on this side for docker-compose environments which are still often used in particular contexts when Kubernetes is not required.
Can't wait to see this kind of fea

[2022-09-18 05:57] Sam-Mumm opened #7689 "Updates of git config returns an 404 - Unable to find the environment associated to the stack (object not found inside the database)"
**Description**
The API of Portainer 2.15.0 provides according to the documentation an endpoint which allows to modify the [git configuration](https://app.swaggerhub.com/apis/portainer/portainer-ce/2.15.0#/stacks/StackUpdateGit) of an stack. But every requests returns the Statuscode 404 and the message ´Unable to find the environment associated to the stack inside the database","details":"object n

[2022-09-18 06:58] JourneyOver commented on #7682
@tamarahenson I am closing this issue due to the fact that I have figured out the cause of said issue..

It was to do with `select` array and the default values that I had put into it. Instead of having `true`/`false` default value, I instead had `"true"`/`"false"` values for some and `"random word"` for some others which is not the correct way to do things it seems and why it was throwing the err

[2022-09-18 06:58] #7682 closed, assigned to tamarahenson

[2022-09-18 12:32] FlyingPersian opened #7691 "Environment unreachable after portainer upgrade"
Hello,

I'm running portainer on docker swarm with 4 nodes. I was running Portainer version 2.14.0 and upgraded to 2.15.1 using the instructions on the website:

Upgrade portainer-ce:
[code]

Upgrade portainer-agent:
[code]

After doing so and went to the portainter GUI, I had to run the initial wizard and uploaded my backup. After doing so, it stated that my environment was down. When I click on

[2022-09-18 12:41] FlyingPersian commented on #7691
Funnily enough, I solved my issue myself:

remove portainer and portainer agent:
[code]

I still had the portainer-agent-stack.yml, I just needed to change to :latest. Then, reploy the stack:
`docker stack deploy -c portainer-agent-stack.yml portainer`

After logging in, I can access the environment. I thought I'd share this if anyone has the same issue in the future.

[2022-09-18 12:41] #7691 closed, assigned to nobody

[2022-09-18 18:16] tamarahenson commented on #7617
@YouveGotMeowxy

Thank you for the information.  Product has reviewed.  I have opened an internal JIRA.

Thanks!

[2022-09-18 18:17] #7662 closed, assigned to tamarahenson

[2022-09-18 20:17] duncanw commented on #7666
Thanks! Yes sorry looks like I created a duplicate issue.

[2022-09-18 20:17] #7666 closed, assigned to tamarahenson

[2022-09-18 20:28] Zeik0s commented on #1034
No, still relevant.

[2022-09-19 02:35] jamescarppe commented on #7688
This isn't a feature we currently support - if you'd like to see this functionality in the future you can open a [feature request](https://github.com/portainer/portainer/issues/new?assignees=&labels=&template=Feature_request.md&title=).

In your case, have you looked at the [Portainer API](https://docs.portainer.io/api/access)? You should be able to leverage that to supply a local `docker-compose.

[2022-09-19 02:42] jamescarppe commented on #7676
In most cases, our users have Portainer running all the time (starting with their orchestrator). I'd be interested to understand a bit more about your use case here - do you only start Portainer on-demand?

Portainer is meant to work as an interface to your orchestrator (Docker, Swarm, Kubernetes, etc) rather than replace it, and is intended to be independent of the other containers you're running

[2022-09-19 04:36] WaysonWei opened #7695 "User who doesn't have access to environment still listed as restricted user for selection of stack"
Description:
User who doesn't have access to environment still listed as restricted user for selection

Expectation:
User or team ( some user inside the team ) who doesn't have access to environment shouldn't be listed as restricted for selection, if they have no access to environment, there is no point to assgin them stack access in this case.

[2022-09-19 04:36] #7695 closed, assigned to nobody

[2022-09-19 04:53] WaysonWei opened #7696 "Suggested to use high number for port in portainer desktop extension"
Better to have high number for portainer desktop extension as:

Port 9000 -> 49000
Port 9443 -> 49443

[2022-09-19 04:54] #7696 closed, assigned to nobody

[2022-09-19 07:57] samdulam commented on #7004
Share logs from each of the portainer agent containers, also look at updating to 2.15.1 if possible.

[2022-09-19 08:44] Thornye commented on #6961
After upgrade and getting an "failed loading environment" error message, the following worked for me:
- Shut down all containers, remove /var/run/docker.sock and /var/run/docker.pid then reboot. Problem solved!

[2022-09-19 09:05] andreaconsadoriw commented on #7684
The working portainer:
docker ps -a | grep portainer
b8351b686a23        portainer/portainer-ce:latest            "/portainer"             4 days ago          Up 4 days               0.0.0.0:8000->8000/tcp, 0.0.0.0:9000->9000/tcp, 9443/tcp

the non-working portainer:
docker service ls
ID             NAME                  MODE         REPLICAS   IMAGE                           PORTS
mxu11xmevrpe

[2022-09-19 09:21] andreaconsadoriw commented on #7684
when in swarm env i try to connect on the portainer_Agent where i've the container i wanna connect i read
"2022/09/19 09:18:45 http error: Missing request signature headers (err=Unauthorized) (code=403)
2022/09/19 09:19:05 http error: An error occured during websocket exec hijack operation (err=websocket: close 1006 (abnormal closure): unexpected EOF) (code=500)
2022/09/19 09:19:05 http: response.

[2022-09-19 10:35] varXX404 opened #7698 "Unable to update stack created via GitHub after new commit"
**Bug description**
I am unable to update the image of a stack deployed via the GitOps option, short of either deleting the current image or re-creating the stack itself. Neither the automatic update, nor the pull and redeploy botton, nor the pull and redeploy with the "re-pull" option enabled updates the image.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-09-19 12:19] nZeus opened #7699 "Portainer creates a stack but doesn't show containers"
**Bug description**
I have Portainer 2.15.0 on my QNAP NAS.

I configured a simple stack, with 1 container in it

[code]

Portainer successfully starts the stack, but it doesn't show created containers:
![image](https://user-images.githubusercontent.com/2727326/191013589-3954f7df-2b9d-40a6-945b-92cf28be4cde.png)

Container Station of my NAS does show the created container, and I can access it.

**

[2022-09-19 12:28] olljanat commented on #685
@deviantony It looks to be that this is not case anymore. Even when "Environment administrator" role description is "Full control of all resources in an environment" it still does not give access to swarm resources which are created outside of Portainer.

[2022-09-19 13:56] Sjonnie2018 commented on #7238
Hi James,

I hadn't come around to applying the downgrade. I followed the instructions from the link you provided and after searching for how to redeploy I got portainer-ce up and running. Thank you for your support. I will mark this thread closed. :)

[2022-09-19 13:56] #7238 closed, assigned to jamescarppe

[2022-09-19 16:28] tamarahenson commented on #7699
@nZeus

I am unable to reproduce.  I created the same Stack and am able to see the Container:
![create_stack](https://user-images.githubusercontent.com/20426210/191066639-62a5af0a-7ff3-416e-9df7-74b9e211af3b.gif)

Thanks!

[2022-09-19 16:49] Kagu-chan opened #7700 ""Home" Dashboard does not respect privileges properly"
**Bug description**
On "Home", i can see how many actual containers, stacks and so on are running on a Environment i have access to.
On the Dashboard relating to this very same entry, i see less objects, as i dont have the right to see them all.

**Expected behavior**
Both overviews should respect the same set of permissions / policies.

**Steps to reproduce the issue:**

1. Create an Environment

[2022-09-19 17:08] veerendra2 commented on #7688
Thanks for the reply. I will close this issue and create feature request

[2022-09-19 17:08] #7688 closed, assigned to nobody

[2022-09-19 17:22] veerendra2 opened #7701 "Deploy apps from docker-compose file in compose path"
## Is your feature request related to a problem? Please describe.

Deploy apps from docker-compose file that are located in compose path `/var/lib/docker/volumes/portainer_data`

Unlike deploy stack from UI(UI editor) or from git repo, it would be nice support pick deployments from compose path in volume offline(`Infrastructure as code`)
## Describe the solution you'd like

Support compose files p

[2022-09-19 17:56] nZeus commented on #7699
Well, it seems to be a problem when using the `primary` environment.
I've also connected QNAP's Container Station as an endpoint to Portainer, and there it works fine. You can see I've already connected quite some stacks there:
![image](https://user-images.githubusercontent.com/2727326/191081974-31e0e988-0501-4a60-8205-d4f4d0a09be8.png)

I don't know why `primary` is different from Container Stati

[2022-09-19 19:44] WaysonWei opened #7703 "Metadata is not working with Nomad"
Description:

When adding nomad environment via wizard, metadata is not working.

Expectation:

 I should be able to group and tag my nomad environment when adding from wizard.

[2022-09-19 19:44] #7703 closed, assigned to nobody

[2022-09-19 19:55] WaysonWei opened #7704 "update docker-compose and helm binary"
Update description:

docker compose plugin version: v2.5.1 -> v2.9.0
heml version: v3.9.0 -> v3.9.3

[2022-09-19 19:56] #7704 closed, assigned to nobody

[2022-09-19 20:01] WaysonWei opened #7705 "Updated PCIDB/GHW dependencies"
Updates:

GHW: v0.8.1 -> v0.9.0
PCIDB: v0.6.0 -> v1.0.0

[2022-09-19 20:03] WaysonWei commented on #7705
Please refer to pr [https://github.com/portainer/agent/pull/280](url)

[2022-09-19 20:03] #7705 closed, assigned to nobody

[2022-09-19 23:51] tamarahenson commented on #7700
@Kagu-chan

The Home page, will always show the total amount regardless of permissions.

Testing:
[1] Create group called `dev`
[2] Create user `portainer` add to `dev`
[3] Grant `dev` access to Environment `perms-testing`
[4] Grant `dev` access to `testing-app-1` container

<img width="1576" alt="Screen Shot 2022-09-19 at 4 33 45 PM" src="https://user-images.githubusercontent.com/20426210/1911382

[2022-09-19 23:55] #7699 closed, assigned to tamarahenson

[2022-09-20 00:00] tamarahenson commented on #7684
@andreaconsadoriw

Are you trying to exec into the Portainer container?  Or a different container?  Not all containers allow exec console access.

Thanks!

[2022-09-20 01:54] wangrui1573 commented on #3940
+1 same here. Used to work, but now can only do so from command line (docker exec -it [container-id] /bin/bash)

[2022-09-20 02:54] tamarahenson commented on #7646
@PaPaTheGMan

Can you roll back to 2.14.2 and let me know if the issue still persists?  How is this `MediaDrive` mounted?  `/mnt/MediaDrive/AppData/Portainer:/data`

Thanks!

[2022-09-20 02:58] tamarahenson commented on #7639
@LeVraiRoiDHyrule

What version of Podman are you running?  There are known issues with version 3.  You will need to install Podman 4.

Thanks!

[2022-09-20 04:21] hookenz commented on #7309
@samdulam @oxygen50 fix merged in upstream. Will be available in 2.16

[2022-09-20 07:47] andreaconsadoriw commented on #7684
via Swarm portainer i cannot connect to ANY console

[2022-09-20 11:35] PaPaTheGMan commented on #7646
No issues with the older version.

From: Tamara Henson ***@***.***>
Sent: Monday, September 19, 2022 10:54 PM
To: portainer/portainer ***@***.***>
Cc: PaPaTheGMan ***@***.***>; Mention ***@***.***>
Subject: Re: [portainer/portainer] Portainer keeps re-starting after upgrade (Issue #7646)

@PaPaTheGMan<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPaPaTheGMan&data=0

[2022-09-20 12:59] tamarahenson commented on #7646
@PaPaTheGMan

How is this `MediaDrive` mounted? `/mnt/MediaDrive/AppData/Portainer:/data`

Thanks!

[2022-09-20 13:13] tamarahenson commented on #7220
@dcr26

I wanted to follow up on this issue.  I am seeing here your Portainer is running 1.24.2.  The latest release of Portainer is on 2.15.1.  Can you upgrade and provide an update if the issue persists?

Thanks!

[2022-09-20 13:13] #7252 closed, assigned to tamarahenson

[2022-09-20 13:14] tamarahenson commented on #7274
@dot-mike

I wanted to follow up on this issue.  Can you download the logs as shown here to see if they have what you are looking for? Can you attach a sanitized version of your cronjob for review and testing?

Thanks!

[2022-09-20 13:15] tamarahenson commented on #7346
@STR3IKERKRYPTON

I wanted to follow up on this issue.  Can you try a different browser, incognito window and/or clearing all cache and cookies? Also, can you attach the Developer Console errors upon receiving the 'Unable to retrieve Containers' error, for review?

Thanks!

[2022-09-20 13:21] tamarahenson commented on #7417
@pavel-lobach

Can you upgrade to 2.15.1 and provide an update?

Thanks!

[2022-09-20 13:23] tamarahenson commented on #7555
@mx5gr

I wanted to follow up on this issue.  Are these nodes Virtual Machines? Are they running on VMware? What are the MTU Sizes?
Have a look at https://docs.portainer.io/faq/troubleshooting#why-cant-my-agents-communicate-with-portainer-on-swarm

Thanks!

[2022-09-20 13:26] tamarahenson commented on #7605
@Leexiaobu

When you select the box next to Name, all of the Containers will be selected.  Are you asking to only have the first page of containers to be selected?

Thanks!

[2022-09-20 13:27] #7611 closed, assigned to tamarahenson

[2022-09-20 13:36] jaamulberry commented on #7579
Perfect! Thanks. Feel super dumb now.

[2022-09-20 13:36] #7579 closed, assigned to nobody

[2022-09-20 13:46] XbuLee commented on #7605
@tamarahenson
Yes, because when i select the box next to id in Images page, only first page of images to be selected.

[2022-09-20 14:57] rodrigoncar commented on #7222
Since I upgrade to 2.15 and then 2.15.1 the same problem is happening.
I cannot add or remove any LDAP User to a TEAM.

Go to 'settings->authentication'
Click on 'LDAP' and configure LDAP access
Scroll down to 'Save settings'
Go to 'settings->users->teams' and select any team
See all add user buttons are grey and can't be clicked
Go to 'settings->authentication' and switch back to 'internal' and S

[2022-09-20 16:38] PaPaTheGMan commented on #7646
Here's the mount command from fstab:
UUID=fbe83c8d-cbb9-4412-a821-566a5edb8ff7 /mnt/MediaDrive ext4 defaults 0 0

From: Tamara Henson ***@***.***>
Sent: Tuesday, September 20, 2022 8:59 AM
To: portainer/portainer ***@***.***>
Cc: PaPaTheGMan ***@***.***>; Mention ***@***.***>
Subject: Re: [portainer/portainer] Portainer keeps re-starting after upgrade (Issue #7646)

@PaPaTheGMan<https://nam12.safe

[2022-09-20 16:57] tamarahenson commented on #7222
@rodrigoncar

We are going to be updating our documentation.  You need to remove the Group configuration settings in your LDAP authentication.  Please see below:

![auth-teams-testing](https://user-images.githubusercontent.com/20426210/191318998-3b2f47c8-4a8a-449a-bae4-fa4fcccec52a.gif)

Thanks!

[2022-09-20 17:19] xhemp commented on #5813
Didn't work for me, just tried it, had to log in to my NAS and make the modifications there as usual but thanks :)