[2017-08-09 13:18] deviantony opened #1100 "Add the ability to specify the Update configuration order of a service"
As introduced in Docker 17.05 via https://github.com/moby/moby/pull/30261

This should be added into the service-creation and service-details view.

[2017-08-09 13:30] #1096 closed

[2017-08-09 13:30] #1100 closed

[2017-08-09 13:39] deviantony commented on #1094
@leonsoft what's the Portainer version that you're using? I was not able to reproduce this.

I've created a container on the CLI via:

[code]

And when I access the container list, I can see and access the following link: http://192.168.1.47:8089/

I've also tried via the Portainer UI, created a container and mapped the host port *192.168.1.3:8090* to *8090* in the container and it worked too.

[2017-08-09 13:56] leonsoft commented on #1094
From web UI, version is 1.13.6.
I'm runinng it on windows host ( using .exe file) as I cannot make 2375 listening on 0.0.0.0.

[2017-08-09 13:58] deviantony commented on #1059
ping @shabbirkagalwala

[2017-08-09 14:07] nerdbaggy opened #1102 "Support 'docker system prune'"
It would be nice if there was an option in the GUI to run the 'docker system prune' on a node to clear things up. I can create a pull for it, but not sure where it would fit into the GUI

[2017-08-09 14:12] shabbirkagalwala commented on #1059
I am so sorry, I got this working but forgot to reply. I had to use --constraint and keep portainer on the manager node with the volume mounted. Sorry again for not replying before and thank you very much for all the help!

[2017-08-09 14:19] #1059 closed

[2017-08-09 14:22] leonsoft opened #1103 "network list is incomplete"
**Description**
In "container details" page
1.  "Join a network', the drop down lists only the 3 pre-defined networks. I think it should list all.
2.  "Status Running since 8 hours".  Should say "running for 8 hours".

* Portainer version: 1.13.6
* Platform (windows/linux): win10
* Command used to start Portainer:   portainer.exe

[2017-08-09 14:33] deviantony commented on #1103
What are ootb networks? It should normally list all the available networks.

[2017-08-09 14:57] leonsoft commented on #1103
only the 3: bridge host none

[2017-08-09 15:31] deviantony commented on #1103
@leonsoft are you really on Windows? Bridge network should not be available on Windows.

[2017-08-09 15:53] leonsoft commented on #1103
Sure. `bridge` is always the default for both linux and windows.
However, all my containers are running linux.

![image](https://user-images.githubusercontent.com/5268434/29130648-16c3f422-7d5d-11e7-8e59-41c5891e161c.png)

[2017-08-09 16:01] deviantony commented on #1103
Indeed, I've been able to reproduce this issue on demo.portainer.io, I'll have a look.

[2017-08-10 07:43] deviantony commented on #1102
@nerdbaggy

We thought a lot about adding these kind of features in the past, and only recently accepted to add the container prune feature: https://github.com/portainer/portainer/issues/904

This one seems even more dangerous for the user, as it can delete containers/images/volumes.

With the recent introduction of unused tags for volumes & images, it became easier to isolate and remove unused vo

[2017-08-10 08:09] ncresswell commented on #1102
My thoughts remain the same, i dont want any auto-prune feature...

Rgds,

Neil Cresswell

On 10/08/2017, at 7:43 PM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

@nerdbaggy<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_nerdbaggy&d=DQMFaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM&m=EE9co2ys8s

[2017-08-10 08:35] #677 closed

[2017-08-10 11:38] deviantony commented on #1103
@leonsoft can you give a try to the image `portainer/portainer:pr1104` ?

[2017-08-10 12:21] sachinjagtap41 opened #1105 "Team leader is able to access the Endpoint tab"
**Steps to reproduce:**
Endpoint should not be accessible for the Team Leader.
**In User Management page**
1. Create a new User from Admin Account.
2. Create a new Team by selecting a created user as a Leader, give him the authority for the specific
    Endpoint from Endpoints tab.
3. Logout from the Admin account, and Login as a New Team Leader User.
4. Go to Teams section.
 ![1](https://user-ima

[2017-08-10 12:44] leonsoft commented on #1103
I can only run exe (only localhost:2375).
I noticed 2 or more places, hopefully they share the same data source.

[2017-08-10 13:07] deviantony commented on #1103
@leonsoft I've created a windows archive for you, can you give a try to https://github.com/portainer/portainer/releases/download/1.13.6/portainer-pr1103-windows-amd64.tar.gz

[2017-08-10 13:25] #1105 closed

[2017-08-10 14:15] tuxmeister commented on #1073
I would still like to see it there, however maybe a way to hide it, and certainly it would be hidden away from non-admin users. Would that be enough?

[2017-08-10 15:00] deviantony commented on #1073
@tuxmeister you can simply change the ownership of this container from public to administrator.

[2017-08-10 15:55] bvis commented on #461
Hi, thanks to the new Portainer API I've created an image that allows to register automatically all the nodes in a swarm cluster. You can try it here: https://github.com/softonic/portainer-endpoint

[2017-08-11 03:02] leonsoft commented on #1103
Have not reproduced it till now.

[2017-08-11 03:05] leonsoft commented on #1103
by the way, I cannot see base image of an image (what is it "FROM") . Not sure it's an limitation of docker, or  of portainer.

[2017-08-11 07:46] #1103 closed

[2017-08-11 07:54] PixelHomie opened #1107 "Cannot change container ownership"
With the latest develop version of Portainer it is not possible to change the container ownership.
Following error occurs after clicking on "Change ownership" Button in Chrome:

`Uncaught TypeError: Cannot read property 'ResourceId' of undefined
    at k (app.c952d291.js:32)
    at ea.fn.init.<anonymous> (app.c952d291.js:32)
    at ea.fn.init.a.buttons.confirm.callback (app.c952d291.js:20)
    at

[2017-08-11 08:02] PixelHomie commented on #1107
Problem fixed. I started the wrong container with latest release version instead of development ;)

[2017-08-11 08:02] #1107 closed

[2017-08-11 10:05] rmNyro opened #1108 "Shouldn't doc advise for named volume instead of hosted volume ?"
Hi,

I noticed your advice about [persisting data for portainer](https://portainer.readthedocs.io/en/latest/deployment.html#persist-portainer-data). But There is a simpler and I believe cleaner way to do so (but less "secure" I guess). It is to use named volumes. So instead of `docker run -d -p 9000:9000 -v /path/on/host/data:/data portainer/portainer` I personally use `docker run -d -p 9000:9000

[2017-08-11 13:30] sloweclair commented on #1102
Looking at the API the Prune call doesn't do it all at the same time. There is:
/networks/prune
/volumes/prune
/containers/prune
/images/prune

So it wouldn't have to be all at once, but I do understand your point

[2017-08-11 17:01] deviantony commented on #1108
It's not really a matter of security, it's just that using a bind mount on the host is simply clearer as the user can check where the data is (it's also helpful for us when doing some support). Though, there is multiple ways to persist data using Docker, you might pick the one you prefer :-)

I'll close this issue for now as I don't think there is a real advantage of using a named volume, and if a

[2017-08-11 17:01] #1108 closed

[2017-08-11 22:35] sdouglasnelson opened #1109 "Feature request: Select random port within range for container"
Note: This is different than the functionality requested in [this](https://github.com/portainer/portainer/issues/734) issue.

When adding a new container I'd like to be able to assign it a random port from a range (defined in its configuration). On restart, the container would either select the same port or select a different port within that range.

[2017-08-12 07:35] deviantony commented on #1109
This should be part of the implementation for #734

I'll note this one as a duplicate and then update #734

[2017-08-12 07:35] #1109 closed

[2017-08-12 07:38] deviantony commented on #734
As specified in #1109, port range mappings in the host section should be optional.

Portainer should support the following:

* `docker run -p 30000-30009:30000-30009 my-image`
* `docker run -p 30000-30009:30000 my-image`

[2017-08-12 07:38] deviantony commented on #1109
@sdouglasnelson I've commented here: https://github.com/portainer/portainer/issues/734#issuecomment-321964129

Feel free to add your comment in #734

[2017-08-12 11:46] gybfefe commented on #1078
Regarding X11 button: https://github.com/suchja/x11server

[2017-08-12 16:29] gybfefe opened #1110 "Edit some aspects of containers, like bridge port map"
I saw in #652 that it's not possible to edit container settings, but how is it with port settings?
Can't we change the increasing exposed port number in the bridge?

[2017-08-13 07:43] deviantony commented on #1110
Indeed, this is not a Portainer limitation but a Docker limitation. Though we are working around this via #855

What do you mean?

[2017-08-13 10:17] #466 closed

[2017-08-13 10:18] deviantony commented on #466
This feature will be part of the next release as an experimental feature.

[2017-08-13 11:46] gybfefe commented on #1110
Hi!

I mean every time adding a new container and expose its ports through bridge, it's increasing the portnumber like container 1 has two ports exposed:
443/tcp --> 0.0.0.0:32770, 80/tcp --> 0.0.0.0:32771
container 2 has one:
80/tcp  --> 0.0.0.0:32776
--etc
Just because I restarted the server, portainer somehow gave the same container another random port...
If I deduce well, then portainer has th

[2017-08-13 14:28] Jeraimee opened #1111 "no such device when starting portainer (not in docker container)"
Running outside of docker the message "no such device" is output and portainer stops. This is on a Debian 9.1 system (proxmox). This is stand-alone not in a docker container (that's also been tried, same error).

With our without `-H` the same message is shown.

Commands like `docker ps`, etc. work fine and other containers are usable.

**Steps to reproduce the issue:**

1. (as root) ./portainer -

[2017-08-13 14:31] deviantony commented on #1110
@gybfefe this is Docker behavior.

You can map your container port on a specific port on the host or use port ranges if you want more control: https://docs.docker.com/engine/userguide/networking/default_network/binding/

I'm going to close this issue as I don't see how it's related to Portainer. Feel free to re-open / comment.

[2017-08-13 14:31] #1110 closed

[2017-08-13 14:32] deviantony commented on #1111
@Jeraimee have you tried to follow the instructions at http://portainer.readthedocs.io/en/stable/deployment.html#without-docker ?

[2017-08-13 14:52] deviantony opened #1113 "Do not display the services and secrets tabs when managing a worker node"
When managing a worker node using Portainer, the services & secrets views are available via the navigation panel. They should not be displayed as there is no way to manage services and secrets on a worker node (feature restricted to manager nodes).

[2017-08-13 14:55] #1113 closed

[2017-08-13 14:56] Jeraimee commented on #1111
Absolutely, after fighting with docker-based portainer and getting the same result I decided to attempt to run portainer sans-docker and that's how I ended up here :)

I'm trying:

`./portainer -d /opt/appdata/portainer` and `./portainer -d /opt/appdata/portainer -H unix:///var/run/docker.sock` (just to try to avoid any issues related to symlinks.

[2017-08-13 16:41] gybfefe commented on #1110
Ok, but questions stay on top of that, if server restarts can change saved container's port forward allocation, then docker can be manipulated to change this randomization, then portainer maybe can achieve the proper docker parameters to do that - just a lame question but in my world it's make sense...

[2017-08-13 17:18] deviantony commented on #1111
Can you try to run it from outside it's folder as specified in the docs ?

[code]

[2017-08-13 17:19] deviantony commented on #1110
Why don't just map a specific port on your host so that you ensure the same port is always used?

[2017-08-13 17:32] gybfefe commented on #1110
Cause these are containers, and managing them from portainer is common
sense :)
Sorry if it's rude, but I think we both cheer for the same dashboard :)

2017-08-13 19:19 GMT+02:00 Anthony Lapenna <notifications@github.com>:

[2017-08-13 17:40] deviantony commented on #1110
You can do that from within the Portainer UI, when creating a container just click on 'map additional port' next to the Port mapping label and you'll be able to define your port mapping.

[2017-08-13 19:14] Jeraimee commented on #1111
Same result:

[code]

[2017-08-13 19:17] deviantony commented on #1111
Strange, I'll try to reproduce.

[2017-08-13 19:28] Jeraimee commented on #1111
Interestingly ... if I `mkdir /data` then run as `./portainer/portainer` it starts.

If I supply the `-d` option again - no joy.

[code]

[2017-08-13 19:32] deviantony commented on #1111
Can you try with another data location? Outside of /opt?

Le dim. 13 août 2017 à 21:28, Jeraimee <notifications@github.com> a écrit :

--
Anthony Lapenna
https://deviantony.github.io

[2017-08-13 19:42] Jeraimee commented on #1111
Works with:

[code]

Now I'm really confused.

[2017-08-13 19:44] deviantony commented on #1111
Seems to be related to your system. Anything specific with your /opt ?

Le dim. 13 août 2017 à 21:42, Jeraimee <notifications@github.com> a écrit :

--
Anthony Lapenna
https://deviantony.github.io

[2017-08-13 19:49] Jeraimee commented on #1111
Opt is a mergerfs mount. Nothing but portainer has complained so far.

[2017-08-13 19:50] ghenry opened #1115 "LDAP filters"
Hi,

I've been following the directory server authentication addition and would like to see full control over the filter:

[](https://github.com/portainer/portainer/blob/develop/api/ldap/ldap.go#L29)

So rather than the filter settings always being part of an AND search:

`(&%s(%s=%s))`

you can pass in:

`(&(%s=%s))`

If a user is setting filters they'll know what they are doing.

[2017-08-13 20:00] ghenry opened #1116 "LDAP port 389 should be default"
You should be allowed to specify non-RFC'd ports, but it should at least be 389 :-)

[2017-08-13 20:04] ghenry opened #1117 "LDAP URL"
An LDAP URL is:

[ldap://ldap.surevoip.co.uk:389](url) etc.

[Lightweight Directory Access Protocol (LDAP): Uniform Resource Locator](https://tools.ietf.org/html/rfc4516#section-4)

So in Settings you should ask for "LDAP server"

Thanks.

[2017-08-13 20:06] ghenry opened #1118 "LDAP search/reader user"
Should be optional.

If not there, just bind as userdn passed in immediately to test success/failure on bind result.

[2017-08-13 20:11] ghenry opened #1119 "LDAP "Use TLS""
This is named a bit strangely and seems redundant:

[https://github.com/portainer/portainer/blob/develop/api/ldap/ldap.go#L54](https://github.com/portainer/portainer/blob/develop/api/ldap/ldap.go#L54)

StartTLS is on port 389 always. UseTLS? Do you mean SSL on port 686? Or use certificates? I think you mean the later going be the GUI and ldap.go

These setting descriptions aren't the normal way of

[2017-08-13 20:20] ghenry opened #1120 "LDAP default filter"
If no filter specified we get:

`filter="(&(uid=ghenry))"`

You should just set `(uid=ghenry)`

Thanks.

[2017-08-13 20:24] ghenry opened #1121 "LDAP TLS strength factor could be higher"
I'm pretty sure this is a go lib issue:
TLS established tls_ssf=128 ssf=128 tls_proto=TLSv1.2 tls_cipher=AES128-GCM-SHA256

when another lib (Net::LDAP) can do:

TLS established tls_ssf=256 ssf=256 tls_proto=TLSv1 tls_cipher=AES256-SHA

[2017-08-13 21:30] ghenry commented on #1121
TLSv1.2 is stronger.

[2017-08-13 21:30] #1121 closed

[2017-08-14 00:59] Jeraimee commented on #1111
Found the issue. MergerFS does not work with mmap’ing. I’m sure other containers would fail as well in the future.

According to docs don’t use `direct_io` option and do use `dropcacheonclose` option. I’ll verify this soon-ish and update this comment.

[2017-08-14 04:18] #1111 closed

[2017-08-14 06:24] deviantony commented on #1111
Glad you solved your issue !

[2017-08-14 06:39] deviantony commented on #1115
@ghenry are you asking to remove the username attribute field and replace it with a single filter?

[2017-08-14 06:40] deviantony commented on #1116
@ghenry The current implementation allows you to specify any port, what would you like to see here?

[2017-08-14 06:46] deviantony commented on #1120
@ghenry what's the difference between these 2 filters ? Result should be the same, no ?

[2017-08-14 06:51] deviantony commented on #1117
Agree. I accept PRs for such small changes, should be quite easy to replace.

[2017-08-14 07:39] ahmedatawfik opened #1122 "LDAP groups support"
It would be a much-needed feature to implement LDAP groups support. Suppose I have a group called DockerAdmins and I want all members of this group to be admins instead of adding one by one.

Thanks for the great software.

[2017-08-14 09:25] Hugh---- opened #1123 "Unable to download external templates when portainer is behind a forward proxy."
**Description**
Unable to download external templates when portainer is behind a forward proxy.

**Steps to reproduce the issue:**

1. Deploy portainer behind a corporate network. And outgoing traffic need to be authenticated first.
2. You will get a "Failure: Unable to retrieve templates" error.
3. And there is no place to configure these settings in the "Settings" section.

Any other info e.g. W

[2017-08-14 09:28] WTFKr0 commented on #1123
Hey you juste have to set environment variables to container :
[code]

[2017-08-14 09:30] ghenry commented on #1115
No, the whole lot and let the informed user set it with the existing
placeholder for username field they use that maps to your side.

On 14 Aug 2017 07:39, "Anthony Lapenna" <notifications@github.com> wrote:

@ghenry <https://github.com/ghenry> are you asking to remove the username
attribute field and replace it with a single filter?

—
You are receiving this because you were mentioned.
Reply to t

[2017-08-14 09:30] ghenry commented on #1116
A default of 389 if one is not set. Usual standards to make it sane for a
user.

On 14 Aug 2017 07:40, "Anthony Lapenna" <notifications@github.com> wrote:

[2017-08-14 09:31] ghenry commented on #1120
They both work but the current one is a waste as nothing is AND'd and looks
like a typo in the logs.

On 14 Aug 2017 07:46, "Anthony Lapenna" <notifications@github.com> wrote:

[2017-08-14 09:38] Hugh---- commented on #1123
Yeah, thanks very much and this is what I know that I can achieve, but passwords may expire after a certain time. Still tend to request for such a setting in Web UI so that it can be masked and updated. What do you think?

[2017-08-14 11:31] gybfefe commented on #1110
Of course, thank you, but an already created container has no ability to change port mappings, maybe creating new network and join that, but that's another chapter if we can put there routing, port forwards etc.
My only note was just if docker randomization can be overruled, then portainer could access it.
Thank you

[2017-08-14 13:28] DimeOne commented on #1119
There is TLS / SSL and StartTLS. StartTLS upgrades the connection after opening a tcp connection and is protocol dependent.

MS AD supports START_TLS on 389 / 3268 and SSL on 636 / 3269
Samba AD supports START_TLS on 389 / 3268 and SSL / TLS on 636 / 3269

SSL inferior to TLS and START_TLS and not implemented by this library.

[2017-08-14 15:16] the-glu opened #1124 "OAuth authentification"
Hello,

I would like to have oauth authentication with portainer, to let users login with an oauth provider.

Would that be difficult to implement? :)

If if not that hard, do you have some hints ?

Thanks!

[2017-08-14 15:16] ghenry commented on #1119
Hi DimeOne,

Yes, I know what the differences are, the ports and which is deprecated. My
point is since Portainer is very modern with Angular and go, it should not
encourage SSL based LDAP connections other than StartTLS on port 386 as per
the standard. If it must, it should be under a heading called Legacy or AD.

Thanks.

On 14 August 2017 at 14:28, DimeOne <notifications@github.com> wrote:

[2017-08-14 16:09] DimeOne commented on #1119
I'm not sure If I can follow you.

If you mean that encryption should be enabled by default, I could agree with you.

SSL based ldap connections are not supported by portainer.

[2017-08-14 17:49] krushmike opened #1125 "[Feature Request] Bind specific IP using App Templates"
Have the ability to bind an IP address when creating a container from an App Template in advanced options.  As of Portainer version 1.14.0, there are port and volume mappings, but that is it.  We frequently need to bring up Containers from our registry and need to define a specific IP.

[2017-08-14 18:16] ghenry commented on #1117
Will get this done.

Thanks.

On 14 Aug 2017 07:51, "Anthony Lapenna" <notifications@github.com> wrote:

[2017-08-14 19:43] 74cmonty opened #1126 "Cannot download external templates when portainer is behind a firewall"
**Description**
Downloading external template fails if portainer is behind a firewall.

**Steps to reproduce the issue**
* Deploy Portainer on the same server where firewall is running
* Firewall used is: shorewall 5.0.15.6
* Shorewall configuration is according to [documentation](http://shorewall.org/Docker.html#idp33083968); container is pingable from server

**Technical details:**
* Portainer v

[2017-08-15 06:51] zhoulouzi opened #1127 "UI bug i got a ip address 0.0.0.0"
In swarm home page:
Name | Role | CPU | Memory | Engine | IP Address | Status
-- | -- | -- | -- | -- | -- | --
swarm-worker3 | worker | 4 | 8.2 GB | 17.05.0-ce | 192.168.31.92 | ready
swarm-master3 | manager | 8 | 8.2 GB | 17.06.0-ce | 0.0.0.0 | ready
swarm-master2 | manager | 8 | 8.2 GB | 17.06.0-ce | 192.168.30.90 | ready
swarm-master1 | manager | 4 | 4 GB | 17.06.0-ce | 192.168.30.142 | ready
s

[2017-08-15 07:04] r15ch13 opened #1128 "Segfault on portainer login"
**Description**
Whenever I log in to portainer the docker instances crashes with a segfault.
Docker restarts and runs normally (including the portainer container) until I login.

** Logs **
`journalctl -u docker.service` output:
[code]

**Technical details:**

* Portainer version: `1.14.0`
* Target Docker version (the host/cluster you manage): `17.06.0-ce, build 02c1d87`
* Platform (windows/linux)

[2017-08-15 07:28] ncresswell commented on #1128
did you really start portainer with the following command?

docker run --restart always -d -p 127.0.0.1:9000:9000 -v /home/docker/portainer:/data -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer:latest --templates https://mytemplates

didnt think you could use 127.0.0.1 as that would not map correctly...

[2017-08-15 07:38] r15ch13 commented on #1128
Should have mentioned that port 9000 is not exposed and I connect via a SOCKS5 proxy created with ssh 😄

[2017-08-15 07:46] WTFKr0 commented on #1128
Hey

Looking at the trace, it seems like it's related to your volume driver.
Any specific configuration for that ?

I don't think it can be related to portainer, have you got same problem with other image (same volume cdriver configuration) ?

[2017-08-15 07:49] r15ch13 commented on #1128
Just ran `docker volume ls` and got:
[code]
Docker crashed and restarted like I described above.

[2017-08-15 07:50] ncresswell commented on #1128
what is the docker volume driver you have installed ?

Sent from my iPad

On 15/08/2017, at 7:49 PM, Richard Kuhnt <notifications@github.com<mailto:notifications@github.com>> wrote:

Just ran docker volume ls and got:

error during connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.30/volumes: read unix @->/var/run/docker.sock: read: connection reset by peer

Docker crashed and restarted like I des

[2017-08-15 07:57] r15ch13 commented on #1128
As far as I know only `local`. Is there a way to list all installed drivers?

[2017-08-15 08:03] ncresswell commented on #1128
/var/lib/docker/plugins

Whats in that folder?

Rgds,

Neil Cresswell

On 15/08/2017, at 5:58 PM, Richard Kuhnt <notifications@github.com<mailto:notifications@github.com>> wrote:

As far as I know only local. Is there a way to list all installed drivers?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https

[2017-08-15 08:07] r15ch13 commented on #1128
@ncresswell
[code]

[2017-08-15 08:09] ncresswell commented on #1128
So you dont have a /var/lib/docker/plugins directory on your docker host?

Do you have a /var/lib/docker/volumes directory at least?

Rgds,

Neil Cresswell

On 15/08/2017, at 6:07 PM, Richard Kuhnt <notifications@github.com<mailto:notifications@github.com>> wrote:

@ncresswell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ncresswell&d=DQMFaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_Cdpg

[2017-08-15 08:11] r15ch13 commented on #1128
@ncresswell

[code]

[2017-08-15 08:16] ncresswell commented on #1128
Ok and what files exist within the plugins directory

Rgds,

Neil Cresswell

On 15/08/2017, at 6:11 PM, Richard Kuhnt <notifications@github.com<mailto:notifications@github.com>> wrote:

@ncresswell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ncresswell&d=DQMFaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM&m=tBO11Sw_NwJxK4X09cBGAJU0

[2017-08-15 08:20] r15ch13 commented on #1128
I may have found the problem. One volume seems to be corrupt.
`docker volume inspect config-plex` results in:
[code]
Every other volume works:
[code]

[2017-08-15 08:23] r15ch13 commented on #1128
@ncresswell
The plugins directory contains
[code]
Posted it before, but edits don't get emailed 😁

[2017-08-15 09:18] r15ch13 commented on #1128
I created a backup of all my volumes and run:
[code]
Now it works again... Thanks for the help 👍

[2017-08-15 09:37] belyak commented on #460
[This solution ](https://www.campalus.com/enable-remote-tcp-connections-to-docker-host-running-ubuntu-15-04/) worked for me on ubuntu 16.04 inside vagrant.

[2017-08-15 16:20] deviantony commented on #1128
Glad you solved your problem, I'm going to close this issue.

[2017-08-15 16:20] #1128 closed

[2017-08-15 16:38] deviantony commented on #1119
@ghenry We cannot force users to use TLS/SSL in their LDAP setup, that's why we need to support both options.

[2017-08-15 16:49] deviantony commented on #1110
I'd rather work around this problem with features like the ability to edit a container, see #466

[2017-08-15 16:51] deviantony commented on #1124
Hello, oauth would be a really nice enhancement though the contribution would require some skills in JS/Angular & Golang.

You can have a look to the LDAP authentication implementation in https://github.com/portainer/portainer/pull/1093

[2017-08-15 16:55] deviantony commented on #1126
Not sure if that's really a Portainer related issue. If you cannot access internet from the Portainer container you'll probably cannot access internet from any other container. This is more related to your Docker environment setup.

I can recommend to deploy the templates as a container in the same Docker network as Portainer. Have a look at http://portainer.readthedocs.io/en/stable/templates.html

[2017-08-15 16:55] #1126 closed

[2017-08-15 18:49] ghenry commented on #1119
Hi all,

That's not what I've said at all. I mean that SSL/TLS/ldaps:// on port 636
is deprecated years and years ago so should be listed under a legacy
option.

Thanks.

--
Kind Regards,

Gavin Henry.
Managing Director.

T +44 (0) 330 44 50 000
D +44 (0) 330 44 55 007
M +44 (0) 7930 323266
F +44 (0) 1224 824887
E ghenry@suretec.co.uk

Open Source. Open Solutions(tm).

http://www.suretecsystems.co

[2017-08-16 01:50] lee-cn commented on #1033
@deviantony hello, it seems not fixed in 1.14.0 yet.
i tried to build the portainer locally follow this doc: https://portainer.readthedocs.io/en/stable/contribute.html#build-portainer-locally
when i pull a hello-world image and click the images buttom i got this error , i thought it would be my problem,but i tried it on the http://demo.portainer.io/ it seems the same problem , is there anything i

[2017-08-16 07:09] deviantony commented on #1119
Unfortunately I don't have a lot of experience with LDAP/AD. But I'm not sure why they would deprecate TLS support.

@DimeOne what's your input on this?

[2017-08-16 07:12] WTFKr0 opened #1129 "Disable duplicate/edit/recreate for swarm tasks"
I think it is not good to recreate containers with `com.docker.swarm.task.id` label
Those containers are manage by swarm, so the good way to recreate is to update the service

[2017-08-16 07:17] deviantony commented on #1033
@lee-cn I don't know how to reproduce this, could you give me some steps?

I've pulled a hello-world image and then accessed the images section without any issue.

![portainer 26](https://user-images.githubusercontent.com/5485061/29351612-bc22516a-8263-11e7-8c73-3887a6b49fdc.png)

[2017-08-16 07:24] deviantony commented on #1129
Agree, the re-create & edit/duplicate should not be available when inspecting a service container.

[2017-08-16 07:29] deviantony commented on #1127
@zhoulouzi can you use your browser console to retrieve the response of the HTTP query on the `api/endpoints/<ID>/docker/nodes` endpoint ?

[2017-08-16 07:32] deviantony commented on #1123
I'm thinking that this is part of your Docker setup and should not be integrated in Portainer. You should either manage to do it using the `*_proxy` env vars as specified by @WTFKr0 or you can host the templates next to Portainer (http://portainer.readthedocs.io/en/stable/templates.html#build-and-host-your-own-templates) and then update Portainer settings to point at these templates.

@ncresswell

[2017-08-16 07:38] deviantony commented on #775
Cannot reproduce, this could have been fixed when solving #1012 or #932.

[2017-08-16 07:38] #775 closed

[2017-08-16 07:44] ncresswell commented on #1123
Authenticating proxy servers are quite common in corp environments, so my pref is that we add this support into the UI.

[2017-08-16 08:07] ghenry commented on #1119
Please read what I'm saying. That is not what I wrote. Also AD is not LDAP.
Parts of it are a very broken Ms centric LDAP.

--
Kind Regards,

Gavin Henry.
Managing Director.

T +44 (0) 330 44 50 000
D +44 (0) 330 44 55 007
M +44 (0) 7930 323266
F +44 (0) 1224 824887
E ghenry@suretec.co.uk

Open Source. Open Solutions(tm).

http://www.suretecsystems.com/

Winner of the Best Business ITSP (Medium En

[2017-08-16 09:18] zhoulouzi commented on #1127
[code]

[2017-08-16 09:20] zhoulouzi commented on #1127
i found that the swarm-master is the leader of the cluster

dqayjiao3elcrgjvb4t89wupz     swarm-master3       Ready               Active              Leader
mcs9d0go50dg78693rhdoeoz7     swarm-master2       Ready               Active              Reachable
mhey39y5ucuqpj5vqtdrs2hsg *   swarm-master1       Ready               Active              Reachable

[2017-08-16 13:36] marcelo-ochoa commented on #839
Just to confirm now latest version 1.14.0 is possible to pull from private registry using username/password.
Thanks a lot. Marcelo.

[2017-08-16 16:15] DimeOne commented on #1119
According to OpenLDAP:
  - Although there is no technical specification for ldaps:// it is widely used.
  - ldaps:// is deprecated in favor of Start TLS [RFC2830]. OpenLDAP 2.0 supports both.

http://www.openldap.org/faq/data/cache/605.html

I do not think that the functionality needs to be reworked and don't think ghenry wants that. Just the presentation on the authentication configuration site.

[2017-08-16 16:41] ghenry commented on #1119
That's correct DimeOne.

The two options just appear confusing for the untrained eye. With the
default of port 389 and attempting StartTLS and failing back to plain could
work, or they select StartTLS as the option. You can always query the
operational attributes for capabilities to do this automatically. Your
backend ldap.go is fine though.

On 16 August 2017 at 17:15, DimeOne <notifications@gith

[2017-08-16 22:56] blackholegalaxy opened #1131 "Feature request: set logging driver and options at service creation"
Hi there, great product.

Simple suggestion here. Since `docker service create` allow the flag `--log-driver` and `--log-opt` (can be used multiple times) to be defined, could we have this option in portainer at service creation?

https://docs.docker.com/engine/reference/commandline/service_create/#options

Exemple logging parameters:
[code]

Without that, maybe you have a better/other solution to

[2017-08-17 09:28] tfenster opened #1132 "[Feature request] Add support for --security-opts"
Docker run can get --security-opts (see [here](https://docs.docker.com/engine/reference/run/#security-configuration)). Those are needed e.g. if you want to use group managed service accounts in Windows Containers. I would like to be able to set those during run as well as in templates. If you can point me in the direction, I'd be happy to try to create the PR myself

[2017-08-17 11:28] deviantony commented on #1132
Ping me on Slack if you need some instructions to contribute on this.

[2017-08-17 11:29] deviantony commented on #1131
@blackholegalaxy thanks !

I'd like to see this added in Portainer as well. Currently, as you can't specify any logging driver, you can't send your logs to fluentd using Portainer UI.

[2017-08-17 11:31] deviantony commented on #1127
From what I can see, the Docker API gives the `0.0.0.0` IP address. This is strange, but it's not a problem with Portainer. Rather an issue with Docker, I'd recommend to open an issue inside Docker repository.

I'll close this issue.

[2017-08-17 11:31] #1127 closed

[2017-08-17 11:33] blackholegalaxy commented on #1131
Ok there is several options we can pass to service create command. It would be great if portainer was able to set them all. As rancher does for example.

[2017-08-17 11:34] deviantony commented on #1131
Indeed, we're trying our best to give the users the equivalent of the CLI.

[2017-08-17 14:19] christianromeni commented on #935
Actually, an option to import/export will especially help on windows. Since the volumes are running in a vm.

[2017-08-17 15:52] zhaoyao91 opened #1133 "Feature request: Clone service"
Often we would create similar services, so a button to clone configurations from an existing service would be very helpful.

More, there should be some way to export/import the configurations of a service.

[2017-08-17 20:38] WTFKr0 commented on #516
For information to dev :
[code]

In docker API :
[code]

Then in container inspect, it's more obscure, but in docker we trust :
[code]

[2017-08-17 20:46] WTFKr0 commented on #1040
I think docker container create API doesn't support cpu reservation.
However, cpu limit, mem limit and mem reservation are here

For dev :
[code]

In docker API :
[code]

[2017-08-17 21:03] WTFKr0 commented on #1040
The `--cpus` flag seems to be introduced in API v1.25
Before that, you have to do it with `--cpu-quota` and `--cpu-period`
I think we have to enable cpu limit feature only for +1.25 => docker 1.13

[2017-08-17 21:08] WTFKr0 commented on #1131
@blackholegalaxy
You can set log-driver and log-opt globally on your dockerd configuration
See https://docs.docker.com/engine/reference/commandline/dockerd/#options
All created containers by this daemon heritates the configuration

Here we use the default json-file driver, but we set opts to keep only few files and rotate every 20 Mo log

[2017-08-18 07:42] deviantony commented on #516
@WTFKr0 we don't need the inspect container part here, only the service creation payload.

[2017-08-18 07:56] WTFKr0 commented on #516
Yes I know, it's a "just to see how it works"

[2017-08-18 09:48] youlu-cn opened #1135 "[LDAP] '&' in password is encoded as '&amp;'"
1. enable LDAP
2. '&' in password will be encoded as '&amp;' to ldap server

[2017-08-18 12:37] artheus commented on #988
@Glowbal @deviantony What is this issue exactly? As far as I can see, config has been implemented and released in `stable`
This issue confused me into thinking that docker configs, for now, only works in docker on single hosts (not in Swarm mode). But it seems to work very good in swarm mode.

[2017-08-18 13:55] deviantony commented on #988
@artheus as @Glowbal specified in the issue description, this is to add Docker config (https://docs.docker.com/engine/reference/commandline/config/) support inside Portainer.

I think that Docker configs can only be used within Swarm services (like the secrets). What config are you talking about ? What `stable` version are you talking about?

[2017-08-18 14:07] deviantony commented on #1135
Indeed, that's because we use `$sanitize` on the password. This should be disabled when using LDAP authentication.

[2017-08-18 14:50] deviantony commented on #1135
@youlu-cn can you try with the image `portainer/portainer:pr1136` (available on Linux amd64 only) ?

[2017-08-18 17:26] Glowbal commented on #988
This issue is indeed about the config support in Swarm mode, which is available since Docker 17.06. Docker configs indeed only work in Swarm mode.

[2017-08-20 14:12] milankni opened #1137 "favicon.ico not shown by Chromium and Firefox (at least)"
**Description**
The web pages of docker portainer/portainer do not show any favicon in Chromium (60.0.3112.90) and Firefox (55.0.1), both tested on Arch Linux.

**Steps to reproduce the issue:**

1. Create a `docker-compose.yaml` file:
[code]
2. Start it up `docker-compose up -d`
3. Open web page `https://example.org:9000/`

Empty favicon is shown.

The file /ico/favicon.ico is actually PNG file,

[2017-08-20 17:51] ladude626 opened #1138 "Console not working with Docker Cloud (docker version 1.11.2-cs5)"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

With the current version of Portainer 1.14.0 the Console does not work with the current version of Docker Cloud which is running docker version 1.11.2-cs5. However if it'll work if I run the command manually with "sudo docker exec -it CONTAINERNAME /bin/bash".

**Steps to

[2017-08-20 21:40] singhprabhjot opened #1139 "Feature Request: connect a particular container in swarm"
As a software developer who wants to debug issues pertaining to the application, I would like to have the capability to connect to a particular replica within a swarm network.

It will be great to have a functionality to create new endpoint/proxy to connect a particular container in swarm network. The connection can happen on Http/TCP protocol so as enable remote debugging.

[2017-08-21 07:49] deviantony commented on #1138
@ladude626 Can you tell me what is not working? Any error?

[2017-08-21 07:53] deviantony commented on #1139
This will be available with #461.

It aims to solve that issue by aggregating all the containers from all the nodes in a cluster inside the containers view.

I'll close this issue.

[2017-08-21 07:53] #1139 closed

[2017-08-21 15:18] ladude626 commented on #1138
@deviantony When I hit the Connect button on the console page, it says "Failure unable to exec into container." Doesn't seem Portainer produces any logs or have a debug mode. If there is, I can turn it on and post the output.

[2017-08-21 15:42] deviantony commented on #1138
@ladude626 could you check the content of the response in your browser console?

[2017-08-21 15:49] ladude626 commented on #1138
Nevermind, I found that the issue is related to websocket based on the console output from Firebox. The problem was due to Traefik version 1.35 that I was using to reverse proxy which has a known bug with websocket. I reverted back to version 1.31 and the issue is resolved. Issue is not due to portainer. Will close this issue. Thanks for the help.

[2017-08-21 15:49] #1138 closed

[2017-08-21 21:57] obrienmd commented on #394
+1 indeed!

[2017-08-22 06:20] youlu-cn commented on #1135
@deviantony it works

[2017-08-22 08:03] sylvainmouquet commented on #1049
Adding a button is a good solution

[2017-08-22 08:08] masudak opened #1140 "Cannot edit/duplicate a container when registry is not registered in Portainer"
**Description**
I started to use portainer from today, and want to edit environment variables through webui against a running container, but I can't with this error message.
[code]

**Steps to reproduce the issue:**

1. I started portainer like this.
[code]

2. And accessed to webui, and set authentification.
3. When I can see the running docker container to access `/#/containers/`, I choose a run

[2017-08-22 08:08] deviantony commented on #1049
I agree with that, would you be able to open a PR for this?

[2017-08-22 08:10] deviantony commented on #1140
@masudak Can you open the browser developer console and check if there is any error ? Also where is this error displayed 'Cannot read property 'URL' of undefined' ? In a red notification message?

[2017-08-22 08:17] masudak commented on #1140
Console had this error.
[code]
Yes, `Cannot read property 'URL' of undefined` error was shown as red notification message on right top corner.

<img width="442" alt="portainer_err" src="https://user-images.githubusercontent.com/738547/29555416-8fbd1f16-875d-11e7-9391-645eb672a9c0.png">

[2017-08-22 08:22] deviantony commented on #1140
@masudak is it possible for you to give us the all the information about the created container? All the parameters that you put in the container creation view? Or was it a container created from the CLI ?

[2017-08-22 08:54] masudak commented on #1140
There is one thing I found.
If I created new container from webui to click `Add container`, and set environment variables, it can be modified it after launched to click `Start container` to reflect the changes.

And if I used docker-compose like this, it worked too.
[code]

But if I used this compose file such as using GCR, it failed.
[code]

[2017-08-22 08:58] WTFKr0 commented on #1140
Linked to Registry no ?
If we recreate a container (from a non dockerhub registry) and if this registry is not known to portainer ?

[2017-08-22 09:04] masudak commented on #1140
Is it necessary to be known to portainer for our registry? Or is there any tips to make it known to portainer?

[2017-08-22 09:06] deviantony commented on #1140
Right this might be problematic indeed, I'll investigate a bit. Thanks for the details @masudak

[2017-08-22 09:09] masudak commented on #1140
Thank you so much, let me know if I should investigate and submit more detail.

[2017-08-22 09:40] WTFKr0 commented on #1049
@sylvainmouquet
There is a docker limit to service name yes
In my env i got some dynamic services with dynamic names
I found a limit around 64 chars

[2017-08-22 09:47] WTFKr0 commented on #1140
@msudak
As a workaroud I think you can add the registry to portainer (Registries menu) with these infos :
[code]
Then when in Duplicate/Edit view, verify that the image and registry are ok before pressing "Start container"

[2017-08-22 10:30] masudak commented on #1140
@WTFKr0 I added the registry on Registries menu, and then it worked without any errors. Thank you so much!! I hope it will work without any manual operation!

[2017-08-22 13:19] zbence opened #1141 "Import/Export services"
Hey!
I have a feature request which is able to create stack/compose file from services on a swarm cluster.

Why I want to have this?
I crated a swarm cluster I added a bunch of services configured and tuned to work together smoothly. For these services I used portainer UI and I need to copy this swarm cluster in other machines and it would be awesome if I can have the stack file which describes th

[2017-08-22 13:36] deviantony commented on #1141
Doing an export of a Docker service would not be really hard to achieve. Though, I don't think we should translate that to docker-compose files (or stack files) as it might be really complex.

Having services defined in a compose file and using the compose support feature (work-in-progress at #959) would be the way to go here.

I'm tagging this as a discussion as there might be interesting use cas

[2017-08-22 14:36] #1135 closed

[2017-08-22 15:12] DannyBen opened #1142 "Sidebar scrollbar styling"
When running on a smaller screen (or with enlarged system fonts), the sidebar scrollbar is displayed outside of the sidebar, and causes the main content to lose some of its padding, which makes it all look less polished.

Screenshot:
![before](https://user-images.githubusercontent.com/2405099/29572461-15fc8f6a-8765-11e7-9245-ad7e346f1c48.png)

I believe this can be solved relatively easily without

[2017-08-22 15:16] deviantony commented on #1140
I've created a PR to solve this issue (#1143). It's not really a fix as we cannot create a container from an unknow registry using the current registry management implementation in Portainer.

Instead, this PR will display a warning message and prevent the creation of the container by disabling the start container button.

@masudak @WTFKr0 what do you think about this?

[2017-08-22 15:21] deviantony commented on #1142
I'll close this and reference it in https://github.com/portainer/portainer/issues/1055

Ideally, I'd like to not have the scrollbar being displayed (at least for resolutions >= 768px), this might be related to the sidebar text font size.

[2017-08-22 15:21] #1142 closed

[2017-08-22 18:03] CyrilPeponnet opened #1144 "Images is loading for ever due to system df api call"
**Description**

Loading the image part of the UI is loading for ever as a `system df` api call is made.

As per docker documentation:

[code]

**Steps to reproduce the issue:**

1. Click on images
2. Grab a big coffee
3. Grab another big coffee

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

**Technical details:**

* Portainer version: develop
*

[2017-08-22 18:28] DanH42 opened #1145 "Re-created admin user does not use internal authentication with LDAP enabled"
**Description**

When I first installed Portainer, one of the first things I did was replace the default "admin" user with a different account, deleting the "admin" user. This is a standard habit of mine to make naive brute-force attacks more difficult. This did not cause any problems, and I've been using Portainer like this for a while.

Fast-forward to today, when I decided to try out the new LD

[2017-08-22 19:00] deviantony commented on #1144
Indeed this was introduced in https://github.com/portainer/portainer/pull/1009 after discussion in #357

I was not aware of the performance issue related to the `system/df` call. I wonder if we should disable entirely this feature or just set a switch to enable it (disabled by default, available in the settings or volumes view).

@ncresswell what do you think about this?

[2017-08-22 19:24] deviantony commented on #1145
I'll file this as a bug as it's introduced by the current behavior of Portainer. Though I wonder if we should allow the deletion of the default admin user.

[2017-08-22 19:27] ncresswell commented on #1144
Disable until we find another way

Rgds,

Neil Cresswell

On 23/08/2017, at 7:01 AM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

Indeed this was introduced in #1009<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_portainer_portainer_pull_1009&d=DQMFaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM&

[2017-08-22 19:29] ncresswell commented on #1145
Dont allow it to be deleted, but should allow for it to be renamed (so can call it something other than admin)

Rgds,

Neil Cresswell

On 23/08/2017, at 7:24 AM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll file this as a bug as it's introduced by the current behavior of Portainer. Though I wonder if we should allow the deletion of the default admin user

[2017-08-22 19:33] deviantony commented on #1145
@ncresswell we do not allow username edition in the current version. Should we add the ability to edit usernames ? Or when initializing the default admin user on first Portainer startup should we give the ability to the user to name the administrator account ?

IMO, second option is best.

[2017-08-22 19:34] ncresswell commented on #1145
Second option... set username and pass on first startup

Rgds,

Neil Cresswell

On 23/08/2017, at 7:33 AM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

@ncresswell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ncresswell&d=DQMFaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM&m=shoKceBLWmwvs5CvCUg

[2017-08-22 19:38] DanH42 commented on #1145
I personally like the flexibility of being able to give the main admin user by a different name, whether by deleting and re-creating, renaming, or setting it on installation. I wouldn't want to prevent deleting the built-in user unless choosing a different username was possible.

Assuming users are able to be renamed, I'd also support preventing deletion of the built-in admin user, since that woul

[2017-08-22 20:36] CyrilPeponnet commented on #1144
Make sense in my setup as I have a nfs volume mounted hosting several TB of data and from https://github.com/moby/moby/blob/8af4db6f002ac907b6ef8610b237879dfcaa5b7a/daemon/disk_usage.go#L70-L71 it looks like it will try to traverse the mount...

[2017-08-22 20:55] CyrilPeponnet commented on #1144
Forgot to add to keep up the good work 👍 Really nice project especially to handle swarm API.

[2017-08-22 21:16] WTFKr0 commented on #1144
Can the client should display the view (without waiting response from df) and update it only on fs response ? In that case, we can just set a timeout of 5/10 sec on the df call
Indeed, in that case, no df info will be shown, but the images view will work like before the df feature

For information, I got this pb too, with many volumes on NFS (df in cli take about 5 minutes)

[2017-08-22 21:22] WTFKr0 commented on #1140
I think you can
In my tests, I do that for example when creating a container :
Registry : Let default dockerhub
Image: set full path with registry (quay.io/coreos/etcd for example)

[2017-08-22 21:23] WTFKr0 commented on #1140
So I think the fix can be :
If we cannot found the registry in portainer, we let Dockerhub and put full path in image text input

[2017-08-23 02:25] masudak commented on #1140
Your approach is better than now as a first measure, but how about make enabling to set command line option for a private registry such as below.

[code]

[2017-08-23 07:01] deviantony commented on #1140
@WTFKr0 If we default to Dockerhub with the full path in the image text input, this will not create the image expected by the user. So the user will probably have to create the registry right after that.

@masudak I'm not keen to support these kind of options on the CLI. I'd rather have CLI flags that alters the status of the Portainer binary not the data. We can still use the HTTP API to automate

[2017-08-23 07:05] deviantony commented on #1144
@WTFKr0 the issue is not the time to wait here, but the implied impact on the performance of the underlying system.

I think we should query all the containers and all the images, then compare all the containers images to the image list to check which is in use or not. I'll push something soon.

[2017-08-23 07:12] deviantony commented on #1145
@DanH42 we're going to go for the ability to set your own username during the administrator account init on first startup and we're going to prevent the deletion of this user.

This implies that I will not merge your PR that replace the ID check by the username check as it will not be necessary.

This will not fix your current issue though. I've got a work-around for this, I'd rather explain it on

[2017-08-23 07:41] deviantony opened #1147 "Add the ability to enable experimental features in settings"
Experimental features (such as container edit/duplicate) should be disabled by default. This should then be enabled in the Portainer settings via a switch 'Enable experimental features'.

[2017-08-23 07:51] #809 closed

[2017-08-23 08:06] #1129 closed

[2017-08-23 08:36] deviantony commented on #1144
@CyrilPeponnet could you give a try to `portainer/portainer:pr1144` ? I've replaced how unused images are verified.

[2017-08-23 11:09] sachinjagtap41 opened #1151 "Creating a container with same name and port number on local Docker Endpoint or Remote Docker Endpoint generates different alert messages."
**Description:**

Creating a container with same name and port number on local Docker Endpoint or Remote Docker Endpoint generates different alert messages.

**Steps to reproduce the issue:**

**For Local Endpoint Connection: -**

1)	Create a local Docker connection by using Portainer application.
2)	Go to App Templates -> Nginx -> Click on Nginx image.
3)	Enter the name as Nginx in the Name tab.

[2017-08-23 11:40] sachinjagtap41 opened #1152 "Portainer allows to perform different Docker operations even if we have deleted the Admin user who is the only user of Application."
**Description:**
Portainer allows to perform different Docker operations even if we have deleted the Admin user who is the only user of Application.

**Steps to reproduce the issue:**

1)	Run the Portainer application on your local system.
2)	Login into the application with default Admin user.
3)	Go to -> User Management Section
4)	Under Users tab click on Edit.
5)	Now click on Delete this user bu

[2017-08-23 12:49] masudak commented on #1140
@deviantony

Okay, I got it.

Thanks, it helps me a lot!

[2017-08-23 14:03] phucvinh52 opened #1153 "--volume-driver for docker service swarm"
Hi all,

I'm using portainer for my projects. Would you like help me add "--volume-driver" for tab "create service". Because some reason that I can't use tab volume.
I usually create app with command
`docker service create --name=nginx --mount type=volume,source=003bbaf-baab-438d-a6c0-9ade5a36ae50,destination=/usr/share/nginx/html,volume-driver=myplugin nginx`

[2017-08-23 15:43] CyrilPeponnet commented on #1144
Looks ok to me:

<img width="1633" alt="screen shot 2017-08-23 at 8 43 19 am" src="https://user-images.githubusercontent.com/2277387/29624902-27946fca-87df-11e7-8d0f-e37addd715cb.png">

[2017-08-23 15:44] bsukramlitt commented on #754
Hi guys,
does anyone have an idea how to solve running portainer on a new url like $host:$port/portainer
`
server {

  client_max_body_size 8m;
   ignore_invalid_headers off;

   location /portainer/ {
     proxy_pass http://docker-portainer;
      proxy_http_version 1.1;
      proxy_set_header Connection "";

   }

   location /portainer/api/websocket/ {
      proxy_set_header Upgrade $http_upgra

[2017-08-23 16:42] deviantony commented on #1152
This is a known issue and will be solved when solving the issue raised in #1145

We will prevent the deletion of the admin user.

[2017-08-23 16:42] #1152 closed

[2017-08-24 05:52] deviantony commented on #1151
I was able to reproduce this, somehow the response is the same but the response code is different (got 200 when using the local endpoint and 409 when using a remote endpoint).

Though the error message is the same, the displayed notification should be the same as well. I'll investigate a bit more.

[2017-08-24 05:53] #1144 closed

[2017-08-24 06:13] mahnunchik commented on #257
Any news?

[2017-08-24 06:18] deviantony commented on #257
No ETA on this yet, still a lot of work to do.

[2017-08-24 08:44] Pyton opened #1155 "Volumes Size"
It would be nice to put volumes size on list next to mount point.

[2017-08-24 09:13] deviantony commented on #1155
Portainer retrieves information from the Docker API. Unfortunately, this information is not available in the Docker API, so it will not be possible to add it in the volumes view.

[2017-08-24 09:27] adaliszk commented on #360
I've added the volume, recreated the whole portainer container and the css styles are gone. The mentioned `vendor.css` and `portainer.css` are not created automaticly and after I add it manually still nothing happens and after I put the `/assets/css/app.css` contents into this folder or any of the files the styles still missing. 😭

[2017-08-24 09:32] Pyton commented on #1155
But knowing mounting path size can be counting by system commands eg. `du -sh` and cached for few mins. Additionally there may be option to turn off collecting that info. What do you think?

[2017-08-24 09:36] deviantony commented on #360
Hmm, we did introduce a cache busting mechanism since this issue was closed.

Portainer CSS is now located inside a file named `app.<RANDOM_STRING>.css`, the random string being generated on release. The content of this file is the concatenation of minified vendor.css & minifed portainer.css.

I'm not sure that it is still feasible to customize Portainer using a custom CSS file.

[2017-08-24 09:37] deviantony commented on #1155
I think that this might be added in the monitoring and stats plugin planned to be add in Portainer, see #943

At the moment Portainer do not have any agent and thus any way to interact with the underlying system.

[2017-08-24 09:49] adaliszk commented on #360
@deviantony Thanks! But with even without having separate files to override things, it shouldn't just die and unable to write into that folder right? If it's generate a file (at least the gulp tasks suggest that) then it should able to create into my binded directory outside the container.

If it would generate something I would able to manipulate it, for example change the gulp tasks to detect a

[2017-08-24 09:52] deviantony commented on #360
As specified above, you can put your own `app.<RANDOM_STRING.css` in this folder.

[2017-08-24 11:09] adaliszk commented on #360
@deviantony Works!

[2017-08-24 12:58] jskii commented on #986
I just have been doing this wrong, as I've confirmed twice now as new let's encrypt certs are generated this DOES work fine. Thanks for looking, sorry for the error.

[2017-08-24 14:35] gauravrishi168 opened #1156 "Vim editor not working in Portainer console"
**Description**
Vim editor not working in Portainer console

**Steps to reproduce the issue:**

1. while working on portainer, I found that vim or any editor like nano is not working and it becomes hang.

* Portainer version: 1.14.0
* Target Docker version (the host/cluster you manage): 1.12.6
* Platform (windows/linux): Linux
* Command used to start Portainer (`docker run -d --privileged -p 9000:

[2017-08-24 15:23] deviantony commented on #1156
This is a known issue, see #322

[2017-08-24 15:23] #1156 closed

[2017-08-24 16:15] jamesmr89 opened #1158 "Allow portainer to create/manage containers across multiple endpoints from one view."
So my use case is we have a bunch of docker engines that sit behind a load balancer.

I have an internal tool i've made that is very portiner like but it allows me to deploy containers to multiple engines at a time

I have a select list of endpoints right before my create button essentially
whatever engines are selected we sent the create post to for portainer i was thinking of something like you

[2017-08-24 16:31] deviantony commented on #1158
I think that the ability to deploy a container to multiple endpoints in a single action could be a great feature.

Not sure about the 'all endpoints' option in the endpoint selection tho, I'd rather see an endpoint multi selector in the container creation view.

The ability to group endpoints could be nice as well but we should watch out to not clutter the UI in the tables views.

@ncresswell what

[2017-08-24 23:16] palmerabollo opened #1159 "Portainer 1.14.0 fails to start on a local swarm"
**Description**

Portainer 1.14.0 fails to start on a local swarm with the error message "readlink /var/lib/docker/overlay2/l: invalid argument".

**Steps to reproduce the issue:**

1. docker swarm init
2. deploy the following service

[code]

The container is restarted

[code]

It works with 1.13.0

**Technical details:**

* Portainer version: 1.14.0
* Target Docker version (the host/cluster you

[2017-08-25 03:53] leonsoft commented on #1094
Just verified it's working on Linux. so is it handled differently on win and linux?.

[2017-08-25 05:28] deviantony commented on #1159
Hi @palmerabollo

Have you tried to bind mount the socket in writable mode?

[code]

[2017-08-25 05:37] ncresswell commented on #1158
IMO, lets leave this function for CI/CD.

[2017-08-25 05:38] deviantony commented on #1094
This is pretty strange, I'll tag this as Windows related but I do not have access to a Windows host to reproduce it.

[2017-08-25 05:45] mmaster23 commented on #1094
Can confirm.. Have multiple docker hosts. On Linux hosts, I can use the gui to edit the public ip of the host that was added via the cmdline. However on windows I can't edit the default endpoint via the gui (thus missing the public ip, it can't be set from command line).

Bug: can't edit the public ip of the default endpoint via the gui on Windows hosts.
Nice to have: being able to set the public

[2017-08-25 05:49] deviantony commented on #1094
Hmm this should not be platform related, you should be able to edit the public IP no matter where Portainer is started. Is there an error when you try to update the default endpoint with a Public IP ?

[2017-08-25 06:26] palmerabollo commented on #1159
No luck, still the same message. It could be something related to my setup, but everything works if I replace 1.14.0 with 1.13.0.

[2017-08-25 06:29] deviantony commented on #1159
Looks like it's indeed related to your setup:

* https://github.com/wodby/docker4drupal/issues/101#issuecomment-288367796
* https://github.com/docker/for-mac/issues/1396

Can you try to remove the `portainer/portainer:1.14.0` image and pull it again?

[2017-08-25 08:43] mmaster23 commented on #1094
![endpoint](https://user-images.githubusercontent.com/21027839/29706462-362443cc-8982-11e7-8e27-f44c552e21a0.PNG)

It just says: Unable to update endpoint. I'll see if I can find some logging for this..

[2017-08-25 08:49] deviantony commented on #1094
@mmaster23 you can inspect the response of the HTTP query in your browser developer console.

What version of Portainer are you using?

[2017-08-25 09:22] mmaster23 commented on #1094
Portainer 1.13.5 on Windows Server 2016

Found the error: err:"open C:\data/tls/1/cert.pem: The system cannot find the path specified."

Which is weird as the GUI shows green checks and the connection itself works (over TLS).

[2017-08-25 09:28] deviantony commented on #1094
@mmaster23 could you open a separate issue so we can track this bug?

[2017-08-25 18:35] tuxmeister opened #1161 "Change behavior of "Port configuration" while creating a container"
**Description**

Just a humble improvement suggestion that I just thought of while planning a comprehensive homelab DR plan. I was thinking it would make deal with port re-mapping quite easy.

Thank you for your consideration and hard work, I it's been an amazing addition to my docker playbox.

**Current behavior:**

1.Click on "+ Add container"
2.Choose "Publish all exposed ports" in "Port config

[2017-08-27 07:56] palmerabollo commented on #1159
Thanks. I'll try to remove & pull the image and try it again in the next few days to see if it fixes the issue.

[2017-08-27 20:09] Nepitwin opened #1162 "App Templates not working after iptables from docker deactivated."
To use UFW docker must be restricted to use by default iptables. Iptables usage from docker will be deactivated by a configuration file to work with UFW and port restrictions. After this configuration app templates don't work anymore and all requests are denied.

Example responses
[code]

**Steps to reproduce the issue:**

1. Deactivate iptables for Docker usage to work with UFW create file /etc/d

[2017-08-28 13:09] Nepitwin commented on #1162
It is a firewall blocking from UFW not a portainer issue after UFW configurations with iptables false and configuration a NAT rule and forward chain policy all works.

[2017-08-28 13:09] #1162 closed

[2017-08-28 18:53] #777 closed

[2017-08-28 18:59] #1145 closed

[2017-08-29 08:22] MakdosBilisim opened #1165 "Prevent access to Events for non-administrator users"
Why are there no authorization settings for Images, Events and Networks?

[2017-08-29 09:16] zbence commented on #1141
maybe an export in xml or other format that portainer knows and I can import to other portainer instance in other swarm cluster

[2017-08-29 15:07] raushansingh629 opened #1166 "Login fails for normal user i.e without access to an adminstrator"
I created two user account one with admin access and other with normal access(not admin).
After creating user sucessfully when i try to login using normal user it's showing me "User not allowed. Please contact your administrator". but when i login with admin user it's login sucessfully.
I am using portainer 1.14.0

[2017-08-29 15:43] liamcottam commented on #1166
If you go to Endpoints, click manage access in the bottom table and click the user you want authorised, they should be able to log in.

Let me know if this helped.

[2017-08-29 18:06] ncresswell commented on #1166
That is by design. Until a user has been allowes access to an endpoint, they cannot login.

Rgds,

Neil Cresswell

On 30/08/2017, at 3:08 AM, raushansingh629 <notifications@github.com<mailto:notifications@github.com>> wrote:

I created two user account one with admin access and other with normal access(not admin).
After creating user sucessfully when i try to login using normal user it's showing m

[2017-08-30 00:17] gshively11 commented on #786
I would love for PR #945 to land soon, if that's what it takes to be able to conditionally disable tls verification. we're blocked by this one.

[2017-08-30 06:11] raushansingh629 commented on #1166
it works by editing manage access.
thank you

[2017-08-30 06:11] #1166 closed

[2017-08-31 16:15] deviantony commented on #1165
I agree on the fact that events should only available for administrator users.

About images, we thought about it and it does not really make sense to add access controls on images. Images are global resources available for all the users on any endpoint. If you want to restrict access to images, you should restrict the access to the image by using a private registry.

As an exampe, using Portainer

[2017-08-31 16:25] sdouglasnelson opened #1167 "Portainer should proxy the request and return the correct response code (the HTTP API code)"
The response codes for portainer don't match response codes for the docker API. For example, when a container is stopped that doesn't exist, portainer returns a 200 instead of the expected 404 (see https://docs.docker.com/engine/api/v1.30/#operation/ContainerStop).

[2017-08-31 22:29] HeyerPlane commented on #944
@deviantony Is this working in 1.14.0? I have that installed and its failing exactly as @BrookofClay described. Any suggestions?

[2017-09-01 06:20] deviantony commented on #1167
I'm pretty sure I saw this behavior before... are you using a local Portainer endpoint (e.g. `/var/run/docker.sock` ?) Could you try it as well with a remote endpoint?

[2017-09-01 06:21] deviantony commented on #786
@gshively11 I'll try to work on #954 ASAP

[2017-09-01 06:56] deviantony commented on #944
@HeyerPlane Yes it is working well in 1.14.0. Did you specify the `registry` field in your template definition? (see http://portainer.readthedocs.io/en/stable/templates.html#registry)

[2017-09-01 17:26] sdouglasnelson commented on #1167
I am using a local Portainer endpoint. I can confirm it works correctly from a remote endpoint, but for my use case I'd prefer to use a local one.

[2017-09-02 07:18] deviantony commented on #1167
Sure, thanks for confirming it. We'll fix ASAP !

[2017-09-02 16:11] jammsen opened #1168 "Regex is missing the ability to use "-""
**Description**
Hey guys, im having a problem on creating a containername(title) based on a image with the sign "-". The regex tells me its valid, i can even pull that image, but cant start a container while inserting the name, if i remove the "-" portainer tells me the image isnt on docker hub. Any idea on how to change the regex, or escape the "-"?

**Steps to reproduce the issue:**

1. Pull ima

[2017-09-03 16:26] deviantony commented on #1168
Hi @jammsen

I was not able to reproduce the issue. I tried to pull the image, it's working well. I've then tried to create a container using the `didstopia/7dtd-server` image and it's working as well.

See screenshots below:

![portainer 38](https://user-images.githubusercontent.com/5485061/30004748-5276be24-90d5-11e7-9f0d-1aae5e314288.png)

![portainer 39](https://user-images.githubusercontent.c

[2017-09-03 16:29] guntram commented on #1168
It's about the title ;)
Maybe try "test-test" or something like that.

If you use the minus in the title, the growl pops up telling that the only allowed characters are the usual alphabet, numbers, and ".-_" - so it should accept minuses in the title, but it doesn't.

[2017-09-03 16:34] deviantony commented on #1168
@guntram

![portainer 40](https://user-images.githubusercontent.com/5485061/30004850-8f53b224-90d6-11e7-84d9-ae4f6aa5657b.png)

[2017-09-03 17:19] jammsen commented on #1168
@deviantony
I can't reproduce the behavior from yesterday, i just copy pasted didstopia/7dtd-server into both field.
Sometimes it works, sometimes it wont, the error messages arent really speaking language for the error, that occurs, so thats no help at all 👎

[2017-09-03 19:12] deviantony commented on #1168
I'll try to reproduce again but unfortunately the error message comes from the Docker API not from Portainer.

[2017-09-03 20:53] ncresswell opened #1170 "Powershell Console for Windows, run as Administrator"
When starting the Powershell Console of a Windows Server Core Container, the session is started in "user context", which means you are unable to run any privileged actions. You cannot elevate to Administrator from within Powershell.

We need to find a way to start powershell with elevated permissions

![admin](https://user-images.githubusercontent.com/23178133/30006540-90422076-914e-11e7-9983-d36c

[2017-09-04 07:48] deviantony commented on #1170
As we're limited by the Docker API usage here, we need to figure out how this can be done via the Docker API (check if it's available when using the Docker CLI as well).

[2017-09-04 07:50] ncresswell commented on #1170
Well the user is actually ContainerAdministrator, but no, that doesnt work

Rgds,

Neil Cresswell

On 4/09/2017, at 7:35 PM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

Can't you just specify Administrator in the user field?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoin

[2017-09-04 10:04] deviantony opened #1171 "Prevent the specification of protocol in the Endpoint URL field"
When creating a new endpoint, if you specify the protocol in the Endpoint URL field, Portainer will not be able to connect to the endpoint (throwing DNS issues in the logs).

E.g. you should not be able to specify `tcp://10.0.7.100:2375` but instead `10.0.7.100:2375`.

[2017-09-04 10:06] deviantony commented on #1151
I think that this issue is related to https://github.com/portainer/portainer/issues/1167

We'll try to check if solving https://github.com/portainer/portainer/issues/1167 solves this issue as well.

[2017-09-04 14:29] camanducci opened #1172 "Authenticate on more than one LDAP / AD server"
**Description**

**Steps to reproduce the issue:**

1. access url http://docker.totvs.com.br:9000/#/auth
2. enter login: admin and password
3. http://docker.totvs.com.br:9000/#/settings/authentication
4. configure more than one server for LDAP URL. Example: "sp01.local: 389, sp02.local: 389, ..."

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?
I wa

[2017-09-04 16:56] deviantony commented on #786
@gshively11 can you give a try to `portainer/portainer:pr1173` and tell me if that works for you?

[2017-09-04 17:00] deviantony opened #1174 "Display Portainer version in startup logs"
Current logging format is `2017/09/04 16:16:38 Starting Portainer on :9000`.

It'd be better to have the version number included in there to facilitate support.

[2017-09-04 17:04] #1174 closed

[2017-09-05 07:34] StoneYunZhao opened #1176 "upgrade from 1.13.1 to 1.14.0 failed"
**Description**

Upgrading from 1.13.1 to 1.14.0 will fail.

docker logs:
2017/09/05 02:50:53 Migrating database from version 2 to 3.
2017/09/05 02:50:53 Settings not found

**Technical details:**

* Target Docker version (the host/cluster you manage):17.03.1-ce
* Platform (windows/linux): linux
* Command used to start Portainer (`docker run -d -p 9000:9000   -v /app/portainer:/data  portainer/por

[2017-09-05 07:39] deviantony commented on #1176
A database migration is triggered but the Settings object is not stored in the database in DBVersion 2. Persistence was introduced in 1.13.2 only (so any version >= 1.13.2 & < 1.14.0 should do the migration without issue).

This error might appear for version 1.13.0 & 1.13.1.

As a workaround, you can upgrade to version 1.13.2 first and then upgrade to version 1.14.0.

[2017-09-05 07:57] #1137 closed

[2017-09-05 08:01] StoneYunZhao commented on #1176
Successfully update to 1.14.0 by updating to 1.13.2 first, thanks.

[2017-09-05 08:10] deviantony commented on #1049
Closed by #1164

[2017-09-05 08:10] #1049 closed

[2017-09-05 13:10] dcferreira opened #1178 "Add the ability to specify restart policies in services"
There is the ability to specify restart policies in containers (#896), but there is no ability to specify them for services.

Having had a superficial look at the pull request that closed #896, it seems that this is implemented, but simply does not appear in the GUI for creating services (although it appears in the GUI for containers).

[2017-09-05 13:16] deviantony commented on #1178
#896 was related to templates.

Indeed, there is no support for yet for restart policies in services. Will track it as an enhancement.

[2017-09-05 14:43] deviantony commented on #1140
#1143 has been merged as a temporary measure but I'll keep this issue open as we should find a way to use unregistered registries as well.

[2017-09-05 19:40] gshively11 commented on #786
@deviantony yea i'll try to get to it in the next day or two, thanks!

[2017-09-05 22:41] StefanScherer opened #1179 "Support mapped named pipe endpoint for Windows container"
**Description**

It is time to prepare Portainer to support the mapped named pipes for Windows Insider containers.

<img width="977" alt="bildschirmfoto 2017-09-06 um 00 29 17" src="https://user-images.githubusercontent.com/207759/30086562-f3db134c-929b-11e7-9348-9ba312da081d.png">

**Steps to reproduce the issue:**

1. Build a Windows Server 2016 Insider 16278 VM
2. Install nightly Docker from ma

[2017-09-05 23:28] kevincam3 opened #1180 "I can't get the binary to work on Windows 10 correctly"
**Description**
The screens show blank and the console lists errors

**Steps to reproduce the issue:**

1.
2.
3.

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

**Technical details:**

* Portainer version:
* Target Docker version (the host/cluster you manage):
* Platform (windows/linux):
* Command used to start Portainer (`docker run -p 9000:9000

[2017-09-06 06:15] deviantony commented on #1180
Hi @kevincam3

We will need more information to help you. How did you install Portainer? How do you start Portainer? What are the errors in the console?

[2017-09-06 09:17] kevincam3 commented on #1180
Oh wow, looks like everything I wrote got stripped out, Crazy. Ok let me try to attached all the screenshots again and answer your questions.
Docker Version: https://goo.gl/qnyJRv
Portainer Dashboard: https://goo.gl/W8GoGA
Containers view: https://goo.gl/aCHGvY
Errors in console: https://goo.gl/pzY8iB

I did not install it. I went to the command line and executed portainer.exe after downloading an

[2017-09-06 13:09] deviantony commented on #1180
@kevincam3 did you went through the admin user creation & endpoint initialization steps when first accessing Portainer? Did you already used a Portainer instance locally before?

Can you restart Portainer and try to access it in private session mode (or after clearing your browser cache) ?

[2017-09-06 13:11] #1016 closed

[2017-09-06 13:20] kevincam3 commented on #1180
The message says "This feature is not yet available for native Docker Windows containers." As previously mentioned I started Portainer by just executing the portainer.exe file not with any flags. I assume by "...access it in private session mode" you mean incognito mode in Chrome which is what I last tried.
Here's the result after executing portainer.exe then opening the browser to http://localhos

[2017-09-06 15:30] deviantony commented on #1180
@kevincam3 looks like I cannot display the image.

So, did you use the "Manage a remote Docker instance" option?

[2017-09-06 15:38] kevincam3 commented on #1180
I don't know what to put for Endpoint URL since Docker is running on my locahost. I tried "localhost" and "127.0.0.1" if you could explain how to use "Manage a remote Docker instance" for docker running on the same machine then that would solve my problem.

[2017-09-06 15:49] deviantony commented on #1180
You'd need to expose the Docker API on the TCP socket first and then try `localhost:2375`. See https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon for more information about how to do this.

You might want to join us on Slack for some live support: https://portainer.io/slack/

[2017-09-06 17:59] kevincam3 commented on #1180
That worked. Thanks a lot. This should get documented somewhere. Exposing daemon on tcp://localhost:2375 without TLS is actually a setting in the docker interface: https://goo.gl/FxfK6U

[2017-09-06 18:24] deviantony commented on #1180
Nice !
We'll document it to make this clearer.

[2017-09-06 18:24] #1180 closed

[2017-09-06 22:19] 264nm commented on #359
+1 ^ 1000 on this one.
For a a bunch of us it's not practical to create the containers via UI due to scale or various other factors, and instead are largely looking to provide an easy means for other people to manage existing containers but not necessarily wanting to allow control to all the containers running on a host. I would love to see this feature happen.

[2017-09-06 22:26] gshively11 commented on #786
Having to put out some fires, probably won't get to this until next week sometime, sorry

[2017-09-07 06:11] deviantony commented on #786
@gshively11 Ok, I'll ping the other people in the discussion as well.

@dedalusj @kennyko @lioolli mind giving a try to `portainer/portainer:pr1173` ?

[2017-09-07 06:14] deviantony commented on #359
@264nm what about using the existing UAC feature for this? You could create a team called *restricted* and add your users to that team. Then, switch the ownership of the containers that you want to allow access to to that new *restricted* team.

[2017-09-07 16:35] rnz opened #1181 "tmpfs mounts not full describe in portainer"
**Description**
tmpfs mounts not full describe in portainer
and can't create mounts from portainer by tmps

[image](https://user-images.githubusercontent.com/851927/30172823-875b3cc4-93fe-11e7-8f43-0f3ad55e3c90.png)

**Steps to reproduce the issue:**

1. create container with tmpfs mounts
docker service create
--name testservice
--mount type=bind,source=/data/service/s0001/db,target=/var/lib/postg

[2017-09-07 16:48] kwerle opened #1182 "Using https://my.host.name/v2/ for private repo chokes"
I tried to configure a private registry using the host url I docker log'ed in to - which was like

https://my.host.name/v2/

It turns out that portainer didn't like that, but gave no immediate feedback.  Instead it said:

"Image from container: invalid reference format"

when I tried to add a new container.

I recommend that when you add a registry portainer tries to validate it.  If that's not po

[2017-09-07 17:52] SemionPar commented on #359
@deviantony switching the ownership of containers only works until these containers are not destroyed, obviously.

For an environment, where containers are created/destroyed often (think of a dev environment where services are redeployed multiple times on daily basis, recreating containers at each run) this is not the way to go, sadly (unless you use Portainer API to create and launch containers,

[2017-09-07 18:08] raarts commented on #359
Right, we deploy using `docker stack deploy` from a (GitLab) CI/CD pipeline. This happens many times per day, so containers can come and go. We can tag them, but better would be to define users, and add docker services or - even better - stacks to them. In that case they would be able to see only containers belonging to services/stacks they have authorization for.

[2017-09-07 18:21] deviantony commented on #1182
You should probably try with https://my.host.name instead of https://my.host.name/v2/

I agree, we will try to test the connectivity before creating the registry.

[2017-09-07 18:30] kwerle commented on #1182
Yes, that is the fix.  My point was that it wasn't clear what the issue was.  A connectivity test would have nailed it at registry creation time - if that's possible...  Thanks!

[2017-09-08 17:45] palmerabollo commented on #1159
It worked. Thanks for your time and help, @deviantony.

[2017-09-08 17:45] #1159 closed

[2017-09-09 10:29] Hronom opened #1184 "Make tables resizable"
Please make table resizable, I add container that publish a lot of ports and I can't see full name of container.

[2017-09-09 16:37] deviantony commented on #1184
I'll close this and mark it in the table enhancement issue: #568

Note that in the `develop` branch, a change has been pushed to allow you to expand the container name column (see https://github.com/portainer/portainer/pull/1164)

[2017-09-09 16:37] #1184 closed

[2017-09-09 16:49] #297 closed

[2017-09-10 05:46] tobias-forkel commented on #754
Hi Guys

I am using Portainer on a sub-domain on local ( OSX ) and production ( Ubuntu ) because this way I can add other options ( IP, Basic access authentication ) in future. I know it works with sub-folders as well, but I always find it a little bit more difficult. In case somebody is curious, here is my config.

**1. Docker on port 9000**

[code]

**2. /etc/nginx/nginx.conf**

[code]

**3. /et

[2017-09-10 07:52] deviantony commented on #754
@tobias-forkel thanks for the update :-)

[2017-09-10 11:02] StefanScherer commented on #1179
Some more details.

Docker engine on Windows uses `npipe:////./pipe/docker_engine` as default, so you can write it as an URL internally.
Docker uses docker/go-connections -> https://github.com/docker/go-connections/blob/4ccf312bf1d35e5dbda654e57a9be4c3f3cd0366/sockets/sockets.go#L25-L26
which uses github.com/Microsoft/go-winio DialPipe -> https://github.com/Microsoft/go-winio/blob/78439966b38d69bf

[2017-09-10 19:53] deviantony commented on #1179
@StefanScherer brilliant ! Feel free to open a PR for this when you think it's ready :-)

[2017-09-11 08:10] twityde commented on #366
@deviantony I can unterstand @sweco-semtne. ENV variables that have the set value in the template are not generating any UI, I have now the same request.

My idea is to introduce the attribute "default" to the ENV object. If default is set to a string, the value is is rendered in the nromal text box and the user can change the value before he create the container. If "default" contains an json arr

[2017-09-11 13:52] twityde commented on #366
After some research, I have figured out that you can use "value" instead of "set", to get an UI.
 I added support for drop down selection and tooltips.

[2017-09-12 05:14] deviantony commented on #786
ping @gshively11

Any update on this?

[2017-09-12 12:20] rdxmb commented on #1057
[code]

So the Portainer-container can reach the Docker Host via TCP in swam mode.

Can we add this to the Portainer docs?

[2017-09-12 16:28] deviantony commented on #1057
@rdxmb what are you talking about?

[2017-09-12 16:41] gshively11 commented on #786
@deviantony I should be able to get to this later today or tomorrow.

[2017-09-12 17:00] gshively11 commented on #786
Is there anywhere to grab a release artifact for that PR?  We don't use the portainer images directly, we download the release artifact from github and set it up in our own image. I want to explain why we're doing that, but I don't recall off the top of my head :)

[2017-09-12 17:03] deviantony commented on #786
@gshively11 Let me build one for you, I'll ping you here when it's available.

[2017-09-12 17:35] deviantony commented on #786
@gshively11

Can you try https://github.com/portainer/portainer/releases/download/1.14.0/portainer-pr1173-linux-amd64.tar.gz ?

[2017-09-12 17:57] gshively11 commented on #786
I'm getting invalid credentials when I try to login with the pr1173 build.  Using `--admin-password`.  Confirmed it works as expected with the 1.14.0 release.

[2017-09-12 18:49] deviantony commented on #786
Could you try without this option? I'll try to reproduce that bug

On mar. 12 sept. 2017 à 19:57 Grant Shively <notifications@github.com>
wrote:

--
Anthony Lapenna
https://deviantony.github.io

[2017-09-12 20:58] gshively11 commented on #786
[code]

Still getting this in logs (and UI throws errors)
[code]

Is that endpoint config correct for skipping TLS verification, or am I doing something wrong?

[2017-09-13 02:38] zhaoyao91 commented on #988
So what's the status of this issue? Will portainer support swarm config introduced by Docker 17.06?

[2017-09-13 06:53] deviantony commented on #988
@zhaoyao91 there is a work in progress on this, follow #996

[2017-09-13 06:55] deviantony commented on #786
@gshively11 are you using the `--external-endpoints` flag?

[2017-09-13 07:43] rdxmb commented on #1057
Ah, probably about a different thing ;)
I searched for a way to connect the portainer-container with the host network - and found the answer in your linked comment. But you - I guess - are talking about creating services within portainer. So, of course, we are talking about different worlds ...

[2017-09-13 13:50] troychn opened #1189 "docker swarm mode Error response from daemon: rpc error: code = 4 desc = context deadline exceeded"
When I run this portainer service on swarm mode, the following error occurred
[code]
**Error response from daemon: rpc error: code = 4 desc = context deadline exceeded**
[code]

[2017-09-13 16:15] deviantony commented on #1189
Hey @troychn

Did you try to start another service using the CLI ? I think that this issue is related to Docker and not Portainer deployment.

Seems to happen occasionally when managing services: https://github.com/moby/moby/issues/29087

[2017-09-13 18:49] gshively11 commented on #786
@deviantony yes i am, and I'l try to narrow down what might be causing the `--admin-password` issue on my side

[2017-09-13 19:10] deviantony commented on #786
Oh ok, the changes in that implementation did not impact the `--external-endpoints` feature. I'll add that and release a new artifact for you. I'll ping you here when it's available for testing.

[2017-09-13 19:34] deviantony commented on #786
@gshively11 could you give a try to https://github.com/portainer/portainer/releases/download/1.14.0/portainer-pr1173-linux-amd64.tar.gz ?

[2017-09-13 22:08] gshively11 commented on #786
@deviantony Looks like it works!  Also, the admin password issue, that was my bad.  The help text on the input says admin, and it's just dark enough on my screen to look like the text defaulted to admin (which it seems to do on the release image? that could just be browser autocomplete though).  Might want to make the help text styling lighter to avoid future confusion.  Thanks for getting this ch

[2017-09-14 04:53] deviantony commented on #786
@gshively11 Perfect ! Thanks for your feedback, I'll merge it.

[2017-09-14 06:05] #395 closed

[2017-09-14 06:08] #786 closed

[2017-09-14 06:08] #954 closed

[2017-09-14 09:09] #1151 closed

[2017-09-14 09:09] #1167 closed

[2017-09-15 07:57] #1165 closed

[2017-09-15 07:58] deviantony opened #1194 "Add networks UAC"
It should be possible to restrict access to networks on some users/teams similar to container UAC.

[2017-09-15 07:59] deviantony opened #1195 "Add secrets UAC"
It should be possible to restrict access to secrets for some users/teams similar to container UAC.

[2017-09-16 02:56] troychn commented on #1189
i find out answer in this page
[#31427](https://github.com/moby/moby/issues/31427)

thanks ! @deviantony

[2017-09-16 02:57] #1189 closed

[2017-09-18 09:50] nitin02 opened #1197 "Saving Filters on Containers"
The filter option of the Containers page is helpful to filter by the table values. But I feel there should be a way to create a default filter and **save** it. This ensures, the filter need not be given every time, but is default applied. For example, Showing only running containers (without any stopped or other state ones) {This can be achieved without the "show all container" field but it never

[2017-09-18 10:59] ncresswell commented on #1197
Agree that we should be able to save filters and/or save the state of the "show all containers" checkbox... that is something we will work on.

We wont however be adding any "auto-remove" of stopped containers as that goes against our principle of ensuring the safetly of containers/volumes at all times.

Rgds,

Neil Cresswell

On 18/09/2017, at 4:50 PM, Nitin K <notifications@github.com<mailto:not

[2017-09-19 05:27] deviantony opened #1198 "Save the status of the 'Show all containers' filter"
The *Show all containers* filter state should be saved.

[2017-09-19 05:28] deviantony commented on #1197
I've open https://github.com/portainer/portainer/issues/1198 regarding the *show all containers* filter state.

I agree as well on the addition of custom filters, that would be a great addition.

[2017-09-19 08:52] zwx168238 commented on #56
hi may i know what's the status about this feature.
now i use 1.14.0.now we still use our custom  registry.

[2017-09-19 08:59] deviantony commented on #56
Hey @MorphBonehunter

There is no work on this feature yet, the goal here is to allow the management of images **inside** private/custom registries.

Currently, 1.14 allows you to **connect** to your private/custom registries using credentials.

[2017-09-19 09:10] MorphBonehunter commented on #56
Hey @deviantony, i think this was an comment for @zwx168238 :smile:

[2017-09-19 09:14] deviantony commented on #56
woops you're right :-)

[2017-09-19 10:14] bvis opened #1199 "[Feature request] Define the admin password using docker secrets"
**Description**
Currently the available option to define an admin password when launching Portainer is using a parameter named `--admin-password` as explained here: http://portainer.readthedocs.io/en/stable/configuration.html#admin-password

I think it was a nice way of do it when no secrets feature were available, but now Swarm provides a good way to define secrets that can be used by application

[2017-09-19 10:19] deviantony commented on #1199
I agree, that would be the recommended way to setup the admin password in a Swarm cluster.

To support this, we only need to add support for a `--admin-password-file` that will read the password from this file.

Contributions welcome ;-)

[2017-09-19 14:58] #1194 closed

[2017-09-19 15:10] #1195 closed

[2017-09-19 15:36] deviantony opened #1201 "Only administrators should have access to the node details view"
There is no real point of accessing the node details view as a regular user. This view is designed for administrators users to change the availability of a node as well as change the node name or alter the labels.

Other useful information for a regular user is already available in the node status table which is available in the Swarm view.

[2017-09-19 15:38] deviantony opened #1202 "Only restricted tasks should be available for regular users"
The swarm visualizer actually displays tasks from restricted services.

[2017-09-19 16:24] #1198 closed

[2017-09-19 16:41] #1201 closed

[2017-09-19 17:27] stevelacy opened #1205 "Portainer running on a swarm with scale > 1 does not propagate credentials"
**Description**

Portainer seems to be unable to connect to the docker endpoint (host) when the portainer service is scaled greater than one instance when running on a swarm.
I have several swarms which reproduce this issue.

**Steps to reproduce the issue:**

1. Create a swarm with 5 managers 5 workers
2. Run portainer with
[code]
3. Scale the service to 5
[code]
4. Create admin account, login. A

[2017-09-19 17:37] tuan3w opened #1206 "Inconsistent HTTP status code between Portainer API and Docker API"
Hi Portainer's team,
Recently, I'm trying to use Portainer API to call Docker API. However, I found that the HTTP status code return from server and from Docker API are not consistent. The code from server always return 200, which is different from the Docker API code defined in the [docs](https://docs.docker.com/engine/api/v1.31/#operation/ServiceCreate). This make hard for me to check if I call

[2017-09-19 18:20] deviantony commented on #1206
Hi @tuan3w

Are you using a local endpoint ? If so that bug was already reported (https://github.com/portainer/portainer/issues/1167) and fixed via https://github.com/portainer/portainer/pull/1192

You can give a try to our unstable build where this bugfix is merged to check if it solves your problem via the image `portainer/portainer:develop` (only for Linux amd64)

I'll close this issue, feel fr

[2017-09-19 18:21] #1206 closed

[2017-09-19 18:23] #1202 closed

[2017-09-19 18:36] deviantony commented on #1205
Hi @stevelacy

When running Portainer with the following command:

[code]

You're telling Swarm to deploy a Portainer instance on each one of your Swarm manager node. You're not actually persisting the data of the Portainer container **outside** of the container (see http://portainer.readthedocs.io/en/stable/deployment.html#persist-portainer-data).

Portainer uses a filesystem database that is by

[2017-09-19 18:36] #1205 closed

[2017-09-19 18:57] deviantony opened #1208 "Do not display multiple error notifications when the authentication token has expired"
If the authentication token has expired, Portainer will redirect to the authentication view and display one notification error for each failing request.

It should not display any notification error message and instead only display the ` Your session has expired` error in the login form.

[2017-09-19 18:59] #1208 closed

[2017-09-19 20:54] camanducci commented on #511
Portainer already allows a user to push to the Dockerhub or a private record at the moment?

[2017-09-20 04:31] zwx168238 commented on #322
hi  may i know whether we plan to support this feature ? now we only can use cat to watch file can't editor.

[2017-09-20 05:56] Routhinator opened #1210 "How to connect to docker endpoints via the hosts VPN tap0 interface?"
Portainer version: 1.14.0
Docker version 17.05.0-ce, build 89658be
Ubuntu 16.04 LTS

Cannot determine where to ask this, so please redirect me if needed.

I have Portainer setup and working well with the hosts unix socket. Portainer is running in a docker container on the master swarm node.

Between my swarm-nodes I have a mesh VPN with IPs 10.0.0[1-3]  for the three nodes. Docker API is listening

[2017-09-20 06:14] deviantony opened #1211 "Rename Docker section to Engine"
For clarity purposes, the Docker section in the sidebar should be renamed to Engine.

[2017-09-20 06:23] #1211 closed

[2017-09-20 06:25] deviantony commented on #322
@zwx168238 somehow we know that `nano` works. I know it's quite important but this one is pretty hard to debug, I'll have another look today.

[2017-09-20 06:29] deviantony commented on #1210
Hi @Routhinator

This is probably a Docker networking issue as the Portainer container do not have access to the VPN network. I'm not sure how did you configure that mesh VPN ?

You can join us on https://portainer.io/slack/ for some live support if you prefer.

[2017-09-20 06:32] #516 closed

[2017-09-20 06:44] Routhinator commented on #1210
Right-o, slack seems a better place for this. I would also agree, however was presuming I missed something in this due to my docker experience being only about 6 months.

[2017-09-20 06:44] #1210 closed

[2017-09-20 08:19] zwx168238 commented on #322
it was a great job .and  thanks for your harding working.  will keep watching .

[2017-09-20 09:22] deviantony commented on #511
@camanducci yes, this was introduced in the release 1.13.3

[2017-09-20 10:17] zwx168238 commented on #1182
i got the same issue
my setting was like below
Registry URL https://njdocker1.nj.thundersoft.com
name harbor

then i want to use pull image
name njdocker1.nj.thundersoft.com/public/rsyslog:1.0
Registry harbor

i was setting the auth info and if i use docker pull njdocker1.nj.thundersoft.com/public/rsyslog:1.0 can pull the img from my own Registry

[2017-09-20 10:29] zwx168238 commented on #56
@deviantony  ths .i will try ASAP  if got any new details will let you know

[2017-09-20 10:58] ncresswell commented on #1182
You need to add the port number to the registry url... port 5000 is Docker default..

Rgds,

Neil Cresswell

On 20/09/2017, at 5:17 PM, zwx168238 <notifications@github.com<mailto:notifications@github.com>> wrote:

i got the same issue
my setting was like below
Registry URL https://njdocker1.nj.thundersoft.com<https://urldefense.proofpoint.com/v2/url?u=https-3A__njdocker1.nj.thundersoft.com&d=DwMFa

[2017-09-20 12:32] deviantony commented on #322
Tried to figure out what was causing this issue, it seems that the server is sending invalid unicode characters when using some commands (such as `vim`). I'm pretty sure this is coming from the `hijack` method available at https://github.com/portainer/portainer/blob/develop/api/http/handler/websocket.go#L95 but I was not able to fix it at the moment.

I'll try to give it more time later.

[2017-09-20 13:16] elfrinjo opened #1213 "Cannot change password for admin when LDAP is enabled"
**Description**
When LDAP authentication is enabled the user "admin" is still kept local as a fallback.
However, the change-password-disablement also acts on the local admin user which makes it impossible to change to password.

**Steps to reproduce the issue:**
1. Activate LDAP/AD Authentication
2. Log in as admin
3. Click "my account"
4. Try to change the password
--> "You cannot change your pas

[2017-09-20 18:34] deviantony opened #1215 "Potential panic on LDAP authentication"
**Description**

A panic can be raised when authenticating using LDAP. We don't have any reproduction step, only the following logs:

[code]

It occurs after upgrading from version 1.14.0 to 1.14.1.

I think that it's related to the error being ignored here: https://github.com/portainer/portainer/blob/develop/api/ldap/ldap.go#L36

[2017-09-20 18:58] #1215 closed

[2017-09-21 05:24] zwx168238 commented on #1182
@ncresswell ths but we use harbor ,the default port was 80.but even add the port it still does't work

throw "Failure:invalid reference format""

[2017-09-21 07:43] deviantony commented on #1182
@zwx168238 are you using `njdocker1.nj.thundersoft.com` as the registry URL and `public/rsyslog:1.0` as the image you pull ?

[2017-09-21 08:05] zwx168238 commented on #1182
@deviantony i use 	njdocker1.nj.thundersoft.com/public/rsyslog:1.0 as the image,it was the full path

[2017-09-21 08:07] deviantony commented on #1182
@zwx168238 you need to create a registry first using `njdocker1.nj.thundersoft.com` and then select that registry when creating a container / pulling an image and use `public/rsyslog:1.0` as the image name.

[2017-09-21 08:08] sylvainmouquet opened #1218 "Portainer v14.1 : Unable to connect to the Docker endpoint"
Hello,

I have upgrade my docker image from v14.0 to v14.1.
My environment is composed to 1 manager and 2 workers.
The manager use /var/lib/docker.sock and the workers use the listener with the ip and port (2375).
When i start portainer i choice to use /var/lib/docker.sock i configure the 2 workers and after i lose the connection with the manager. I am not able to select the manager.
If i disconne

[2017-09-21 08:10] zwx168238 commented on #1182
@deviantony  actually i was do like this

[2017-09-21 08:11] deviantony commented on #1182
@zwx168238 and this is not working? Feel free to ping me on Slack to discuss this.

[2017-09-21 08:13] deviantony commented on #1218
Hi @sylvainmouquet

How was Portainer deployed in that cluster? How did you upgrade it?

Feel free to ping me on Slack so that I can help you with that issue.

[2017-09-21 09:06] zwx168238 commented on #1182
@deviantony  ths  for you hard work , now it was works

[2017-09-21 14:00] deviantony commented on #1218
Can we close this now?

[2017-09-21 15:02] deviantony opened #1220 "Unable to connect to LDAP using StartTLS"
It is currently impossible to connect to a LDAP server using the StartTLS option right now (the option is ignored as well as the Skip verification of server certificate option).

[2017-09-21 15:23] #1220 closed

[2017-09-21 20:00] si458 opened #1223 "portainer unable to connect to local bind endpoint after entering ip address into public ip field in endpoints"
**Description**
portainer unable to connect to local bind endpoint after entering ip address into public ip field in endpoints

**Steps to reproduce the issue:**

1. create clean VM with docker setup and installed
2. setup portainer (docker run -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v /docker/portainer:/data portainer/portainer)
3. config setup on first login and use local e

[2017-09-21 21:56] WTFKr0 commented on #1223
I reproduce here
For information, we got a
[code]

I get endpoint before and after setting publicUrl, and `"TLSSkipVerify"` appear to be true after...
[code]

[2017-09-21 22:19] si458 commented on #1223
@WTFKr0   phew... at least its not me going round the twice... its prob the TLSskipverify is switching on even tho the box is not ticked

[2017-09-21 22:21] WTFKr0 commented on #1223
Hum I edit my comment, look at the URL after !
I think it works with TCP endpoints, but not with the default local unix one

[2017-09-21 22:39] si458 commented on #1223
maybe https://github.com/portainer/portainer/blob/develop/app/components/endpoint/endpointController.js#L17 maybe something wrong with one of these config lines but cant work out what its doing?

[2017-09-22 03:46] thomasgilgenast opened #1225 ""Add container" button not working"
**Description**

"Add container" button on "Containers" view does nothing in 1.14.2. In 1.14.1 it works as expected.

**Steps to reproduce the issue:**

1. Navigate to http://demo.portainer.io and login as `admin`/`tryportainer`
2. Click "Containers"
3. Click "Add container"

**Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?**

Expected behavior: I

[2017-09-22 04:08] deviantony commented on #1225
Woops, I've shipped invalid libraries inside the latest release. I'm currently re-uploading the images & artifacts.

[2017-09-22 04:11] deviantony commented on #1223
Thanks for the reproduction steps, I'll try to reproduce.

[2017-09-22 04:17] deviantony commented on #1223
I was able to reproduce, I'll investigate.

[2017-09-22 04:33] deviantony commented on #1225
@thomasgilgenast could you pull the image again ? It should be fixed now.

[2017-09-22 05:23] thomasgilgenast commented on #1225
Yes it is working for me now after pulling the image. Thanks for the lightning-fast fix and all-around excellent tool!

[2017-09-22 05:26] deviantony commented on #1225
Cheers, thanks for the report !

[2017-09-22 05:26] #1225 closed

[2017-09-22 05:34] #1223 closed

[2017-09-22 05:34] deviantony commented on #1223
@si458 fixed ! It should be available in `portainer/portainer:develop` if you need it.

[2017-09-22 06:00] #1213 closed

[2017-09-22 08:53] elfrinjo commented on #222
Would this be solved with #257 ?

[2017-09-22 10:50] sylvainmouquet commented on #1218
I think it's because i use a local volume for the storage of the portainer data

[2017-09-22 20:40] gshively11 opened #1229 "Filtering on Services page ignores a service's stack prefix"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

The Services page has a filter which lets you filter the services that display on the page.  If the services are deployed via a stack deploy, the service names will be prefixed with the name of the stack, .e.g `my-stack_my-server`.  However, the filter appears to ignore t

[2017-09-23 02:37] vielmetti commented on #273
Since this issue is still open, it's worth noting that with Docker's multiarch support in its official images, the number of things that "just work" from the directory when running on an arm64 system is much better than before. I don't have a total count yet, but roughly half of the images I tried just worked.

[2017-09-23 02:51] ncresswell commented on #273
Agree..i dont think we need to both adding template OS support as all vendors are being encouraged to create  multi-arch images...

Sent from my iPad

On 23/09/2017, at 9:37 AM, Edward Vielmetti <notifications@github.com<mailto:notifications@github.com>> wrote:

Since this issue is still open, it's worth noting that with Docker's multiarch support in its official images, the number of things that

[2017-09-23 02:58] vielmetti commented on #273
Agreed, I'd hold off on code changes for now since this looks like it has a good chance of resolving itself.  The count I did was 9 of 33 images "just work" on arm64, with an expectation that more will be coming in the near future.

The only thing I might suggest to look at is the code path for when you select an image, it has a multiarch manifest, and the manifest does not include a version for y

[2017-09-23 10:01] badris1 opened #1230 "unable to connect to docker endpoints"
#Need help!!#

./portainer --host=tcp://localhost --bind=:9091 --ssl --sslcert="location/name.crt" --sslkey="location/name.csr" --data="location"

This is hosted on apache2

Apache conf file is below

Location /portainer/
 ProxyPass http://localhost:9091
ProxyPassReverse http://localhost:9091/
RequestHeader set Connection ""
/Location
Location /portainer/api/websocket/
RequestHeader set Upgrade $h

[2017-09-23 10:37] badris1 commented on #1230
Solved the problem, ran it as without the --host flag

./portainer --bind=:9091 --ssl --sslcert="location/name.crt" --sslkey="location/name.csr" --data="location"

[2017-09-23 10:37] #1230 closed

[2017-09-24 16:54] deviantony commented on #222
Not really, #257 aims to bring compose support only. We'll need to add some work to have a real "compose" template system or multi-templates (sequential deployment).

[2017-09-25 09:18] sylvainmouquet commented on #1218
I have removed the local volume and the error occurs yet i will try with version 1.14.0

[2017-09-25 09:28] sylvainmouquet commented on #1218
The problem does not occur with version 1.14.0

[2017-09-25 09:51] chreggy opened #1231 "[Container Statistics Error] since new version"
Hello,

since last version with the new container statistics dashboard, when the network is in "host", the message "Failure. Cannot read property 'rx_bytes' of undefined" is displayed and nothing is working on the page. It's working on "bridge" mode.

Thank you.

![capture](https://user-images.githubusercontent.com/17594324/30802781-ea374eea-a1e7-11e7-8fd5-c58f86fb808d.PNG)

[2017-09-25 09:52] deviantony commented on #1218
@sylvainmouquet this is strange, are you using a specific volume driver? I'm able to start Portainer without issues using the following commands:

[code]

[2017-09-25 09:53] deviantony commented on #1231
Thanks for the report, we will investigate.

[2017-09-25 10:03] sylvainmouquet commented on #1218
I have tried with and without volume driver and the problems occurs.

[code]

I use docker version 17.07.0-ce

[2017-09-25 10:14] deviantony commented on #1218
@sylvainmouquet have you tried to delete that volume and re-create it ? Maybe it contains invalid data.

[2017-09-25 12:00] ncresswell opened #1232 "Persistent Volumes and Swarm"
**Description**

**Steps to reproduce the issue:**

1.
2.
3.

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

**Technical details:**

* Portainer version:
* Target Docker version (the host/cluster you manage):
* Platform (windows/linux):
* Command used to start Portainer (`docker run -p 9000:9000 portainer/portainer`):
* Target Swarm version (if ap

[2017-09-25 12:00] #1232 closed

[2017-09-25 12:07] ncresswell opened #1233 "Portainer and swarm with persistent volume drivers"
When using a docker volume plugin (eg local-persist) and docker swarm, on scaling, services that use the plugin will revert to using the “local” driver unless the volume is manually precreated on every node of the swarm cluster.

What is expected is that when a swarm service is created, Portainer passes the volume driver information so that the volume map will be auto-created on each node.

[2017-09-25 12:27] ChexWarrior commented on #754
Just in case it helps anyone else I was having trouble getting Portainer to run behind nginx and the reason was basic auth, after I removed it Portainer ran perfectly with the config given in the faq.

[2017-09-25 14:38] ChexWarrior opened #1234 "Invalid Argument Error when Deploying Portainer with Volume to Persist Data (Docker Swarm)"
**Description**

Hello,

I am currently attempting to deploy Portainer as part of a swarm on a local Vagrant environment (3 Ubuntu 16.04 machines, one manager and two workers).  When I specify a volume to persist Portainer data the service continuously fails with **task: non-zero  exit (1)** and when I run `docker service logs` I see the following error: **invalid argument**. The section of the st

[2017-09-25 15:03] ChexWarrior commented on #1234
I just tried creating the Portainer volume outside of the shared directory and the service started with no issues, so it looks like the permissions on the shared folder may have been causing the problem.  I'll close this now and report back anymore findings.

[2017-09-25 15:03] #1234 closed

[2017-09-25 16:02] deviantony opened #1235 "Add a setting to disable bind mounts for non-admin users"
Allowing bind-mounts for any users can open the Docker environment to security issues.

This will be a temporary measure until we implement a role system inside Portainer (see #1015 and #69).

[2017-09-25 16:03] deviantony opened #1236 "Add a setting to disable privileged mode for non-admin users"
Similar to #1235

Allowing privileged mode for any users can open the Docker environment to security issues.

This will be a temporary measure until we implement a role system inside Portainer (see #1015 and #69).

[2017-09-25 16:13] #1199 closed

[2017-09-25 16:26] ChexWarrior commented on #1234
The issue is actually the Virtual Box synced (shared) folder mechanism, changing the shared folder to use NFS fixes the issue.

[2017-09-25 19:50] bvis commented on #1199
Hooray! And I'm so impressed how fast have this been done.

Thanks.

[2017-09-26 01:52] lomocc opened #1238 "containerLogsController: the text in the logs will be removed"
- Hello, when I log this, the text with `gray background` will be removed:

`server {`
`  listen` 80;
`  server`_name report1.bdfint.com;
`  # acce`ss_log /var/log/nginx/report1.bdfint.com.access.log main;

`  locati`on /a/ {
`    prox`y_set_header X-Real-IP $remote_addr;
`    prox`y_set_header X-Forwarded-For $remote_addr;
`    prox`y_set_header Host $host;
`    prox`y_set_header X-Forwarded-Host

[2017-09-26 03:36] #1235 closed

[2017-09-26 06:38] Oyabi opened #1240 "User/group limitation"
Hello,

Portainer is a really great software but I think it lacks a feature.
Currently, an user can create an unlimited number of container.
Can you add something in the global settings to set a maximum of containers per user/group please ?

Regards.

[2017-09-26 10:17] sarjk opened #1241 "Issue using custom templates"
**Description**

I am trying to Use customer templates from:
https://raw.githubusercontent.com/tfenster/templates/nav-and-iis/templates.json.
by setting the URL in the setting tab and saving, but the templates do not appear in the list

**Steps to reproduce the issue:**

1. Go to settings and enter URL in the custom templates  and save
2. Go to the App templates for Window
3.

Any other info e.g.

[2017-09-26 14:07] leonmcar1 opened #1243 "create container with Ownership"
In version 1.14.2 I try created a container with Ownership, but don't work.

The command line used:
docker run -l owner=lmmartins hello-world

In Portainer show Ownership =  public
![portainer 1_14_2](https://user-images.githubusercontent.com/25750867/30864715-557ee426-a2cc-11e7-8da0-2e91899a14b7.PNG)

This is the correct command?

**Technical details:**

* Portainer version: 1.14.2
* Target Docke

[2017-09-27 07:24] deviantony commented on #1015
Closed by #1235

[2017-09-27 07:24] #1015 closed

[2017-09-27 07:26] #1236 closed

[2017-09-27 07:47] #1231 closed

[2017-09-27 07:49] deviantony commented on #1243
Hi @leonmcar1

This is not the way to set ownership. Ownership on Docker resources must be set from within Portainer, either using the Portainer UI or Portainer API.

Using the Portainer UI for example, you can go to the container creation view (containers > add container) and then use the Access Control section to set the ownership of a container.

I'll close this issue, feel free to re-open / co

[2017-09-27 07:49] #1243 closed

[2017-09-27 07:50] deviantony commented on #1240
ping @ncresswell what's your thoughts on this?

[2017-09-27 07:50] deviantony commented on #1238
I'll close this issue and refer it in #317

[2017-09-27 07:50] #1238 closed

[2017-09-27 07:52] ncresswell commented on #1240
What kind of limits are you talking about?

Max number of containers? Max cpus, max ram, max storage?

Doesnt seem worthwhile to limit the number of containers, seems smarter to limit a team to a set number of cpus/ram/disk

Rgds,

Neil Cresswell

On 27/09/2017, at 8:50 PM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

ping @ncresswell<https://urldefense.proof

[2017-09-27 07:53] deviantony commented on #1241
Not sure what is the issue here, I can see the templates when using this custom templates source.

Maybe try to force refresh using CTRL + F5?

![portainer 57](https://user-images.githubusercontent.com/5485061/30901873-b4aaf05a-a369-11e7-84ea-8b5b7db4179e.png)

[2017-09-27 08:07] Oyabi commented on #1240
Initially I thought about the number of container but the resource limit (cpu/ram/disk/network card) is also nice.
In my opinion, both are interrelated and indissociable.

[2017-09-27 09:58] deviantony commented on #1241
Do you hit the `Save` button to update the settings?

[2017-09-27 10:04] akamustang commented on #476
This is still/again broken in version 1.14.2

[2017-09-27 10:07] sarjk commented on #1241
Hi Anthony,

I can see them all now. It think that the container needs to be restarted before the changes take effect.

Regards

Sarj

From: Anthony Lapenna [mailto:notifications@github.com]
Sent: 27 September 2017 10:58
To: portainer/portainer <portainer@noreply.github.com>
Cc: Sarj Kaur <sarj.kaur@tecman.co.uk>; Author <author@noreply.github.com>
Subject: Re: [portainer/portainer] Issue using cu

[2017-09-27 10:26] deviantony commented on #1229
I'm not able to reproduce this, see the screenshots below. Could you give me more precise steps to reproduce?

![portainer 58](https://user-images.githubusercontent.com/5485061/30908755-f3c69496-a37e-11e7-8f67-55b8875d836c.png)

![portainer 59](https://user-images.githubusercontent.com/5485061/30908758-f5e8f9d0-a37e-11e7-8fa8-fcb72d175ad6.png)

[2017-09-27 15:21] Ineluki commented on #935
I think what he meant was: exporting and importing the full run config for a container / all containers.
So if you lose the host for some reason you can restore the containers quickly.
Or is there some functionality that already does this?

For images there's the registry, for volumes there's a variety of methods (simplest being rsync), but for run configurations?

[2017-09-27 16:13] deviantony commented on #1241
You don't need to restart the container actually. I'll close th issue, feel free to reopen if you're having any troubles.

[2017-09-27 16:13] #1241 closed

[2017-09-27 17:29] gshively11 commented on #1229
Hmmm, I can't reproduce this anymore either.  I upgraded to 1.14.2 since originally submitting this issue, but I doubt that's related. Sorry for the false alarm, closing this.

[2017-09-27 17:29] #1229 closed

[2017-09-27 22:52] fabianomenegidio opened #1245 "Templates default"
Can I get a template json different from the original directly in the Portainer configuration file?

I checked the app.ef0b6224.js file for the option below:

("DEFAULT_TEMPLATES_URL", "https://raw.githubusercontent.com/portainer/templates/master/templates.json")

When changing this option, would I be able to set a different template for all my Portainer implementations, without relying on paramet

[2017-09-28 10:16] zwx168238 commented on #322
@deviantony
[code]

[2017-09-28 11:05] deviantony commented on #322
@zwx168238 thanks for the input, we'll keep this in mind when we'll investigate this issue again.

Portainer uses [xterm.js](https://github.com/sourcelair/xterm.js) for the console and the websocket protocol to send/receive data.

[2017-09-28 11:09] deviantony commented on #1245
Hi @fabianomenegidio

A better solution IMO would be to use the `--templates` flag (http://portainer.readthedocs.io/en/stable/configuration.html#use-your-own-templates) when deploying your Portainer instances or use the HTTP API post deployment to update the settings.

Note that even if the `--templates` flag is noted as deprecated in the docs, you can still use it and we're still discussing its d

[2017-09-28 11:09] #1245 closed

[2017-09-28 11:29] deviantony commented on #935
@Ineluki

The way to go here would be to use `docker-compose`. There is a WIP for compose support in Portainer.

[2017-09-28 11:31] deviantony commented on #476
@akamustang

This is related to another issue, see https://github.com/portainer/portainer/issues/1223

It has been fixed and will be released soon, you can use our unstable build in the meantime via `portainer/portainer:develop` (Linux amd64 build).

[2017-09-28 11:38] akamustang commented on #476
Ah great news, thanks for the info.

[2017-09-28 15:57] Ineluki commented on #257
I love this feature since I worked exclusively with compose before portainer.

If it's not too late I'd like to add an idea that builds on this and the "Duplicate / Edit" container function:

 - select one or more containers from the list
 - hit export button
 - select networks and volumes that are related to the selected containers in a popup
 - download the generated compose file

So a simple wa

[2017-09-28 17:59] mrts opened #1246 "Integrate Clair"
Portainer is awesome, thanks for creating it!

[Clair](https://github.com/coreos/clair) is a project for static analysis of vulnerabilities in Docker containers and it looks like perfect match to Portainer.

Wouldn't it be a good idea to integrated Clair into Portainer so that there would be a section for launching the vulnerability scan and seeing reports?

[2017-09-28 19:16] ncresswell commented on #1246
Agree it looks good... we couldnt integrate into Portainer because of license restrictions, but we may be able to integrate with this.. will give it some thought

Rgds,

Neil Cresswell

On 29/09/2017, at 7:00 AM, Mart Sõmermaa <notifications@github.com<mailto:notifications@github.com>> wrote:

Portainer is awesome, thanks for creating it!

Clair<https://urldefense.proofpoint.com/v2/url?u=https-3A_

[2017-09-28 20:05] si458 opened #1247 "Show the containers using the volume in the volume-details view"
**Description**

it would be nice to be able to see what containers are using what volumes (in volume tab)
but also other way around
it would be nice to be able to see what volumes are being used by what containers (in containers tab)

[2017-09-28 21:28] yogeshVU opened #1248 "Feature request: active container(not services) visibility across swarm cluster"
Currently only containers that are active on the host where portainer_container is hosted, are visible from the portainer gui. Those that are on other host machines are not visible from the GUI.

But I can service instances deployed on different host machines being visible on the portainer_gui

[2017-09-29 02:19] zwx168238 commented on #322
[code]

[2017-09-29 04:26] lrezende opened #1249 "--admin-password or --admin-password-file initialization parameter duplicating admin user"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

Starting portainer with a already existing database "portainer.db" file and flag --admin-password(or --admin-password-file) duplicates the admin user.

![image](https://user-images.githubusercontent.com/2107519/31000747-649a125c-a4b4-11e7-8ed1-5afeea85199

[2017-09-29 04:31] lrezende commented on #1249
https://github.com/portainer/portainer/blob/9c10a1def2121d8914ec43876adfd8d9d904600b/api/cmd/portainer/main.go#L239

[2017-09-29 05:20] zwx168238 commented on #322
after install
sudo apt-get install language-pack-en-base locales
vim can works for my all docker container
@theAJFM ths. ths

[2017-09-29 05:24] ncresswell commented on #322
You ran that on your host on inside each container?

Rgds,

Neil Cresswell

On 29/09/2017, at 6:20 PM, zwx168238 <notifications@github.com<mailto:notifications@github.com>> wrote:

after install
sudo apt-get install language-pack-en-base locales
vim can works for my all docker container
@theAJFM<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_theajfm&d=DwMCaQ&c=euGZstcaTDllvimEN8b7

[2017-09-29 05:27] zwx168238 commented on #322
@ncresswell now i run in each docker container
may be i can mount the docker host's setting into container when docker run

[2017-09-29 07:24] adoo123 opened #1250 "the problem of network choose"
Hello,i have a problem.when I create a service,it couldn't choose the network "ingress",unless I set the "port mapping",it will use ingress.I create a new overlay network to fix this problem,after i created it ,i can choose the new network,but when i set "port mapping ",it will use "ingress" network too.Could you help fix this problem please,my email is  adoo123@163.com .  Thank you so much!

[2017-09-29 09:26] nenadilic84 commented on #1199
It was a pleasure 😄

[2017-09-29 10:00] deviantony commented on #1247
In the container-details view, you can already check the volumes associated to the container.

Tho I agree, it could be nice a nice addition to the volume details view to see which containers are using the volume.

[2017-09-29 10:01] deviantony commented on #1248
Hi @yogeshVU we already have an open issue for this feature request, have a look at #461

[2017-09-29 10:01] #1248 closed

[2017-09-29 10:05] si458 commented on #1247
you are indeed correct!
but being able to see what containers are using the volume in the volume tab would be nice!

[2017-09-29 10:10] deviantony commented on #1249
Thanks for the report @lrezende

Indeed, a check for the admin user existence should be done as it is done for the endpoint initialization.

[2017-09-29 10:14] deviantony commented on #1246
Thanks @mrts ! Never heard of Clair before, looks great.

I'm going to close this issue and refer it inside #713 which I think is related. Feel free to comment in #713

[2017-09-29 10:14] #1246 closed

[2017-09-29 10:15] deviantony commented on #713
A user reported that we could also integrate Clair: https://github.com/coreos/clair (refer #1246)

[2017-09-29 13:42] vasilvestre opened #1252 "--no-auth won't work & creditentials always wrong"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

I can't login myself with generated login in "initiation"
I can't login with cli --admin-password command
I can'tl ogin with cli --no-auth

**Steps to reproduce the issue:**

1. docker run -d -p 9000:9000 -v portainer_data:/data portainer/portainer --no-au

[2017-09-29 14:58] mrts commented on #1246
Thanks @deviantony, better to keep the discussion in one place!

[2017-09-29 15:03] wardcomm opened #1253 "I installed portainer. UI is up and running but with no data."
**Description**

**Steps to reproduce the issue:**

1. docker pull portainer/portainer
2. docker run -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer --admin-password '$2y$05$kKX3w4cdWZms1zppyHIza.P1ArKizvVg8xG9/Q86OlFKHj0rrn5Ha'
3.  UI is working but no data

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

**Technic

[2017-09-29 15:06] jjesudassbah opened #1254 "Ability to add target for Service secrets"
Please add the ability to add target parameter to secrets:
docker service update \
     --secret-add source=mysql_password,target=old_mysql_password \
     --secret-add source=mysql_password_v2,target=mysql_password \
     mysql

[2017-09-29 16:22] deviantony commented on #1253
Hi @wardcomm

Could you give us more details ? What do you mean about no data?

[2017-09-29 16:25] wardcomm commented on #1253
what can i run to give you more details? The UI is up and running but there is no data in UI like container shows no running containers even though I have five containers running. ---> No Data.

[2017-09-29 16:25] deviantony commented on #1252
What version of Portainer are you using? Could you paste the output of the Portainer container logs?

[2017-09-29 16:27] deviantony commented on #1253
Do you have any error message in the UI? Do you have SELinux enabled on your host? If so, could you try to start Portainer using the `--privileged` flag?

E.g.: `docker run --privileged -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer --admin-password '$2y$05$kKX3w4cdWZms1zppyHIza.P1ArKizvVg8xG9/Q86OlFKHj0rrn5Ha'`

[2017-09-29 16:41] deviantony commented on #1250
Hi @adoo123

I'm not sure that I understand your problem completely. Are you trying to create a service and attach it to the ingress network?

You cannot attach a service to the ingress network which is a network reserved for Swarm internal usage.

See here for more details: https://github.com/moby/moby/issues/33878#issuecomment-312524929

[2017-09-29 16:44] #1249 closed

[2017-09-29 16:44] wardcomm commented on #1253
I did that and it says Failure Endpoint not found. but the UI is up and runnning

[2017-09-29 16:47] deviantony commented on #1253
Hmm, could you try to visit the UI using the private navigation mode of your browser?

[2017-09-29 16:51] wardcomm commented on #1253
SEinux was enabled... i disabled it and restart the service. Then restart the portainer container. still not working. I also dont have any firewalls turned on.
go to this location http://jchadward.com:9000/#/dashboard

[2017-09-29 16:54] deviantony commented on #1253
I can access the UI but I don't have the credentials to connect.

![portainer 60](https://user-images.githubusercontent.com/5485061/31026698-a7b14e14-a547-11e7-8cd4-2db3fd0b4097.png)

[2017-09-29 17:32] wardcomm commented on #333
try
username: admin-debug
password: admin-debug

if it worked this is what I used
docker run --privileged -it --name portainer --env ADMIN_USERNAME=admin-debug --env ADMIN_PASS=admin-debug -d -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer --admin-password '$2y$05$kKX3w4cdWZms1zppyHIza.P1ArKizvVg8xG9

[2017-09-29 17:35] deviantony commented on #1253
I'm also getting invalid credentials with the credentials you provided.

![portainer 61](https://user-images.githubusercontent.com/5485061/31028183-62ae9a32-a54d-11e7-9c9e-20f6ee2f54d7.png)

[2017-09-29 17:44] wardcomm commented on #1253
try admin admin

[2017-09-29 19:26] deviantony commented on #1253
@wardcomm

Strange, might be a browser issue as I can access it.

After authentication:

![portainer 62](https://user-images.githubusercontent.com/5485061/31032570-cfe7d5a0-a55c-11e7-9887-2568457662d6.png)

After selecting 'Local' endpoint:

![portainer 63](https://user-images.githubusercontent.com/5485061/31032573-d94d1eca-a55c-11e7-9099-5fafa2b3e1a8.png)

[2017-09-29 19:46] wardcomm commented on #1253
![image](https://user-images.githubusercontent.com/16823469/31033204-2de4227e-a52d-11e7-89f7-2584a4fa0b8f.png)
Strange:
chrome works left print screen
firefox does not show data. right print screen

[2017-09-29 19:47] wardcomm commented on #1253
can I gather any logs for you guys

[2017-09-29 19:48] deviantony commented on #1253
@wardcomm Just tried with firefox and it's working as well. Could you try to use a private window within Firefox?

[2017-09-29 19:52] wardcomm commented on #1253
that worked
![image](https://user-images.githubusercontent.com/16823469/31033468-29958068-a52e-11e7-9c3e-c4570e9bc8fe.png)

[2017-09-29 19:54] deviantony commented on #1253
Ok so that's a browser cache issue, I'm still working on that. In the meantime, clearing your browser cache should solve your problem.

I'll close this issue, feel free to re-open if needed.

[2017-09-29 19:54] #1253 closed

[2017-09-30 18:38] GetchaDEAGLE commented on #768
I'm having this exact same issue using portainer/portainer:1.14.3 running on Ubuntu 16.04 LTS. I'm getting the below error:

`http error: mkdir /data/tls/14: file exists (code=500)`

When I look in /data/tls/14, I see only two files created: **ca.pem** and **key.pem**. If I manually add the third missing file and then reload the GUI, it works.

[2017-10-01 19:38] trinode opened #1256 "Brute force login protection / mitigation"
In order to protect against brute force attacks of the API / admin front-end, would it be possible to implement some mechanism that after repeated login attempts prevented you from authenticating from that IP address for either configurable period of time, or an exponential time.

For example:
5 failed attempts = 10 mins, 5 more another 10 minute period (which could be configured).
or:
After 3 fai

[2017-10-02 07:29] vasilvestre commented on #1252
@deviantony I don't know. I'm running the last one I think.. I've just used the docker run as installation guide ask.
How to get the logs ?

[2017-10-02 08:49] m-a-v commented on #960
Did you already have time to implement this feature?

[2017-10-02 11:55] deviantony commented on #1252
@vasilvestre use `docker logs <PORTAINER_CONTAINER_NAME>`

[2017-10-02 11:56] deviantony commented on #960
@m-a-v sorry, no ETA on this yet.

[2017-10-02 18:14] ibnesayeed commented on #56
If private registry management is to be provided, it would also be great to have automated build feature (similar to DockerHub) from sources like GitHub/BitBucket or any Git server (such as Gitlab, Gitea, or Gogs etc.) that allows webhooks. When designing the UI for automated builds, we should consider adding fields that enable supplying build-args.

[2017-10-02 19:52] ndachel opened #1257 "Service Access Control via Labels"
Feature Request - I am looking for a way to declare service ownership in the compose file.
Currently, I have teams that might deploy a new service into the swarm and then an administrator has to take action to change the access control from Public to Restricted and add the authorized teams. In the interim, the service is public and can be viewed/modified by any Portainer user.

Instead, 'docker st

[2017-10-02 22:10] gshively11 commented on #461
here's a docker entrypoint script that automatically wires up the endpoints for all the nodes in a docker swarm. if swarm nodes change, just restart the container and it'll update the endpoints.
[code]
just need to mount a volume for `/var/run/docker.sock` and run portainer on a manager node for this to work.  also need `jq` and `curl` packages installed.

also :+1: for adding this ability nativel

[2017-10-03 08:29] deviantony commented on #1257
We could probably use labels on resources created outside of Portainer to filter access to Docker resources indeed. Note that this should work with all the Docker resources where UAC can be applied, not only services.

IMO, when the equivalent of `docker stack deploy` will be available inside Portainer (see WIP #257) the UAC should be applied directly using the actual system instead of labels.

Th

[2017-10-03 10:26] luisnabais opened #1258 "Upgrade in Docker with persistent data doesn't upgrade version"
Hello.

I'm using portainer in Docker for a development team (no swarm) with a volume for persistent data and I upgraded from 1.14.0 to 1.14.2 and then to 1.14.3 and the version at the bottom of the menu didn't change, only showed 1.14.0.

I dropped everything, including the volume, rebuilt everything, started fresh and now the version is correctly shown.
Is the version saved in the .db file and n

[2017-10-03 10:32] davask commented on #662
Hi I tried :
[code]
as well as :
[code]
with :
[code]
I cannot connect to the endpoint, any ideas ?

[2017-10-03 12:04] deviantony commented on #662
@davask is that related to this issue?

[2017-10-03 12:06] davask commented on #662
Yes

[2017-10-03 12:06] deviantony commented on #1258
Actually, this is a bug related to the UI state management. The version number displayed is persisted in the browser cache, you just need to either clean your browser cache to update it (or use a private navigation session).

I'm working on a overhaul of the state management that should fix this.

[2017-10-03 12:08] deviantony commented on #662
I see that you're mounting the socket via `-v /var/run/docker-userns.sock:/var/run/docker.sock ` when running the Portainer container, why do you try to access it via `-H tcp://192.168.0.1:2375` ? You can use the local option during the init after accessing portainer.

[2017-10-03 12:12] davask commented on #662
Any combinaison as follow is not working :
- docker.sock or docker-userns.sock
- with/without tcp access like -H tcp://192.168.0.1:2375

I don t know what to test next to fix it

[2017-10-03 12:21] deviantony commented on #662
From what I can see in the comment https://github.com/portainer/portainer/issues/662#issuecomment-288864212

* You should remove the bind mount to the socket.
* You should make sure that your containers can access the endpoint by IP (also make sure that the Docker API is available via TCP on that address)

[2017-10-03 12:24] nlybe opened #1259 "Feature Addition - Deactivate managerial privileges for groups or for non-administrators"
It would be nice on Portainer UI to be able to deactivate certain managerial privileges for specific groups or for non-administrators, such as:
- scale services
- stop/start containers
- create/remove volumes, networks etc
- change environment variables
- ....

Also to be able to remove menu items for specific groups or for non-administrators, like admin area is not accessible to non-administrator

[2017-10-03 12:50] davask commented on #662
I don t know how to do that.
Apparently I need to update  DOCKER_OPTS="--host tcp://0.0.0.0:4243 --host unix:///var/run/docker.sock" but I already use port 4243 with a container called crashplan.

[2017-10-03 13:05] deviantony commented on #662
Well, you can specify any port you want. Standard value is `2375`, so just use `--host tcp://0.0.0.0:2375`.

[2017-10-03 13:25] davask commented on #662
I tried that, it doesn t work

[2017-10-03 13:27] deviantony commented on #662
Please join us on Slack for some live support as it will be easier to communicate.

[2017-10-03 13:28] davask commented on #662
Ok, thx

[2017-10-03 19:12] deviantony commented on #1259
As commented in https://github.com/portainer/portainer/issues/235#issuecomment-312409865, yes and yes ! This is definitely something we want to add.

We'll track fine-grained access control in this issue.

Should also solve #69 once implemented.

[2017-10-04 06:40] #1040 closed

[2017-10-04 13:02] svrooij commented on #1047
As an addition to this, portainer also marks images used by a hidden container as Unused.

I'm running a lot of containers but don't want to see the portainer container, so I set it to hidden (in the settings, with a label), but that doesn't mean the image is unused.
<img width="1242" alt="screen shot 2017-10-04 at 14 56 47" src="https://user-images.githubusercontent.com/1292510/31177019-0a48048e-

[2017-10-04 21:50] schmidlop opened #1260 "unable to connect to docker endpoints"
**Description**
Portainer gives error 'toast' when logging in:
"Unable to connect to the docker endpoint"

2 things look suspicious to me below, but I don't know what to do about them if anything, any help would be appreciated.

1. dockerd seems to be running with -H switch
2. oddly the logs show getsockopt: connection refused when portainer tries to connect to same docker where portainer is runni

[2017-10-04 22:12] cnaslain commented on #485
Hi all.

I'm also using the nginx-proxy that auto-generate nginx configuration according to environment variables + Let's Encrypt SSL + a htpasswd group for BASIC AUTH.
I've tried to modify the default nginx.tmpl file by adding an additional boolean but without success. It could be great to add an example ^^

Here is what I've tried (and does not work):
- docker-compose.yml
    portainer:
      im

[2017-10-04 22:18] cnaslain commented on #754
Hi all.

I'm using the nginx-proxy that auto-generate nginx configuration according to environment variables + Let's Encrypt SSL + a htpasswd group for BASIC AUTH.
I've got the same issue and read the new documentation about adding an additional location for /api/websocket (https://portainer.readthedocs.io/en/stable/faq.html#how-can-i-configure-my-reverse-proxy-to-serve-portainer).
I've tried to m

[2017-10-05 04:48] GetchaDEAGLE commented on #768
@deviantony, I will paste the logs when I get access to the server again and provide further details. Stay tuned.

[2017-10-05 07:22] deviantony commented on #1260
Hey @schmidlop

It seems that your Docker engine is not exposing the Docker API over TCP (from the line `├─1134 /usr/bin/dockerd -H fd://`). This is probably why Portainer cannot access it using the `172.31.46.227:2375`.

I notice that you're running a Swarm cluster, why not deploy Portainer as a service in the Swarm?

You can use the following command to deploy Portainer as a service:

[code]

*N

[2017-10-05 07:41] colthreepv commented on #754
@cnaslain try pushing a file inside `nginx-proxy` [like I am suggesting in the above comment](https://github.com/portainer/portainer/issues/754#issuecomment-292952649)

This also let's you use an unmodified version of nginx-proxy

[2017-10-05 13:45] sentinelcross commented on #461
This would really bring Portainer on par with UCP - the fine-grained ACLs for services and thereby the tasks and their logs/console - making it incredibly useful for the dev teams. 👍

[2017-10-05 14:48] slotlocker2 commented on #461
Tried @bvis's solution and it works perfectly well, albeit an issue with nodes re-registering with a different ID which throws off the ACLs a bit. But as a POC it works very well with the node auto registration and routing the commands through the remote Docker sock. Guess, can have the container view features on tasks with this system in place.

[2017-10-05 15:06] MorphBonehunter commented on #56
@ibnesayeed maybe i understand this wrong but i would say this is a little bit out of scope.
for my understanding registry management is for viewing/delete docker images inside an private registry (something like [this](https://github.com/Evedel/bow)).
what you want i think is an CI/CD Tool like [drone](https://github.com/drone/drone) or the build in from gitlab.

[2017-10-05 15:09] acejam commented on #56
@ibnesayeed I would have to agree with @MorphBonehunter. If you're setting up a private Docker registry and using Portainer to help manage it, odds are you're also running a build server for CI/CD, which is where images should be built in the first place.

[2017-10-05 15:54] ibnesayeed commented on #56
I understand that the process of building the image itself is out of scope of Portainer, that is the job of a CI system, but the same is true about the registry too. Portainer is not implementing yet another Docker registry, it is just going to provide a management interface on top of existing registries, so why can't it provide interface for build systems. In my opinion, limiting the definition o

[2017-10-05 17:35] cnaslain commented on #754
@colthreepv Thanks for your advice. I've tried with this code and this doesn't work. I am redirected to an auth page... wired cos I've used the --no-auth flag.

BUT... I've also found that this is probably a browser-dependent issue.
- This docker-compose settings does NOT work with Firefox 56.0 (64bits) under Windows 10 x64
- ... but it DOES work (with or without this code) if using Chrome 61.0.31

[2017-10-05 19:43] Southclaws opened #1261 "Cannot set property <port>/tcp of undefined while editing container port mapping"
**Description**

Trying to expose ports on an already running container, looks like a javascript error:

![image](https://user-images.githubusercontent.com/1636971/31248952-7d66b354-aa0d-11e7-9e7a-0bd799d5283b.png)

**Steps to reproduce the issue:**

1. Deploy a container with no ports mapped
2. Click Edit/Duplicate
3. Click map additional port
4. Enter some value into both fields, 80 for example

[2017-10-05 20:58] schmidlop commented on #1260
That worked. Thanks very much!

[2017-10-05 20:58] #1260 closed

[2017-10-06 05:35] deviantony commented on #754
@cnaslain have you tried using a private navigation tab under firefox?

[2017-10-06 06:47] cnaslain commented on #754
@deviantony You're right. It does work under Firefox 56.0x64 in a private tab; and once everything cleaned (cookes, cache, auth etc.) it does also work normally under Firefow 56.0x64 without the private tab. No idea what was wrong. Right now, everything works fine; and no need of the additional nginx stuffs( proxy_set_header...)
Thx!

[2017-10-06 07:09] deviantony commented on #754
@cnaslain ok, that's a known issue related to the application state being stored in the browser.

Related to #1258

[2017-10-06 07:32] cnaslain commented on #754
@deviantony Good to know; Thx.

[2017-10-08 09:09] Duvel opened #1262 "Portainer as a service in swarm mode crashes during host reboot"
I run portainer as a service with docker swarm mode in a single node swarm. When I reboot the host system, I find very often that I have to manually rescale/restart the portainer service to get portainer started.

**Steps to reproduce the issue:**

1. Run portainer as a service in docker swarm mode
2. Reboot the host
3. Try to load portainer in a web browser

I expect it to be still running after

[2017-10-08 09:11] Duvel commented on #1262
The logging of a container that failed:

portainer.1.4q8jkym262u9@pi    | 2017/09/03 09:17:39 Starting Portainer on :9000
portainer.1.4q8jkym262u9@pi    | 2017/09/03 09:20:14 http error: Unable to find resource (code=404)
portainer.1.4q8jkym262u9@pi    | 2017/09/03 09:21:03 http error: strconv.Atoi: parsing "containers": invalid syntax (code=400)
portainer.1.4q8jkym262u9@pi    | 2017/09/03 09:21:0

[2017-10-08 11:11] deviantony commented on #1262
@Duvel could you give us the command you use to deploy Portainer as a service? By default Swarm should reschedule the service automatically.

Thanks for the logs but they do not give any indication related to a potential crash. What is the output of `docker service <PORTAINER_SERVICE_NAME> ps` after a reboot? And the output of `docker ps -a` ?

[2017-10-08 12:00] Duvel commented on #1262
I just did a reboot and it failed again.

I used an application bundle to deploy this service:

[code]

In the output from docker ps -a there are no portainer related containers...

This is the output from docker service ps remco_dockerui 👍
[code]

I find it also interesting, that swarm doesn’t automatically reschedule it. I have this problem on a raspberry pi with hypriot os, but I also encounter

[2017-10-08 15:40] deviantony commented on #1262
@Duvel could you give a try using the latest version? Use `linux-arm-1.14.3`

[2017-10-08 17:08] Duvel commented on #1262
Just tried, same result...

[2017-10-08 17:59] deviantony commented on #1262
@Duvel

Does this happens 100% of the time? Do you have this issue with other services?

[2017-10-08 19:12] rgl opened #1263 "Container console rendering issues"
The container console has weird black lines between each terminal line:

![image](https://user-images.githubusercontent.com/43356/31319904-77d506a4-ac63-11e7-9c00-0e6a247d0ae0.png)

I'm using Portainer 1.14.3 and Google Chrome (Firefox is the same) that is running on Ubuntu 17.04 (this also happens on Windows Server 2016).

[2017-10-08 19:24] ncresswell opened #1264 "Docker Insprect"
The should be a way to obtain “triage” or diagnostic information for a stopped container.

A lot of information is available through Docker Inspect, and this information should be able to be obtainer via Portainer.

Ideally a button is added that can call docker inspect and show the result in either a popup, or seperate page.

[2017-10-08 19:25] #1264 closed

[2017-10-08 19:26] ncresswell opened #1265 "Docker Inspect"
The should be a way to obtain “triage” or diagnostic information for a stopped container.

A lot of information is available through Docker Inspect, and this information should be able to be obtained via Portainer.

Ideally a button is added that can call docker inspect and show the result in either a popup, or seperate page.

[2017-10-08 22:19] guyht commented on #1252
I am seeing this same issue.  Looks like auth is disabled, but it is still showing the login page.  When you try to login it gives an Authentication is disabled error:

`sudo docker logs -f 2a2d1de58f47c468ea354a90145e9f4ba0a3d9491d6bed2d8681c4f3a703b32e
2017/10/08 22:17:09 Starting Portainer 1.14.3 on :9000
2017/10/08 22:17:13 http error: User not found (code=404)
2017/10/08 22:17:20 http error:

[2017-10-09 06:30] deviantony commented on #1252
@guyht might be a browser cache issue, can you try within a private navigation tab in your browser?

[2017-10-09 06:47] deviantony commented on #709
Duplicate of https://github.com/portainer/portainer/issues/516

[2017-10-09 06:47] #709 closed

[2017-10-09 08:06] buluxan opened #1266 "my services logs is not showing on portainer"
Hi all ,

i just want to report regarding my issue today

docker version 17.06.0-ce

step reproduce
1) upgrade version 1.14.2 to 1.14.3 portainer -> before that using 1.14.2 is not problem , i have checked in this morning the services logs is not showing
2) see the container portainer logs -> able to see the logs : 2017-10-09T06:26:12.876862360Z 2017/10/09 06:26:12 http: multiple response.WriteHea

[2017-10-09 15:16] capur16 opened #1267 "[Feature request] Add support for --add-host option in template"
Docker run can set --add-host. Is there a way to add a custom host-to-IP mapping in custom template?

[2017-10-09 18:15] Duvel commented on #1262
I guess it happens every time, but normally you don’t reboot very often. Some other services have also troubles, but these are more cpu/mem intensive (influxdb).

It is just irritating that it is portainer, with which I control docker. A little bit chicken and egg...

A swarm with a single node isn’t the normal use case, so maybe let’s not invest to much time here. I was just thinking that maybe a

[2017-10-09 18:26] deviantony commented on #1262
I would investigate on the Docker/Swarm side first and check if everything is OK with your setup first.

It is actually a correct use case, not sure that a health-check would help here. A health-check requires a container to be running to be able to check health status. Normally, Swarm should automatically re-schedule containers.

I'll close this issue for now as I don't think this is related to P

[2017-10-09 18:26] #1262 closed

[2017-10-09 18:30] deviantony commented on #1267
I'd accept a PR for that, I believe it is fairly simple to implement.

We might be able to add this in the template format with something similar to:

[code]

[2017-10-09 18:32] deviantony commented on #1266
We solved that issue by upgrading your Docker setup to 17.09 right? I'll close this issue as this was also not working when you used the Docker CLI, meaning that was related to your Docker setup and not Portainer itself.

[2017-10-09 18:32] #1266 closed

[2017-10-09 18:36] deviantony commented on #1263
Hey @rgl

I notice this myself when using Windows containers. I cannot reproduce this on Linux containers. Can you confirm this?

[2017-10-09 20:23] WTFKr0 commented on #1178
I think the restart policy is not implemented for services cause swarm orchestrator do the job. You just have to define the replicas and the constraints, and swarm take care of that.

You can try to run a nginx service with one replica, then  `docker rm -f {container}`. Swarm will rerun the container to satisfy the one replica schedule rule

[2017-10-09 20:31] ncresswell commented on #1178
Not correct...

Cli -> Docker service create —restart-condition any/none/on-failure

Rgds,

Neil Cresswell

On 10/10/2017, at 9:24 AM, Thomas Krzero <notifications@github.com<mailto:notifications@github.com>> wrote:

I think the restart policy is not implemented for services cause swarm orchestrator do the job. You just have to define the replicas and the constraints, and swarm take care of that.

[2017-10-09 20:39] WTFKr0 commented on #1254
This should be extended to all options :
[code]

[2017-10-09 20:44] WTFKr0 commented on #1178
Oh yeah, default values are so good to me !
From the docs :
--restart-condition : Restart when condition is met (“none”\|”on-failure”\|”any”) (default “any”)
--restart-delay : Delay between restart attempts (ns\|us\|ms\|s\|m\|h) (default 5s)
--restart-max-attempts : Maximum number of restarts before giving up
--restart-window : Window used to evaluate the restart policy (ns\|us\|ms\|s\|m\|h)

[2017-10-09 20:52] dcferreira commented on #1178
Yeah, I have an uncommon use case in which I don't want my containers to restart. It's possible to change the restart condition after creating the service, but that's not very user friendly.

[2017-10-10 05:18] deviantony commented on #1254
I think we should only focus on target here to avoid cluttering the UI? @ncresswell thoughts?

[2017-10-10 05:25] ncresswell commented on #1254
Agree

Rgds,

Neil Cresswell

On 10/10/2017, at 6:18 PM, Anthony Lapenna <notifications@github.com<mailto:notifications@github.com>> wrote:

I think we should only focus on target here to avoid cluttering the UI? @ncresswell<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ncresswell&d=DwMCaQ&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=0fx0h4vB56iTLpw2McH1ZD6TqG_QGpbggVOB-PfMJpM

[2017-10-10 07:50] capur16 commented on #1267
would be great thanks

[2017-10-10 09:22] open1234 opened #1268 "Can you explain the difference between the master branch and the feat807-i18n branch?"
Can you explain the difference between the master branch and the feat807-i18n branch?
1. is there any difference in function?
2. will you release the Chinese version?
3. is the branch feat807-i18n stable?
Thank you

[2017-10-10 09:30] WTFKr0 commented on #1268
It's a Work in progress
The related PR is here : https://github.com/portainer/portainer/pull/1134

[2017-10-10 09:44] deviantony commented on #1268
The master branch is the stable version of Portainer.

As @WTFKr0 specified, the `feat807-i18n` is currently marked as a work-in-progress, meaning it's not fully functional yet.

It contains some work on the internationalization of Portainer but unfortunately I'm working on other priorities right now so I cannot work on it. Also, this task is really time consuming as it requires to insert placehol

[2017-10-10 09:44] #1268 closed

[2017-10-10 09:47] open1234 commented on #1268
Thank u

[2017-10-10 11:33] jeinwag commented on #431
Unix sockets can be forwarded over SSH connections. So I guess the idea is to enable portainer to automatically create SSH tunnels and forward the docker socket. E.g. given the url `ssh://user@server:/var/run/docker.sock` portainer would connect to `/var/run/docker.sock`  on the host `server` via an SSH tunnel. This would spare you from having to expose the docker API via TCP.

[2017-10-10 20:00] rgl commented on #1263
I just tried on my [rgl/docker-swarm-cluster-ubuntu-vagrant](https://github.com/rgl/docker-swarm-cluster-ubuntu-vagrant) and it has the same problem (I used a [bash the script to show colors](https://askubuntu.com/a/279014)):

![image](https://user-images.githubusercontent.com/43356/31407706-be2dcb9a-adfd-11e7-8752-f64ea62c7a96.png)

[2017-10-10 20:42] jamesmr89 opened #1269 "Portainer unaccessable when primary endpoint is down"
**Unable to access portainer UI when primary endpoint is offline**

**Steps to reproduce the issue:**

1.  Configure portainer with multiple endpoints
2.  Disable the primary endpoint
3.  Attempt to login

Not 100% sure what should be expected, but I'd say just attempt to show the next endpoint in the list that is accessible perhaps?

**Technical details:**

* Portainer version 1.14.3:
* Target Do

[2017-10-10 21:06] jjesudassbah commented on #1254
Also, When docker config functionality is implemented, can target be added to them as well?

[2017-10-11 05:46] deviantony commented on #1254
@jjesudassbah this will be part of another issue :-)

[2017-10-11 05:47] deviantony commented on #1263
@rgl got a container that I could re-use to do some tests?

[2017-10-11 05:49] deviantony commented on #1095
Duplicate of #827

[2017-10-11 05:49] #1095 closed

[2017-10-11 07:31] tufand commented on #463
docker run -d -p 9000:9000 --restart always --name portainer -v /opt/portainer-data:/data -v /var/run/docker.sock:/var/run/docker.sock portainer/portainer

yep ! thanks for tricks

[2017-10-11 07:48] rgl commented on #1263
@deviantony sorry, what container do you mean/want?

[2017-10-11 08:11] deviantony commented on #1263
Oh don't worry, I was able to reproduce this using the one liner:

[code]

[2017-10-11 10:09] tfenster opened #1270 "Feature request: allow defining credentials for private registries in templates"
It seems like there is no way to add authentication for private registries to templates. I would see two possibilities:

1. Reuse the configured authentication if a registry with the same URL is already configured in portainer
2. Allow to set authentication in templates

I would hugely favor 1 as 2 would mean that I'd have to configure authentication for every template using the same registry and

[2017-10-11 12:45] deviantony commented on #1269
Indeed, we should be able to authenticate against a healthy endpoint. We should figure out the UX for this first, should we prompt to select another endpoint if the primary is not available?

cc @ncresswell what's your thoughts on this?

[2017-10-11 12:46] deviantony commented on #1270
Yes, we should re-use the configured registry if the registry URL specified in the template matches a registry that is defined in Portainer.

[2017-10-11 21:09] vidschofelix commented on #1250
I think i have the same problem...

If you try to modify/replace a container and try to switch the network your container will be added to both networks.
Example: If your container was in 'bridge' and you select 'stupid' as network it will result in a container attached to 'bridge' and 'stupid'. Sorry for the names, this was my testcase. Here the resulting Network-part of the GET-Request against /

[2017-10-11 23:00] WTFKr0 commented on #1233
After some tests, I think this is related to the local scope of the driver
And it's totally not a portainer issue as I produce same thing with docker commands

The volume drivers are released under a scope value (local or global)
The local ones are designed to be used only with standalone containers (not swarm services)
If we attach a such volume to a swarm service, the tasks will use existing nam

[2017-10-11 23:37] ncresswell commented on #1233
Right, so local-persist driver should be replaced with one that has a global scope..

Rgds,

Neil Cresswell

On 12/10/2017, at 12:01 PM, Thomas Krzero <notifications@github.com<mailto:notifications@github.com>> wrote:

After some tests, I think this is related to the local scope of the driver
And it's totally not a portainer issue as I produce same thing with docker commands

The volume drivers ar

[2017-10-12 03:41] opera443399 opened #1271 "[FEATURE REQUEST] add a console button on 'Service details > Tasks > Task details' page"
**Intro**
as we discussed on #1242
Service S1 have N Containers, we want to open each Container's Console, things become more complicated when I know #461 (seems as no due date), maybe I should do sth. as the first step.

I want to add a console on 'Service details > Tasks > Task details' page

**Changes I made**
1. on 'Service details > tasks' page, open 'Task details' with new tab.
2. on 'Task d

[2017-10-12 05:58] deviantony commented on #1271
What if the endpoint of the worker is not available? The UX is quite bad indeed, I reckon that's a workaround but right now, I'd rather not have this implemented this way.

The work on #461 is definitely the way to go here, though as our dev funds & resources are limited, it's not a priority at the moment.

I'll close this issue as this is not the way we want it to be integrated in Portainer. I kn

[2017-10-12 06:21] opera443399 commented on #1271
@deviantony thanks for letting me know the work on #461 is definitely the way to go.
I know it's not the priority at the moment, just a way to show what kind of feature we might need in the future.

And I'm new to open issue and PR on github, so I wonder if this is the right way to open an issue and PR here , after reading this: [contributing](https://github.com/portainer/portainer/blob/develop/CO

[2017-10-12 06:27] deviantony commented on #1271
Hey @opera443399

This is definitely the right way to open an issue and PR. Tho, to avoid any work that would not be merged (such as this one), the usual flow is the following:

* You open an issue and report a bug or ask for a feature request
* We discuss it (**this step is important**) both functionally and technically and we agree on a solution
* You (or any contributor) open a new PR with an i

[2017-10-12 06:31] deviantony commented on #1250
@vidschofelix yes you can use the connected network table to join/leave any network without re-creating a container.

Are you reporting an issue with the ability to re-create containers and network selection?

[2017-10-12 06:47] ncresswell commented on #1233
Thomas,

From the cli, try the following:

Docker service create —mount type=volume,source=swarmvol,destination=/data,volume-driver=local-persist,volume-opt=mountpoint=/volume/portainer portainer/portainer

Obviously, you should change certain areas..

Rgds,

Neil Cresswell

On 12/10/2017, at 12:01 PM, Thomas Krzero <notifications@github.com<mailto:notifications@github.com>> wrote:

After some tes

[2017-10-12 09:47] deviantony opened #1273 "A resource control must be linked to an endpoint"
Portainer uses the concept of Resource Control to limit access to specifics resources to a set of users/teams.

At the moment, a resource control is associated to a resource identifier only (which is a Docker identifier). Due to "uniqueness" of the Docker identifiers, no conflicts have been raised till now, but if we'd like to put some UAC on other kind of resources (say stacks for example), this

[2017-10-12 13:36] vidschofelix commented on #1250
I think there is a problem when trying to recreate a container in a different network, bc. the container will be attached to both (old and new) networks.

[2017-10-12 13:50] alexanderadam commented on #935
As my question is more or less related to this issue:
Is there at the moment something persisted at all or reread every time?

I would already be lucky if I could dump/export the configuration (ENV vars, mount points etc) manually via CLI/Docker/or similar. I guess that something should be available via Docker already but I am unable to find anything (maybe I wasn't very good at searching)!?

[2017-10-12 14:45] sylvainmouquet commented on #394
+1

[2017-10-12 15:33] JackHull opened #1274 "Invalid data request format when creating service with network"
**Description**

Creating a service using a network results in the error "Invalid data request format"

**Steps to reproduce the issue:**

Create a new service
Choose a network
Hit "Create service"

**Technical details:**

Portainer version: 1.14.0
Target Docker version (the host/cluster you manage): 17.09.0-ce, build afdb6d4
Platform (windows/linux): Debian 8
Command used to start Portainer: dock

[2017-10-12 15:44] deviantony commented on #935
@alexanderadam have you tried the `docker inspect` command?

[2017-10-12 15:45] deviantony commented on #1250
@vidschofelix interesting, could you open a separate issue for that bug?

[2017-10-12 15:54] deviantony commented on #1274
Hi @JackHull

Thanks for the report, unfortunately I'm not able to reproduce this. Could you give me more details? Also, could you try with the latest version of Portainer (1.14.3) ?

[2017-10-12 21:15] vidschofelix opened #1275 "Container Duplication Networkselection gets appended instead of replaced"
**Description**

If you try to recreate or duplicate a container and select another bridge Network (not sure if this only happens for bridge-networks) the selected network will be appended instead of replaced

**Steps to reproduce the issue:**

1. Create a new bridge Network
1. Open an existing container attached to a Bridge
2. Select Duplicate/Edit
3. Under Network select the newly created Bridge

[2017-10-12 21:16] vidschofelix commented on #1250
@deviantony done: #1275
Thanks :)

[2017-10-13 05:35] deviantony commented on #1275
Hey @vidschofelix

Thanks for the report, I was able to reproduce this.

[2017-10-13 06:27] alexanderadam commented on #935
@deviantony is it possible to recreate containers automatically or apply the JSON output somehow?

[2017-10-13 06:33] deviantony commented on #935
@alexanderadam have you played with our container duplication feature? Might solve your problem as well.

[2017-10-13 10:30] alexanderadam commented on #935
yes I have. It works flawlessly for me but doesn't solve my problem. A proper export and import for offsite backups would be perfect. Now I have something but I'm still open for better solutions. 😉

[2017-10-14 12:10] vidschofelix commented on #1097
Can you test this again? I tested this today on my Andoid 7.0 /w Chrome, input works:
![photo_2017-10-14_14-09-55](https://user-images.githubusercontent.com/8752158/31575531-643f44ee-b0e9-11e7-965c-a85327e4bf28.jpg)

[2017-10-15 07:10] zsluedem opened #1277 "portainer development error"
**Description**

I want to develop some customs feature on portainer.
SO I tried https://portainer.readthedocs.io/en/latest/contribute.html to run dev portainer.

When I tried to run `grunt run-dev`, some error occured.
below is the output.
[code]

It seemed like some of the package is missing.

I tried to connect ` https://golang.org/x/crypto/bcrypt?go-get=1` one of the resource . But it redirect

[2017-10-15 07:30] G07cha commented on #1181
Speaking of tmpfs volume creation I wasn't able to find an option to define this type while creating volume or container using API.

[2017-10-15 07:31] deviantony commented on #1277
Hi @zsluedem

From the logs, it looks like that this is an issue with your network:

[code]

I cannot reproduce this locally, I recommend you to try again. I'll close this issue as it's actually working.

[2017-10-15 07:31] #1277 closed

[2017-10-15 07:33] deviantony commented on #1181
@G07cha Have a look at the `TaskTemplate.ContainerSpec.Mounts` field in the ServiceCreate operation: https://docs.docker.com/engine/api/v1.30/#operation/ServiceCreate

[2017-10-15 07:35] G07cha commented on #1181
@deviantony, yeah, I've deleted my previous comment because I've also found that it's possible to do through `ContainerCreate.HostConfig.Mounts`, so I'll be looking into that.

[2017-10-15 09:34] G07cha commented on #1265
Is raw response will be ok or it should be represented in a different manner?

[2017-10-15 10:06] deviantony commented on #1265
@G07cha if you want to contribute on this, let's start with a raw response first and we'll check how we can enhance after that.

[2017-10-15 15:10] svrooij opened #1281 "Scroll to end button for logs"
I've got some long running containers and scrolling all the way to the bottom of the log sometimes takes a long time.

Would it be easy to implement some javascript button that scrolls the log file all the way to the bottom?

[2017-10-15 15:31] deviantony commented on #1281
This is a duplicate (somehow) of #430 that will be taken into account when working on #317.

[2017-10-15 15:31] #1281 closed

[2017-10-15 17:25] deviantony commented on #257
#1280 has just been merged ! Support for `docker stack deploy` is now available in Portainer. `docker-compose` is not supported though.

[2017-10-15 17:30] deviantony commented on #1273
After the implementation for stacks in #1280, a unique identifier is generated for the stacks (based on the Swarm ID and the stack name). This is not required anymore.

[2017-10-15 17:30] #1273 closed

[2017-10-16 06:20] opera443399 commented on #1277
@deviantony @zsluedem

I know this one.
as I come from China, the GFW will block some URLS, such as the key word 'google', and golang.org is an alias for xxx.google.com:
[code]
So, visit golang.org will also been blocked.
Here is my solution:
[code]

[2017-10-16 09:29] WTFKr0 opened #1284 "Stacks List - Bad Pagination"
I detect a problem in pagination in stacks list

I have 3 pages of stacks, all external
I add a stack with portainer (internal)
This stack is present on page 2
When I filter to not display external stacks, pagination is not updated, so i got page 1 and 3 empty, and page 2 contains only my internal stack

Expected:
Pagination updated, and stack appear on first page

[2017-10-16 10:55] mmaster23 commented on #1097
I've retested this on Chrome on Android v61.0.3163.98 with Portainer 1.13.6 on Linux and 1.13.5 on Windows Server.

It now works just fine.

[2017-10-16 12:20] krisee99 opened #1285 "Angular error on using template environmental variable type container"
**Description**

Angular js error upon creating a container from a custom template with "bridge" option selected as Network type while adding a container as enviromental variable

**Steps to reproduce the issue:**
For this case I'll be using two database templates

1. Open up the development console of your browser
2. Create a mysql container with network type bridge from the JSON provided below
3

[2017-10-16 14:31] cgoeller opened #1286 "Portainer 1.15.0 without docker is listing the filesystem instead of showing the UI in the browser"
**Description**
I want to run portainer without docker as described in the documentation at
https://portainer.readthedocs.io/en/stable/deployment.html#without-docker

The UI is not working anymore. It is listing the filesystem only.
It worked with version 1.14.3

**Steps to reproduce the issue:**

1. Download portainer
[code]
2. Start portainer
[code]
3. Open UI at http://localhost:9000

**Technic

[2017-10-16 16:02] dbichko commented on #597
Any decision on this request?

It's essential for me as well - in my case I was looking for "--shm-size" ("ShmSize") and "--cpu-shares" ("CpuShares").

It's not something that most users would need - though I think it's way more than 1% that would - but it's a showstopper for those that do. Even with the API constraints it can be a reasonably simple implementation: a single text field that accepts

[2017-10-16 16:20] deviantony commented on #1097
Great, I'll close this issue.

[2017-10-16 16:20] #1097 closed

[2017-10-16 16:23] deviantony commented on #597
No real decision here, my point of view is that all docker run options should be available inside the container creation view. It's just a matter of UX/UI design.

[2017-10-16 16:46] deviantony commented on #1285
Thanks for the report, I was able to reproduce this.

[2017-10-16 16:54] #1285 closed

[2017-10-16 16:55] deviantony commented on #1285
Fixed ! You can use our unstable build via `portainer/portainer:develop` (linux amd64 only) until we release 1.15.1 with the fix.

[2017-10-16 18:42] krisee99 commented on #1285
Wow, that was fast, thank you very much!
Also, I'm glad that I could contribute to this awesome software!

[2017-10-16 19:04] deviantony commented on #723
As discussed in #1282, we're going to reject this feature request as we don't see the added value for the user.

We're going to change the endpoint selection system in the near future, and we'll think about this during the UX design step.

[2017-10-16 19:04] #723 closed

[2017-10-16 20:49] spezzino commented on #1171
this is already done
`endpoint.URL = $filter('stripprotocol')(endpoint.URL);`

[2017-10-17 00:46] zsluedem commented on #1277
@opera443399 Thanks !!!! help a lot!

[2017-10-17 06:00] deviantony commented on #1171
It's done in the `EndpointController` but not in the `EndpointsController`.

[2017-10-17 06:05] deviantony opened #1290 "Enhance the user experience when creating a service with deployment constraints"
Docker allows you to deploy a service on specific Swarm nodes by using labels and constraints: https://docs.docker.com/datacenter/ucp/2.2/guides/admin/configure/add-labels-to-cluster-nodes/#deploy-a-service-with-constraints

Portainer already support this by specifying a set of pair of labels when deploying a service (label name and label value).

I believe that the UX can be enhanced by listing a

[2017-10-17 06:45] #1247 closed

[2017-10-17 06:56] #1265 closed

[2017-10-17 07:16] cgoeller commented on #1286
Hi deviantony,
it works only if the current working directory is /opt/portainer and if it is started like this:

`# ./portainer --no-auth -H unix:///var/run/docker.sock --assets .`

[2017-10-17 07:42] G07cha commented on #1256
I wasn't able to find much of existing solutions for Go because it's usually handled on balancer's level, the only package that I've found called [defender](https://github.com/tsileo/defender), it's really small and supports only ban for a fixed time. If we need something more complex, I'd like to work on it.

[2017-10-17 08:00] bmanojlovic opened #1291 "Starting of portainer outside of docker - systemd, rpm packaging"
As in my use case i am using portainer outside of docker,
to be able to make it resilient and to be started as service, systemd service unit file is required.
Regarding distribution of portainer making simple rpm package is preferred  way of doing it (for me at least)
In future i could probably create basic debian based package

[2017-10-17 08:18] bmanojlovic commented on #1291
as stated in issue #1291 this PR adds rpm based packaging and service startup using systemd service control daemon

[2017-10-17 21:33] si458 opened #1296 "Portainer do not list all associated volumes of a container"
**Description**

when you create a container and you want to use a new volume(not created before hand)
the dropdown box only shows 'select a volume' when personally it should say 'create a new volume'

also when the containers created, the volume isnt visible in the container until you edit the container and it then shows it there

**Steps to reproduce the issue:**

1. load add container tab
2. ad

[2017-10-18 02:39] zwx168238 commented on #1047
when i try to remove Unused docker images got the below

2017/10/18 02:31:27 http: panic serving 192.168.65.151:33078: interface conversion: interface {} is map[string]interface {}, not []interface {}
goroutine 44 [running]:
net/http.(*conn).serve.func1(0xc420276140)
	/usr/local/go/src/net/http/server.go:1721 +0xd0
panic(0x9cace0, 0xc4202f2d80)
	/usr/local/go/src/runtime/panic.go:489 +0x2cf
github

[2017-10-18 08:31] 1138-4EB commented on #1286
My two cents: this is the expected behaviour because `-a, --assets="/"`, and assets are served raw. Then, if portainer is run outside of a docker container it defaults to serve the root of the filesystem it is being run on.

Since the backend is written in Go, I'd say that something like this might (partially) fix it:

[code]

See: https://stackoverflow.com/questions/13302020/rendering-css-in-a-go

[2017-10-18 08:59] si458 commented on #1296
![portainer-volume-issue](https://user-images.githubusercontent.com/765314/31709804-fe0bae56-b3ea-11e7-8a8c-08a301c6e36e.gif)

[2017-10-18 09:26] 1138-4EB opened #1297 "Network details page error (browser console)"
**Description**

When bringing up a stack composed of two containers and two external networks, the information shown by portainer is not consistent. The details page of one of the networks shows the list of connected nodes. The other does not. The console in the browser thwrows an error.

**Steps to reproduce the issue:**

1. Create a directory and paste this `docker-compose.yml` file:

[code]

2

[2017-10-18 15:37] tevaum commented on #594
I'm facing the same problem here. Tried those solutions but nothing works for me.
Something I noted is that it breaks only in swarm. I was able to run it locally at the swarm-manager via docker-compose using the nfs mount successfully. :/

[2017-10-18 15:45] #1117 closed

[2017-10-18 15:59] deviantony commented on #1286
Yes, this is caused by the default value of `/` for the assets directory. Note that the `StackManager` (https://github.com/portainer/portainer/blob/develop/api/exec/stack_manager.go) also uses the path to the assets to determine where the Docker binary is stored.

I believe we can fix this by defaulting to a value of `/app` for the asset directory and COPY all the Portainer files into the `/app` d

[2017-10-18 16:02] deviantony commented on #1047
@zwx168238 could you give me reproduction steps? I'm unable to reproduce this. Do you have any error message in app?

I believe the error message that you see in the logs is not related to images, but to services...

[2017-10-18 16:08] #1291 closed

[2017-10-18 16:27] lrezende opened #1299 "UI error on worker endpoint selection"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Every time you those an worker endpoint the UI shows you an failure: "Unable to retrive stacks"

![image](https://user-images.githubusercontent.com/2107519/31730099-4193f7ac-b407-11e7-8e23-516445b8217b.png)

**Steps to reproduce the issue:**

1. Deploy portainer in swarm m

[2017-10-18 17:10] ivandir commented on #943
@WTFKr0 I have very basic use cases than you since I see other tools like Splunk or ELK helping with log parsing and alerts. Since Portainer is a one stop show for monitoring our Swarms I just would like to see what the current state of each container is, their usage or resources and basic alerting similar to what @pascalandy requested.

[2017-10-18 17:44] deviantony commented on #1296
I don't think the problem is coming from the container-creation view...

As you can see in the Dockerfile for Caddy, it automatically creates 2 volumes in `/root/.caddy` and `/srv`: https://github.com/abiosoft/caddy-docker/blob/master/Dockerfile#L53

Portainer should display information in the container-details view about these volumes tho... which is not the case at the moment. This is the bug.

[2017-10-18 17:50] #1171 closed

[2017-10-19 04:16] jamesmr89 opened #1300 "Stacks create services with timings listed in nanoseconds"
When deploying a stack with the following in the yml:

update_config:
        parallelism: 1
        delay: 1m

In the UI it shows up as:

60000000000

**Steps to reproduce the issue:**

1.  Create stack with a time value set to 1m
2. Deploy stack
3. View the created service

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

**Technical details:**

*

[2017-10-19 04:21] jamesmr89 opened #1301 "Expose healthcheck in service pages"
**Description**

The ability to set/change healthcheck is desirable:

I can now add the options via the stacks feature, but am not able to change the values after initial deployment without getting to the CLI

--health-cmd |   | API 1.25+ Command to run to check health
-- | -- | --
--health-interval |   | API 1.25+ Time between running the check (ms\|s\|m\|h)
--health-retries |   | API 1.25+ Conse

[2017-10-19 04:24] jamesmr89 opened #1302 "Expose both rollback and update configs clearly in services page"
Its not 100% clear what some of the options are, specifically the Order description "Operation order on failure." Appears to be from the rollback options but I believe this is all on the updateconfig section of the API.

I believe these sections should be clearly defined in the UI with all options exposed for update config and rollback config

[2017-10-19 04:26] jamesmr89 opened #1303 "Expose container stop options"
It would be desirable to have these options configurable.

--stop-grace-period |   | Time to wait before force killing a container (ns\|us\|ms\|s\|m\|h)
--stop-signal |   | API 1.28+ Signal to stop the container

https://docs.docker.com/edge/engine/reference/commandline/service_update/

[2017-10-19 05:11] deviantony commented on #1300
Duplicate of #825

[2017-10-19 05:11] #1300 closed

[2017-10-19 05:12] deviantony commented on #1301
Duplicate of #827

[2017-10-19 05:12] #1301 closed

[2017-10-19 05:13] deviantony commented on #1302
Could you give us details on which options are you talking about here?

[2017-10-19 05:22] jamesmr89 commented on #1302
Rollback:

--rollback |   | API 1.25+ Rollback to previous specification
--rollback-delay |   | API 1.28+ Delay between task rollbacks (ns\|us\|ms\|s\|m\|h)
--rollback-failure-action |   | API 1.28+ Action on rollback failure (“pause”\|”continue”)
--rollback-max-failure-ratio |   | API 1.28+ Failure rate to tolerate during a rollback
--rollback-monitor |   | API 1.28+ Duration after each task roll

[2017-10-19 05:35] deviantony commented on #74
I'll close this issue as the UI is actually quite responsive without the wide screen support.

[2017-10-19 05:35] #74 closed

[2017-10-19 05:37] deviantony commented on #93
As stated in https://github.com/portainer/portainer/issues/696, events will be replaced with an audit view. Closing this issue.

[2017-10-19 05:37] #93 closed

[2017-10-19 05:38] deviantony commented on #170
This does not really makes sense, errors in the frontend should be reported in-app and be available for the user to check. This is more related to error handling in the front-end.

[2017-10-19 05:38] #170 closed

[2017-10-19 05:43] deviantony commented on #183
This was fixed.

[2017-10-19 05:43] #183 closed

[2017-10-19 05:52] deviantony commented on #391
Closed as part of partial support for 1.9.

[2017-10-19 05:52] #391 closed

[2017-10-19 05:54] deviantony commented on #399
Closing this discussion, as I specified above Portainer works quite nice when overriding the `command` field in a compose file. No update related to other use cases.

[2017-10-19 05:54] #399 closed

[2017-10-19 05:58] deviantony commented on #450
I'll close this issue as I think that our docs and the endpoint init. process in Portainer is now clear enough for our users. It will also be easier once we'll be able to mount named pipe on Windows: https://github.com/portainer/portainer/pull/1186

[2017-10-19 05:58] #450 closed

[2017-10-19 06:02] deviantony commented on #467
Hi @jbleuzen

I was unable to reproduce this in version 1.15.0. Could you tell me if this is still happening ?

[2017-10-19 06:12] deviantony commented on #916
Related to the `--network-alias` option: https://docs.docker.com/engine/reference/run/#network-settings

[2017-10-19 06:15] deviantony commented on #1161
Duplicate of https://github.com/portainer/portainer/issues/623

[2017-10-19 06:15] #1161 closed

[2017-10-19 06:16] deviantony commented on #487
Closing this issue as Portainer can actually be configured at deployment using CLI flags and there is no need to add a configuration file management (at least, at the moment). Might re-open later.

[2017-10-19 06:16] #487 closed

[2017-10-19 06:22] deviantony commented on #589
I'll close this one as a duplicate of #295

[2017-10-19 06:22] #589 closed

[2017-10-19 06:25] deviantony commented on #608
I believe this should be part of https://github.com/portainer/portainer/issues/943

cc @ncresswell

[2017-10-19 06:26] deviantony commented on #609
Looks like this issue was solved, feel free to re-open if I'm wrong.

[2017-10-19 06:26] #609 closed

[2017-10-19 06:28] deviantony commented on #611
I believe this should be part of #943

cc @ncresswell

[2017-10-19 06:29] deviantony commented on #612
Sorry to have a look at this only now. I'm going to close this issue as it refers to different areas in Portainer, could you open a different issue for each request?

[2017-10-19 06:29] #612 closed

[2017-10-19 06:30] deviantony commented on #651
I believe we can close this issue now. Feel free to re-open if needed.

[2017-10-19 06:30] #651 closed

[2017-10-19 06:33] deviantony commented on #704
Closing this issue as it seems that the problem was solved. Feel free to re-open if needed.

[2017-10-19 06:33] #704 closed

[2017-10-19 06:42] deviantony commented on #768
ping @GetchaDEAGLE

[2017-10-19 06:42] jamesmr89 opened #1304 "New image exists notification"
**Description**

I want portainer to notify me when a newer version of a image exists.  Displayed on the Services List view in a column, with a button to do the force update that is part of item #859.

What I'm looking for is a quick and easy way to look at all my services and see which are out of date, with a single click update button.

(Think Unifi controller)

[2017-10-19 06:45] deviantony commented on #797
I believe that the introduction of the Swarm visualizer solves this problem, closing this issue.

[2017-10-19 06:45] #797 closed

[2017-10-19 06:57] deviantony commented on #818
I believe that this problem was solved with the support of private registries. Feel free to re-open if you have any troubles.

[2017-10-19 06:57] #818 closed

[2017-10-19 07:00] deviantony commented on #886
I'm going to close this issue as I believe the way to go is to use Swarm secrets here.

[2017-10-19 07:00] #886 closed

[2017-10-19 07:04] deviantony commented on #947
With the recent introduction of stack deploy #1280, we allow to retrieve stacks from a git repository. I'll close this issue, feel free to try this new feature and ask for evolutions if you need to.

[2017-10-19 07:04] #947 closed

[2017-10-19 07:07] deviantony commented on #966
Closing this issue as it's referenced in #317

[2017-10-19 07:07] #966 closed

[2017-10-19 07:12] deviantony commented on #1035
I was not able to reproduce this issue, nobody else reported it as well... I'm sorry I'll close this for now, we might be able to re-investigate later.

[2017-10-19 07:12] #1035 closed

[2017-10-19 07:15] deviantony commented on #1094
I'll close this issue as we were unable to reproduce this. Feel free to re-open if needed.

[2017-10-19 07:15] #1094 closed

[2017-10-19 07:16] #1102 closed

[2017-10-19 07:21] deviantony commented on #1141
Duplicate of https://github.com/portainer/portainer/issues/730

[2017-10-19 07:21] #1141 closed

[2017-10-19 07:22] #1158 closed

[2017-10-19 07:22] deviantony commented on #1168
Closing as unable to reproduce.

[2017-10-19 07:22] #1168 closed

[2017-10-19 07:25] deviantony commented on #1252
ping @guyht @vasilvestre

[2017-10-19 07:27] deviantony commented on #1256
Thinking about it, I'm not sure that this should be part of Portainer. You could have a reverse-proxy in front of your Portainer instance that could limite request rate for example... or use another specialized software to do so.

cc @ncresswell

[2017-10-19 07:28] deviantony commented on #1125
Duplicate of https://github.com/portainer/portainer/issues/1267

[2017-10-19 07:28] #1125 closed

[2017-10-19 07:29] deviantony commented on #1274
ping @JackHull

[2017-10-19 07:58] jbleuzen commented on #467
Hello !

I can confirm that I can't reproduce the issue... And I'm in 1.13.5…

You can close the issue, thanks !

[2017-10-19 07:58] #467 closed

[2017-10-19 08:05] vasilvestre commented on #1252
I've learned how to use docker without GUI.. Guyht will maybe be able to help you.
Thanks for help :)

[2017-10-19 08:25] trinode commented on #1256
I wouldn't mind how simple it was but knowing that a default install of portainer was a little more secure would be very reassuring.

In my case I'd be concerned about having to run multiple instances of a proxy for this purpose. I'm using swarm and have no need for a proxy as it (swarm) routes all the traffic for me, so this would be extra instance(s) on small VMs _only_ for that purpose.

in the

[2017-10-19 08:40] ncresswell commented on #1256
Agree.

Any enterprise product should have an account lockout function. We should add this.

Rgds,

Neil Cresswell

On 19/10/2017, at 9:26 PM, Anthony Graham <notifications@github.com<mailto:notifications@github.com>> wrote:

I wouldn't mind how simple it was but knowing that a default install of portainer was a little more secure would be very reassuring.

In my case I'd be concerned about having

[2017-10-19 09:28] G07cha commented on #1303
Speaking of the API, [Docker's API](https://docs.docker.com/engine/api/v1.30/#operation/ContainerStop) supports grace period to be supplied in query but I wasn't able to find a way to specify a signal to send to the container

[2017-10-19 09:32] G07cha commented on #1303
Another option will be to handle stopping of the container by ourselves because it's possible to pass a signal through [ContainerKill](https://docs.docker.com/engine/api/v1.30/#operation/ContainerKill) call but it obviously doesn't support any kind of delay.

[2017-10-19 11:53] WTFKr0 commented on #1303
You have two things :

At container cretation, tou can specify :
[code]
This is store in container config like other runtime options
API equivalent are :
https://docs.docker.com/engine/api/v1.30/#operation/ContainerCreate
[code]

At container stop action, you can ovveride the default timeout to wait before killing it
That's what you saw in API

[2017-10-19 11:55] WTFKr0 commented on #1303
And you have equivalent behavior for services, tho this issue is about swarm mode services :D

[2017-10-19 12:18] G07cha commented on #1303
@WTFKr0, yeah but we're not able to define stop signal dynamically and preserve timeout at the same time

[2017-10-19 13:59] deviantony commented on #1304
I think we could integrate this in other views like containers and images views.

[2017-10-19 14:09] jamesmr89 commented on #1304
Yea anywhere we can lookup if there is a newer image that exits would be good IMO

[2017-10-19 16:21] mister2d commented on #257
@deviantony What does it mean when you say `docker-compose` isn't supported? Don't you need a compose file to deploy a stack? Not following.

[2017-10-19 20:56] deviantony commented on #257
Hey @mister2d, we probably need to clarify this. Stack deploy requires a compose file (version 3+) to be deployed inside a cluster, indeed you're right about this. This this the equivalent of `docker stack deploy ...` when using the Docker CLI.

What I mean by `docker-compose` is not supported is that you cannot start **containers** using the new stack features (that would be the equivalent of `do

[2017-10-20 01:49] GetchaDEAGLE commented on #768
@deviantony, I'm sorry to say that the server was redeployed and we lost the logs but the persistent data from the volume is still intact.

As mentioned in my previous comment, from within the UI, adding an endpoint and uploading the cert files is what causes the issue. The data is being persisted to a network share via NFS v4. I don't believe anything special has been done to the permissions on t

[2017-10-20 04:03] mahnunchik commented on #257
Does it mean: You cannot deploy containers using a Compose file by `docker-compose` binaries?

[2017-10-20 06:28] elfrinjo commented on #257
You can use portainer to deploy a stack, defined in a compose-file, into a docker swarm.
You cannot use it to deploy it onto a stand-alone docker node.

[2017-10-20 06:30] deviantony commented on #257
Yup, you can't.

You cannot use it to deploy it onto a stand-alone docker node.

Exactly.

I believe we need to specify this in-app.

[2017-10-20 06:40] samprog1 commented on #257
May I ask why docker-compose wasn't implemented?

[2017-10-20 06:44] deviantony commented on #257
@samprog1 `docker-compose` and `docker stack deploy` are two different features. We still need to check if we can integrate `docker-compose` the same way we did for `docker stack deploy`.

[2017-10-20 09:41] gabrielfsousa opened #1305 "web interface dont work"
* Portainer  1.15.0
* Docker version 17.09.0-ce
* OS: centos 7
* Command : /opt/portainer/portainer -p 172.16.9.151:9000 -d /opt/portainer/portainer-data
* Browser: firefox

web interface dont work

![image](https://user-images.githubusercontent.com/722744/31814988-363b3cb2-b583-11e7-86a4-e5d234cb8f2b.png)

[2017-10-20 12:53] deviantony commented on #1305
Hey @gabrielfsousa

This is a known bug, we're working on it. Have a look at https://github.com/portainer/portainer/issues/1286 for a temporary workaround.

[2017-10-20 12:53] #1305 closed

[2017-10-20 12:57] deviantony commented on #768
Hey @GetchaDEAGLE, so you are still having this issue? What about using the latest version of Portainer?

PS: Congratulations ! :-)

[2017-10-20 15:50] jamesmr89 opened #1306 "Ability to send a specific signal to a container"
**Description**

When killing a container by default SIGKILL gets sent, but the API provides the ability to send different signals.  This should be exposed in Portainer:

From: https://docs.docker.com/engine/api/v1.24/

KILL A CONTAINER

POST /containers/(id or name)/kill

Kill the container id

Example request:

POST /v1.24/containers/e90e34656806/kill HTTP/1.1
Example response:

HTTP/1.1 204 No

[2017-10-21 05:49] Nottt commented on #588
Yes please!! Or at least how can I do this without crashing the log reporting? I tried to just delete everything inside the log file but then I have to restart the container to make it work.

[2017-10-21 09:46] deviantony commented on #1306
Actually the kill button is used to send a kill request to a container, I'm wondering how can we add a parameter on this request UX wise.

[2017-10-21 09:48] deviantony commented on #588
@Nottt what are you talking about? Container logs?

[2017-10-21 10:58] Nottt commented on #588
I went to /var/lib/docker/xxx/*.log with vi, deleted everything inside the file and then portainer would be unable to show log results because of a EOF error. It works after restart,

[2017-10-21 14:22] bintut commented on #1286
+1 here.

[2017-10-21 15:27] rgl commented on #1286
This is also happening when running in a Windows Server 1709 container. It works with the suggested workaround:

[code]

[2017-10-21 16:34] 1138-4EB commented on #1286
I think it is ok to set it to `./`, instead of `/app`.  This is the structure of the tarball now:

- portainer [binary]
- docker [binary]
- index.html
- css/
- fonts/
- ...

If it is directly extracted to a random folder and run from the root of the folder, `./` will work. If it is extracted to the root of the filesystem (inside a container), `./` will also work.

Even if assets are moved to a sub

[2017-10-21 16:40] deviantony commented on #1286
That might do the job indeed. @1138-4eb mind opening a PR?

[2017-10-21 16:47] 1138-4EB commented on #1286
@deviantony, I'm having a look at it right now. However, I think that it requires two modifications:

- Make the file server disable directoy listing, so that it is made clear when the path is not well set. This is related to the snippet I copied in my first message. Checking https://github.com/portainer/portainer/blob/develop/api/http/handler/file.go now.
- Change the default of assets. I am wait

[2017-10-21 16:57] deviantony commented on #1286
What does disabling the directory listing brings?

Le sam. 21 oct. 2017 à 18:47, 1138-4EB <notifications@github.com> a écrit :

--
Anthony Lapenna
https://deviantony.github.io

[2017-10-21 17:09] 1138-4EB commented on #1286
In the case exposed by @cgoeller, instead of getting the list of contents of `/`, it would respond to `curl localhost:9000` with `404`, because there is not `index.html`. See #1308.

[2017-10-21 17:58] rgl commented on #1286
@1138-4EB its from https://github.com/rgl/docker-windows-core-insider-2016-vagrant/blob/master/images/portainer/Dockerfile. I just untar the portainer tarball to c:/app.

[2017-10-21 18:29] deviantony commented on #1286
@1138-4eb I don't believe this is a required addition as it is does not actually solves the issue.     IMO it only brings extra complexity without resolving the problem.

[2017-10-21 18:48] GetchaDEAGLE commented on #768
I'm not having the issue anymore after performing the workaround. I'll report back if the problem happens again. Thanks for your help.

[2017-10-21 19:44] 1138-4EB commented on #1286
@rgl, thank you. Please check #1309. That should allow you to remove `WORKDIR /app`, because portainer can be launched from anywhere. On top of that, since the default location for assets is changed to `./`, you could also keep `ENTRYPOINT ["/app/portainer.exe"]`.

@cgoeller, your command would be: `# <anypath>/portainer --no-auth -H unix:///var/run/docker.sock`

[2017-10-22 05:56] rgl commented on #1286
I would make all relative paths relative to the process current working directory. But make the default asset path to the executable directory, and do this by making defaultAssetsDirectory a variable that is set at runtime (before parsing the flags).

[2017-10-22 08:24] ningappa opened #1311 "Ability to seach and select active endpoints"
Description:
if i have 100 endpoints then active endpoint list goes out of the box. if you can  add search and select for active endpoints would be better.

Thank you

[2017-10-22 08:49] ncresswell commented on #1311
Whaaaaatttt 100 endpoints.. thats awesome..

Rgds,

Neil Cresswell

On 22/10/2017, at 9:24 PM, ningappa <notifications@github.com<mailto:notifications@github.com>> wrote:

Description:
if i have 100 endpoints then active endpoint list goes out of the box. if you can add search and select for active endpoints would be better.

Thank you

—
You are receiving this because you are subscribed to this t

[2017-10-22 10:15] rgl opened #1312 "Container stats tables not sorting correctly"
portainer 1.15.0 is not correctly sorting the tables. When I click any column, it re-sorts the table, but I'm not really sure how it sorting, as the end results makes no sense. Take a look at this screenshot:

![image](https://user-images.githubusercontent.com/43356/31860881-cefd41ce-b719-11e7-88e0-6f3150e541fc.png)

[2017-10-22 10:21] anilskp commented on #1299
I got the similar error with portainer 1.15.0 , any solution for this issue.

[2017-10-22 10:24] pmothe commented on #1299
I got the same problem, now I will not be able to connect worker end points.

[2017-10-22 10:43] mvhconsult commented on #907
Maybe related, but changing the password to a version with all chars enabled (as these tools do) makes the login fail. Probably some characters are not allowed/encoded?
Try with
u: admin
p: "6-5oD]ww"$1~2V

[2017-10-23 03:43] zwx168238 commented on #1047
the error message in app is "Failure Unable to  remove image"

[2017-10-23 06:42] deviantony commented on #1311
Yup, I reckon we need to find a better way to select endpoints... now UX wise we also need to make this quite easy to use with many endpoints.

[2017-10-23 07:26] deviantony commented on #907
@mvhconsult I was able to create the administrator password as well as login using these credentials:

u: admin
p: "6-5oD]ww"$1~2V

[2017-10-23 07:56] schmunk42 commented on #1176
I had the same issue and was also able to use the workaround with upgrading first to 1.13.2 - should be mentioned in the docs.

[2017-10-23 08:31] Beanow opened #1313 "Deploy stacks --with-registry-auth"
When using a private registry image [`--with-registry-auth`](https://docs.docker.com/engine/reference/commandline/stack_deploy/) is a necessary argument to make sure workers are given the proper credentials to find the image.

Currently in portainer this will cause the service tasks to be rejected:
`No such image: registry.example.com/user/image:latest`

Hence the feature request, please add this

[2017-10-23 08:49] deviantony commented on #1176
@schmunk42 just to confirm, you had this issue when upgrading to which version? Going from 1.13.0/1 to latest?

[2017-10-23 08:53] unsafecode commented on #1313
+1 Must-have if you are using third-party services like Azure Container Registry

[2017-10-23 08:59] deviantony commented on #1313
I'm currently working on this.

Quick notes for the implementation:

* It will be complex to parse the YAML to determine which registries are used inside the Compose file.
* Portainer uses some access control on registries by defining the registries in a separated section (Portainer settings > Registries > Manage accesses)
* Portainer uses the embedded Docker binary to deploy stacks, usage of the

[2017-10-23 09:18] Beanow commented on #1313
Perhaps the tidiest approach I can think of would be to generate a `~/.docker/config.json` reflecting the credentials the user has access to and use the https://hub.docker.com/_/docker/ image to isolate this user's deployment.

However, it may be worth looking into how well swarm itself protects against leaking of these credentials between stacks/services. What happens when a worker receives a tas

[2017-10-23 09:55] schmunk42 commented on #1176
I was on the `latest` Docker image, to be honest, I can't remember exactly - it was `1.12` or below.
It said `migrating database from version 1 to version 6`.

[2017-10-23 18:52] deviantony commented on #1312
I'll try to reproduce this on a Windows platform, as it's working fine on Linux (you can check on http://demo.portainer.io)

[2017-10-23 18:55] tvon commented on #1252
FWIW I ran into this while using `docker-compose` and it eventually resolved itself (which to me suggests it was a browser caching issue).

[2017-10-24 09:29] llitfkitfk opened #1317 "Non-manager node entrypoint: Unable to retrieve service"
**Add non-manager node entrypoint show fail status Unable to retrieve service 1.15.0**

1.15.0:
Add non-manager node entrypoint  2375
when selected the entrypoint, show Unable to retrieve service in dashboard

**Steps to reproduce the issue:**

1.
![image](https://user-images.githubusercontent.com/2404785/31935277-0418a178-b8e1-11e7-80bb-713a8ededf0c.png)

2.
![image](https://user-images.githubuse